[2016-12-30 08:19] fixer1234 commented on #166
@shu8 @IStoleThePies On my system it renders with what I guess is a unicode placeholder:

![sox icon2](https://cloud.githubusercontent.com/assets/10065766/21561739/b3d6482e-ce3e-11e6-9d83-662592bb714e.png)

[2016-12-30 11:02] IStoleThePies commented on #166
@fixer1234 I think it depends on your OS.

[2016-12-30 12:16] PsychicSmurf opened #199 "Hot Question filtering module will not load."
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

Cannot use the Hot Questions filtering module. Does not load.

---

### SOX Errors logged to the browser console -- F12 (if available)

VM672:581SOX:  There was an error loading the feature "Sidebar-hotNetworkQuestionsFiltering". Please raise an issue on GitHub, and copy the following error log:
TypeError: Cannot read

[2016-12-30 12:27] #199 closed

[2016-12-30 12:55] shu8 commented on #199
@PsychicSmurf is it working now?

[2016-12-30 12:56] shu8 commented on #166
@fixer1234 @IStoleThePies yeah it must depend on which fonts you have installed.

I guess that's not going to work then. I'll see if I can find a better image somewhere :)

[2016-12-30 13:05] shu8 commented on #179
@fixer1234 well, anything that uses the API really, so...:

- downvotedPostsEditAlert
- showCommentScores (profile comment score buttons)
- answerTagsSearch (showing tags for answer's in search)
- quickAuthorInfo (user last seen)
- hotNetworkQuestionsFiltering (the hover part -- to show the tags)
- parseCrossSiteLinks

[2016-12-30 13:07] shu8 commented on #166
@IStoleThePies would it be possible for you screenshot just that image on your Mac and post it here?

I could save it in this repo then and use it as a resource, which will cache it so it isn't requested for every single hot question

[2016-12-30 13:16] shu8 commented on #181
@IStoleThePies sure, it'll be done in dev x

[2016-12-30 13:28] PsychicSmurf commented on #199
Yes. The message is misleading, and instructed me to file an error, when in fact it was a simple case of "syntax error" for the content being added in the box.

Without examples, I was unsure what format the "sites" needed to be, so I had just entered the SE domain prefix, instead of the entire URL, including the http bit.

[2016-12-30 14:46] shu8 commented on #199
@PsychicSmurf ahh ok. I'll get that fixed and make it give a more helpful error message :)

[2016-12-30 16:15] IStoleThePies commented on #166
@shu8 Er, I'm not entirely sure if those images are copyrighted and if that'd be a problem. So I wouldn't know if that's viable 😕

[2016-12-30 16:46] shu8 commented on #166
@IStoleThePies hmm didn't think of that :/

No worries, I'll find something :)

[2016-12-31 04:55] fixer1234 opened #200 "Token keeps being invalidated for no apparent reason"
### Installed Version: 2.0.3 DEV w  Environment: FF/GM

### Current Behaviour
Encountered another example of a feature suddenly not working.  Based on other issue threads, I just got a new token and the feature returned.

I loaded Dev W as an update one day ago.    The particular feature that disappeared this time was Author last seen, which I also reported again on issue #179 one day ago, after l

[2016-12-31 05:38] fixer1234 opened #201 "Feature request: user flag in comment history"
### Installed Version: 2.0.3 DEV w  Environment: undefined

### Current Behaviour
I comment on a lot of posts to provide feedback to the author.  It often relates to issues that can be fixed to avoid a close vote or downvote, or things that can be improved to warrant an upvote.  I go through the comment history periodically to revisit those posts to see if anything has changed (typically going bac

[2016-12-31 16:16] wgrundlingh opened #202 "No quickAuthorInfo when reviewing"
### Installed Version: 2.0.3DEVw  Environment: Tampermonkey

### Current Behaviour

There is currently no quickAuthorInfo when reviewing or when looking at an already-reviewed item. Could this be added?

![image](https://cloud.githubusercontent.com/assets/1776164/21578353/ae32778c-cf31-11e6-9ffe-40d97aab7931.png)

---

### SOX Errors logged to the browser console -- F12 (if available)

(unknown) s

[2016-12-31 16:44] wgrundlingh opened #203 "Answer edit box has misaligned frame"
### Installed Version: 2.0.3DEVw  Environment: Tampermonkey

### Current Behaviour

![image](https://cloud.githubusercontent.com/assets/1776164/21578445/c6de8c1e-cf34-11e6-9f8a-8330ab5d7fd6.png)

Compare this to the edit/answer box when SOX is not loaded:

![image](https://cloud.githubusercontent.com/assets/1776164/21578449/e6a0deda-cf34-11e6-861b-ef8a6c131ad0.png)

---

### SOX Errors logged to t

[2016-12-31 16:53] shu8 commented on #202
Thanks for writing up a 'formal' request :)

It's been in my mental to do list for a bit too long now :/

Happy new year btw! :)

On 31 Dec 2016 4:16 p.m., "wgrundlingh" <notifications@github.com> wrote:

Installed Version: 2.0.3DEVw Environment: Tampermonkey Current Behaviour

There is currently no quickAuthorInfo when reviewing. Could this be added?
------------------------------
SOX Errors logg

[2016-12-31 16:55] shu8 commented on #203
Thanks. I think this was to do with the enhanced editor feature (find
replace) and I couldn't figure out which CSS was causing it.

This might make me a bit more determined now :P

On 31 Dec 2016 4:44 p.m., "wgrundlingh" <notifications@github.com> wrote:

[2016-12-31 16:55] shu8 commented on #200
Yeah this does seem to be happening too frequently. I need to look into it
more

On 31 Dec 2016 4:55 a.m., "fixer1234" <notifications@github.com> wrote:

[2016-12-31 17:44] Franck-Dernoncourt commented on #112
I have submitted a feature request to Stack Exchange meta: [An option to disable the editor's undo/redo feature](http://meta.stackexchange.com/q/289087/178179). The editor is a `textarea`:

![image](https://cloud.githubusercontent.com/assets/15331/21578655/c65f8708-cf56-11e6-9c57-84aceea1e1c6.png)

and [any decent browser  has undo/redo (ctrl-z, ctrl-y) for text areas built in already](http://stac

[2016-12-31 17:46] shu8 commented on #112
Upvoted :)

On 31 Dec 2016 5:44 p.m., "Franck Dernoncourt" <notifications@github.com>
wrote:

[2016-12-31 17:52] Franck-Dernoncourt commented on #166
My top 5 favorite features:

1. Add a button to the editor toolbar to start side-by-side editing
2. Change 'share' link to `(question title)[URL]`
3. Add KBD and list buttons to editor toolbar
4. Hide the Community Bulletin module
5. Hide the Hot Network Questions module

It saves me plenty of time. I used to have a voice command for 2 and 3 (KBD). 1 makes editing so much more convenient.

[2016-12-31 18:14] Franck-Dernoncourt commented on #112
Some ideas: [Is there a way to disable the hotkeys?](
http://meta.stackexchange.com/q/2980/178179)

On 31 December 2016 at 12:46, ᔕᖺᘎᕊ <notifications@github.com> wrote:

[2017-01-01 00:46] wgrundlingh opened #204 "Update quickAuthorInfo to use the same time zone and format as regular SE"
### Installed Version: 2.0.3DEVw  Environment: Tampermonkey

### Current Behaviour

Current SE time stamps show as `YYYY-MM-DD hh:mm:ssZ` (with **UTC** reference). In contrast, quickAuthorInfo uses `DD/MM/YYYY, hh:mm:ss` (with **local** reference):

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21579541/9c287db8-cf6b-11e6-9391-d646880d5629.gif)

Can these two be made similar? That i

[2017-01-01 08:58] fixer1234 commented on #187
@shu8 Just tested what you described.  The system didn't do anything related to tokens.  Pasting the new token in the key window also didn't work.

[2017-01-01 10:02] fixer1234 commented on #166
Appearance
    Add a label on questions which are hot-network questions: Handy
    Add a link to the bottom of a post to reveal all spoilers in a post: Irrelevant
    Add a mod diamond to the topbar to alert you of new questions on the site's child-meta: Very useful
    Add display name before gravatar in topbar: Dislike
    Add highlighted tags to closed/on hold/duplicate/migrated questions on qu

[2017-01-01 19:03] shu8 commented on #200
@fixer1234 @wgrundlingh I've raised a bug report on stackapps: [Access token keeps being invalidated](http://stackapps.com/q/7157/26088). let's hope the devs see it :)

I'll be posting on meta tomorrow to make sure a dev sees it

[2017-01-01 19:08] shu8 commented on #202
@wgrundlingh done in [dev y](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

cc/ @fixer1234 you were also interested in this feature -- it's done! :)

[2017-01-01 19:08] #202 closed

[2017-01-01 19:08] shu8 commented on #203
@wgrundlingh fixed in [dev y](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2017-01-01 19:08] #203 closed

[2017-01-01 19:08] shu8 commented on #204
@wgrundlingh done in [dev y](https://github.com/soscripted/sox/raw/dev/sox.user.js)

the relative time is still local, but the tooltip is UTC to make it more consistent

[2017-01-01 19:08] #204 closed

[2017-01-01 19:59] wgrundlingh commented on #204
The tooltips still show content differently:

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21582747/8b99248a-d019-11e6-9987-acece6cd9627.gif)

Is this the intent? I thought it would look better if the formatting is similar: `YYYY/MM/DD hh:mm:ssZ`.

[2017-01-01 20:29] shu8 commented on #204
@wgrundlingh I have no idea how I missed that... :/

done in [dev z](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2017-01-01 20:29] shu8 commented on #112
@Franck-Dernoncourt wow I'd tried doing something similar to what Rob did in his answer there, but the  reason is wasn't working for me was that I WASN'T DOING IT ON THE PARENT!!! 😠

In [dev z](https://github.com/soscripted/sox/raw/dev/sox.user.js), I've now made it so that if you press ctrl + Z or Y, then it rejects the SE's handler and lets the browser take care of it. as a result, you can undo

[2017-01-01 20:59] fixer1234 commented on #193
@shu8 Still happening in Dev W, but a little more info.  I had SBS enabled and the bottom row of edit buttons was replicated.  I dragged the window a little larger, and it replicated the row more.  I tried making the edit window smaller, thinking maybe that would reverse the replication.  However, it kept replicating as long as I was clicking on the drag handle.  I toggled SBS off, but that also d

[2017-01-01 22:41] shu8 commented on #193
@fixer1234 I fixed that SBS issue in [dev z](https://github.com/soscripted/sox/raw/dev/sox.user.js) after noticing it myself a few hours ago, so that shouldn't happen anymore.

From your console logs, it looks like the MutationObserver is being fired every time you drag the textarea causing the script to add the buttons again, but I don't get why, because I have a specific check in there that says

[2017-01-01 22:43] shu8 commented on #201
@fixer1234 this kind-of sounds like my other "Favourites Enhancer" userscript does this, in effect...?

Sorry if I'm not understanding properly :/

[2017-01-01 23:28] fixer1234 commented on #201
@shu8 No, that is tied to the question.  Maybe if it could be tied to answers, also, it might be a stand-in.  But even there, you can get long comment threads, which would require figuring out what was the comment being referenced.  BTW, I do  use that to supplement the favorites.

For example, that includes a category to facilitate using it to revisit downvoted questions, and that is a big advant

[2017-01-01 23:39] shu8 commented on #201
@fixer1234 hmm ok... so an indicator something like this:

![this](https://cloud.githubusercontent.com/assets/8850830/21583489/5e257f0a-d07b-11e6-98ea-295735de07b9.png)

?

Do you have any thoughts on what the toggle button icon could be? I was thinking a 'pin' icon (http://fontawesome.io/icon/thumb-tack/), but that might not be right for this...? I'm not sure :/

[2017-01-01 23:44] shu8 commented on #166
@Franck-Dernoncourt I'm glad they're of so much use to you! 😃

@fixer1234 you're toggle idea for the title edit diff sounds interesting. I could put a little toggle sign (http://fontawesome.io/icon/toggle-on/) next to the title to let you turn it off? does that sound any good? and where would you place it? I'm thinking just after the title, but that will never be in the same place then because eac

[2017-01-02 00:07] fixer1234 commented on #201
@shu8 I assume you're talking about the bars on the left?  That's the general concept, but discreet indicators per comment.  The bars are a little confusing because they span multiple comments.

I love the thumbtacks, but that would be confusing if the icon was used to indicate comments to ignore.  Better to use one that doesn't have an implied meaning.  Maybe a circle or square, or a snowflake/as

[2017-01-02 00:33] shu8 commented on #201
Hmmm ok thanks :)

I'll see what I can do over the next few days

On 2 Jan 2017 12:07 a.m., "fixer1234" <notifications@github.com> wrote:

[2017-01-02 01:25] fixer1234 commented on #166
@shu8 Nice.  I guess the logical location would be to the left of the title (or as a prefix to the title on that line), or above the title?

[2017-01-02 01:43] fixer1234 commented on #202
@shu8 Nice!

[2017-01-02 02:08] fixer1234 commented on #112
@shu8 Running Dev Z.  The undo arrow now works, and clears the Kbd markup in one click.  Ctrl-Z highlights the entire line the first time, then the second Ctrl-Z removes all of the Kbd markup in one step, and only that.  So it appears to be working (and better than you think it's working, unless this is a rare instance where Firefox actually works better).  I'll leave this for you to close when yo

[2017-01-02 04:44] fixer1234 opened #205 "Display linked posts inline by clicking an arrow: random text"
### Installed Version: 2.0.2  Environment: FF/GM

### Current Behaviour
Had to go back to v2.0.2 official because the hanging problem made 2.0.3 Dev impractical.

Went back to an earlier comment and noticed that it contained a link with the display inline arrow.  So I used the opportunity to do a random test on it.  The link was to our canonical Meta post on software recommendations (http://meta.s

[2017-01-02 08:12] fixer1234 commented on #98
@shu8 I had to switch back to the 2.0.2 official version because of the FF hanging problem.  It has this feature in the menu, but no Notify on edit buttons on the posts.  It's hard to reconstruct the history, but it seems like at some point, the basic functionality was working (maybe late November-early December?).  Then there were a bunch of enhancements and basic changes and we ran into a new ba

[2017-01-02 17:38] shu8 commented on #112
@fixer1234 lol it might be one of those rare instances 😆

@Franck-Dernoncourt please could you check how many times you need to undo? I'm just curious... :)

[2017-01-02 17:38] #112 closed

[2017-01-02 17:41] shu8 commented on #205
@fixer1234 you're exactly right; it doesn't work for sites that aren't on the same site because of the Same Origin Policy (you're not allowed to access any post that's not part of the same domain, inc, subdomains). So it was previously getting the text for the post ID 5329 on SU rather than MSU :/

I've changed it so that it takes this into account now in [dev aa](https://github.com/soscripted/sox

[2017-01-02 17:41] #205 closed

[2017-01-02 17:41] Franck-Dernoncourt commented on #112
I need to undo three times :-)

One issue I have noticed is that some actions cannot be undone. E.g. adding a list (using the list icon) cannot be undone with  <kbd>Ctrl</kbd> +  <kbd>z</kbd>.

[2017-01-02 17:43] shu8 commented on #98
@fixer1234 I'm not sure to be honest 😕

I think it should have been working; I closed this 13 days ago and pushed to master 12 days ago... :/

Nevertheless, I'm working on your FF crash bug, your hint about it being to do with the comments seems right... working on it

[2017-01-02 17:47] shu8 commented on #112
@Franck-Dernoncourt ah... yeah that's happening to me as well -- that must be the reason why SE originally had their own undo handler.

I see 2 options right now;

- use SOX's list button -- it lets you just write your list on separate lines, then you can just select the lines and click the button and it will listify it for you
- use SE's undo *button* rather than Ctrl+Z ing

Because, I can't fix

[2017-01-02 18:11] shu8 commented on #194
@fixer1234 please could you try installing [dev ab](https://github.com/soscripted/sox/raw/dev/sox.user.js)?

I've chopped the number of mutationobservers I'm using in the comments from 4 down to 1, so there should be some noticeable difference hopefully :)

[2017-01-02 18:14] shu8 commented on #193
@fixer1234 when this happens again, please could you right click on one of the bottom 'Find & Replace | Autocorrect' buttons, click 'Inspect element' and screenshot the window that pops up?

It should help me see why my check isn't working

[2017-01-02 18:28] shu8 commented on #166
@fixer1234 done in [dev ac](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

![this](https://cloud.githubusercontent.com/assets/8850830/21594317/328b5f74-d119-11e6-81df-b21e798fd8ba.gif)

[2017-01-02 18:29] fixer1234 commented on #200
@shu8 After switching back to v2.0.2 official, it is still happening, so you can probably rule out something SOX is doing.  When I save the token notification page in an email, the link includes both the token number and an expiration code.  Lately, the tokens have lasted for about a day.  Any chance that either temporary tokens are being issued, or some form of SE housekeeping is running amok and

[2017-01-02 18:38] shu8 commented on #200
@fixer1234

ARGHHH YOU'RE A GENIUS!!!

It must be the expiry that's causing it!!!!!!!!!

That explains why it didn't happen before!! I'm gonna look into the expiry
a bit more, but I think you've got it! 😀😀

On 2 Jan 2017 6:29 p.m., "fixer1234" <notifications@github.com> wrote:

[2017-01-02 18:48] shu8 commented on #200
@fixer1234 yep you were right! 😄 🎉

86399 seconds == 23.999722 hours, which explains why it didn't work after 24 hours!!!

@IStoleThePies @wgrundlingh please could you all request a new access token in [dev ad](https://github.com/soscripted/sox/raw/dev/sox.user.js) by clicking the key icon at the bottom of the dialog, clicking cancel and then clicking the link that appears in the console? This wil

[2017-01-02 18:48] #200 closed

[2017-01-02 19:07] shu8 commented on #191
@fixer1234 a bit late...

- yeah, that was just to ensure it was completely clean
- it could be that I was wrong now that the token issue is fixed; maybe you *can* use multiple tokens. I had only assumed that was the case because whenever I tried, the other machine token died, but it may well have been 24 hours apart. could you try requesting separate tokens in the latest version on different mach

[2017-01-02 19:09] fixer1234 commented on #200
@shu8 No expiration code in the email save, so it looks like you fixed it.

[2017-01-02 20:00] fixer1234 commented on #205
@shu8 Looks like you've disabled the arrow on non-local links.  Another success.

[2017-01-02 20:06] fixer1234 commented on #166
@shu8 Very nice!

[2017-01-02 20:53] fixer1234 commented on #194
@shu8 Dev AD is currently installed.  I haven't gotten the non-responsive script message yet, but FF is still operating at a crawl.  On the upside, I can fit in a nap while a page loads or refreshes.  :-)  It can take ~10 seconds to save a comment.

[2017-01-02 21:59] shu8 commented on #194
@fixer1234 try disabling hiddenCommentsIndicator (darker border underneath comments) and see if it still happens?

[2017-01-02 22:10] shu8 commented on #172
sorry @IStoleThePies, I don't think I'll be able to get this feature request done 😞

[2017-01-02 22:25] fixer1234 commented on #205
@shu8 Strange.  Just went back to a recent comment (canned comment with a bunch of Meta site help links).  The arrows appeared on those.  [SSL connection on Java 7 based server fails with RECV TLSv1 ALERT: fatal, handshake_failure](http://superuser.com/a/1162676/364367)

[2017-01-02 22:27] fixer1234 commented on #194
@shu8 No change to general non-responsiveness.  I'll test some comments, specifically, to see if they're affected.

[2017-01-02 22:27] shu8 commented on #205
they're not meta links, but that is another bug -- I need to make sure the
link is to a question as well.

working on it now

On 2 January 2017 at 22:25, fixer1234 <notifications@github.com> wrote:

[2017-01-02 22:34] shu8 commented on #194
ok, I know this is a pain, but could you (if you have time!) first try
disabling all the features under Comments, and if that fixes things, try
re-enabling them one at a time and seeing where the trouble starts?

On 2 January 2017 at 22:27, fixer1234 <notifications@github.com> wrote:

[2017-01-02 22:50] fixer1234 commented on #194
@shu8 Great minds think alike--I was ahead of you on that one.  Disabling all comment-related features didn't affect responsiveness.  Disabling SOX didn't restore responsiveness.  I had to restart Firefox to clear whatever is affecting things.  Then I re-enabled SOX, and things are still working normally so far (all comment features are still disabled).

A Firefox restart used to give a short resp

[2017-01-02 22:53] shu8 commented on #194
Hmmm very weird.

The reason I picked the hidden comments indicator one was that it's
actually kinda complicated and I thought maybe it wasn't optimized to work
on lots of comments because there's a lot of looping involved

Oh well, I hope the issue doesn't come back :P

On 2 Jan 2017 10:50 p.m., "fixer1234" <notifications@github.com> wrote:

@shu8 <https://github.com/shu8> Great minds think alike

[2017-01-03 01:05] fixer1234 commented on #194
@shu8 An update.  I'm still running with all comment features disabled.  Firefox's overall responsiveness is back to normal, but something else is still affecting it, and it may still revolve around comments in some way.

Normally, if there are hidden comments, clicking the Show N more comments button is instantaneous.  Now, clicking the button shows a dotted rectangle around it.  It sits there li

[2017-01-03 01:32] fixer1234 opened #206 "Title toggle is having babies"
### Installed Version: 2.0.3 DEV ad  Environment: FF/GM

### Current Behaviour
It's always something; that's the rule.  The title toggle is interacting with the fixed topbar.  Every time scrolling on the Edit Review page passes the title toggle under the topbar, the icon replicates:

![sox title toggle](https://cloud.githubusercontent.com/assets/10065766/21598397/4e99804a-d12a-11e6-89f1-3c1c416889

[2017-01-03 04:09] fixer1234 commented on #191
@shu8 Dev AD on main machine with a new token,  Started an additional session on another machine while the first was idle.  Loaded Dev AD on the second machine (which had an expired token).  As previously tested, the SOX "key" didn't work to load the token from the first machine (paste the key, save, refresh; still behaved like no valid token).  Generated a new token on the second machine.

Later

[2017-01-03 05:16] wgrundlingh opened #207 "titleEditDiff causes repetitive switches to show up on scroll"
### Installed Version: 2.0.3DEVad  Environment: Tampermonkey

### Current Behaviour

Switch to enable/disable title diff is repetitively added with scrolling:

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21600347/92c38aae-d12f-11e6-9731-3bfd37aead33.gif)

---

### SOX Errors logged to the browser console -- F12 (if available)

(unknown) soup injecting fixes
VM2137:30 soup init com

[2017-01-03 05:19] wgrundlingh commented on #207
I see this is already addressed here:
  https://github.com/soscripted/sox/issues/206

[2017-01-03 05:19] #207 closed

[2017-01-03 05:42] wgrundlingh commented on #166
In terms of the hot question "flame". It *is* OS-dependent. I'd go with something provided by FontAwesome (to remove the OS dependency), like this:
  http://fontawesome.io/icon/free-code-camp/
If you can add colour, then great. You can add a tooltip with more information if needed.

[2017-01-03 06:37] fixer1234 commented on #166
@wgrundlingh That's not bad.

[2017-01-03 11:05] shu8 commented on #194
Thanks for investigating this one a bit more!

Can you try re-enabling those last 4 features one at a time and seeing where the problem starts?

If we find out which feature is the main one causing the problem, I'll be able to look at that code more deeply and see whether there's a certain thing I'm doing wrong in a lot more features. There's probably one catalyst in this all that's causing everyt

[2017-01-03 11:06] shu8 commented on #206
Thanks, I've reproduced it. I'll push a fix later today

[2017-01-03 11:07] shu8 commented on #166
@wgrundlingh that's an awesome idea!! I never thought about looking at logos!!

I'll use that, make it red/orange and put in a tooltip :)

[2017-01-03 14:42] shu8 commented on #205
@fixer1234 done in [dev ae](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2017-01-03 14:43] shu8 commented on #206
@fixer1234 @wgrundlingh fixed in [dev ae](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-03 14:43] #206 closed

[2017-01-03 15:00] shu8 commented on #191
@fixer1234 OK! seems like we *can* use multiple access tokens!

Sorry for the confusion; completely my fault. 😞

[2017-01-03 15:09] shu8 commented on #166
@fixer1234 @IStoleThePies @wgrundlingh ok.. I could make it look like this...:

![this](https://cloud.githubusercontent.com/assets/8850830/21611861/9cd24822-d1c6-11e6-8ba6-2b23856d023e.png)

but do you think it might be confusing for some people because it is the free code camp logo... :/

[2017-01-03 16:18] fixer1234 commented on #166
@shu8 1) I wasn't even familiar with that organization, so it wouldn't be confusing for me.  Well, now that you introduced the organization, I might be.  :-)    2) People will see it only if they select the feature, so its not like they will be clueless about why that symbol is sitting there.  3) Lots of symbols are kind of universal, and get used in slightly different ways by different applicatio

[2017-01-03 16:39] shu8 commented on #166
@fixer1234 lol, fair enough. done in [dev af](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2017-01-03 16:54] shu8 commented on #201
@fixer1234 how about adding a http://fontawesome.io/icon/thumbs-o-up/, http://fontawesome.io/icon/thumbs-o-down/ icon next to each one?

[2017-01-04 01:27] fixer1234 commented on #201
@shu8 Just an opinion, but I think the most universal symbol that would cover the most possible uses would be something that has no implied meaning; just a placeholder to click on when inactive, and and a visible indicator for the active state (like an indicator light to signify that a switch is on).

People could want to use it for a variety of purposes--flag things to follow-up on, flag things t

[2017-01-04 01:56] fixer1234 commented on #205
@shu8 Confirmed.  Both question and answer links have arrows, but only for the local site.

[2017-01-04 02:00] fixer1234 commented on #166
@shu8 Nicely done!

[2017-01-04 06:19] IStoleThePies commented on #166
@shu8 Could we also have the icon show up for hot network questions on the questions list?

[2017-01-04 21:03] enki-code opened #208 "Poll: Test"
does this work?
[poll name=feature1]
 - This is useful
 - This is pointless
 - I like tacos
[/poll]

[2017-01-04 21:08] enki-code opened #209 "Poll: Does this thing work?"
Testing
[poll name=examplePoll]
 - This is useful
 - This is pointless
 - I like tacos
[/poll]

[2017-01-04 21:08] #209 closed

[2017-01-04 21:08] #208 closed

[2017-01-04 21:10] enki-code commented on #209
-1

[2017-01-05 00:52] wgrundlingh opened #210 "Incorrect migrated tooltip"
### Installed Version: 2.0.3DEVaf  Environment: Tampermonkey

### Current Behaviour

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21664256/43f2bb2c-d29a-11e6-88c7-79ea0c285db1.gif)

---

### SOX Errors logged to the browser console -- F12 (if available)

soup injecting fixes
VM346:30 soup init complete
VM346:30 soup setup complete
VM353:563SOX:  undefined
VM353:563SOX:  Object {deb

[2017-01-05 00:56] enki-code commented on #210
Nice catch, thank you for reporting this. We'll get it fixed up as soon as possible.

[2017-01-05 01:14] wgrundlingh opened #211 "Apostrophe in tooltip drops remaining text"
### Installed Version: 2.0.3DEVaf  Environment: Tampermonkey

### Current Behaviour

The standOutDupeCloseMigrated feature grabs the "closed reason" and displays it in the tooltip. However, if the "closed reason" contains a single apostrophe (or quote) ', then all text after it is dropped from the tooltip text.

In the example below, I've used TeX.SE since we have a number of questions closed as b

[2017-01-05 04:59] enki-code commented on #211
Thanks, I'll try to investigate this tomorrow. Should be something simple.

[2017-01-05 05:02] enki-code commented on #166
I'm closing this as it's starting to turn into an extended discussion / feature request.

We appreciate all the feedback! If you have any suggestions on things we could do better please post individual issues as it will be easier to track!  Thanks again!

[2017-01-05 05:02] #166 closed

[2017-01-05 05:02] #172 closed

[2017-01-05 09:11] fixer1234 commented on #194
@shu8 Haven't finished exhaustive testing yet, but I identified one culprit (so far).  Color Answerer's comments reliably causes the symptom.  When enabled, each time I click on Show N more comments, the delay gets longer.  After a few instances, it freezes and pops up the unresponsive script dialog.

The first block of console output was generated by refreshing the page:

[code]

There was some g

[2017-01-05 10:52] shu8 commented on #211
@wgrundlingh thanks, fixed [in dev 2.0.4](https://github.com/soscripted/sox/raw/dev/sox.user.js) (we've changed the versioning to numbers now, so no more letters)

@enki-code fixed

[2017-01-05 10:52] #211 closed

[2017-01-05 10:52] shu8 commented on #210
@wgrundlingh thanks, fixed [in dev 2.0.4](https://github.com/soscripted/sox/raw/dev/sox.user.js) (we've changed the versioning to numbers now, so no more letters)

I'd only accounted for migrations *away* from the current site; fixed now to take into account the direction :)

@enki-code fixed

[2017-01-05 10:52] #210 closed

[2017-01-05 10:53] shu8 commented on #194
@fixer1234 so... I may have had a recursive function there... :/

could you try installing [in dev 2.0.4](https://github.com/soscripted/sox/raw/dev/sox.user.js) (we've changed the versioning to numbers now, so no more letters)? :)

[2017-01-05 11:40] fixer1234 commented on #194
@shu8 That seems to have fixed the freeze and unresponsive script dialog.  Still testing.  Overall responsiveness is still taking a hit.  The delay on expanding hidden comments is down to no more than a few seconds, though.

[2017-01-05 22:23] fixer1234 commented on #193
@shu8 Your wish is my command.

![soxcorruption](https://cloud.githubusercontent.com/assets/10065766/21699866/9635e40a-d36b-11e6-8fb0-d3f22d9fab64.png)

![soxcorruption1](https://cloud.githubusercontent.com/assets/10065766/21699879/a36487ee-d36b-11e6-8c76-deca870f8c85.png)

[2017-01-05 22:30] fixer1234 commented on #186
@shu8 The Kbd/List buttons are missing in v2.0.4 in the review queue edit window (only there, it's fine on Q/A edits, Ask Question, and Your Answer).  I didn't grab console output while I was there.  If you need that, I'll capture it the next time I edit in the review queue.

[2017-01-05 23:01] shu8 commented on #193
@fixer1234 ah! think I got it!

can you keep an eye out for it in [dev 2.0.5](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-05 23:01] shu8 commented on #186
@fixer1234 fixed in [dev 2.0.5](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2017-01-06 15:26] fixer1234 opened #212 "Edit comment tooltip doesn't work in review queue"
### Installed Version: 2.0.5  Environment: FF/GM

### Current Behaviour
I don't recall whether the edit comment tooltip on hover used to work in the review queue (or whether it's intended to work there).  Just discovered that it doesn't, at least in v2.0.5.  If it isn't part of the feature, let me request it, because it's as useful in the review queue as in a regular thread.  If this is a bug and

[2017-01-06 15:32] fixer1234 commented on #193
@shu8 This bug was a random, infrequent one, so we won't be sure unless it goes a long time without recurring.  If you think you fixed it and want to clean up the pending issues list, feel free to close this.  If it rears its ugly head again, we can reopen it.

[2017-01-06 16:48] #193 closed

[2017-01-06 17:19] fixer1234 commented on #186
@shu8 Confirmed.

[2017-01-06 18:14] fixer1234 opened #213 "Enter saved token doesn't work"
### Installed Version: 2.0.5  Environment: FF/GM

### Current Behaviour
I'm pretty sure I mentioned this on another issue, which I can't find now, and it can't be tracked as just a comment, so I'll post it as an actual issue.  A key icon was added to the SOX menu to enable entering a saved token.  This has never worked for me.  The entry window pops up, I paste the token and save, but the entered

[2017-01-06 18:23] shu8 commented on #213
@fixer1234 yeah, it doesn't look like we actually need to be able to input our own keys now. so I'll change that to just generate a new key asap

[2017-01-06 19:37] shu8 commented on #212
done in [dev 2.0.6](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2017-01-06 19:37] #212 closed

[2017-01-06 19:37] shu8 commented on #213
@fixer1234 done in [dev 2.0.6](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2017-01-06 19:37] #213 closed

[2017-01-06 19:39] shu8 commented on #194
@fixer1234 how much less responsive is it being? It will probably be a tiny bit slower because there are quite a lot of features... :/

Is it back to what it used to be?

[2017-01-06 20:17] fixer1234 commented on #212
@shu8 Confirmed.

[2017-01-06 20:20] fixer1234 commented on #213
@shu8 Nice implementation.

[2017-01-06 21:16] wgrundlingh opened #214 "hiddenCommentsIndicator not active in review queue"
### Installed Version: 2.0.5  Environment: Tampermonkey

### Current Behaviour

Hidden comments are currently not active within the review queue:

![image](https://cloud.githubusercontent.com/assets/1776164/21733129/b55b5440-d411-11e6-8416-edcfa15261ef.png)

---

### SOX Errors logged to the browser console -- F12 (if available)

---

### Steps to reproduce

If you're able to view the closed revie

[2017-01-06 21:31] fixer1234 commented on #194
@shu8 SOX does a massive amount of work, and does it as an add-on, so anything that can optimize it will help, but there are probably limits to what you can do.  I've disabled a number of features that aren't critical, especially if they require a lot of activity.

I've run some crude benchmarks, refreshing various pages a bunch of times and averaging the times (in seconds):

[code]

* Malware ref

[2017-01-06 22:13] wgrundlingh opened #215 "Generalize "notify on edit" to "notify on any change""
### Installed Version: 2.0.5  Environment: Tampermonkey

### Current Behaviour

I enjoy the suggested "notify on edit" option at the bottom of every question:

![image](https://cloud.githubusercontent.com/assets/1776164/21734726/bffb93c6-d419-11e6-9c86-09d12b04f901.png)

This adds posts to the "edit list":

![image](https://cloud.githubusercontent.com/assets/1776164/21734778/15372c42-d41a-11e6-801

[2017-01-06 22:31] enki-code commented on #215
We might be able to, I'll discuss this with @shu8 and see what we can come up with.

[2017-01-06 22:35] wgrundlingh commented on #215
Great! I know it might be a tall order. The generalization could be part of a checked list. That is, to notify on (X) edit, (X) comment, (X) closure or delete, (X) retag, (X)...

Understandably the votes (for closure or delete) might rely on the post being closed/deleted (which should be readily available) or be delayed however quickly the *votes* are available. I really don't know what content is

[2017-01-06 22:40] shu8 commented on #215
I'm planning on completely rewriting this feature because on the code side,
it's an absolute mess. Which means it shouldn't be *too* hard to get this
done because it's going to be written from the ground up.

It should be ready in a week or two :) (don't hold me to that though :P)

On 6 Jan 2017 10:35 pm, "wgrundlingh" <notifications@github.com> wrote:

[2017-01-06 22:43] wgrundlingh commented on #215
6 to 8 weeks max. ;)

[2017-01-06 22:43] enki-code commented on #194
Some of the variation you could be seeing is response times from the Stack Exchange API.  Not all requests will be processed in the same amount of time.

I've been gone A LOT lately due to recent back surgery and my wife having a baby, however, @shu8 and I are planning on completely rewriting some of the problem features and will work on tidying up and optimizing whatever we can.

Thank you for al

[2017-01-06 22:45] enki-code commented on #215
^ I see what you did there. LOL

[2017-01-06 22:53] shu8 commented on #215
what do you guys think about using this [feature request's idea](http://meta.stackexchange.com/q/45360/260841) of using little envelope signs to represent a notification button?

[2017-01-06 22:57] wgrundlingh commented on #215
@shu8: Looks good. Would it replace the existing icon in the top bar?

On the topic of this feature request, is there a place where one can see the posts you've marked as "notify me of an edit"? If there is no such place, perhaps I can make separate feature request for this? It seems odd to be able to mark something but never know what you marked (say) 6 to 8 weeks from now... ;)

[2017-01-06 23:00] shu8 commented on #215
@wgrundlingh (I'm just thinking about it now...) The topbar icon will probably stay as the centre of your notifications, however the 'notify on edit' button on each post will be replaced by an envelope sign on the post and on the comments section. clicking either will determine which type of notifications you subscribe to.

there's not currently a way to see watched posts, but I can easily add tha

[2017-01-06 23:04] enki-code commented on #215
I can take care of the UI for displaying which "posts you're watching".  I'll think something up tonight!

[2017-01-06 23:05] shu8 commented on #215
@enki-code great! :)

[2017-01-06 23:10] wgrundlingh commented on #215
@enki-code Here's a suggestion, something similar to the SE drop-down:

![image](https://cloud.githubusercontent.com/assets/1776164/21735917/f3b86948-d421-11e6-9b2d-87460bf8e5c9.png)

- Keep the icon on the left pertaining to the site;
- Insert the post title instead of the site name currently;
- Use the right-hand column (currently holding the site reputation) for a mark to identify whether a cha

[2017-01-06 23:24] enki-code commented on #215
@wgrundlingh LOL, that's kinda what I had in mind. We *should* be able to make this happen.  Granted, I'm still recovery from back surgery and my wife just had a baby so my time is somewhat limited but I will do my best to help get this done.

BTW, Thank you for using SOX. We appreciate all of you guys.

[2017-01-07 03:56] fixer1234 commented on #215
@wgrundlingh, @enki-code, @shu8    Some interesting discussion.  I was trying to think of use cases and how they might be different.

 - **Notify on edit:** you're waiting to see if needed change is implemented on a post.

 - **Retag** is an edit; not sure if that is recognizable as a separate action.  For me, it would be more of an exception to an edit.  I would never follow a post to see if a ta

[2017-01-07 05:43] wgrundlingh opened #216 "No titleEditDiff needed for tag wiki's or excerpts"
### Installed Version: 2.0.5  Environment: Tampermonkey

### Current Behaviour

There is no need an active titleEditDiff when reviewing suggested edits on tag wiki's or excerpts, since they don't have a title, nor would the tag change.

![image](https://cloud.githubusercontent.com/assets/1776164/21739746/e58d47a8-d458-11e6-9021-9eb8a71f98a4.png)

---

### SOX Errors logged to the browser console -

[2017-01-07 14:26] shu8 commented on #216
fixed in [dev 2.0.7](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-07 14:26] #216 closed

[2017-01-07 14:28] shu8 commented on #214
fixed in [dev 2.0.8](https://github.com/soscripted/sox/raw/dev/sox.user.js) -- I'd just not enabled it for review pages :/

[2017-01-07 14:28] #214 closed

[2017-01-07 14:29] shu8 commented on #201
#215 will probably serve this purpose because you'll be able to watch comment on a certain post, so I'm closing this. I don't think there's any point writing this feature if the other will essentially do that.

[2017-01-07 14:29] #201 closed

[2017-01-07 16:33] shu8 commented on #98
Replacing this feature with #215. Closing.

[2017-01-07 16:33] #98 closed

[2017-01-07 17:34] fixer1234 commented on #201
@shu8 They're different use cases.  There are things that are comment-specific that you want to track or flag for information.  For those, the direct route there is at or from the comment.  The feature here is to help identify, at the comment, whether there is some action or meaning associated with the comment.

#215 provides information somewhere else if something happened with any watched post.

[2017-01-07 18:09] shu8 commented on #215
@wgrundlingh @enki-code using the SE dropdown UI suggestion, it'll look similar to this:

![this](https://cloud.githubusercontent.com/assets/8850830/21743949/60ca5ed2-d504-11e6-9c54-b027300b82dd.png)

[2017-01-07 18:14] fixer1234 commented on #215
Additional thought: with so many possible actions triggering notification, you probably want an indicator of the action type in the notification.  That could be a prefix on the comment, similar to how the Q or A identifies the type of post involved.  Some ideas:

 - Edit: **E** edit_comment

 - Comment: **C** comment_excerpt

 - Answer: **A** answer_excerpt (in this case there would also be an "A"

[2017-01-07 18:27] fixer1234 commented on #215
@shu8 Your post popped up while I was typing my comment.  So it looks like you're leaning toward a minimalist notification, basically just the thread name and the type of action that happened?  So to see details, you click the link and go to the post?  You're also talking about cross-site notifications?

That's certainly cleaner and simpler.  Would you include a delete button on each notification?

[2017-01-07 18:37] fixer1234 commented on #215
How would that notification style affect the selection at the post?

- Select the specific changes you want to be alerted to, or the feature tracks a fixed collection of action types, any of which trigger notification?

- Would the user specify each post to watch?  Would there be an option to watch the thread (any/all posts)?

[2017-01-07 18:37] wgrundlingh commented on #215
@shu8 [I originally agreed on the envelope icon](https://github.com/soscripted/sox/issues/215#issuecomment-271033105), but now I feel otherwise. It seems relevant to use the same icon as in the topbar; it would link the two actions. Reason: The envelope icon has an "email" implication, and there's already an email option for your own post.

[2017-01-07 19:16] shu8 commented on #215
@fixer1234 you will choose to watch comments on a post, or edits/retags/state changes/new answers on a post:

![this](https://cloud.githubusercontent.com/assets/8850830/21744433/7b4f5ea2-d50d-11e6-8994-7581c60eabde.png)

Yeah, they'll be cross-site, and they will include details such as edit comment/what the new state is/what the retag was (the screenshot I posted in my previous comment was just t

[2017-01-07 19:30] wgrundlingh commented on #215
@shu8 Yes, use the edit post icon instead of the envelope, since it will tie the content in the post to the content in the top bar.

[2017-01-07 23:08] fixer1234 opened #217 "Review queue count for Meta incorrect"
### Installed Version: 2.0.6  Environment: FF/GM

### Current Behaviour
Earlier today, there was a post in one of the Meta site review queues, which was reflected on the main site review queue page.  It was reviewed.  Now the Meta site review queues all show zero available reviews.  On the main site Review queues, the new Meta reviews count is still showing as 1.

Update:  ~1/2 hr later, the Meta

[2017-01-08 00:22] wgrundlingh opened #218 "Copy code from code block"
### Installed Version: 2.0.8  Environment: Tampermonkey

### Current Behaviour

I currently use [the following script](  https://gist.github.com/kpym/30d90be41ab5c248cdf7/raw/cc21badb01bb8d85f00f257697413e51f85608eb/Copy%2520code%2520from%2520SX%2520v2.user.js) to allow one to copy a code block from a post. It adds a

![image](https://cloud.githubusercontent.com/assets/1776164/21746286/1cfa1cd4-d4

[2017-01-08 00:39] enki-code commented on #218
Absolutely. Should be available in the next release.

[2017-01-08 08:16] wgrundlingh opened #219 "autoShowCommentImages doesn't work for imgur-only images"
### Installed Version: 2.0.8  Environment: Tampermonkey

### Current Behaviour

Imgur-only links in comments seems broken:

![image](https://cloud.githubusercontent.com/assets/1776164/21748327/142f79bc-d537-11e6-8aec-50bf2932be57.png)

Perhaps it currently only works for i.stack.imgur.com images...?

---

### SOX Errors logged to the browser console -- F12 (if available)

---

### Steps to reprodu

[2017-01-08 14:26] shu8 commented on #219
@wgrundlingh it should work for both imgur and stack imgur, but the user posted the link to http://imgur.com/a/XHyJP, which isn't actually the image file, it's the album that imgur creates for the image. the actual image is at http://i.imgur.com/cj5Gl1g.png which the script can't really figure out :/

[2017-01-08 14:27] shu8 commented on #218
done in dev [2.0.9](https://github.com/soscripted/sox/raw/dev/sox.user.js)

![this](https://cloud.githubusercontent.com/assets/8850830/21750575/16c3c71a-d5ae-11e6-8b4b-aed33f55dcb5.gif)

the button appears on hover of the code.

It's the last one in the Extras section. Happy to change any UI-related things about it :)

[2017-01-08 14:52] shu8 commented on #217
That was probably caching because the script GETs the page exactly like the browser would so it may have cached it.

If this happens again, try a 'hard refresh' of the review page and see if it still happens :)

[2017-01-08 15:12] #219 closed

[2017-01-08 15:41] fixer1234 commented on #217
@shu8 I did a page refresh a number of times.  What's a "hard refresh"?

[2017-01-08 15:43] shu8 commented on #217
@fixer1234 a way to refresh a single page without cache: https://www.getfilecloud.com/blog/2015/03/tech-tip-how-to-do-hard-refresh-in-browsers/

seems like it's Ctrl Shift R for FF

[2017-01-08 15:54] wgrundlingh commented on #219
@shu8 Yes. Would it be possible to distinguish between imgur.com and i.imgur.com images?

[2017-01-08 16:05] shu8 commented on #219
@wgrundlingh yes, I've added a check in (locally atm) to make sure the link is to a real image URL :)

[2017-01-08 19:15] enki-code commented on #217
@fixer1234  @shu8 The commands to do a hard refresh are different depending on OS. Typically Control + F5 does the trick. Here is a good article on it https://www.getfilecloud.com/blog/2015/03/tech-tip-how-to-do-hard-refresh-in-browsers/

[2017-01-08 20:46] shu8 commented on #219
(just pushed it in [dev 2.0.10](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-09 06:55] fixer1234 commented on #215
@shu8  An additional element for this feature: it could really benefit from a way to list all posts being watched.  Right now, there isn't a way to find watched posts.  You turn on watching, and if/when there's activity, a message shows up and you can deselect watching.

Often, the activity is really relevant only if it happens in a reasonable time.  Or, the reason for watching could become irrele

[2017-01-09 06:58] wgrundlingh commented on #215
@fixer1234 I agree that being able to identify the posts in a list would be helpful; something akin to viewing one's list of favourited questions in your profile.

[2017-01-09 17:08] fixer1234 opened #220 "Kbd button doesn't work when editing in review queue"
### Installed Version: 2.0.6  Environment: FF/GM

### Current Behaviour
Kbd markup button works in a regular edit window, but not when editing in a review queue.

---

### SOX Errors logged to the browser console -- F12 (if available)

---

### Steps to reproduce

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-answerTagsSearch","Appearance-colorAnswerer"

[2017-01-09 17:42] enki-code commented on #215
@wgrundlingh @fixer1234 Injecting a tab with a list of everything being watched should be fairly easy, I'll add this to our todo list.

[2017-01-09 17:44] wgrundlingh commented on #215
@shu8 @enki-code You guys make everything sound easy... thanks for investing the time!

[2017-01-09 17:44] enki-code commented on #220
I'm assuming that the match rules for that feature need to be updated so this should be a simple fix.

[2017-01-10 06:12] wgrundlingh opened #221 "Notification bar (in chat) partially hidden by fixed top bar"
### Installed Version: 2.0.10  Environment: Tampermonkey

### Current Behaviour

With the fixed top bar, notification bars are only partially visible:

![image](https://cloud.githubusercontent.com/assets/1776164/21795637/3ef3a9f2-d6b8-11e6-8d84-7458cb27acd9.png)

This is what it looks like without the fixed top bar active:

![image](https://cloud.githubusercontent.com/assets/1776164/21795645/53a88

[2017-01-10 06:38] wgrundlingh opened #222 "Add a per-day review progress bar to each review queue"
### Installed Version: 2.0.10  Environment: Tampermonkey

### Current Behaviour

The script adds a "review progress bar" for each of the queues, which is kinda nifty:
  https://greasyfork.org/en/scripts/8579-review-progress-for-today

![image](https://cloud.githubusercontent.com/assets/1776164/21796242/363aa2b2-d6bc-11e6-93f7-f75347942e72.png)

---

### SOX Errors logged to the browser console --

[2017-01-10 15:48] Franck-Dernoncourt opened #223 "Adding an option to hide the chat as well as the "love the site" on the side bar"
### Installed Version: 2.0.10  Environment: Tampermonkey

Feature request: adding an option to hide the chat as well as the "love the site" on the side bar:

![image](https://cloud.githubusercontent.com/assets/15331/21812787/1e8c1fc2-d722-11e6-8cb9-6876c2233710.png)

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-alignBadgesByClass","Appearance-answerTagsSear

[2017-01-10 15:54] Franck-Dernoncourt opened #224 "show comment score doesn't seem to work"
### Installed Version: 2.0.10  Environment: Tampermonkey

### Current Behaviour

show comment score doesn't seem to work

![image](https://cloud.githubusercontent.com/assets/15331/21813090/12dc02cc-d723-11e6-930a-1030f40e034c.png)

---

### SOX Errors logged to the browser console -- F12 (if available)

[code]

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appeara

[2017-01-10 17:10] enki-code commented on #221
Thanks for letting us know, another simple fix, we just need to update the CSS.

[2017-01-10 17:11] enki-code commented on #222
Is this a feature request? :smile:

[2017-01-10 17:14] enki-code commented on #223
Another easy one.  I'll look into getting this done as soon as I get some more time.

[2017-01-10 19:20] shu8 commented on #224
@Franck-Dernoncourt Can you reset your access token please? Clicking the key icon at the bottom of the dialog should let you recreate one :)

It should work then...

[2017-01-10 19:29] shu8 commented on #220
@fixer1234 I can't actually reproduce this, if it's still happening please can you post the console log? :)

[2017-01-10 19:55] Franck-Dernoncourt commented on #224
thanks, good catch, it worked :)

On 10 January 2017 at 14:20, ᔕᖺᘎᕊ <notifications@github.com> wrote:

[2017-01-10 20:28] #224 closed

[2017-01-10 20:59] wgrundlingh opened #225 "Only reduce comment images inline to fit width"
### Installed Version: 2.0.10  Environment: Tampermonkey

### Current Behaviour

autoShowCommentImages are always expanded to the full width of the comments, regardless of the original image size. Here's an example that blows up an image unnecessarily:
  [Bookmark to toggles lower nested levels](http://tex.stackexchange.com/q/348044/5764)

![image](https://cloud.githubusercontent.com/assets/177616

[2017-01-11 00:55] fixer1234 commented on #220
@shu8

[code]

It may just be coincidence, but the lines at the end appeared after clicking the Kbd button.

[2017-01-11 19:38] wgrundlingh opened #226 "shareLinksMarkdown should remove [closed reason] at the end of the post title"
### Installed Version: 2.0.10  Environment: Tampermonkey

### Current Behaviour

With shareLinksMarkdown active, the current, full title is copied, including when the post has been marked a duplicate/closed and contains a trailing '[duplicate]'/'[closed]'/?. This screws up the markdown, since

    [title [stuff]](url)

doesn't parse properly. Could the trailing '[stuff]' be removed? Alternatively,

[2017-01-11 20:50] shu8 commented on #226
@wgrundlingh fixed in [dev 2.0.11](https://github.com/soscripted/sox/raw/dev/sox.user.js); any square brackets are replaced with `()` brackets.

I haven't actually removed the question state though -- I think it is often useful when linking to a question to see it's state :/

Should I keep it there? :)

[2017-01-11 20:50] #226 closed

[2017-01-11 20:50] shu8 commented on #220
@fixer1234 thanks, should be fixed [in dev 2.0.11](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-11 20:50] #220 closed

[2017-01-11 20:51] shu8 commented on #225
@wgrundlingh this *should* be fixed [in dev 2.0.11](https://github.com/soscripted/sox/raw/dev/sox.user.js), but it's annoyingly difficult to find comments with images when you want to... so please tell me if you see any bugs if you see comments with images! :)

[2017-01-11 20:51] #225 closed

[2017-01-11 20:51] shu8 commented on #221
@wgrundlingh fixed in [dev 2.0.11](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-11 20:51] #221 closed

[2017-01-11 21:01] wgrundlingh commented on #226
@shu8 True. Keep the state if the update is to change [...] to (...).

[2017-01-11 21:07] shu8 commented on #215
@wgrundlingh @fixer1234 I've created a 'first version' of this script now.

Right now, you can watch *posts* (not comment sections yet!) for:

- edits
- retags
- state changes (close->open and vice versa) (only on questions)
- new answers (only on questions)

I'd be grateful if you could [install it](https://rawgit.com/soscripted/sox/dev/editAlert.user.js) (this as a separate userscript) and just

[2017-01-11 21:10] wgrundlingh commented on #225
Perhaps this query will be of help:
  http://data.stackexchange.com/meta.stackexchange/query/614674/comments-with-image-links-in-them

[2017-01-11 21:13] shu8 commented on #225
@wgrundlingh thanks! if you know stuff about SEDE, do you know how to get the URL as well? I can't see a URL field :/

[2017-01-11 21:58] shu8 commented on #215
Reinstalling with the same link should now let you watch comments under posts as well! :)

[2017-01-11 22:07] wgrundlingh commented on #225
You're asking for the comment URL? I've supplied the post URL.

[2017-01-11 22:08] shu8 commented on #225
Hmmm I can only see the post ID on the query... :/ Should I be able to
click the ID?

On 11 Jan 2017 10:07 pm, "wgrundlingh" <notifications@github.com> wrote:

[2017-01-11 22:11] wgrundlingh commented on #225
Yes, it should be a clickable URL. I edited the previous comment to show a clickable URL, perhaps you still had the old SEDE query; here's the one I have:
  http://data.stackexchange.com/meta.stackexchange/query/614676/comments-with-image-links-in-them

![image](https://cloud.githubusercontent.com/assets/1776164/21868508/e116a626-d807-11e6-8200-d6932b73cc7a.png)

[2017-01-11 22:18] wgrundlingh commented on #215
The post watch icon changes once you've added some watch, and retains this upon refresh, but the comments do not. A refresh leaves the icon "unselected":

![image](https://cloud.githubusercontent.com/assets/1776164/21868637/9c3d22c2-d808-11e6-872c-e61306134f48.png)

Also, the selection is not retained. It always just defaults to "edit".

[2017-01-12 00:07] Franck-Dernoncourt opened #227 "latex issue with the share link feature: no $ added"
### Installed Version: 2.0.10  Environment: Tampermonkey

### Current Behaviour

When a question title contains latex equations,  the share link feature doesn't add `$`. Example, on http://stats.stackexchange.com/q/255486/12359, one gets clicking on `share`:

`[What's the difference between ℓ1ℓ1\ell_1-SVM, ℓ2ℓ2\ell_2-SVM and LS-SVM loss functions?](http://stats.stackexchange.com/q/255486/12359)`

[2017-01-12 01:00] wgrundlingh commented on #215
This does not seem to work at the moment since I'm not receiving any notifications. Here's my developer log which highlights some of the "bad request" errors:

soup injecting fixes
VM2601:30 soup init complete
VM2601:30 soup setup complete
VM2609:563SOX:  undefined
VM2609:563SOX:  Object {debug: Object, initialized: Object, helpers: Object, _gps_track: Array[0], gps: Object…}
VM2611:532 postsToWat

[2017-01-12 01:03] wgrundlingh commented on #215
Also see how the recent activity menu switches back to edited posts.

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21872876/e3988d34-d81f-11e6-82df-b4a13c1b7552.gif)

[2017-01-12 05:27] fixer1234 commented on #220
@shu8 Confirmed.

[2017-01-12 05:59] wgrundlingh commented on #215
Only one new answer, but the drop-down suggested more than one:

![image](https://cloud.githubusercontent.com/assets/1776164/21878738/1a565030-d849-11e6-9093-83270b12be77.png)

Question: [Geometry package: page formatting is correct for pages with headings e.g. chapter but not for normal ones](http://tex.stackexchange.com/q/348252/5764)

[2017-01-12 07:14] fixer1234 commented on #215
@shu8 Running v2.0.11 plus the stand-alone script.  I assume the original Notify on edit is being completely replaced so you don't care about bugs in the SOX script.

The standalone script does not appear to be doing anything--no additional Watch button, no additional message box, no selection options on what I assume is the old watch button.

No watch button of any kind appears in the review queu

[2017-01-12 16:13] wgrundlingh commented on #215
The "comment watch" button forms part of the profile page comments view:

![image](https://cloud.githubusercontent.com/assets/1776164/21897504/9e291d2a-d89e-11e6-9aff-ccedf3565682.png)

I doubt whether this is intended. Maybe? It *might* be helpful - you want to commit to seeing any comment updates knowing what you commented on right where you see it. If that's the case, I'd suggest adding a space

[2017-01-12 21:31] shu8 commented on #215
@wgrundlingh thanks for all the feedback!! I've fixed...:

- the issue where refreshing didn't show the watch-state
- the notification showing 'answers' when it shouldn't
- the button showing up in the profile; it shouldn't

I think you weren't getting any notifications because you got throttled by the API (too many requests at once) -- I'm thinking of a solution to that. Also, if you disable SOX'

[2017-01-12 22:11] fixer1234 commented on #215
@shu8 Disabled SOX, Removed script and installed the new one from your link.  No sign of it (no watch button, no message box on topbar).

[code]

[2017-01-12 22:15] shu8 commented on #215
@fixer1234 ah, found it!  Can you reinstall using the same link above? :)

[2017-01-12 22:24] TuggyNE opened #228 "No edit comments available in /review"
### Installed Version
2.0.11
**Environment**: Pale Moon 26.5.0 x64 Win 10

### Current Behaviour

Predefined edit comments appear only on question pages, not when editing from /review.

### Steps to reproduce

Go to /review on any site you have review privileges. Edit a post from within any queue. No comment checkboxes appear.

### Features Enabled

    ["Appearance-answerTagsSearch","Appearance-d

[2017-01-12 22:39] fixer1234 commented on #215
@shu8 OK, buttons and stuff are now showing up.  I'll see if I can figure out how to use it and give it a run.

[2017-01-13 04:11] fixer1234 commented on #215
@shu8 I'll just post some general feedback as I encounter things.  Initially, it will probably be things that don't behave as expected, or problems, so don't take the input as negative.  I really appreciate the effort you're putting into building this thing.

Is the UI described anywhere?  I figured out that clicking the already-checked checkmark in the comments section, which isn't really already

[2017-01-13 05:32] fixer1234 opened #229 "Add the question's state to the title in the Suggested Edit Review Queue"
### Installed Version: 2.0.11  Environment: undefined

### Current Behaviour
Edits to questions that are closed or on hold are supposed to solve the closure issue.  Otherwise, multiple people waste time reviewing it, only to have a prettier or better written closed question.

The closure status of a question isn't displayed in the Edit review queue, the only place where it is not.  It's easy to fo

[2017-01-13 05:53] fixer1234 commented on #218
@wgrundlingh This feature showed up in SOX.  There isn't yet a wiki entry for it, but I found this feature request that looks like its origination.  What, exactly, does this feature do (why is it needed to copy a code block)?  I've always just used normal copy procedures.  Is the idea here that hovering anywhere in a code block identifies the entire block and copies it to the clipboard in one clic

[2017-01-13 07:20] wgrundlingh commented on #218
@fixer1234 On TeX.SE where I contribute most of my time, users often post a minimal example that is a complete set of code. Often this could be a large-ish piece of code that becomes tedious to copy-and-paste using a click-and-drag method. It's easier to copy the entire code in one click to then paste in your coding editor.

I've grown used to this type of usage, and the single-click copy-to-clipb

[2017-01-13 15:37] wgrundlingh commented on #218
@shu8 Would it be possible to make this feature stick to the top right corner of the code block even if one scrolls up/down so it's always visible?

[2017-01-13 16:50] enki-code commented on #228
Thanks, I'm guess we just need to update the match rules for that feature. :+1:

[2017-01-13 16:53] enki-code commented on #218
@wgrundlingh Yes, we can make the button sticky. :)  I will try to work on some stuff this weekend.

[2017-01-13 22:02] shu8 commented on #228
@TuggyNE Thanks for the bug report! :) Fixed in [dev 2.0.11](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-13 22:02] #228 closed

[2017-01-13 22:03] shu8 commented on #227
@Franck-Dernoncourt thanks, fixed in [dev 2.0.11](https://github.com/soscripted/sox/raw/dev/sox.user.js).

It gets the title from the page title now, so if there's mathjax in the title, the share URL **won't** contain the state of the question eg `[closed]` at the end, for now

[2017-01-13 22:03] #227 closed

[2017-01-13 22:05] shu8 commented on #215
@fixer1234 Firstly, **please disable the edit notification feature in SOX**. This script that this issue is about is completely separate to the SOX feature and will replace it. There's not really much point talking about that one here, because it's just going to get confusing! :) And I'm not testing with that enabled so there could be conflict between the two.

Your comment seems kinda like your t

[2017-01-13 22:09] shu8 commented on #229
@fixer1234 just to clarify, we're talking about the suggested edit queue right?

[2017-01-14 00:57] fixer1234 commented on #229
@shu8 Correct.

[2017-01-14 02:42] fixer1234 commented on #215
@shu8 It wasn't clear that SOX could conflict with the new script.  I was purposely running them together to compare the action.

On the UI stuff, I was recording observations as I encountered them, so it wasn't train of thought.  That reflected the confusion the UI created.  I eventually figured it out, but the process identified many ways in which it is confusing.  The lessons learned from that

[2017-01-14 05:33] wgrundlingh opened #231 "Tags incorrectly translate to inline posts (linkedPostsInline)"
### Installed Version: 2.0.10  Environment: Tampermonkey

### Current Behaviour

SE markdown for tags using [tag:<tag>] or [meta-tag:<tag>] translates to the URL http://<site>/questions/tagged/<tag>, which incorrectly looks like a question that SOX interprets as wanting to display inline:

![image](https://cloud.githubusercontent.com/assets/1776164/21952661/c9e36bd4-d9d7-11e6-8638-6991bf0c2584.png

[2017-01-14 05:48] wgrundlingh opened #232 "Strange permalink bug with shareLinksMarkdown active"
### Installed Version: 2.0.12  Environment: Tampermonkey

### Current Behaviour

This specific question yields a strange permalink where the title question is TeX and not the actual question title: http://tex.stackexchange.com/q/48301/5764

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21952790/c86ba90e-d9d9-11e6-9c76-3a29ec2c33a8.gif)

Other questions (and answers) have all success

[2017-01-14 05:54] fixer1234 commented on #215
@shu8 OK, selected dozens of different posts--questions, answers, and comments--to watch, with different selections.  Received no notifications for any of the changes.  I'll disable SOX completely for the console output, and see if I can capture a page refresh and then some marking activity.

[code]

This might be diagnostic.  I opened and cleared the console, then refreshed the page and captured

[2017-01-14 11:18] shu8 commented on #232
This was a side effect of #227's fix. Fixed in [dev 2.0.13](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2017-01-14 11:18] #232 closed

[2017-01-14 11:19] shu8 commented on #231
@wgrundlingh fixed in [dev 2.0.13](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2017-01-14 11:19] #231 closed

[2017-01-14 11:19] shu8 commented on #166
@IStoleThePies a bit late, but the HNQ sign shows up on question lists now [in dev 2.0.13](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-14 11:22] shu8 commented on #215
@fixer1234 weird, all the API requests don't seem to have the `site` parameter :/

Can you click on one of the 'Bad Request' URLs and post what it says? And can you also please update [the script](https://github.com/soscripted/sox/raw/dev/editAlert.user.js) (no need to delete the original this time) and repost the console? I've added an extra log so see what the URL should be.

[2017-01-14 17:14] shu8 commented on #215
@fixer1234 @wgrundlingh There were a few glaring bugs in the script, which meant it wouldn't work very well; please can you [reinstall this new version](https://github.com/soscripted/sox/raw/dev/sox.user.js)? :) (you don't need to delete it first this time)

[2017-01-14 19:07] wgrundlingh opened #233 "Accent characters in username show as HTML entities (addAuthorNameToInboxNotifications)"
### Installed Version: 2.0.14  Environment: Tampermonkey

### Current Behaviour

Accented characters in user names are transformed when adding them to the inbox notifications:

![image](https://cloud.githubusercontent.com/assets/1776164/21957342/0d694cea-da49-11e6-8a6f-644353012349.png)

Part of addAuthorNameToInboxNotifications.

---

### SOX Errors logged to the browser console -- F12 (if availa

[2017-01-14 19:42] wgrundlingh commented on #218
@enki-code Here's perhaps another reason for it to be sticky (and stay *on top of the code block*):

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21957597/7a840b12-da4e-11e6-9f8b-683337ea03a9.gif)

Taken from any one-liner of code. Here's one:
  [page number \raggedleft in table of contents](http://tex.stackexchange.com/q/348709/5764)

[2017-01-14 19:44] fixer1234 commented on #215
@shu8 I installed the link in your comment, above, but it loaded a new version of SOX rather than the script.  Is that what you expected or did you grab the wrong link?

[2017-01-14 19:47] shu8 commented on #215
Sorry, wrong link! You can use the link I posted above in a previous
comment instead :) (not on my computer atm so can't get the link again!)

On 14 Jan 2017 7:44 pm, "fixer1234" <notifications@github.com> wrote:

[2017-01-14 21:12] fixer1234 commented on #215
@shu8 The last bad request link (http://api.stackexchange.com/2.2/posts/1167140/comments) produced this:

{"error_id":400,"error_message":"site is required","error_name":"bad_parameter"}

[2017-01-14 21:34] fixer1234 commented on #215
@shu8 Still no sign that the script is doing anything.  New console output:

[code]

Again, all of the buttons and icons disappeared when I generated the console output.

[2017-01-14 23:17] shu8 commented on #215
@fixer1234 hmmm it seems like that problem we had a while ago where URL parameters were not being sent. I'm trying to find the issue that this happened in, but haven't managed to find it yet, but do you remember when I asked you dump a list of your extensions? If we can find that issue, I should have written the solution there! (I've completely forgotten why it happened! :/)

No problem if you can

[2017-01-14 23:37] fixer1234 commented on #215
@shu8 I vaguely remember listing extensions, but can't remember what issue that was associated with.  For that matter, I can't remember what I had for breakfast.  :-)  Do I understand from your comment that it isn't a question of conflicting extensions, but rather that you came up with a solution on an issue for which I listed extensions, so it's just a bookmark for the old solution?

[2017-01-14 23:43] shu8 commented on #215
Yep that's right, just a bookmark for a solution, I hope... No problem
though, I'll find it somewhere :)

On 14 Jan 2017 11:37 pm, "fixer1234" <notifications@github.com> wrote:

[2017-01-15 05:13] wgrundlingh opened #234 "Incorrect location of HNQ icon in multiline question title"
### Installed Version: 2.0.14  Environment: Tampermonkey

### Current Behaviour

The Hot Network Question (HNQ) icon should ideally be located on the first line of a multiline question title, not on the second:

![image](https://cloud.githubusercontent.com/assets/1776164/21960383/40cd71c4-da9e-11e6-93e6-e48911d34a27.png)

---

### SOX Errors logged to the browser console -- F12 (if available)

---

[2017-01-15 14:52] shu8 commented on #234
@wgrundlingh fixed in [dev 2.0.15](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-15 14:52] #234 closed

[2017-01-15 14:52] shu8 commented on #233
@wgrundlingh fixed in [dev 2.0.15](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-15 14:52] #233 closed

[2017-01-15 17:35] wgrundlingh commented on #215
I'm also not receiving any notifications. Here's my log:

soup injecting fixes
VM447:30 soup init complete
VM447:30 soup setup complete
VM461:563SOX:  undefined
VM461:563SOX:  Object {debug: Object, initialized: Object, helpers: Object, _gps_track: Array[0], gps: Object…}
VM463:407 running editAlert.js
VM463:545 postsToWatch [Object]
VM463:546 commentsToWatch [Object, Object]
VM463:547 notificatio

[2017-01-15 17:42] shu8 commented on #215
Can you click the following link:

http://api.stackexchange.com/2.2/questions/7168?site=meta.tex&filter=!
SCam31W85iAdF11znRBpj2qWFPRJV_*8fTZTOPnclcMRL3Dxjmxr-5DJdNc07fPo

? I have a feeling you've been throttled by the API again (script's fault;
not yours)

What does that link show?

On 15 January 2017 at 17:35, wgrundlingh <notifications@github.com> wrote:

[2017-01-15 18:14] wgrundlingh commented on #215
@shu8 Here's the response:

{"items":[{"tags":["bug","markdown"],"comments":[{"owner":{"reputation":58602,"user_id":579,"user_type":"registered","profile_image":"https://i.stack.imgur.com/Rvkr5.png?s=128&g=1","display_name":"barbara beeton","link":"http://meta.tex.stackexchange.com/users/579/barbara-beeton"},"score":1,"creation_date":1484228235,"post_id":7168,"comment_id":20975,"body":"the &quot;h

[2017-01-15 18:17] shu8 commented on #215
Hmmm it looks like the request is working.... It seems like there were two
posts that it had been 15 minutes since last checked for: one for comments
and the other for edits. Are you sure there were new edits/new comments on
those posts?

On 15 Jan 2017 6:14 pm, "wgrundlingh" <notifications@github.com> wrote:

[2017-01-15 19:29] wgrundlingh commented on #215
@shu8 I'm pretty sure, since I marked them yesterday and went to bed. This morning in [Double backslashes disappear from code](http://meta.tex.stackexchange.com/q/7168/5764) there was this:

![image](https://cloud.githubusercontent.com/assets/1776164/21965482/b82f78bc-db15-11e6-95a9-eb13a5388b3f.png)

But my drop-down is empty:

![image](https://cloud.githubusercontent.com/assets/1776164/21965488/

[2017-01-15 20:03] shu8 commented on #215
@wgrundlingh ok, there was definitely some activity there then...

Could you install [this newer version](https://github.com/soscripted/sox/raw/dev/sox.user.js) (no need to delete first) and see if it pops up this time? :)

[2017-01-15 21:05] wgrundlingh commented on #215
@shu8 That's the link to the SOX script. Are you instead referring to [this one](https://github.com/soscripted/sox/raw/dev/editAlert.user.js)?

[2017-01-15 21:07] shu8 commented on #215
sorry, I keep on doing that. Yes, I mean that one instead!

On 15 January 2017 at 21:05, wgrundlingh <notifications@github.com> wrote:

[2017-01-15 21:32] wgrundlingh commented on #215
When I load the new script, will it keep the old items I've checked to watch? Should I just wait 15 minutes, or is a browser refresh sufficient to identify changes?

[2017-01-15 21:37] fixer1234 commented on #215
@shu8 I wasn't sure if the latest version was expected to fix the issue I'm seeing with the script not sending any notifications, but FYI, generating console output still disables it (still shown as enabled in the Add-ons Manager, but no buttons or icons after generating output).

[2017-01-15 21:40] shu8 commented on #215
@wgrundlingh the old items will stay and you'll need to wait 15 minutes unfortunately

@fixer1234 could you post your console output in the newer version please? it might help me see why it's not working

[2017-01-15 21:53] fixer1234 commented on #215
@shu8 I rebooted and re-enabled the script, but there are no signs of the buttons or icons.  It's like generating the console output damaged it.  I'll reinstall it and try again.

Fresh install and still no buttons or icons.  I'll try remove and reinstall.

Nope, still no buttons or icons,  But here's fresh console output.

[code]

[2017-01-16 02:58] wgrundlingh commented on #215
@shu8 Here are the relevant parts for editAlert.js from my log (no new updates):

running editAlert.js
VM1251:545 postsToWatch Array[1]
VM1251:546 commentsToWatch Array[2]
VM1251:547 notifications Array[0]
VM1251:652 about to start looping postsToWatch: Array[1]
VM1251:654 looping postsToWatch. currently on: Object
VM1251:675 Been more than 15 minutes since checking post. Doing API request for Obj

[2017-01-16 18:20] wgrundlingh commented on #218
Another reason for sticky-ness:

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21994618/6c33cf38-dbd5-11e6-8349-b5ebc86b663d.gif)

Wide code blocks have a movable copy-and-paste icon.

[2017-01-16 20:12] wgrundlingh opened #235 "stickyVoteButtons shows glitches at top and bottom"
### Installed Version: 2.0.15  Environment: Tampermonkey

### Current Behaviour

The stickyVoteButtons feature shows a minor displacement when scrolling from the top of a post, with an on-off glitch at the bottom of the post:

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21997569/dab85c1c-dbe4-11e6-9dbd-171bf6d538c4.gif)

---

### SOX Errors logged to the browser console -- F12 (if

[2017-01-17 00:33] enki-code commented on #218
As far as placement goes, would you rather have it fixed at the top left corner? Sorry for the delay on getting this done.

[2017-01-17 00:39] enki-code commented on #235
Thanks for reminding me. I've known about this for a while just never got around to fixing it. We will add it to the list of things to get done.

[2017-01-17 00:44] wgrundlingh commented on #218
@enki-code Yes, fixed in the top-right corner. That makes logical sense.

[2017-01-17 01:04] wgrundlingh opened #236 "Remove ads on sites with low reputation"
### Installed Version: 2.0.15  Environment: Tampermonkey

### Current Behaviour

Feature request: remove ads on certain sites you have low reputation.

I don't have the same reputation on all sites, but contribute quite heavily on some. Perhaps offer users of SOX the option of removing ads altogether.

![image](https://cloud.githubusercontent.com/assets/1776164/22004109/e15df15c-dc0d-11e6-9f62-d53

[2017-01-17 06:58] wgrundlingh opened #237 "standOutDupeCloseMigrated: "on hold", not "onhold""
### Installed Version: 2.0.15  Environment: Tampermonkey

### Current Behaviour

standOutDupeCloseMigrated puts on hold questions as being "onhold", rather than "on hold":

![image](https://cloud.githubusercontent.com/assets/1776164/22010566/e3b4c42c-dc3e-11e6-8ae6-74db124d0732.png)

---

### SOX Errors logged to the browser console -- F12 (if available)

---

### Steps to reproduce

There might b

[2017-01-18 21:01] wgrundlingh opened #238 "editComment: custom edit reason checkboxes leave white background on un-hover"
### Installed Version: 2.0.15  Environment: Tampermonkey

### Current Behaviour

Hovering over and then moving away from a custom edit reason leaves the background *white*, regardless of what this site background looks like:

![tex-se](https://cloud.githubusercontent.com/assets/1776164/22082786/0af35e64-dd7e-11e6-8c2d-4aa0d45e086c.gif)

I'd imagine it would be better to revert to whatever the defa

[2017-01-18 21:13] shu8 commented on #238
Thanks! :) sorry for not getting back to you on some other issues as well, been busy with school :(

I'll get this and your other bug report done today though :)

[2017-01-18 21:26] wgrundlingh commented on #238
That is not a problem at all! You're providing a free service that (in my opinion) takes up quite a bit of time! I completely understand any and all delays.

[2017-01-18 21:44] shu8 commented on #237
@wgrundlingh fixed in [dev 2.0.16](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2017-01-18 21:44] #237 closed

[2017-01-18 21:45] shu8 commented on #238
@wgrundlingh Thanks! ❤️ Fixed this issue in [dev 2.0.16](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-18 21:45] #238 closed

[2017-01-18 21:46] shu8 commented on #235
@wgrundlingh the shift to the right's been fixed in [dev 2.0.16](https://github.com/soscripted/sox/raw/dev/sox.user.js), but the on off glitch is still there (for now!)

[2017-01-18 21:49] shu8 commented on #215
@wgrundlingh it seems like the API was throttling you. Because that was a few days ago, it *should* be working now -- can you post the console output again please? If it still isn't working, could you click on any of the Bad Request's and post what the link takes you to as well?

[2017-01-18 21:54] shu8 commented on #236
I'm not sure about this one @wgrundlingh, because SOX runs after the page has loaded so you'll probably see a jump in the page once the ad's been removed.

AFAIK, AdBlock is pretty good at not making the page jump when it removes ads, but I'm not sure how it works :/ if you have it installed it's probably worth a try!

Also, the ad you posted in your screenshot seems like the one that gets removed

[2017-01-18 22:08] wgrundlingh commented on #215
@shu8 Indeed, it is a "throttle violation." I haven't been getting any updates recently. Here is the entire console output:

[code]

And here is the [API feedback for one of the Bad Requests](http://api.stackexchange.com/2.2/posts/348887/revisions?site=tex&filter=!*K)GWE1gDcf3YaWY):

[code]

[2017-01-18 22:12] enki-code commented on #236
@shu8 We should be able to do this, no problem.

I will look into the DOM flickering, basically we would just need to inject the script a little earlier in the process (_I've been meaning to get to this for quite some time_).

[2017-01-18 22:26] shu8 commented on #222
@wgrundlingh I've made this in [dev 2.0.17](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

However, I'm not sure if it's my computer/network being slow or the script because reviews are loading slowly every now and again... :/ Please could you check whether it's slowing the reviews being loaded for you? :)

[2017-01-18 22:26] #222 closed

[2017-01-18 22:29] shu8 commented on #215
@wgrundlingh ok.. so that's about 7 hours :( Could you disable this script overnight and then try enabling it again the next morning and see if it works then?

It's not your fault at all, I never took it into account, and now I'm just thinking about how to go about solving this problem... :/ I should have a solution soon :)

[2017-01-18 22:38] wgrundlingh commented on #222
It seems to be fetching from the wrong URL:
  http://meta.stackexchange.com/review/stats
It should be
  http://meta.stackexchange.com/review/close/stats
if you're in the Close Review Queue...

[2017-01-18 22:40] shu8 commented on #222
yeah it'll probably do that if you're not actually on a review -- are you
on the 'this queue has been cleared' page?

On 18 January 2017 at 22:38, wgrundlingh <notifications@github.com> wrote:

[2017-01-18 22:41] wgrundlingh commented on #215
@shu8 That's what I've done. I was thinking that, even though I'm throttled, I guess using the site and re-requesting content from the API probably doesn't help. In fact, it may just prolong the throttle... maybe?

One solution might be to only retrieve updates when the user clicks on the "edit" icon in the toolbar, assuming that may be done less frequently. Also, it seems like the script still do

[2017-01-18 22:44] wgrundlingh commented on #222
@shu8 For complete reference, yes, I'm on the "this queue has been cleared" page:

![image](https://cloud.githubusercontent.com/assets/1776164/22086223/a0c503e4-dd8c-11e6-9ed8-c11477ad23f7.png)

You can't see it in the image above, but there's no progress bar.

[2017-01-18 22:45] shu8 commented on #215
I don't think using the site should extend the throttle, and neither should
SOX because it runs with a separate API key, so it technically completely
separate at the moment

I definitely need to add in a check to stop sending API requests if there's
been a throttle violation. It is possible, but we need to think about the
details a tiny bit more! :/ Let's hope it works tomorrow! :)

On 18 January

[2017-01-18 23:09] shu8 commented on #222
fixed in [dev 2.0.18](https://github.com/soscripted/sox/raw/dev/sox.user.js) :) @wgrundlingh

[2017-01-18 23:12] shu8 commented on #215
@wgrundlingh ok.. so I've made a few changes to make it not perform API requests if it's throttled and wait 2 hours.

can you install [the new version](https://github.com/soscripted/sox/raw/dev/editAlert.user.js), but keep it disabled for the night anyway please? :) (watched posts/comments will stay)

@fixer1234 do you have any luck [with this new version](https://github.com/soscripted/sox/raw/dev

[2017-01-18 23:16] #217 closed

[2017-01-18 23:16] shu8 commented on #217
I'm going to close this. Feel free to comment back if you notice it happen again :)

[2017-01-19 06:18] fixer1234 commented on #215
@shu8 I removed the old version, restarted FF, and loaded the latest version.  No sign of it--no buttons or icons anywhere.  Here's console output:

[code]

[2017-01-19 13:39] shu8 commented on #215
@wgrundlingh sorry, that version had a bug that crashed the script, please could you install [this version](https://github.com/soscripted/sox/raw/dev/editAlert.user.js) and then enable it again? :)

[2017-01-19 13:47] shu8 commented on #215
@fixer1234 ah, seems like you've completely disabled SOX? When I was talking about disabling it on SOX, I meant only the 'downvotedPostsEditAlert' *feature*!

But I've fixed it now in [this version](https://github.com/soscripted/sox/raw/dev/editAlert.user.js) so should run without SOX needing to be enabled at all, but you *can* enable SOX if you want -- just not the edit notification *feature*! :)

[2017-01-19 16:10] wgrundlingh commented on #222
The load speed seems to depend on the site, for sure. It loads slowest on Stack Overflow for me.

[2017-01-19 16:28] wgrundlingh commented on #215
Updated and activated the script this morning and did receive notifications. Here's a view:

![image](https://cloud.githubusercontent.com/assets/1776164/22115048/5daec132-de20-11e6-920c-d2082fb40ac8.png)

Obviously there's some title issues. For multiple comment to the same post that you're watching, would it be possible to collapse them into one? Perhaps showing "(multiple)" if there are more tha

[2017-01-19 16:35] wgrundlingh commented on #215
Hmmm... the list is now empty:

![image](https://cloud.githubusercontent.com/assets/1776164/22115501/138a5d9e-de22-11e6-9ca6-16987c3103ce.png)

Is it possible to keep it in a similar way to what the Inbox does?

[2017-01-19 16:59] fixer1234 commented on #215
@shu8 Just for clarification, SOX was enabled when I tested and didn't get any notifications.  I disabled SOX to generate the console output, which you had suggested to minimize the unrelated content.  So it was disabling SOX that made the script disappear, not the console?  I'll load the new version and test again.

[2017-01-19 17:01] shu8 commented on #215
Yes, it was disabling sox that caused it. There is a 'Disable debugging'
button at the bottom of the dialog you can click to stop the sox console
output

On 19 Jan 2017 4:59 pm, "fixer1234" <notifications@github.com> wrote:

[2017-01-19 17:18] shu8 commented on #215
@wgrundlingh glad it's working now! 😄

I can definitely look into making the colour change a number instead, and saving the notifications is on my todo list :)

[2017-01-19 18:00] fixer1234 commented on #215
@shu8 Still not getting any notifications.

[2017-01-19 20:16] shu8 commented on #215
@wgrundlingh ok.. it should show you numbers now [in this version](https://github.com/soscripted/sox/raw/dev/sox.user.js) -- could you install and try it out? :)

I've also made changes to stop sending requests if throttled, and reduced the frequency of useless API requests, so hopefully we shouldn't get throttled :/ I haven't done it in the best way and it will still throttle if you have loads of

[2017-01-19 20:22] fixer1234 commented on #215
@shu8 And here I thought I was the only one getting old and decrepit.

[2017-01-20 18:50] wgrundlingh commented on #215
This might be premature while you're working on this, but there's a slight mis-alignment in the numbered bubble:

![image](https://cloud.githubusercontent.com/assets/1776164/22161120/d265daf0-defd-11e6-92e3-e44167a08809.png)

I like the numbered bubble idea, since it fits with the rest of the SE design.

[2017-01-21 03:50] wgrundlingh opened #239 "copyCommentsLink is not removed when clicking "add comment""
### Installed Version: 2.0.18  Environment: Tampermonkey

### Current Behaviour

When adding a comment, all hidden comments are shown. However, the copyCommentLink feature doesn't remove the "show X more comments" button:

![tex-se](https://cloud.githubusercontent.com/assets/1776164/22171741/ab6c450a-df49-11e6-98b2-2bec018ec784.gif)

---

### SOX Errors logged to the browser console -- F12 (if ava

[2017-01-21 14:54] shu8 commented on #239
@wgrundlingh fixed in [dev 2.0.19](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-21 14:54] #239 closed

[2017-01-21 14:55] shu8 commented on #215
@wgrundlingh I'll get that fixed :)

Also, notifications should be persistent [from this version](https://github.com/soscripted/sox/raw/dev/editAlert.user.js) :) Please can you try it out?

[2017-01-21 17:59] Franck-Dernoncourt opened #240 "The kbd button inserts `<kbd</kbd>`"
### Installed Version: 2.0.19  Environment: Tampermonkey

### Current Behaviour

The kbd button inserts `<kbd</kbd>` instead of  `<kbd></kbd>`

![se kbd issue](https://cloud.githubusercontent.com/assets/15331/22176469/4af9b744-dfd9-11e6-8b3a-2a53635ce41f.gif)

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-alignBadgesByClass","Appearance-answerTagsSearch

[2017-01-21 19:14] shu8 commented on #240
Thanks @Franck-Dernoncourt, it's because of my hacky way of doing #189. I'll get this fixed soon! :)

[2017-01-25 18:39] IStoleThePies opened #241 "Post features don't show up on Review Queue"
### Installed Version: 2.0.18  Environment: Tampermonkey

Many of the post or comment features don't show up on the Review Queue, like the CSS vote/star button effects, notify on edit, comment reply button, etc.

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-dragBounty","Appearance-fixedTopbar","Appearance-isQuestionHot","Appearance-markEmployees","Appe

[2017-01-26 07:04] wgrundlingh commented on #215
The current version of EditAlert (0.0.19) shows a blue marker that disappears as soon as one clicks (anywhere):

![tex-se](https://cloud.githubusercontent.com/assets/1776164/22322661/789b2ec2-e352-11e6-8e80-fd14379a9607.gif)

The number in the blue notification bubble is also misaligned.

[2017-01-28 05:22] unarist opened #242 "addAuthorNameToInboxNotifications doesn't work on localized sites"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

addAuthorNameToInboxNotifications feature doesn't work on locilized sites because they localized inbox too.

For example (Stack Overflow in Japanese):

- comment: コメント
- chat reply: チャットの返信
- answer: 回答
- edit suggested: 編集が提案されました

and different sites (ru/pt/es) have different translations.

Could you detect notificat

[2017-01-29 14:27] shu8 commented on #242
@unarist thanks for posting this! :) just to clarify -- does the feature not work entirely, or is this talking about the messages that appear in the console? (and you can see the author name in the inbox for eg. comments?)

[2017-01-29 14:44] shu8 commented on #215
@fixer1234 I haven't been able to figure out why it's not working for you; it's not an FF-specific thing, because it works fine on my FF version. Can you try making a fresh profile and installing the script on that to see if it works there?

[2017-01-29 14:46] shu8 commented on #241
@IStoleThePies thanks for telling us about this! we'd forgotten to enable these features in the review sections of the sites!

Fixed in [dev 2.0.20](https://github.com/soscripted/sox/raw/dev/sox.user.js) (and sorry for the delay!) :)

[2017-01-29 14:46] #241 closed

[2017-01-29 14:46] shu8 commented on #240
@Franck-Dernoncourt sorry for the delay! fixed in [dev 2.0.20](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-01-29 14:46] #240 closed

[2017-01-29 14:46] shu8 commented on #215
@wgrundlingh thanks, fixed that and a few other issues (like notifications being repeated) in [this version](https://github.com/soscripted/sox/raw/dev/editAlert.user.js) :)

[2017-01-29 18:43] fixer1234 commented on #215
@shu8 I loaded the latest version in a clean profile and it sort of works, but not ready for prime time.  I'll have to do the pain-in-the-butt experimenting to figure out what add-on is conflicting.  Observations:

- I only tested edits and comments so far.  On comment notifications, it lists "Undefined" instead of the thread title in the notification box.

- The topbar message count icon disappea

[2017-01-29 19:27] fixer1234 commented on #215
@shu8 I just went back to my regular profile, updated SOX to the current dev version and loaded the latest version of this script.  I was preparing to figure out what add-on was the problem, and a notification popped up from an old post that I had previously set to watch and lost track of the watch status.  So the problem of the script not functioning appears to have been fixed by something else y

[2017-01-30 02:35] fixer1234 commented on #215
@shu8 Spoke too soon.  That old notification popped up but not any new ones.  Guess I'll need to experiment with add-ons.

[2017-01-30 03:38] unarist commented on #242
@shu8 not work entirely. I can see the author name on English sites, but cannot see on the Japanese site.

[2017-01-30 10:33] fixer1234 commented on #215
@shu8 Disabled most of my add-ons and a bunch of notifications showed up.  I haven't figured out yet which add-on was the issue.  However, some problems:

- Getting duplicate notifications for new answers (so far, those are the only thing duplicated).

- With multiple comments on the same post, only the most recent one has a notification (is that by design?).  Actually, that isn't correct.  At upd

[2017-01-30 17:27] Franck-Dernoncourt commented on #240
Thanks!

[2017-01-30 18:03] wgrundlingh commented on #215
@shu8 There is still a vertical misalignment in the placement of the blue edit notification counter bubble:

![image](https://cloud.githubusercontent.com/assets/1776164/22434455/f6e5628a-e6d0-11e6-8378-515964ef8509.png)

The blue bubble should move up a tad.

[2017-01-30 18:47] fixer1234 commented on #215
@wgrundlingh It's scary that you even noticed that at normal magnification.  :-)

[2017-01-30 20:52] IStoleThePies commented on #241
@shu8 Could you also enable notify on edit?

[2017-01-31 07:18] fixer1234 commented on #215
@shu8 When the script stopped working yesterday, I disabled it.  It's been a day and I just enabled it again and the message count immediately shot from 17 to 33.  I had re-enabled almost all of my Firefox add-ons.  So it looks like the issue isn't the add-ons.  Maybe it's being throttled?

[2017-02-01 16:30] DavidPostill opened #243 "isQuestionHot: question title formatting breaks on SU"
Windows 7 Home Premium 64 bit
Firefox 51.1.0
Greasmonkey 3.9
SOX 2.0.3 DEV

See this current hot question:

https://superuser.com/questions/1173773/how-do-these-icons-work-%EF%B8%8F

The "Hot" graphic appears on the **left** hand side and the ** question title** appears on the right hand side (the reverse of what it should be).

Broken screenshot:

![screenshot - 01_02_2017 16_28_11](https://cloud

[2017-02-01 22:35] shu8 commented on #243
Hi! Can you update to the latest Dev version and see if this still occurs?
O have a feeling a change we made to the feature is partially working on
the older version but not fully...

The feature has changed to be a flame icon on the left of the title :)

On 1 Feb 2017 16:30, "DavidPostill" <notifications@github.com> wrote:

[2017-02-01 23:38] DavidPostill commented on #243
Installed SOX 2.0.20. Now I see a flame to the left on all hot questions. I didn't realise you had changed the feature :)

However, some titles are still *right justified*:

![screenshot - 01_02_2017 23_35_08](https://cloud.githubusercontent.com/assets/7079224/22531142/1d669408-e8d7-11e6-9579-426b37486cca.png)

And some *left justified*:

![screenshot - 01_02_2017 23_36_13](https://cloud.githubuse

[2017-02-03 10:42] DavidPostill opened #244 "standOutDupeCloseMigrated tag splits across multiple lines for big titles"
SOX 2.0.20, Windows 7 Home Premium 64 bit, Firefox 51.1.0

The highlighted tags are being split across multiple lines:

![screenshot - 03_02_2017 10_40_55](https://cloud.githubusercontent.com/assets/7079224/22588367/647d0576-e9fd-11e6-9c41-6fc03c85d51e.png)

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-alignBadgesByClass","Appearance-answerTagsSearch","Appe

[2017-02-03 16:43] ScottBeeson opened #245 "Open jsfiddle links in new tab"
Just a QOL feature. It would be nice to have a checkbox that automatically handled jsfiddle links.

[2017-02-03 17:48] enki-code commented on #245
If we were to implement this, I probably wouldn't target just jsFiddle links but _any_ external link. We'll talk about it and let you know.

[2017-02-03 18:11] ScottBeeson commented on #245
Well, I considered that, but fiddles are _always_ in the context of the current question. Other links may not be?  Or at least limit it to links in the body of the question and answers (ie don't include links on the side to other questions, etc).

[2017-02-03 21:07] shu8 commented on #243
@DavidPostill hmm seems to be a Superuser specific issue... have you seen it happen on any other site?

[2017-02-03 21:16] DavidPostill commented on #243
No, I haven't - which is why I thought it was some to do with the emojis in the title - I don't recall seeing those anywhere else ...

[2017-02-03 21:38] shu8 commented on #244
@DavidPostill thanks, fixed in [dev 2.0.21](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2017-02-03 21:38] #244 closed

[2017-02-03 21:38] shu8 commented on #243
@DavidPostill ok... this should fixed in [dev 2.0.21](https://github.com/soscripted/sox/raw/dev/sox.user.js) now :)

[2017-02-03 21:38] #243 closed

[2017-02-03 21:39] shu8 commented on #242
@unarist thanks! Sorry for delay again, but this should be fixed in [dev 2.0.21](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :).

Please could you install it using the above link (no need to remove the version you have installed), and confirm whether it works for you? :)

[2017-02-03 21:41] DavidPostill commented on #243
Great work! Confirmed as fixed :)

[2017-02-03 21:45] DavidPostill commented on #244
Can't test this one, the title has been edited in the example I gave.

[2017-02-03 21:47] shu8 commented on #244
@DavidPostill no problem, if you see it happen again, please comment back. I tried editing the titles locally using dev tools and it didn't happen, so it *shouldn't*, but there's always a chance it will! :)

[2017-02-04 12:02] shu8 commented on #215
@fixer1234 yes, it's being throttled. While this is being *tested*, can you keep the number of watched things under about 10? This development version of the script doesn't have the access token in it, so there's a lot less available requests. I know it's a pain, but it should be ready soon! :) Also, there's a [new version](https://github.com/soscripted/sox/raw/dev/editAlert.user.js) you can insta

[2017-02-04 18:42] wgrundlingh opened #246 "Creation of a tag wiki should not have the option to save an edit summary"
### Installed Version: 2.0.18  Environment: Tampermonkey

### Current Behaviour

When creating a tag wiki, the custom edit summary buttons/options are still present, although there is no text box accompanying it:

![image](https://cloud.githubusercontent.com/assets/1776164/22620706/88ac5e0a-eac6-11e6-852b-bc14b6295932.png)

---

### SOX Errors logged to the browser console -- F12 (if available)

-

[2017-02-04 18:46] wgrundlingh opened #247 "SBS doesn't work when editing a tag wiki"
### Installed Version: 2.0.18  Environment: Tampermonkey

### Current Behaviour

Side-by-side editing does not work when editing a tag wiki. The following visual happened when I was *creating* a tag wiki:

![tex-se](https://cloud.githubusercontent.com/assets/1776164/22620729/e80da50c-eac6-11e6-8b12-acbf378a1b73.gif)

---

### SOX Errors logged to the browser console -- F12 (if available)

---

###

[2017-02-05 06:51] fixer1234 commented on #215
@shu8 I loaded the new version and will check it out.  re: todo list (based on previous version):

- On mine, answers are the only posts duplicated

- Missing thread title on comment notifications (Undefined)

- Counter icon reflected total notifications instead of new notifications

- Missing Q vs. A indicator for post type in notification

- Missing username associated with action notified

- Mi

[2017-02-05 11:50] shu8 commented on #215
@fixer1234 Thanks for the list :) I'll add them to the to-do list

It looks like the site parameter is being chopped off again. Can you try
again in a fresh profile? Like you did a few comments ago? :)

On 5 Feb 2017 06:51, "fixer1234" <notifications@github.com> wrote:

@shu8 <https://github.com/shu8> I loaded the new version and will check it
out. re: todo list (based on previous version):

   -

[2017-02-06 04:19] fixer1234 commented on #215
@shu8 Fresh profile, same result.

[2017-02-06 17:36] Sir-Cumference opened #250 "Hot Network issue"
### Installed Version: 2.0.20  Environment: Tampermonkey

I just looked at a question [here](https://astronomy.stackexchange.com/questions/19945/is-the-sun-really-burning-and-getting-smaller), which sometimes shows the Hot Network symbol and text "One of the 100 hot network questions!"

<img width="756" alt="screen shot 2017-02-06 at 12 32 22 pm" src="https://cloud.githubusercontent.com/assets/537

[2017-02-06 18:13] IStoleThePies commented on #79
@shu8 Actually, this might be a better solution, since the current one shifts the logo a bit:

    $('#header').css({'-webkit-transform': 'translateZ(0)'});

[2017-02-07 11:15] j-f1 opened #251 "Please add the SOX button to the new topbar."
### Installed Version: 2.0.2  Environment: Safari/Tampermonkey

### Current Behaviour
The SOX button doesn’t appear in the new topbar:
<img width="198" alt="No SOX Button" src="https://cloud.githubusercontent.com/assets/25517624/22688949/772d7352-ecfc-11e6-9b45-2260615a9072.png">

### SOX Errors logged to the browser console -- F12 (if available)
N/A

### Steps to reproduce
1. Visit [your profile]

[2017-02-07 15:34] enki-code commented on #251
There's quite a bit involved with switching from the old navigation to the new navigation and still providing backwards compatibility.

Secondly, I personally am taking a break from SOX and StackOverflow for a while, perhaps indefinitely. I cannot actively participate in a site that is moderated with hypocrisy and is accepting of direct attacks against people with different political opinions than

[2017-02-07 18:14] Franck-Dernoncourt commented on #251
SOX's hide meta feature is very convenient to focus on SO/SE content and reducing the time spent in meta discussions :) I'm not a huge fan of Stack Exchange but I cannot find any good alternative.

[2017-02-07 19:29] j-f1 commented on #251
Would it be OK if I made a PR for this?

[2017-02-07 19:44] shu8 commented on #251
@j-f1 sure! We'd really appreciate it if you could! :)

[2017-02-07 22:59] IStoleThePies commented on #235
Here's a fix:

    stickyVoteButtons: function() {
        // Description: For making the vote buttons stick to the screen as you scroll through a post
        //https://github.com/shu8/SE_OptionalFeatures/pull/14:
        //https://github.com/shu8/Stack-Overflow-Optional-Features/issues/28: Thanks @SnoringFrog for fixing this!

        stickcells();
        $(document).on('sox-new-review-post-app

[2017-02-08 00:04] IStoleThePies commented on #251
@j-f1 The new topbar isn't complete yet. You should probably wait until it's finished and implemented into all sites.

[2017-02-09 02:08] IStoleThePies commented on #235
Completely ignore the solution above, I wrote something better:

    stickyVoteButtons: function() {
        // Description: For making the vote buttons stick to the screen as you scroll through a post
        //https://github.com/shu8/SE_OptionalFeatures/pull/14:
        //https://github.com/shu8/Stack-Overflow-Optional-Features/issues/28: Thanks @SnoringFrog for fixing this!

        stickcells(

[2017-02-09 07:57] shu8 commented on #235
Thanks, I'll get this added in ASAP! :)

On 9 Feb 2017 02:08, "IStoleThePies" <notifications@github.com> wrote:

[2017-02-10 20:58] calebkleveter commented on #235
Will the solution fix this bug?

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/nroqA.png

[2017-02-11 06:14] wgrundlingh opened #253 "Sticky voting buttons and post jump within Suggested Edits review"
### Installed Version: 2.0.21  Environment: Tampermonkey

### Current Behaviour

While reviewing a suggested edit, scrolling up-and-down causes the post and *sticky* voting buttons to jump:

![tex-se](https://cloud.githubusercontent.com/assets/1776164/22851652/e154de94-efdd-11e6-8134-b3393de52dde.gif)

This happens even when viewing any historical Suggested Edit.

---

### SOX Errors logged to the

[2017-02-11 06:32] wgrundlingh opened #254 "linkedPostsInline repeatedly inserts an error on scrolling within review queue"
### Installed Version: 2.0.21  Environment: Tampermonkey

### Current Behaviour

The following occurred while scrolling through a Close Vote review item on [Meta.SE](http://meta.stackexchange.com):

![tex-se](https://cloud.githubusercontent.com/assets/1776164/22851720/f54976e2-efdf-11e6-803d-fc655e35f4b8.gif)

The inline post display arrow is replicated when the floating voting bar starts to follo

[2017-02-13 13:11] unarist commented on #242
@shu8 I've tested dev 2.0.21, but it didn't work.

[code]

It seems to `'comment' || link.indexOf('posts/comments/') > -1` is always evaluated to `'comment'`.

[2017-02-13 21:02] shu8 opened #256 "metaNewQuestionAlert, editAlert need to be fixed to work with new topbar on all sites"
The metaNewQuestionsAlert and editAlert features need to be changed to work on the new SO topbar as well, so the dialog can be viewed.

[2017-02-13 21:03] shu8 commented on #251
Thanks for the pull request @j-f1, I've merged this in #255 :)

[2017-02-13 21:03] #251 closed

[2017-02-13 21:05] shu8 commented on #251
@Sir-Cumference SO seem like they're keeping it, because they've said their tests have been 'successful', so I've merged @j-f1's pull request :) #256 also arose because of this.

[2017-02-13 21:10] shu8 commented on #235
@calebkleveter I can't repro that... how does that bug happen?

[2017-02-13 21:39] shu8 commented on #235
@Sir-Cumference thanks sooooo much! I've added it into [dev 2.0.22](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

@wgrundlingh it's fixed! :)

[2017-02-13 21:39] #235 closed

[2017-02-13 21:39] shu8 commented on #246
@wgrundlingh fixed in [dev 2.0.22](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2017-02-13 21:39] #246 closed

[2017-02-13 21:40] shu8 commented on #247
@wgrundlingh should be fixed in [dev 2.0.22](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-02-13 21:40] #247 closed

[2017-02-13 21:40] shu8 commented on #253
@wgrundlingh thanks, fixed in [dev 2.0.22](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2017-02-13 21:40] #253 closed

[2017-02-13 21:40] shu8 commented on #254
@wgrundlingh fixed in [dev 2.0.22](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-02-13 21:40] #254 closed

[2017-02-13 21:42] shu8 commented on #250
@Sir-Cumference thanks for the bug report! This one's a pretty weird one, but I'm going to keep me eye open to see if I see this happen!

If you see it happen again, please do comment back, and I'll try to look at it on the same day, so it stays on the HNQ list! :/

[2017-02-13 21:42] shu8 commented on #245
@ScottBeeson just to clarify, this feature request is asking to open all JSFiddle links in a new tab by default right? :)

[2017-02-13 22:03] ScottBeeson commented on #245
I personally would love an option so I could set it to automatically open all JSFiddle links in a new tab.

[2017-02-13 22:10] shu8 commented on #245
Sure, no problem. I'll get this done as soon as I get a bit more time :). I
might add an option to choose other links as well but I'll definitely be
able to get the jsfiddle links working! :)

On 13 Feb 2017 22:03, "Scott Beeson" <notifications@github.com> wrote:

[2017-02-13 22:20] calebkleveter commented on #235
To do this I am using smart zoom on an Apple Magic Mouse.

Go to any answer that is long enough to enable sticky vote buttons. Then smart zoom at the middle of the answer.

[2017-02-13 22:47] shu8 commented on #235
Ok thanks, I'll look into it when I get a bit more time :)

On 13 Feb 2017 22:20, "Caleb Kleveter" <notifications@github.com> wrote:

[2017-02-14 21:05] Franck-Dernoncourt opened #257 "Hide the review notifications in the redesigned header"
Feature request:  in the redesigned header, hide the review notifications:

![image](https://cloud.githubusercontent.com/assets/15331/22949181/50f47c02-f2cf-11e6-995c-0477334eba42.png)

According to someone on [How can I hide review notifications?](http://meta.stackoverflow.com/q/343816/395857), this can be done by injecting the following CSS: `.indicator-badge.js-unread-count._reviews { display:

[2017-02-15 07:50] shu8 commented on #242
hmm ok, I'll make an account on one of those sites and try and fix it ASAP :)

[2017-02-16 20:05] wgrundlingh opened #258 "Duplicated question voting buttons"
### Installed Version: 2.0.22  Environment: Tampermonkey

### Current Behaviour

I'm not entirely sure how to replicate this, since I haven't found a common cause. I visited some of my questions listed in the reputation tab of my profile, and clicked on them. Here I show me clicking around in Google Chrome:

![latex_stuff](https://cloud.githubusercontent.com/assets/1776164/23038302/61ab6a68-f43e-1

[2017-02-16 20:14] shu8 commented on #258
Thanks, it looks like it might be a fixedtopbar issue... if it happens a lot, try disabling it and see if it still happens. I'll see if I can find a fix for this ASAP

[2017-02-16 20:17] wgrundlingh commented on #258
@shu8 Just tested without the fixed toolbar and the problem is still there.

[2017-02-16 22:10] wgrundlingh opened #259 "Reword "this question is a hot network question" tooltip"
### Installed Version: 2.0.22  Environment: Tampermonkey

### Current Behaviour

I think the duplication of "question" in the current Hot Network Question tooltip is redundant:

![image](https://cloud.githubusercontent.com/assets/1776164/23043547/80228004-f451-11e6-8a59-1c326aedd72d.png)

Instead of

why not just

Yes, this is a feature request. :+1:

---

### SOX Errors logged to the browser cons

[2017-02-17 17:06] enki-code commented on #258
From the screen capture you posted it looks like it's likely being caused by the topAnswers feature.

[2017-02-17 20:08] Gloin1313 opened #260 "SOX setting tag doesn't close when clicking on inbox/achievements"
Thanks for getting it to work with the new top-bar! Just a small bug:

### Installed Version: 2.0.22  Environment: Safari/Tampermonkey

### Current Behaviour
![screen shot 2017-02-17 at 20 03 48](https://cloud.githubusercontent.com/assets/22625968/23081336/4785f338-f54c-11e6-9c31-082705d00b3e.png)

SOX tab and other SO tags open at the same time.

---

### Steps to reproduce

Click on the SOX (cog

[2017-02-17 23:59] wgrundlingh commented on #258
@enki-code Just tested without the topAnswers feature and the result is similar.

[2017-02-19 16:00] Gloin1313 opened #261 "Tiny line left after hovering over code"
### Installed Version: 2.0.22  Environment: Safari/Tampermonkey macOS Sierra

### Current Behaviour
When the setting "Add a button to code in posts to let you copy it" is turned on, after removing your mouse from the box, the "copy" icon disappears, but a tiny horizontal line is left at the top of where it was.  I know the problem is _tiny_ but I thought I should report it.

---

### Steps to repr

[2017-02-19 16:55] Franck-Dernoncourt commented on #257
I use the Google Chrome extension [Adblock Plus](https://chrome.google.com/webstore/detail/adblock-plus/cfhdojbkjhnklbpkdaibdccddilifddb?hl=en-US) to remove the icon. It takes around five seconds:

![image](https://cloud.githubusercontent.com/assets/15331/23104355/14d736b4-f69a-11e6-9469-1ebf18f5b5a7.png)

![image](https://cloud.githubusercontent.com/assets/15331/23104325/9843047a-f699-11e6-8e19-2

[2017-02-19 19:32] j-f1 commented on #257
@Franck-Dernoncourt Try `stackoverflow.com##._reviews`.

[2017-02-19 20:38] shu8 commented on #261
@Gloin1313 Please could you post a screenshot of this? I can't seem to reproduce it, and I've zoomed in a bit as well :/

[2017-02-19 20:39] shu8 commented on #258
I just reproduced this and I don't have either enabled, so looks like the cause is something else.

I've added the confirmed label though, because it's definitely an issue.

[2017-02-19 20:41] Gloin1313 commented on #261
![screenshot 2017-02-19 at 20 39 08](https://cloud.githubusercontent.com/assets/22625968/23106328/902510d6-f6e3-11e6-897e-a2fc48b9650f.png)
![screen shot 2017-02-19 at 20 39 16](https://cloud.githubusercontent.com/assets/22625968/23106330/9025497a-f6e3-11e6-9ba1-db320ca1d6a2.png)
![screen shot 2017-02-19 at 20 39 23](https://cloud.githubusercontent.com/assets/22625968/23106329/90252814-f6e3-11e6-9

[2017-02-19 20:43] shu8 commented on #261
hmmm that's very weird. It's gonna be pretty low down on my todo list, but I'll try and get it fixed *sometime*! :) (it is, after all, a bug :P)

[2017-02-19 20:53] shu8 commented on #260
Thanks for this bug report, I hadn't noticed it.

I just realised SO have got rid of the hover over buttons thing where it opened the dialog when you hovered over another button -- do you think it's worth adding that? :)

[2017-02-19 20:58] Gloin1313 commented on #260
They removed it in response to this: http://meta.stackoverflow.com/questions/343103/help-test-the-new-top-nav-phase-3-testing-runs-this-week/343136#343136

[2017-02-19 21:00] shu8 commented on #260
@Gloin1313 hmmm that's fair enough I guess, but they could have just disabled the hover thing on the SE logo!

I think I'll add a separate feature to add the hover thing for the SOX button, inbox and achievements, leaving out the SE logo one...

[2017-02-19 21:08] j-f1 commented on #260
@shu8 [This gist](https://gist.github.com/travisjj/3c50be52ce4da566867c624e8777d0a8) from Travis J may be useful.

[2017-02-19 21:10] shu8 commented on #260
@j-f1 thanks! that's interesting because I never really thought about the mod menu! :/

I'll see if I can get a version of it working soon!

[2017-02-19 21:15] Gloin1313 commented on #260
I don't think so, it would happen with any of the drop-down menus, wouldn't it? I think it just so happened that the person who posted it was a mod.

[2017-02-19 22:38] shu8 commented on #223
@Franck-Dernoncourt sorry for the delay, but this has been added in [dev 2.0.23](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-02-19 22:38] #223 closed

[2017-02-19 22:38] shu8 commented on #242
@unarist Thanks for the patience! Should be fixed (for real) in [dev 2.0.23](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-02-19 22:38] #242 closed

[2017-02-19 22:39] shu8 commented on #245
@ScottBeeson added in [dev 2.0.23](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

It's a customizable feature, so you can add more sites if you like.

This is what you'll need to do to get it working for JSFiddle..:

![this](https://cloud.githubusercontent.com/assets/8850830/23107382/4b1b558e-f6f4-11e6-925b-24c208a2095e.png)

[2017-02-19 22:39] #245 closed

[2017-02-19 22:40] shu8 commented on #259
@wgrundlingh fair enough :) done in [dev 2.0.23](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-02-19 22:40] #259 closed

[2017-02-19 22:40] shu8 commented on #260
@Gloin1313 I've fixed the bug you reported in [dev 2.0.23](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

I'll look into the other thing as a separate feature soon... :)

[2017-02-19 22:40] #260 closed

[2017-02-19 22:42] shu8 commented on #218
@wgrundlingh this is partially fixed in [dev 2.0.23](https://github.com/soscripted/sox/raw/dev/sox.user.js)... it'll stay visible whilst you scroll down a long code section and will stay visible on one-liners, but the issue where it stays on the original right side when horizontally scrolling remains... (no idea how to fix that)

[2017-02-19 22:56] Franck-Dernoncourt commented on #223
thanks, it works!

[2017-02-19 23:07] shu8 commented on #215
I've just pushed a [newer version](https://github.com/soscripted/sox/raw/dev/editAlert.user.js) to make it less wordy

Still need to do a few things that you've said @fixer1234... and the things on my todo list...

also, does it work now @fixer1234 (try a fresh profile again if not please!)

[2017-02-20 08:36] fixer1234 commented on #215
@shu8 Still getting no results and a bunch of bad requests: {"error_id":400,"error_message":"site is required","error_name":"bad_parameter"}, although I see some console entries that say "throttled: false".  When I get a chance, I'll try a new profile.

[2017-02-20 09:29] unarist commented on #242
@shu8 Thanks, it works nice!

[2017-02-20 18:14] wgrundlingh commented on #218
@shu8 Thanks for this work... If I knew how to code (in whichever language it is you do this), I would help out, but I don't, unfortunately.

Here's a small bug in the meantime: Suggested edits can show two copy-to-clipboard buttons:

![image](https://cloud.githubusercontent.com/assets/1776164/23137155/4c787c84-f755-11e6-946c-a58b8ec45461.png)

See this: http://tex.stackexchange.com/review/suggest

[2017-02-20 18:15] wgrundlingh commented on #261
There is no problem within Chrome for this.

[2017-02-20 19:08] shu8 commented on #261
@wgrundlingh yeah, that's what it seems, I was hoping to try it out on Safari to see if I could repro it, because it _looks_ like it should be an easy fix...

[2017-02-20 19:09] shu8 commented on #218
@wgrundlingh 😆 no problem! I'll get this one fixed as well soon :)

[2017-02-21 16:35] Sir-Cumference commented on #258
I'll try to take a look at this soon.

[2017-02-22 07:23] fixer1234 commented on #215
@shu8 OK, tried a different machine--Windows instead of Linux, FF 51.01 instead of old FF ESR.  Fresh profile.  Loaded the latest script for the first time (not previously installed).  Same symptoms.  I get the UI (watch buttons, topbar icon), and selecting watch elements acts like it's working.  But no results; no notifications of any changes.  Console output:

[code]

Still getting the Bad Reque

[2017-02-22 07:44] fixer1234 commented on #217
@shu8 OK, the problem has recurred continuously and on multiple platforms (for probably the better part of a week).  Meta count always shows 1 even though it has been 0 for days.  Problem includes platform where I just updated SOX from a version that didn't previously have this feature.  Hard refresh didn't affect it.  The platforms all use some version of Firefox, the bane of your existence.

[2017-02-22 07:46] fixer1234 commented on #194
@shu8 It's been over a month with no hanging, so you might as well close this issue.

[2017-02-22 16:28] #194 closed

[2017-02-22 21:44] Sir-Cumference commented on #258
Okay, I think I've found a fix:

    stickyVoteButtons: function() {
        // Description: For making the vote buttons stick to the screen as you scroll through a post
        //https://github.com/shu8/SE_OptionalFeatures/pull/14:
        //https://github.com/shu8/Stack-Overflow-Optional-Features/issues/28: Thanks @SnoringFrog for fixing this!

        stickcells();
        $(document).on('sox-n

[2017-02-22 22:11] shu8 commented on #258
@Sir-Cumference thanks so much!! I'll try it out and get it pushed ASAP! :)

[2017-02-22 22:15] shu8 commented on #215
@fixer1234 what do you get going on this link: http://api.stackexchange.com/2.2/questions/1181085?site=superuser&filter=!SCam31W85iAdF11znRBpj2qWFPRJV_*8fTZTOPnclcMRL3Dxjmxr-5DJdNc07fPo ?

[2017-02-23 00:16] fixer1234 commented on #215
@shu8
[code]

[2017-02-25 22:09] shu8 commented on #258
@Sir-Cumference I've pushed it in [dev 2.0.24](https://github.com/soscripted/sox/raw/dev/sox.user.js) now :) thanks so much for the fix!! :)

cc/ @wgrundlingh it's fixed!

[2017-02-25 22:09] #258 closed

[2017-02-25 23:00] shu8 commented on #215
@wgrundlingh sorry for the time this is taking! Please could you install [this version](https://github.com/soscripted/sox/raw/dev/editAlert.user.js) and try watching a few posts? *Most* of the extra things should be there now (Q/A indicator, post score, event time, etc..) -- please could you see if it works for you? :)

---

@fixer1234 ok... I have no idea why it seems to work at random times for

[2017-02-25 23:15] fixer1234 commented on #215
@shu8 Just a thought about your assumption that it can't be throttling.  I checked the URL a day after the problem.  Are you sure it couldn't be a case that it was throttled at the time of the problem, and the throttle was lifted by the time I checked the URL?

[2017-02-25 23:17] shu8 commented on #215
Hmm ok, that's fair enough... It could be throttling then. However it still
doesn't explain the URL changing from the script requesting it and the
browser performing it! :/

Can you just keep on checking these bad request URLs please and post both
the URL and the response of any URLs you check? :)

On 25 Feb 2017 23:15, "fixer1234" <notifications@github.com> wrote:

[2017-02-26 00:41] mezmi commented on #215
@shu8 Maybe we should display some sort of notification on screen when requests are being throttled. Or change the COGS icon to red or something.

[2017-02-26 09:43] fixer1234 commented on #215
@shu8 I just reinstalled the script and then refreshed a page.  Nine notifications immediately showed up from many days ago.  I unwatched those watched a few new posts, and additional notifications showed up.

- All edit notifications (and only those), showed up with the thread title as "undefined".

- Roughly 3 new notifications appeared, then additional watched posts with changes didn't result i

[2017-02-26 13:36] shu8 commented on #215
@fixer1234 ARGH I don't know what's wrong :(

You're getting the 9 notifications because the script saves previous ones, so they're always added (or should be)...

By edit notifications, do you mean new comments? Because you don't actually have any 'watched' posts... only comments, and all of those are BAD REQUESTS.

Also, the undefined issue is because the saved notifications are from an older ve

[2017-02-26 19:22] shu8 commented on #218
@wgrundlingh that's been fixed in the latest dev version :)

[2017-02-26 20:52] fixer1234 commented on #215
@shu8 By "edit" notifications, I mean notifications of edits to posts (the ones where the action label is "edit").  All of the edit notifications I referred to were, indeed, old watches.  All of the new notifications were of comments.  I don't recall if any of the notifications that failed to be posted were of things other than comments.

The procedure I used was to remove the old script on the ad

[2017-02-27 05:30] fixer1234 commented on #215
@shu8 OK, I removed the script, restarted FF, and reloaded the script.  None of the old notifications showed up, so it looks like this cleaned out the remnants.

- Edits are now showing up with the thread title instead of "Undefined".  However, the example of an edit notification, as well as notification of a second comment on the same post, both disappeared when the page was refreshed.

   To cla

[2017-02-27 06:40] wgrundlingh commented on #215
I just installed the latest version. Seems like it cleared my previous notifications. Here's what I'm getting in the drop-down dialog... it is looking awesome:

![image](https://cloud.githubusercontent.com/assets/1776164/23351129/2894558a-fc74-11e6-818c-abe0625f6f73.png)

The untitled item points to this duplicate: http://tex.stackexchange.com/questions/355862/i-dont-know-why-does-it-not-work-plot

[2017-02-27 18:37] wgrundlingh commented on #215
Some general feedback:

1. Tracking of State Changes seem to be duplicated (don't know why):

 ![image](https://cloud.githubusercontent.com/assets/1776164/23374195/1160d316-fcd8-11e6-9508-e0e8f0527279.png)

 Perhaps some of this may speak to the throttling...

2. Sort order of the items in the tracked list is not consistent:

 ![image](https://cloud.githubusercontent.com/assets/1776164/23374256/55

[2017-02-27 20:50] shu8 commented on #215
@wgrundlingh @fixer1234 thanks for the feedback, I'll get these issues looked at ASAP :)

[2017-03-01 19:58] Sir-Cumference commented on #258
@shu8 I noticed that my solution made the vote buttons update slower and slower, the longer you wait after loading the page. The lag becomes really noticeable when you wait long enough:

![problem1](https://cloud.githubusercontent.com/assets/5375326/23478331/0cbad150-fe8f-11e6-8fa6-f4cc8900f198.gif)

You can see that the buttons go beyond the post for a split second. The culprit turned out to be t

[2017-03-02 17:44] ooker777 opened #262 "The color of first comment is not black"
![](http://i64.tinypic.com/21l7uw2.png)

I use Windows 7, with latest Firefox. Disabling SOX makes the comment's color be back to normal. I notice that this is universal, every section of comments in every question or answer in every Stack Exchange site has this behavior.

This is first reported in [meta physics](http://meta.physics.stackexchange.com/q/9685/41634)

[2017-03-02 17:47] shu8 commented on #262
Looks like the quick author info feature isn't working properly. Have you
got an access token?

Please could you enable debugging in the dialog and then open the console
and copy and paste the log here? It should tell me what's wrong! :)

On 2 Mar 2017 17:44, "ooker777" <notifications@github.com> wrote:

[2017-03-02 17:53] ooker777 commented on #262
Yes I have the token.

sox.error file:///C:/Users/Acer/AppData/Roaming/Mozilla/Firefox/Profiles/zm6hp19k.default/gm_scripts/Stack_Overflow_Extras_(SOX)/sox.common.js:34:13
	init file:///C:/Users/Acer/AppData/Roaming/Mozilla/Firefox/Profiles/zm6hp19k.default/gm_scripts/Stack_Overflow_Extras_(SOX)/sox.user.js:158:25
	sox.ready/< file:///C:/Users/Acer/AppData/Roaming/Mozilla/Firefox/Profiles/zm6hp19k

[2017-03-02 19:52] Sir-Cumference opened #263 "Self-reply buttons don't work"
### Installed Version: 2.0.24  Environment: Tampermonkey

If you go to a chatroom and hover over your posts, you won't see any reply button.

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-dragBounty","Appearance-fixedTopbar","Appearance-isQuestionHot","Appearance-markEmployees","Appearance-metaChatBlogStackExchangeButton","Appearance-metaNewQuestionAler

[2017-03-03 20:37] shu8 commented on #262
@ooker777 you should just be able to copy from the top left to the bottom... if it's not working, you can just screenshot it :)

[2017-03-03 20:43] shu8 commented on #258
@Sir-Cumference thanks again! I'll get that added in ASAP, it's weird that the mutationobserver did that though, so that might be a bug in the observer itself -- I'll have a look at that as well.

I really appreciate the help! :)

[2017-03-03 22:45] Sir-Cumference commented on #258
@shu8 I can tell you that having anything in a MutationObserver, even console.log(), caused that problem. 😕

[2017-03-04 06:14] wgrundlingh commented on #215
It seems my own comments are being caught by the "check comments" script:

![image](https://cloud.githubusercontent.com/assets/1776164/23576471/20b43818-005b-11e7-9036-94027aaa05b3.png)

I wrote the comment, clicked the "track comments" button and shortly after received a notification.

[2017-03-04 08:06] fixer1234 commented on #215
@wgrundlingh The feature is tracking changes.  I'm not sure that it should ignore your own by default.  It might be a useful option to be able to select ignoring your own changes.  I've always just assumed that your own changes are included and used that as a way to test it.

[2017-03-04 08:13] wgrundlingh commented on #215
@fixer1234 True. However, I clicked the button to track *changes* after I had posted my comment. So, technically, there had been no *change* in the comments.

[2017-03-04 09:04] fixer1234 commented on #215
@wgrundlingh If I understand right, the change doesn't directly trigger the notification.  There is periodic polling to see if there have been changes.  So if you turn on watching after a change and before the polling, it would still be picked up.

[2017-03-04 14:26] shu8 commented on #215
@wgrundlingh @fixer1234 I'm pretty sure that shouldn't happen because it should save the comments already there when you start watching... I'll look into it a bit more

[2017-03-06 09:58] ooker777 commented on #262
Yes, the grey color disappears. Thanks for your input :D

Here's the screenshot anyway:
![](http://i64.tinypic.com/juwk5k.png)

[2017-03-08 10:17] Gloin1313 opened #264 "Show blog posts and "Featured" without "Hot Meta Posts""
A feature request that I would use and enjoy would be to be able to hide "Hot Meta Posts" without missing out on announcements in "Featured" and blog posts in the community bulletin. At the moment there is just a generic "Hide the Community Bulletin module".

Thanks.

[2017-03-09 23:10] Sir-Cumference opened #265 "SO employee symbol is duplicated"
### Installed Version: 2.0.24  Environment: Tampermonkey

If you go to a tag page like [this](https://meta.stackexchange.com/questions/tagged/feature-request?sort=newest), you'll notice that SE employees have an extra symbol below their gravatar:

<img width="743" alt="screen shot 2017-03-09 at 6 10 03 pm" src="https://cloud.githubusercontent.com/assets/5375326/23774816/a2acb5c4-04f3-11e7-82d3-ddf

[2017-03-10 02:27] mezmi commented on #264
Seems reasonable. I'll try getting this into the next release.

[2017-03-10 02:28] mezmi commented on #265
Thanks for reporting this, I'll look into why this is happening. It'll be the weekend before I can get to it though.

[2017-03-11 05:42] fixer1234 commented on #215
@shu8 Any chance my problem would be solved with a token?

[2017-03-12 11:20] shu8 opened #266 "SOX HTTPS issues"
This Meta post [Network-wide HTTPS: It's time](https://meta.stackexchange.com/q/292058/260841) shows that SE are now moving to HTTPS, so we need to make sure no links are HTTP throughout SOX now.

List of things to check (please add some if you can think of any):

- [x] API Requests
- [x]  `@require`d URLs
- [x] image URLs

[2017-03-12 11:32] j-f1 commented on #266
* image URLs

[2017-03-12 13:21] shu8 commented on #266
@j-f1 thanks, I've added that to the list and changed to use task lists :)

[2017-03-15 19:02] Sir-Cumference opened #267 "Meta and chat links don't work"
### Installed Version: 2.0.24  Environment: Tampermonkey

### Current Behaviour
Meta links often send me to meta.tps//[site].stackexchange.com/, while chat links often send me to https://chat.stackexchange.com/?tab=site&host=tps://[site].stackexchange.com/. [site] refers to the website (for example, on Physics SE you'd just replace that with "physics").

I wrote a fix for this:

    metaChatBlogSt

[2017-03-16 02:55] wgrundlingh opened #268 "answerTagsSearch highlights specific tag"
### Installed Version: 2.0.24  Environment: Tampermonkey

### Current Behaviour

A specific tag is highlighted when adding the tag to an *answer search*. Below, the `{debugging}` tag is highlighted on [TeX.SE](http://tex.stackexchange.com):

![image](https://cloud.githubusercontent.com/assets/1776164/23979769/cbe83034-09b8-11e7-825e-fc78836b079d.png)

This is what it looks like on [SO](http://stac

[2017-03-16 03:11] somebody1234 opened #269 "SOX tries to initialize settings dialog in chat"
All features enabled

[2017-03-16 03:12] somebody1234 opened #270 "README's on both branches do not have space between # and heading"

[2017-03-16 03:23] mezmi commented on #270
Fixed. Not sure how we've managed to miss that one.

[2017-03-16 03:23] #270 closed

[2017-03-23 15:56] Sir-Cumference opened #271 "Upvoting comments shifts the text"
### Installed Version: 2.0.24  Environment: Tampermonkey

If you upvote a comment with a score of 0, the text shifts:
![upvote](https://cloud.githubusercontent.com/assets/5375326/24256872/b57927ba-0fbf-11e7-93f3-4b8f0f5dda3f.gif)

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-dragBounty","Appearance-fixedTopbar","Appearance-isQuestionHot","Appearance-ma

[2017-03-23 16:18] Sir-Cumference opened #272 "SE dialog boxes don't open when hovering from SOX dialog boxes"
### Installed Version: 2.0.24  Environment: Tampermonkey

If you click on the SE inbox button for the first time on a page, and then (without closing the dialog) hover over the SE reputation button for the first time, it'll open normally:

![screenflow](https://cloud.githubusercontent.com/assets/5375326/24257677/df5b3328-0fc1-11e7-90dd-6457ee5e708b.gif)

The same works vice versa, and it works fro

[2017-03-23 16:23] Sir-Cumference opened #273 "Add review dropdown menu"
### Installed Version: 2.0.24  Environment: Tampermonkey

Could you add a dropdown menu for the review button, like this [script](https://stackapps.com/questions/4660/review-dropdown-menu)? The script itself is not 100% functional and the writer said he is not actively working on it, so it might be a good addition for SOX.

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotificati

[2017-03-23 16:38] Sir-Cumference opened #274 "For features that have their own settings, the feature after it is disabled on refresh"
### Installed Version: 2.0.24  Environment: Tampermonkey

If you already have "Add how many reviews are available on Meta to the main site review page" enabled, make any changes to your settings, and click "Save Changes", the checkbox for the Meta reviews will disappear:

<img width="547" alt="screen shot 2017-03-23 at 12 34 46 pm" src="https://cloud.githubusercontent.com/assets/5375326/24258763/2

[2017-03-23 20:47] #262 closed

[2017-03-23 20:47] shu8 commented on #267
@Sir-Cumference Sorry for the delay in getting back! Thanks for the fix, I'll get this added in ASAP :)

[2017-03-23 20:48] shu8 commented on #268
@wgrundlingh thanks for the bug report; we've both been really busy recently, but we'll look into this soon! :0

[2017-03-23 20:48] shu8 commented on #269
@somebody1234 thanks for the bug report, we'll get this looked at ASAP :)

[2017-03-23 20:49] shu8 commented on #271
@Sir-Cumference thanks for the bug reports! We'll look into them ASAP! :)

[2017-03-23 21:23] wgrundlingh commented on #268
Hey @shu8, no worries. Your time is appreciated.

[2017-03-24 00:17] Sir-Cumference commented on #267
@shu8 I've fixed a few more bugs after SE upgraded to https:

    metaChatBlogStackExchangeButton: function() {
        // Description: For adding buttons next to sites under the StackExchange button that lead to that site's meta and chat
        // NOTE: this feature used to have a 'blog' button as well, but it wasn't very useful so was removed

        $(document).on('mouseenter', '#your-communi

[2017-03-28 01:58] Sir-Cumference commented on #79
@shu8 Sigh, new problem. If you go to a question on any SE site and zoom in, the logo flickers:

![problem](https://cloud.githubusercontent.com/assets/5375326/24384640/6262f20a-1333-11e7-84a1-e8cbe79065aa.gif)

I think it should be fixed if you replace my solution with `$('#hmenus').css('-webkit-transform', 'translateZ(0)');`. Not actually sure why this works, I just stumbled on it when testing th

[2017-03-29 22:55] Sir-Cumference commented on #218
@shu8 I wrote a solution:

    copyCode: function() {
        // Description: Add a button to code in posts to let you copy it

        //button uses CSS mainly from http://stackoverflow.com/a/30810322/3541881
        function addButton() {
            //https://github.com/soscripted/sox/issues/218#issuecomment-281148327 reason for selector:
            //http://stackoverflow.com/a/11061657/354188

[2017-03-30 01:01] TuggyNE opened #275 "Browser hang/continuous memory leak upon clicking Start Bounty when Make bounty box draggable enabled"
### Installed Version: / Environment
2.0.12 / Pale Moon 25.6.0 x64, Windows 10

### Current Behaviour
Hangs browser with continuously increasing memory and full CPU utilization.

---

### SOX Errors logged to the browser console -- F12 (if available)
None.

---

### Steps to reproduce
1. Open a question that's eligible for a bounty, e.g. https://space.stackexchange.com/questions/20694/how-well-can

[2017-03-30 18:41] shu8 commented on #229
@fixer1234 I've added this in [dev v2.0.25](https://github.com/soscripted/sox/raw/dev/sox.user.js) -- please give it a go! :)

Sorry for how long this took!

[2017-03-30 18:41] #229 closed

[2017-03-30 18:41] shu8 commented on #267
@Sir-Cumference thanks! I've added your fix in [dev 2.0.25](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

Apologies for the delay! :/

[2017-03-30 18:41] #267 closed

[2017-03-30 18:41] shu8 commented on #263
side effect of #269, fixed in [dev 2.0.25](https://github.com/soscripted/sox/raw/dev/sox.user.js).

Sorry for how long this took! :/

[2017-03-30 18:41] #263 closed

[2017-03-30 18:42] shu8 commented on #269
Fixed in [dev 2.0.25](https://github.com/soscripted/sox/raw/dev/sox.user.js). Sorry for the delay!

[2017-03-30 18:42] #269 closed

[2017-03-30 18:43] shu8 commented on #268
@wgrundlingh so, this was because I hadn't put a word boundary around the check that makes meta mod-only tags a different colour (bug, discussion, feature-request, support), and so it highlighted 'debugging' because it has the word 'bug' in it! 😆

Fixed in [dev 2.0.25](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

Thanks for bearing with me! :)

[2017-03-30 18:43] #268 closed

[2017-03-30 18:43] Sir-Cumference commented on #263
@shu8 Hmm...still doesn't seem to work. :/

[2017-03-30 18:44] shu8 commented on #263
@Sir-Cumference The files hadn't pushed yet! sorry -- please could you use that link again and reinstall? :)

[2017-03-30 18:44] Sir-Cumference commented on #263
@shu8 Hmm...still doesn't show up.

[2017-03-30 18:46] shu8 commented on #263
@Sir-Cumference that's weird :/ which chat room are you in?

[2017-03-30 18:47] Sir-Cumference commented on #263
@shu8 Right now I'm in physics:

<img width="1000" alt="screen shot 2017-03-30 at 2 47 10 pm" src="https://cloud.githubusercontent.com/assets/5375326/24520806/c6e4699a-1557-11e7-922b-a707432cd51a.png">

[2017-03-30 18:47] shu8 commented on #275
@TuggyNE hmm, I can't seem to reproduce this -- does it happen on multiple sites or just Space?

[2017-03-30 18:50] shu8 commented on #263
@Sir-Cumference can you open the console and paste anything there here please?

[2017-03-30 18:54] shu8 commented on #274
Seems to be a problem with the per-feature settings -- it happens to "Change highlighting for questions with favourite tags" if you have "fixed topbar" enabled as well -- it looks like the feature underneath the one with the individual settings is deleted :/

Might take a while to find the cause of this! :( Thanks for raising the issue! :)

[2017-03-30 19:08] shu8 commented on #271
@Sir-Cumference This seems to be normal with SOX disabled -- it looks like if there are no comments under that post with upvotes, and you upvote the first one, then then comments shift :/

Can you confirm this is correct? :)

[2017-03-30 19:15] shu8 commented on #265
@Sir-Cumference fixed in [dev 2.0.26](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2017-03-30 19:15] #265 closed

[2017-03-30 19:15] shu8 commented on #218
@Sir-Cumference thanks! It works great!! :)

@wgrundlingh fixed, completely, in [dev 2.0.26](https://github.com/soscripted/sox/raw/dev/sox.user.js), thanks to @Sir-Cumference! :)

[2017-03-30 19:15] #218 closed

[2017-03-30 19:18] shu8 commented on #261
@Gloin1313 I'm sorry, but I couldn't manage to reproduce this :(

As you said though, it's a relatively minor issue, so I'm going to close this, but I'll keep an eye out for that button from now on, just in case I ever spot it!

[2017-03-30 19:18] #261 closed

[2017-03-31 00:45] Sir-Cumference commented on #271
@shu8 Seems right.

[2017-03-31 10:27] shu8 commented on #271
@Sir-Cumference hmmm, you might be able to post this as a bug/feature-request on Meta then? :/

[2017-03-31 10:27] #271 closed

[2017-03-31 12:39] Sir-Cumference commented on #271
@shu8 Yeah, I tried it with SOX disabled on comment that wasn't the first one. It didn't shift, so I assumed it was an SOX bug 😆

[2017-04-01 16:38] darkred opened #276 "No SOX settings button in 2.0.26 dev"
### Installed Version: Environment:

2.0.26 dev
Firefox 52 with Greasemonkey 3.10 and
Chrome 57 with Tampermonkey 4.2.7

### Current Behaviour

The issue occurs in both Firefox and Chrome. (the following are screenshots from Chrome)
The SOX settings button no longer appears:
![2017-04-01_192029](https://cloud.githubusercontent.com/assets/723651/24580400/60c72a20-1710-11e7-8ec8-8fdf17d9f254.jpg)

I

[2017-04-01 17:37] shu8 commented on #276
Thanks for the bug report! Sorry, I completely forgot about the SO new header!

Fixed in [dev 2.0.27](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2017-04-01 17:37] #276 closed

[2017-04-02 22:28] fixer1234 commented on #229
@shu8 Thanks.  I loaded this several days ago but haven't yet come across an example to test it.  I'll confirm when a case shows up.

[2017-04-05 16:53] Gloin1313 commented on #261
It appears to have stopped happening now anyway... only just noticed this! I'll let you know if I see it again, just so you know.

[2017-04-06 18:12] shu8 commented on #266
Done in [dev 2.0.28](https://github.com/soscripted/sox/raw/dev/sox.user.js).

Please comment here if you see any HTTPS warnings in the console! :)

[2017-04-06 18:12] shu8 commented on #274
@Sir-Cumference this *should* be fixed in [dev 2.0.28](https://github.com/soscripted/sox/raw/dev/sox.user.js) now :) Please could you confirm?

[2017-04-06 18:12] #274 closed

[2017-04-07 18:33] Sir-Cumference commented on #274
@shu8 Seems to work!

Also, did you see my post [here](https://github.com/soscripted/sox/issues/79)? :)

[2017-04-07 18:39] shu8 commented on #79
@Sir-Cumference I must have missed this when you posted it!

Thanks for spotting it and fixing it! I'll get this added in ASAP :)

and btw, I find this issue baffling myself as well! random CSS seems to fix it every time 😆

[2017-04-08 11:44] shu8 commented on #273
@Sir-Cumference it looks like this was recently [added to SO with the new header](https://meta.stackoverflow.com/questions/252843/posts-awaiting-review-orange-counter-is-way-off/346653#346653):

![this](https://cloud.githubusercontent.com/assets/8850830/24828612/a8087c66-1c58-11e7-8b31-8336a63ff531.jpg)

and whilst it's only SO right now, I think there's a chance it'll find its way to other sites

[2017-04-08 11:55] Sir-Cumference commented on #273
@shu8 Oh, didn't realize 😆

[2017-04-08 11:57] shu8 commented on #257
@Franck-Dernoncourt I don't think this is needed anymore after [this change](https://meta.stackoverflow.com/questions/252843/posts-awaiting-review-orange-counter-is-way-off/346653#346653):

![this](https://cloud.githubusercontent.com/assets/8850830/24828612/a8087c66-1c58-11e7-8b31-8336a63ff531.jpg)

They've got rid of the number entirely! :)

[2017-04-08 11:57] #257 closed

[2017-04-08 11:59] shu8 commented on #273
@Sir-Cumference 😆 I think it happened literally yesterday, so I don't blame you! :) I'm keeping this open though, because I'm not sure whether the new topbar is planned to be copied to other sites as well! :)

[2017-04-08 12:00] shu8 commented on #79
@Sir-Cumference added in [dev 2.0.29](https://github.com/soscripted/sox/raw/dev/sox.user.js). Thanks again for the fix! :)

[2017-04-08 12:01] shu8 commented on #272
@Sir-Cumference fixed in [dev 2.0.29](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

It's a bit of a hacky fix, so there might be a few bugs that I've introduced. Whilst I couldn't see anything weird happening, I've got a track record of adding in bugs :P so please comment here if anything dodgy happens :)

[2017-04-08 12:01] #272 closed

[2017-04-08 18:54] Franck-Dernoncourt commented on #257
Thanks great anyway on my side I simply hide the review button :)
On Apr 8, 2017 7:57 AM, "ᔕᖺᘎᕊ" <notifications@github.com> wrote:

[2017-04-12 20:32] Sir-Cumference opened #277 "Sticky vote button problems on Stack Overflow"
### Installed Version: 2.0.29  Environment: Tampermonkey

### Current Behaviour

On this [question](https://stackoverflow.com/questions/11227809/why-is-it-faster-to-process-a-sorted-array-than-an-unsorted-array), the post will shift once you scroll down far enough for the buttons to be sticky. This is because it has over 10k upvotes. I can't really fix this without causing the vote buttons to lag

[2017-04-17 06:06] Sir-Cumference commented on #250
@shu8 Hmm...the HNQ symbol doesn't seem to appear on [this](https://english.stackexchange.com/questions/384816/does-have-vs-is-having-questions) question, even though it's on the Hot Network.

[2017-04-17 16:51] shu8 commented on #250
@Sir-Cumference hmmm, it looks like both of those questions were asked very soon after you visited them, and they might not have appeared on the feed that the script uses until a bit later (if they are cached, for example)? Because I can see the HNQ symbol now, but I realised I saw this a bit too late :/

[2017-04-17 17:02] Sir-Cumference commented on #250
@shu8 Yeah, I can see the symbol now.

Also, I haven't found any other cases where the HNQ appears on non-HN questions.

[2017-04-19 15:35] DoS007 opened #278 "Added editor features conflict with firefox's edit link shortcut"
### Installed Version: 2.0.27  Environment: Firefox

### Steps to reproduce
Use Ctrl+L on a superuser.com question while "Add more features to the markdown editor" is enabled. This opens a dialog to insert a link instead of focusing on the address bar (the alternative is F6 which is much slower because of physical distance to the F* Buttons).

The other features of "Add more features to the markdo

[2017-04-23 16:51] mezmi commented on #278
Sorry for the delayed response, yes, we can switch this to a different set of hot keys.

[2017-04-23 20:09] KutuluMike opened #279 "Display review stats as a table displays editor status incorrectly"
### Installed Version: 2.0.29  Environment: Chrome/Tampermonkey

### Current Behaviour

When the setting "Display reviewer stats on /review/suggested-edits in table form" is enabled, the table displays the "Editor stats" incorrectly. With the option off, the page looks like this:

![nosox](https://cloud.githubusercontent.com/assets/15930708/25317052/30a8703e-283f-11e7-94c4-4e8014404fb9.PNG)

When

[2017-04-23 20:53] shu8 commented on #279
@KutuluMike thanks for spotting and reporting this! I can reproduce it and will get it fixed ASAP! :)

[2017-04-23 20:54] shu8 commented on #277
@Sir-Cumference thanks again for the fix! :) We'll get this added in ASAP :)

(sorry for the late reply as well!)

[2017-04-23 20:55] shu8 commented on #250
@Sir-Cumference hmmm, well if that's the case, should I close this issue then? :)

[2017-04-23 21:21] Sir-Cumference commented on #250
@shu8 Well, an unrelated note, the flame icon is offset on English questions:

<img width="1186" alt="screen shot 2017-04-23 at 2 20 14 pm" src="https://cloud.githubusercontent.com/assets/5375326/25317581/24573cac-2830-11e7-836c-0c4b0f761c15.png">

[2017-04-23 21:42] shu8 commented on #250
I'll get that fixed before closing this then! :)

On 23 Apr 2017 22:21, "Sir-Cumference" <notifications@github.com> wrote:

[2017-04-25 00:01] fixer1234 commented on #229
@shu8 Finally came across an example.  Success.

[2017-04-25 03:50] TuggyNE commented on #275
@shu8 Sorry for the late reply. Yes. Meta SE exhibits the same behavior.

[2017-04-25 21:46] fixer1234 opened #280 "View linked images in comments inline: oversized images not resized"
### Installed Version: 2.0.26  Firefox/GreaseMonkey

### Current Behaviour
When oversized linked images are displayed inline in comments, they are not resized to fit in the space (column) reserved for the post, they are rendered at 100% of the image's native pixels.  This also causes the page to treat the comment area as if the image defines the column width for the comment text, as well.

The res

[2017-04-25 22:39] Sir-Cumference commented on #272
@shu8 Well, I found something 😄

If you hover on the SOX settings button and then hover on the Stack Exchange button (without hovering on the inbox or rep buttons), nothing below "More Stack Exchange Communities" will load:

<img width="716" alt="screen shot 2017-04-25 at 6 36 12 pm copy" src="https://cloud.githubusercontent.com/assets/5375326/25410674/393713ce-29e6-11e7-9817-249a44316380.png">

E

[2017-04-29 11:12] wgrundlingh opened #281 "Duplicate closures and edit expansion"
### Installed Version: 2.0.29  Environment: Tampermonkey

### Current Behaviour

Only one entry of a  multi-duplicate question shows that it is expandable:

![image](https://cloud.githubusercontent.com/assets/1776164/25554965/74756f1a-2c90-11e7-8e48-867fa61a0045.png)

Source: [LaTeX table cell with a diagonal line and 2 sub cells](https://tex.stackexchange.com/q/27193/5764)

Also, the "edit" optio

[2017-04-29 19:39] shu8 commented on #280
hmm doesn't happen in Chrome, must be a FF thing (again 😢 )

I'll try it out in FF ASAP :)

[2017-05-02 17:39] Sir-Cumference commented on #267
@shu8 Sigh, SE just changed the link for Area 51 Discussions. That causes a few conflicts. Here's the fixed code:

    metaChatBlogStackExchangeButton: function() {
        // Description: For adding buttons next to sites under the StackExchange button that lead to that site's meta and chat
        // NOTE: this feature used to have a 'blog' button as well, but it wasn't very useful so was removed

[2017-05-16 21:21] Sir-Cumference opened #282 "Move "question eligible for bounty in x hours" link to before the comments"
### Installed Version: 2.0.29  Environment: Tampermonkey

Small request, but if "Move the 'start a bounty' link to before the comments" is enabled, could you also move the "question eligible for bounty in x hours" link for consistency?

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-dragBounty","Appearance-fixedTopbar","Appearance-isQuestionHot","Appeara

[2017-05-17 18:52] Sir-Cumference opened #283 "Suggestions/bugs for "Color answerer's comments""
### Installed Version: 2.0.29  Environment: Tampermonkey

I have two suggestions for the "Color answerer's comments" feature. First, could you add `padding: 1px 5px` to the CSS for those comments, in order to make it look more like the OP's comments? Second, could you change the orange color to something a little lighter and less flashy, like `#f9e2b6`? :)

The end result would look like this:

<i

[2017-05-17 18:57] Sir-Cumference opened #284 "Make SO employee icon act like the moderator icon"
### Installed Version: 2.0.29  Environment: Tampermonkey

Currently, the "Add the SO logo after employee names to make them stand out" option appends an employee icon to the name of the employee. However, unlike the moderator icon, the SO logo can be clicked, has a slightly different color and will be highlighted in the comments of an employee's question:

<img width="674" alt="screen shot 2017-05

[2017-05-17 19:13] shu8 commented on #284
Thanks for these 2 issues :)

We're both extremely busy at the moment with various things, so these might take a few weeks to get done :(

But thanks for raising the issues and we'll get them done ASAP :)

On 17 May 2017 at 19:57, Sir-Cumference <notifications@github.com<mailto:notifications@github.com>> wrote:
Installed Version: 2.0.29 Environment: Tampermonkey

Currently, the "Add the SO logo af

[2017-05-17 19:20] Sir-Cumference commented on #284
@shu8 No problem, take your time. I'll try and work on these to save you the trouble :)

[2017-05-20 15:32] Franck-Dernoncourt opened #285 "Feature suggestion: adding mirror links"
Overtime, many links get broken (e.g., for stack overflow, [10% of the links posted here are dead. How do we deal with them?](https://meta.stackoverflow.com/q/300916/395857)).

Feature suggestion: have an option to automatically add mirror links to the question/answer/comment being edited.

Example: https://fitness.stackexchange.com/review/suggested-edits/17937

![image](https://cloud.githubuserco

[2017-05-23 17:57] Sir-Cumference commented on #283
Solved :)

    colorAnswerer: function() {
        // Description: For highlighting the names of answerers on comments

        function colour() {
            $('.answercell').each(function(i, obj) {
                var x = $(this).find('.user-details a').last().text();
                $(this).parent().next().find('.comment-user').each(function() {
                    if ($(this).text() == x) {

[2017-05-23 18:50] shu8 commented on #283
thanks soooo much!!! :)

I'll try and get this added in ASAP!! :)

On 23 May 2017 at 18:57, Sir-Cumference <notifications@github.com<mailto:notifications@github.com>> wrote:

Solved :)

colorAnswerer: function() {
    // Description: For highlighting the names of answerers on comments

    function colour() {
        $('.answercell').each(function(i, obj) {
            var x = $(this).find('.user-

[2017-05-24 04:58] ooker777 opened #286 "`[postname[([postname](url))` instead of `[postname](url)`"
### Installed Version: 2.0.29  Environment: Firefox
I have two machines, one is Linux Mint 17, and one is Windows 7, both have this problem.

### Current Behaviour

`[What is the mintSources error when installing PPA?]([What is the mintSources error when installing PPA?](https://unix.stackexchange.com/q/366701/60602))`

### SOX Errors logged to the browser console -- F12 (if available)

This is th

[2017-05-24 18:27] Sir-Cumference commented on #282
@shu8 Done 👍

    moveBounty: function() {
        // Description: For moving bounty to the top

        $('.bounty-notification').insertAfter('.question .fw'); //$('.bounty-notification').length condition isn't necessary; this line will run only if the element exists
        $("[id='bounty-link bounty']").closest('tr').insertAfter('.question .fw');
    },

[2017-05-24 20:09] shu8 commented on #282
Thanks again!! I'll get it in soon! :)

On 24 May 2017 19:27, "Sir-Cumference" <notifications@github.com> wrote:

[2017-05-25 19:09] shu8 commented on #283
@Sir-Cumference thanks for bearing with me! Done in [dev 2.0.30](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2017-05-25 19:09] #283 closed

[2017-05-25 19:10] shu8 commented on #282
Thanks @Sir-Cumference. Added in [dev 2.0.30](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-05-25 19:10] #282 closed

[2017-05-25 19:10] shu8 commented on #284
@Sir-Cumference finally done! in [dev 2.0.30](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-05-25 19:10] #284 closed

[2017-05-25 19:10] shu8 commented on #278
@DoS007 sorry for how long this took, but I've changed the hotkey to Ctrl Alt L as you suggested in [dev 2.0.30](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

Hope it works for you now! :)

[2017-05-25 19:10] #278 closed

[2017-05-25 19:10] shu8 commented on #279
@KutuluMike sorry this took soooo long, but I've fixed it in [dev 2.0.30](https://github.com/soscripted/sox/raw/dev/sox.user.js) now! :)

[2017-05-25 19:10] #279 closed

[2017-05-25 19:10] shu8 commented on #281
@wgrundlingh I've (finally!) fixed the first issue you mentioned in [dev 2.0.30](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

But I don't see an edit option on the duplicate entries :/ how do you get that option? :)

[2017-05-25 19:12] shu8 commented on #275
@TuggyNE Sorry I took so long to respond! Can you try installing [dev 2.0.30](https://github.com/soscripted/sox/raw/dev/sox.user.js) and see if it fixes it? I still haven't managed to reproduce it unfortunately, but this update might fix it :)

[2017-05-25 19:26] wgrundlingh commented on #281
@shu8 This was implemented for mods and gold badge holders in the question tags. So you'll only see it in some questions - those you have the dupe-hammer capacity.

See [Gold tag-badge holders and moderators can now edit duplicate links](https://meta.stackexchange.com/q/291824/168244).

[2017-05-25 19:34] shu8 commented on #277
@Sir-Cumference done in [dev 2.0.31](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

(sorry this took sooooo long!)

[2017-05-25 19:34] #277 closed

[2017-05-25 19:34] shu8 commented on #264
@Gloin1313 I've added the feature "Hide just the 'Hot Meta Posts' sections in the Community Bulletin" in [dev 2.0.31](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :) sorry for the delay!

[2017-05-25 19:34] #264 closed

[2017-05-25 19:35] shu8 commented on #281
@wgrundlingh that's annoying, I don't have any gold badges! :(

Would it be possible for you to right click on the edit link, click 'inspect element', and screenshot the window that pops up for me so I can try and fix it? :)

[2017-05-25 20:13] fixer1234 commented on #280
@shu8 I'm still on 2.0.26 (the version reported here).  Is there a newer version (and if so, a simple way to trigger an update)?

[2017-05-25 20:49] shu8 commented on #280
@fixer1234 try [dev 2.0.31](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-05-25 20:50] Gloin1313 commented on #264
Thanks so much! This is perfect!

[2017-05-25 21:28] fixer1234 commented on #280
@shu8 It's the same on 2.0.31.

[2017-05-25 21:36] shu8 commented on #280
Hmmm that's really weird :/ do you have any accessibility extensions
installed by any chance? :)

On 25 May 2017 22:28, "fixer1234" <notifications@github.com> wrote:

[2017-05-25 21:43] fixer1234 commented on #280
@shu8 none of those.

[2017-05-26 00:21] wgrundlingh commented on #281
@shu8 Would this suffice?

![image](https://cloud.githubusercontent.com/assets/1776164/26475755/8ea6a730-416e-11e7-8931-2dce0c8e4b32.png)

[2017-05-26 05:47] fixer1234 commented on #280
@shu8 I cranked up another system that still had 2.0.11 on it.  No issue on that one.  I updated to 2.0.31.  Still no issue.  That system has a pretty recent Firefox (53.0.3).  The one with the problem is an ESR version (I'll check the version and update this), but it's many generations of FF older (maybe 45).  So it's possible that it's related to the Firefox version.  I'll retest with another OS

[2017-05-26 15:34] shu8 commented on #281
thanks, that's perfect! :) I'll get it fixed soon :)

[2017-05-26 15:36] shu8 commented on #280
hmmm it must have been a bug in that version of FF not respecting the max width css then :/ I'm glad it's fixed though :) thanks for checking it again!

[2017-05-26 15:37] #280 closed

[2017-05-26 15:54] shu8 commented on #267
@Sir-Cumference finally added this in in [dev 2.0.32](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :) Sorry for the delay again :/

[2017-05-26 15:54] shu8 commented on #250
@Sir-Cumference I've fixed the English Language issue in [dev 2.0.32](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2017-05-26 15:54] #250 closed

[2017-05-26 15:55] shu8 commented on #281
@wgrundlingh Thanks, that's perfect! :)

Please could you see if this is fixed for you in [dev 2.0.32](https://github.com/soscripted/sox/raw/dev/sox.user.js)? :)

[2017-05-26 15:59] wgrundlingh commented on #281
Works like a charm on both accounts!

![image](https://cloud.githubusercontent.com/assets/1776164/26502410/9aff31f4-41f1-11e7-8ec3-04fd2eb924e4.png)

![image](https://cloud.githubusercontent.com/assets/1776164/26502376/77a9b1e8-41f1-11e7-96b0-e00b847b291d.png)

[2017-05-26 15:59] #281 closed

[2017-05-26 16:03] shu8 commented on #285
@Franck-Dernoncourt thank for the suggestion, but it seems like a helpful feature to have on all sites, so you might be better off installing extensions like [Dead Link](https://chrome.google.com/webstore/detail/dead-link/cbhijdjkncfjjiodgafikkafnnmicnna) or [Wayback Machine](https://chrome.google.com/webstore/detail/wayback-machine/fpnmgdkabkmnadcjpehmlllkndpkmiak) that will let you easily get ar

[2017-05-26 16:50] mezmi commented on #282
@Sir-Cumference I've added you as a collaborator so you can push updates. Thank you for all the help.

[2017-05-26 18:44] ooker777 commented on #286
No, it happens on all sites and all questions in my computer. Here is what is shown on the dev tool:

[code]

[2017-05-26 18:48] Sir-Cumference commented on #282
@mezmi No problem :)

[2017-05-28 14:13] Gloin1313 opened #287 "Bug: "Hide just the 'Hot Meta Posts' sections in the Community Bulletin" not always working"
### Installed Version: 2.0.31  Environment: Safari/Tampermonkey

### Current Behaviour
In #264 "Hide just the 'Hot Meta Posts' sections in the Community Bulletin" was added, but it doesn't always work correctly. Currently there are no featured blog posts in the Community Bulletin, and SOX is only removing one of the "Hot on Meta" posts, and grouping the rest together with "Featured on Meta".

With

[2017-05-28 14:55] shu8 commented on #287
Thanks for the bug report, I'll get this fixed as soon as I can :) I must
have missed this when I added the feature! :/

On 28 May 2017 15:13, "Gloin1313" <notifications@github.com> wrote:

[2017-05-29 16:07] shu8 commented on #287
@Gloin1313 Fixed in [dev 2.0.33](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-05-29 16:07] #287 closed

[2017-05-29 16:08] shu8 commented on #286
@ooker777 I've made a small change to the feature in [dev 2.0.33](https://github.com/soscripted/sox/raw/dev/sox.user.js) which might fix this for you.. please could you install this version and see if it still happens? :)

[2017-05-29 16:10] Gloin1313 commented on #287
Thank you, this works fine now

[2017-05-29 17:16] wgrundlingh opened #288 "Incorrect author associated with comment"
### Installed Version: 2.0.29  Environment: Tampermonkey

### Current Behaviour

Incorrect author associated with comment:

![image](https://cloud.githubusercontent.com/assets/1776164/26557620/ac8f0468-4457-11e7-98d8-559e8f152004.png)

Wondering if anyone can reproduce this...? It seems to be only the latest comment. haven't done any other testing, unfortunately.

---

### SOX Errors logged to the

[2017-05-29 17:33] shu8 commented on #288
@wgrundlingh hmm I can't reproduce this. Please could you see what the user ID for the user called egreg and the Joris Meys in the screenshot you posted? if they turn out to be the same ID then it's probably because the script is getting the username from a different ID site and it's getting confused.

[2017-05-29 17:47] wgrundlingh commented on #288
@shu8 They are different users with completely different user IDs: [Joris Meys](https://tex.stackexchange.com/users/1463/joris-meys) and [egreg](https://tex.stackexchange.com/users/4427/egreg). However, my inbox doesn't always show the user name added to the comment. Not sure why that's the case. I'm trying different scenarios to recreate/replicate the behaviour.

![image](https://cloud.githubuser

[2017-05-29 17:53] shu8 commented on #288
@wgrundlingh i have a feeling you've been throttled now because you were probably opening the inbox a lot in a very short period of time which the API wouldn't have liked :/ please could you check the console to see if there are any error messages in it? :)

[2017-05-29 18:04] wgrundlingh commented on #288
@shu8 Indeed being throttled. I should look at the console more often. :-|

![image](https://cloud.githubusercontent.com/assets/1776164/26558461/cc4026ce-445d-11e7-97ec-2ca232227b72.png)

One thing I noticed: The script seems to (attempt to) grab the comment authors when you click on the inbox *and* when it's closed. Is this necessary? Either when you click the inbox and then click it again to clo

[2017-05-30 20:38] Sir-Cumference commented on #282
@mezmi Quick question. From now on, should I update the code directly if I fix a bug, or create a pull request?

[2017-05-30 20:42] shu8 commented on #282
You can update the code directly! :)

Thanks for all the help you're giving us! :)

On 30 May 2017 21:38, "Sir-Cumference" <notifications@github.com> wrote:

@mezmi <https://github.com/mezmi> Quick question. From now on, should I
update the code directly if I fix a bug, or create a pull request?

—
You are receiving this because you modified the open/close state.

Reply to this email directly, vie

[2017-05-30 20:48] Sir-Cumference commented on #282
@shu8 Right. Thanks :)

Admittedly, I really don't have much experience with Github, so I'll have to get used to it :/

[2017-05-30 21:06] shu8 commented on #282
No problem! :) If you get stuck you can ask either of us or just submit a
pull request and we'll merge it :)

We really appreciate your help :)

On 30 May 2017 21:48, "Sir-Cumference" <notifications@github.com> wrote:

[2017-05-31 11:54] ooker777 commented on #286
It worsens the problem :(

#Sharing link of question:
`[How to use string.replace() in python 3.x]([How to use string.replace() in python 3.x]([How to use string.replace() in python 3.x]([How to use string.replace() in python 3.x]([How to use string.replace() in python 3.x]([How to use string.replace() in python 3.x]([How to use string.replace() in python 3.x]([How to use string.replace() in pytho

[2017-05-31 16:44] Sir-Cumference opened #290 "Suggestion for "Show when the post's author was last seen and whether they are registered""
Just wondering what you thought of this. I tried making the "last seen" text resemble the rest of the user's info:

<img width="200" alt="screen shot 2017-05-31 at 11 10 53 am" src="https://cloud.githubusercontent.com/assets/5375326/26642259/248676aa-45fb-11e7-8450-ff6ebf04683b.png">

You can see that the text's color now matches the rest of the info, it's a bit smaller, and it's shifted a bit. Sh

[2017-05-31 16:50] j-f1 commented on #290
What about putting it between the user info and the timestamp?

[2017-05-31 16:53] Sir-Cumference commented on #290
@j-f1 Hmm...maybe it's just me, but this:
<img width="200" alt="screen shot 2017-05-31 at 12 52 19 pm" src="https://cloud.githubusercontent.com/assets/5375326/26643666/1135bd54-4600-11e7-81a4-05bddbbb0776.png">
seems a bit awkward, imo. 😕

[2017-05-31 16:56] j-f1 commented on #290
Also, maybe it should only show if the user is unregistered: most are registered, and it’s pretty easy to tell if someone’s a moderator.

[2017-05-31 17:34] shu8 commented on #290
@Sir-Cumference it looks good! :)

@j-f1 I think that sounds reasonable -- we could make it only show 'unregistered'?

[2017-05-31 17:36] shu8 commented on #286
@ooker777 no worries, glad it's working now.

I can reproduce the issue with this specific question and I'm working on a fix :)

[2017-05-31 17:44] shu8 commented on #288
@wgrundlingh hmm you're right it does. I think I originally did that because I wanted to make sure it caught any *new* notifications without a page refresh, but the solution I've done is definitely not ideal.

Thanks for bringing it up, it needs to be fixed!

Is the wrong author still being added? :)

[2017-05-31 17:52] shu8 commented on #286
@ooker777 fixed in [dev 2.0.34](https://github.com/soscripted/sox/raw/dev/sox.user.js) (I think!) Please could you install it and check :)

[2017-05-31 18:17] wgrundlingh commented on #288
@shu8 At the moment, the incorrect author display is on-and-off. Having tagged this thread with **confirmed**, are you able to confirm this?

[2017-05-31 18:37] Sir-Cumference commented on #290
@shu8 @j-f1 Done. It's a bit hacky, but it should work :)

[2017-05-31 18:37] #290 closed

[2017-05-31 18:57] shu8 commented on #288
@wgrundlingh I haven't reproduced it, I added 'confirmed' for the fact that the script fetches the info too much :/

I'll add some console debugging in for you soon though so I can figure this out! :)

[2017-05-31 19:35] shu8 commented on #288
@wgrundlingh I've added some debugging in for you in [dev 2.0.36](https://github.com/soscripted/sox/raw/dev/sox.user.js).

Please can you install this version and then enable debugging from bottom of the settings dialog and paste the console contents here? And please could you also screenshot your inbox so I can see how the console log relates to the actual inbox (you can blur out the messages if

[2017-05-31 21:34] wgrundlingh commented on #288
@shu8 I install dev 2.0.36; don't know whether the below information is sufficient.

Image of inbox/comment ([egreg](https://tex.stackexchange.com/users/4427/egreg) is user 4427; [Joris Meys](https://tex.stackexchange.com/users/1463/joris-meys) is user 1463):

![image](https://cloud.githubusercontent.com/assets/1776164/26655051/eee34326-460d-11e7-94f3-006c8ae2ebd1.png)

Here is the console:

[code

[2017-06-01 20:25] wgrundlingh opened #292 "Feature request: Optional [] conversion to ()"
### Installed Version: 2.0.36  Environment: Tampermonkey

### Current Behaviour

It seems that, by default, `[` and `]` are switched to `(` and `)` as part of the "share" button. Can this be turned into an *option* rather?

![image](https://cloud.githubusercontent.com/assets/1776164/26698971/e4c3dad0-46cc-11e7-8cc6-8a8487da8155.png)

Reference: [Why is \( ... \) preferable to $$ ... $$?](https://t

[2017-06-01 20:27] j-f1 commented on #292
It should probably escape `\[` to `\\\[`.

[2017-06-01 22:04] wgrundlingh commented on #292
@j-f1 I usually escape the code-related content in a title using backticks, so changing `\[` to `\\\[` wouldn't help *me*. Not sure whether I'm just a special case in my usage. Don't think so though.

[2017-06-01 22:06] j-f1 commented on #292
[code]
renders as:

[2017-06-03 12:03] ooker777 commented on #286
Thanks, it works. What happened?

[2017-06-05 16:31] Sir-Cumference opened #293 "Regional (or 12-hour) timestamps"
I wrote a [script](https://stackapps.com/questions/7379/regional-12-hour-timestamps) that displays timestamps based on your timezone, in 12-hour format. It's based on [another script](https://stackapps.com/questions/2528/display-absolute-timestamps-in-local-time), so if it's OK with you, I could ask him for permission and then implement it.

I've already written the code to implement it into SOX,

[2017-06-05 19:41] shu8 commented on #286
@ooker777 the 'fix' that I did before didn't really work most of the time! I ended up just reverting the changes and going back to the original 😆

[2017-06-05 19:41] #286 closed

[2017-06-05 19:42] shu8 commented on #293
@Sir-Cumference looks really good! If the author gives permission, let's add it! :)

[2017-06-05 19:45] shu8 commented on #288
@wgrundlingh sorry for taking a while to respond!

It looks like a recent Chrome update disabled full console debugging :(

Please could you change the debugging level to 'Verbose'? (there's an option of 'info', 'warnings', or 'errors' otherwise) :)

[2017-06-05 19:47] shu8 commented on #292
This sounds reasonable; I'll look into it ASAP and if there's no real reason it's doing what it is, I can get this done :)

[2017-06-05 19:56] ooker777 commented on #286
Thanks for your work 😁. Btw, this bug also appears in the wiki 😉

[2017-06-05 21:07] Sir-Cumference commented on #293
@shu8 He said "no problem". We should probably credit him in the changelog for writing a good chunk of it, since he says "Do whatever you want, as long as you don't sell it or claim you wrote it." in his license.

[2017-06-05 21:22] Sir-Cumference commented on #293
@shu8 Added to [dev 2.0.37](https://github.com/soscripted/sox/raw/dev/sox.user.js) 👍

[2017-06-05 21:22] #293 closed

[2017-07-29 15:49] SathyaBhat commented on #266
On questions which have been edited, https/mixed mode errors are still shown

Ex URL: https://superuser.com/questions/1235710/access-crontab-process-in-a-terminal-using-ssh

I guess it comes from here https://github.com/soscripted/sox/blob/master/sox.features.js#L1034

[2017-07-29 15:53] SathyaBhat opened #294 "Autocorrect incorrectly removes extensions"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

Clicking the "Autocorrect" option incorrectly removes the extensions from text - ie, for ex `.log` becomes `. og` . Have a look at this revision

https://superuser.com/posts/1235710/revisions

Ideally it should ignore whatever is in codeblock completely.

There's a much better autocorrect/edit project by @astrocb ( htt

[2017-08-01 12:00] shu8 commented on #266
@SathyaBhat Thanks for bringing that up! I'm away for a few weeks but I'll get this fixed ASAP! :)

[2017-08-01 12:01] shu8 commented on #294
@SathyaBhat Thanks! I'll see if I can get this fixed when I get back after a few weeks :) and I'll look into that toolkit too! :)

[2017-08-15 20:56] ooker777 opened #295 "[title](linklink)"
### Installed Version: 2.0.36  Environment: undefined

### Current Behaviour
`[How can I protect my eyesight when using computers?](https://health.stackexchange.comhttps://health.stackexchange.com/q/52/99)`

### SOX Errors logged to the browser console -- F12 (if available)
[code]

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-alignBadgesByClass","Appearance

[2017-08-20 10:43] ooker777 opened #296 "Feature request: custom magic links available on posts"
Most of the time, when I go to a child meta site to ask if a question is on-topic on it or not, I usually need to manually go to its help section to link the "What topics can I ask about here?" page. There are [magic links](https://meta.stackexchange.com/a/94000/260800), but they only work in comments, except `[tag:tag-name]` and `[meta-tag:tag-name]`.

Would it be possible to make them available

[2017-08-25 19:56] shu8 commented on #295
@ooker777 thanks for the bug report, I'll get this fixed ASAP! :)

(sorry for the delay in replying! :/ )

[2017-08-25 19:57] shu8 commented on #296
@ooker777 this is an interesting suggestion! I'll look into whether the way I'm doing it right now will be easy to modify to work in posts and if it is, I'll get it done in this version :)

[2017-09-01 07:36] codygray opened #297 "Add option to allow side-by-side editor to be enabled by default"
### Installed Version: 2.0.38  Environment: Tampermonkey

### Current Behaviour

When you wish to use the side-by-side editing mode, you must click the "Toggle SBS?" link in the editor toolbar. This setting is not remembered, and you must do so each time you enter the post editor.

### Desired Behaviour

The user should be able to configure (as part of the features) whether she wants the side-by-s

[2017-09-01 14:23] shu8 commented on #297
@codygray thanks, this sounds like a reasonable suggestion, I'll try getting this added in ASAP! :)

[2017-09-08 18:47] Sir-Cumference commented on #250
@shu8 Ah, I've figured out why this first issue happened. The [list](https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20json%20where%20url%3D%22http%3A%2F%2Fstackexchange.com%2Fhot-questions-for-mobile%22&format=json) for HNQs actually changes almost every time I reload it. It seems to switch some questions out for others randomly.

Doesn't look like much can be done about that. :/

[2017-09-09 16:38] DavidPostill opened #300 "Feature loading errors"
### Installed Version: 2.0.38

Windows 7 Home Premium 64 bit, Firefox 55.0.3

---

### SOX Errors logged to the browser console -- F12 (if available)

SOX:  There was an error loading the feature "Editing-downvotedPostsEditAlert". Please raise an issue on GitHub, and copy the following error log:
ReferenceError: siteCodes is not defined

SOX:  There was an error loading the feature "Extras-openLin

[2017-09-10 14:24] shu8 commented on #295
@ooker777 I only just got round to looking at this, and I can't seem to reproduce the issue -- does this still happen for you? :)

[2017-09-10 14:38] #275 closed

[2017-09-10 14:40] shu8 commented on #292
@wgrundlingh [dev 2.0.39](https://github.com/soscripted/sox/raw/dev/sox.user.js) doesn't replace them anymore :)

[2017-09-10 14:40] #292 closed

[2017-09-10 14:40] shu8 commented on #266
@SathyaBhat should be fixed in [dev 2.0.39](https://github.com/soscripted/sox/raw/dev/sox.user.js) :) sorry for the delay!

[2017-09-10 14:40] #266 closed

[2017-09-10 14:40] shu8 commented on #300
@DavidPostill should be fixed in [dev 2.0.39](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2017-09-10 14:40] #300 closed

[2017-09-10 14:41] shu8 commented on #297
@codygray added an option in the dialog in [dev 2.0.39](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2017-09-10 14:41] #297 closed

[2017-09-10 14:42] shu8 commented on #288
@wgrundlingh does this still happen? Sorry for the inactivity these past few months :/

[2017-09-10 16:20] shu8 commented on #236
@wgrundlingh looking back at this again, it doesn't seem like we'll be able to get this done very effectively  in SOX as it is a userscript :/

I would suggest installing AdBlock if you don't already have it because it's really good at making ads disappear quickly, much quicker than a userscript will be able to do!

Sorry about this :(

[2017-09-10 16:20] #236 closed

[2017-09-10 16:29] SathyaBhat commented on #266
No problem. thanks for fixing

[2017-09-13 00:47] wgrundlingh commented on #288
@shu8 Not that I can see. We can close it in the meantime, until it pops up again... *if* it pops up again.

[2017-09-13 00:47] #288 closed

[2017-09-15 11:29] codygray commented on #273
Yes, a variant of the new topbar is coming to all Stack Exchange sites:

https://meta.stackexchange.com/questions/300829/new-top-bar-is-coming-to-the-stack-exchange-network

It **will include** a drop-down menu for /review, just like Stack Overflow does. (Confirmed in private discussions with the team, plus it's pretty obvious from the screenshots in the linked Meta post.)

So, this feature-reques

[2017-09-15 16:43] shu8 commented on #273
@codygray thanks for showing us this!! I'll close this now :)

[2017-09-15 16:43] #273 closed

[2017-09-15 18:30] #285 closed

[2017-09-16 18:57] shu8 commented on #256
fixed for SO and metaNewQuestionAlert in version 2.0.40.

yet to fix downvotedPostsEditAlert and both will probably need tweaking after Monday when the new topbar is pushed to Meta and Mods before going out to all sites...

[2017-09-23 03:14] Franck-Dernoncourt commented on #295
I use V2.0.38 and  it works well on my side. I use this feature several times per day on average, it's very convenient :-)

[2017-09-25 18:58] ooker777 commented on #295
This bug has disappeared. Thanks

[2017-09-25 19:54] rifuso opened #301 ""Window that has been opened for you to receive your access token" Doesn't exist"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey

Safari Version 11.0 (12604.1.38.1.7) / Tampermonkey

### Current Behaviour

To complete the SOX installation please follow the instructions in the window that has been opened for you to receive your access token.

This message keeps popping up even though there is no window that has been opened and no apparent "access token"

---

###

[2017-10-07 18:03] Sir-Cumference commented on #293
@shu8 Just wanted to apologize for being inactive for so long. College is incredibly time consuming 😩, but I'll try and work on it when I can.

[2017-10-07 18:08] shu8 commented on #293
Don't worry about it! I'm in exactly the same boat 😂 this is just a side
project so it's fine! :)

On 7 Oct 2017 19:03, "Sir-Cumference" <notifications@github.com> wrote:

[2017-10-24 23:43] wgrundlingh opened #302 "New top bar covers review buttons when sticky"
### Installed Version: 2.0.40  Environment: Tampermonkey

### Current Behaviour

The height of the new top navigation bar is not taken into account when made sticky and scrolling down through the page. It's best observed when scrolling through a review item:

![tex-se](https://user-images.githubusercontent.com/1776164/31973286-f62db604-b8d9-11e7-91de-ae5a3b4e73dd.gif)

---

### SOX Errors logged t

[2017-10-24 23:46] wgrundlingh opened #303 "Unable to change SOX settings"
### Installed Version: 2.0.40  Environment: Tampermonkey

### Current Behaviour

There used to be a small cog where one could change the SOX settings. This is not visible in the new top bar navigation.

---

### SOX Errors logged to the browser console -- F12 (if available)

---

### Steps to reproduce

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-answ

[2017-10-25 20:02] AdrianTP commented on #303
Not sure if this is related, but none of the SOX features seem to work at all, despite Tampermonkey insisting that the userscript is running.

`VM504:3934 Uncaught SOX: There was an error while attempting to initialize the SOX Settings Dialog, please report this on GitHub.
TypeError: Cannot read property 'left' of undefined`

[2017-10-25 20:21] shu8 commented on #303
Thanks guys, I'm aware of this and will fix as soon as I get some time!
I've been really busy recently unfortunately :(( sorry for how long this is
taking!

On 25 Oct 2017 21:02, "Adrian Thomas-Prestemon" <notifications@github.com>
wrote:

[2017-10-27 16:30] Sir-Cumference commented on #302
@wgrundlingh Hopefully fixed in [dev 2.0.39](https://github.com/soscripted/sox/raw/dev/sox.user.js). I'm a bit worried about Stack Overflow and Ask Ubuntu, since those have different headers and I don't have enough rep to check. :/

[2018-01-04 07:06] Franck-Dernoncourt commented on #303
Note that http://area51.stackexchange.com/ still has the old bar, which is handy to change the settings  through the small cog.

[2018-01-22 09:23] ooker777 opened #304 "SOX does not activate"
### Installed Version: 2.0.44 Environment: Firefox 56/Greasemonkey 4.1

### Current Behaviour

It's completely unactivated on any Stack Exchange site

### SOX Errors logged to the browser console -- F12 (if available)
[code]
---

### Steps to reproduce
It used to miss the setting icon after the new topbar, but now it's completely gone.

[2018-02-24 20:20] shu8 commented on #304
@ooker777 sorry for the delay, but could you try installing the latest dev version to see if this still occurs?

https://github.com/soscripted/sox/raw/dev/sox.user.js

[2018-02-24 20:21] shu8 commented on #303
@Franck-Dernoncourt @AdrianTP @wgrundlingh sorry for the incredibly late response, i've been really busy. this is fixed in the latest dev version.

https://github.com/soscripted/sox/raw/dev/sox.user.js

[2018-02-24 20:21] #303 closed

[2018-02-24 20:22] shu8 commented on #301
@rifuso sorry for the really late response, however if you're still interested, please try installing the latest dev version and see if it works for you? unfortunately I don't have access to safari atm, but hopefully it'll work!

https://github.com/soscripted/sox/raw/dev/sox.user.js

[2018-02-24 20:23] #295 closed

[2018-02-24 20:27] shu8 commented on #215
@wgrundlingh @fixer1234 i've been really busy this last year, and it's only going to get busier from here, so I'm going to have to abandon this feature :(

Sorry but maybe one day I'll (or someone else!) will be able to make a full on extension to do this!

the previous feature for simple edit notifications on downvote will remain.

To anyone who sees this, my last efforts are at [this gist](https

[2018-02-24 20:27] #215 closed

[2018-02-24 20:32] shu8 commented on #302
This should be fixed in the latest dev version (2.0.45)
https://github.com/soscripted/sox/raw/dev/sox.user.js

[2018-02-24 20:32] #302 closed

[2018-02-24 20:32] DavidPostill commented on #303
Excellent. Working for me :)

[2018-02-24 20:33] shu8 commented on #303
@DavidPostill great!! thanks for sticking with it whilst I've not been working on it!

[2018-02-24 20:38] #304 closed

[2018-02-24 20:46] DavidPostill opened #305 "Add reply links to comments is broken"
### Installed Version: 2.0.45  Environment: Violentmonkey, Windows 7 Home Premium 64 bit, Firefox 58.0.2

When enabled:

![screenshot - 24_02_2018 20_45_00](https://user-images.githubusercontent.com/7079224/36634892-b7bf8228-19a3-11e8-9b2d-04b1ee1f0bbd.png)
---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-alignBadgesByClass","Appearance-answerTagsSearch","

[2018-02-24 20:50] shu8 commented on #305
@DavidPostill I can't seem to repro this :( it might be a mod thing -- does it happen on other sites where you're not a mod?

[2018-02-24 20:53] shu8 opened #306 "Firefox greasemonkey 4 is backwards incompatible"
Greasemonkey 4 is incompatible with previous versions due to changes made in Firefox v57.

https://www.greasespot.net/2017/09/greasemonkey-4-announcement.html

The changes shown in https://www.greasespot.net/2017/09/greasemonkey-4-for-script-authors.html need to be implemented to make it compatible with the new versions of Firefox and still Chrome

[2018-02-24 20:54] DavidPostill commented on #305
Yes. This is on SO where I'm not a mod:

![screenshot - 24_02_2018 20_52_57](https://user-images.githubusercontent.com/7079224/36634956-c58e5dce-19a4-11e8-8c44-71cf8d715b3f.png)

[2018-02-24 20:55] DavidPostill commented on #305
I suppose it could be a clash with some other comment script ...

[2018-02-24 20:56] shu8 commented on #305
@DavidPostill if you send me a link to any other comment scripts you have, I could try making it compatible with them too! :)

[2018-02-24 20:59] DavidPostill commented on #305
I've just tried disabling to obvious ones and it's none of those. I did see it some while (months?) ago and it went away. Now it's back.

[2018-02-24 21:13] DavidPostill commented on #305
https://stackapps.com/questions/2050/threaded-comments
https://greasyfork.org/en/scripts/3642-comment-separator-fix
https://meta.stackexchange.com/a/251142/267099

But disabling these doesn't fix the issue :/

[2018-02-24 21:31] shu8 commented on #305
That's really weird, I'll try looking into it deeper and get back to you
ASAP!

On 24 Feb 2018 21:13, "David Postill" <notifications@github.com> wrote:

https://stackapps.com/questions/2050/threaded-comments
https://greasyfork.org/en/scripts/3642-comment-separator-fix
https://meta.stackexchange.com/a/251142/267099

But disabling these doesn't fix the issue :/

—
You are receiving this because you

[2018-02-25 01:41] fixer1234 commented on #215
@shu8 So overtaken by real life?  Just so you know, many of us really appreciate the effort you were able to put in on Sox.  BTW, Sox generally stopped working after SE changed the site UI, and it looked like nobody had the ambition or time to tackle making it compatible with the new UI.  Is this still the case, or is there a revised version of Sox available?

[2018-02-25 02:10] shu8 commented on #215
Thanks! The new version is compatible with the new design on chrome but I'm
yet to fix it for the new version of grease monkey and Firefox, hopefully
I'll get that done sometime this month!

On 25 Feb 2018 01:41, "fixer1234" <notifications@github.com> wrote:

[2018-02-25 17:47] shu8 commented on #305
@DavidPostill please could you go to a post where this happens, press F12 to open developer tools, go to the 'Elements' tab, select the `html` tag and copy the entire page's source code into a Gist for me to look at?

![image](https://user-images.githubusercontent.com/8850830/36644556-e050397a-1a53-11e8-9ae1-415456d86e7f.png)

Hopefully it'll help me find out where this is going wrong

[2018-02-25 18:18] shu8 commented on #305
@DavidPostill try [DEV v2.1.1](https://github.com/soscripted/sox/raw/dev/sox.user.js) first! I think (hope) I might have found the issue

[2018-02-25 18:19] shu8 commented on #306
A temporary solution is to use [Violetmonkey](https://addons.mozilla.org/en-US/firefox/addon/violentmonkey/) for Firefox. it seems to work fine on there.

[2018-02-25 21:09] DavidPostill commented on #305
dev 2.1.1 seems to have fixed it! What was the cause?

[2018-02-25 21:31] shu8 commented on #305
Great! It seemed to only be apparent an FF but it was broken in Chrome too!

They basically moved one of the html containers in the comments section to
a slightly different place so the script was targeting the wrong element
when adding the button, and added it *outside* the comment rather than
inside it

On 25 Feb 2018 21:09, "David Postill" <notifications@github.com> wrote:

[2018-02-27 20:58] DavidPostill opened #307 "Making voting buttons sticky causes question/answer content to jump left when scrolling."
### Installed Version: 2.1.1 DEV  Environment: Violentmonkey, Windows 7 Home Premium 64 bit, Firefox 58.0.2

The red arow shows the space that shrinks. You can see the content jump left.

Before scroll:

![screenshot - 27_02_2018 20_54_02](https://user-images.githubusercontent.com/7079224/36754352-9fe5d2ba-1c00-11e8-8665-da6da12bdb1e.png)

After scroll:

![screenshot - 27_02_2018 20_53_02](https:/

[2018-02-28 14:39] ooker777 commented on #304
it still occurs. Nothing changes.

[2018-02-28 15:58] shu8 commented on #304
Sorry, I forgot to update this issue, #306 explains this issue -- I'll try getting it working soon otherwise maybe violet monkey is the way forward

[2018-03-01 19:49] Sir-Cumference opened #308 "Several known bugs"
This is basically a TODO, which I'll try to patch when I get the time (unfortunately, I don't know how long that'll take).

- [x] Meta diamond and notify-on-edit buttons are not shown
- [x] SOX features dialog box is offset horizontally from its button, and is offset vertically from the topbar on SO and Server Fault (note, the last two have topbars that are smaller than other sites, which usually

[2018-03-02 19:56] Sir-Cumference opened #309 "Idea: Grey out vote buttons when you are not allowed to vote"
I was thinking we could combine the "Gray out deleted vote buttons" and "Disable vote buttons on your own posts" into a more general "Gray out vote buttons when you cannot vote". This would also include cases when you cannot unvote after 5 mins (and thus, would be useful in telling you if the post was edited and you can unvote).

[2018-03-04 10:38] shu8 commented on #309
@Sir-Cumference sounds great! hopefully it won't be too hard to merge!

[2018-03-04 10:39] shu8 commented on #307
@DavidPostill thanks for the bug report, I'll try looking into it (this keeps popping back again every now and again :((( )

[2018-03-04 17:38] shu8 commented on #307
@DavidPostill can you try the latest dev version to see if this is fixed? :)

https://github.com/soscripted/sox/raw/dev/sox.user.js

[2018-03-04 17:55] DavidPostill commented on #307
Confirmed as fixed :)

[2018-03-05 04:37] ooker777 commented on #306
I'm not upgrade my FF to v57. Is it worth to use former version of Greasemonkey rather than Violentmonkey? Or can they be easily imported? And why they are so different?

[2018-03-11 23:00] DavidPostill opened #310 "Setting icon showing 3 times on top bar!"
### Installed Version: 2.1.2 DEV  Environment: Violentmonkey

Setting icon showing 3 times on top bar!

![screenshot - 11_03_2018 22_56_54](https://user-images.githubusercontent.com/7079224/37259552-ac958a5e-257f-11e8-93ec-b50e7071ceec.png)

Note, I'm also running [script - Top-navigation choices - Stack Apps](https://stackapps.com/questions/7603/top-navigation-choices)

If I disable that script I

[2018-03-12 13:01] JohnKNess opened #311 "Authorize SOX - Stack Overflow : Multiple Pop-Up Windows"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey

SOX: Version 2.1.0
Chrome: Version 64.0.3282.186 (Official Build) (64-bit)
Tapermonkey: v4.5

### Current Behaviour

After installing the current stable version of SOX via Tapermonkey for Chrome, the "Authorize SOX - Stack Exchange" page is displayed in a new tab. Curiously this tab keeps on opening in a new tab until my IP address ge

[2018-03-12 21:39] Sir-Cumference commented on #310
Hmm, that's strange. What browser are you using?

[2018-03-13 07:35] DavidPostill commented on #310
Windows 7 Home Premium 64 bit, Firefox 58.0.2

[2018-03-14 16:57] Sir-Cumference commented on #310
@DavidPostill I believe I've figured it out. Could you try [the new version](https://github.com/soscripted/sox/raw/dev/sox.user.js) to see if it's fixed? :)

[2018-03-14 17:01] Sir-Cumference commented on #309
@shu8 Sorry, forgot to respond! It is a bit tricky, and I've yet to find a clean way of figuring out when 5 mins have passed and no editing has happened. It might be a while until I figure it out, but if you come up with something, please tell me. :)

[2018-03-14 18:00] DavidPostill commented on #310
Confirmed as fixed. Single setting icon now showing at right end of top nav bar.

[2018-03-14 19:06] #310 closed

[2018-03-14 19:09] shu8 commented on #311
@JohnKNess sorry about it banning you! We'll try getting this fixed ASAP.

[2018-03-14 19:09] shu8 commented on #309
@Sir-Cumference Sure, I'll try looking at it on the weekend :)

[2018-03-15 06:19] JohnKNess commented on #311
No problem. I am allowed back on Stack and I have posted a workaround in this issue in case anybody else has the same problem. Keep up the great work and looking forward to the new version. 👍

[2018-03-15 06:48] JohnKNess opened #312 "Comments being formatted wrongly"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey
SOX: Version 2.1.0
Chrome: Version 64.0.3282.186 (Official Build) (64-bit)
Tapermonkey: v4.5

### Current Behaviour

When looking at the comments in the DBA.SE question "[How can I improve the performance of a sorted join?](https://dba.stackexchange.com/q/199945/15356)" then some of them are elongated.

If I turn off the SOX userscript

[2018-03-15 07:25] JohnKNess commented on #312
This might be because of this:

[2018 monthly product team updates](https://meta.stackexchange.com/a/307770/202162)

[2018-03-15 23:48] Sir-Cumference opened #313 "Dialog box problems"
Currently, for a large enough window, the buttons and text at the bottom of the dialog box will actually leave the box:

<img width="550" alt="screen shot 2018-03-15 at 7 45 18 pm" src="https://user-images.githubusercontent.com/5375326/37496540-7fe0b332-2889-11e8-8a78-27ad13522699.png">

These are solved if we remove the "achievements-dialog" class from the dialog (since it adds a problematic min-

[2018-03-17 18:38] ooker777 opened #314 "Can the +2 accepting answer be hidden?"
The rep is so insignificant, yet the notification always triggers me to click on it.

[2018-03-17 19:38] shu8 commented on #313
@Sir-Cumference I think we might have added it for the old topbar? I don't remember 😆 but removing it doesn't seem to anything ATM so I'll get rid of it and hope for the best 🤞

[2018-03-17 19:41] shu8 commented on #312
@JohnKNess thanks for the bug report! I can't seem to see this -- do you mind posting a screenshot of the comments section so I can see where to look? :)

thanks for the link to the march update too! I'll try updating any features using table specific selectors!

[2018-03-17 19:44] #313 closed

[2018-03-17 19:44] shu8 commented on #309
@Sir-Cumference I pushed an updated in v2.1.5 -- it's a bit messy but I think it works? please do change it if there's anything simpler/better! 😆

[2018-03-17 19:47] shu8 commented on #306
@ooker777 AFAIK Violetmonkey is completely compatible with the 'old' greasemonkey scripts, so just installing it with violetmonkey should work. I'm not entirely sure why violetmonkey works but GM doesn't unfortunately :( it seems like a decision they made when updating it for the new FF?

[2018-03-20 16:50] JohnKNess commented on #312
I'm unable to upload from work. Will send from home. Thanks for the feedback. Funny thing is I don't have the problem at home and/or only with long comments. I'll do some more research.

[2018-03-20 20:28] JohnKNess commented on #312
Ok. Here we go. This is what it looks like when SOX and SOUP are activated and I open a question which contains long comments:

![Picture of elongated comments in a DBA.SE question](https://user-images.githubusercontent.com/13273624/37680827-571a203c-2c85-11e8-940d-f41f14994b5e.png)

If I turn off SOX then everything is back to normal. Turning off SOUP has no impact.

[2018-03-20 20:48] calebkleveter commented on #312
I am also experiencing this issue:
- SOX 2.1.0
- Tampermonkey: 4.5
- Google Chrome:  65.0.3325.162 (Official Build) (64-bit)

[2018-03-21 06:59] JohnKNess commented on #312
I might have found the culprit.

With certain comments (e.g. one of the comments in the question [ORDER BY gives ERROR: function array_position(text[], character varying) does not exist](https://dba.stackexchange.com/questions/201837/order-by-gives-error-function-array-positiontext-character-varying-does-no)) if I turn on the option **Add reply links to comments for quick replying (without having

[2018-03-24 18:08] shu8 commented on #314
@ooker777 sorry for the late reply, but I don't think there's a reliable way to check whether the +2 is for an answer and not a legitimate rep change/suggested edit rep without calling the API and that would require calls every time a rep change is detected which could be a lot for some :/ sorry, I don't think we'll be adding this feature

[2018-03-24 18:09] shu8 commented on #311
@JohnKNess I haven't been able to reproduce this, but please could you try installing [v2.1.6 dev](
https://github.com/soscripted/sox/raw/dev/sox.user.js) to see if this is fixed?

basically now, it should ask for your permission before opening a window, so hopefully the throttling won't happen!

[2018-03-24 18:10] shu8 commented on #312
@JohnKNess @calebkleveter I couldn't reproduce this :( but I've changed the location the reply button is added in [v2.1.6 dev](
https://github.com/soscripted/sox/raw/dev/sox.user.js) which might just fix this -- please could you give it a go and tell me if it works? :)

[2018-03-24 18:11] #301 closed

[2018-03-24 18:41] calebkleveter commented on #312
Fixed 👍!

[2018-03-24 18:43] #312 closed

[2018-03-24 19:10] shu8 commented on #256
fixed for all sites metaNewQuestionAlert in version 2.1.7

partially fixed downvotedPostsEditAlert, still needs testing

[2018-03-25 00:16] ooker777 commented on #314
Thanks. But since the propose is to hide trivial rep change, hide all the
+2 is acceptable, no? If no, do you know how to hide it? --

Ooker. (📱)

[2018-03-25 19:04] JohnKNess commented on #312
Seems to work in v2.1.6 dev. Thanks for fixing it.

[2018-04-15 05:52] ooker777 opened #315 "Remove the welcome back message"
Is it possible to have a feature to remove the welcome back message? It has been discussed in [Disable "don't forget to vote" message](https://meta.stackexchange.com/q/89045/260800) and [I see "Welcome back! If you found this question useful..." message very frequently](https://meta.stackexchange.com/q/91553/260800)

[2018-04-17 13:09] polyluxus opened #316 "Add 'Improved title' to pre-defined edit comment options"
### Installed Version: 2.1.7DEV  Environment: Tampermonkey

### Current Behaviour

n/a

### Expected Behaviour

Just like the existing *formatting*, *spelling*, *grammar*, *greetings*, have one say *title* that automagically inserts *improved title*.

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-alignBadgesByClass","Appearance-answerTagsSearch","Appearance-

[2018-04-19 19:26] DavidPostill opened #317 "Issue #160 is back :("
See https://meta.stackexchange.com/questions/309246/to-be-logged-in-or-not-to-be-logged-in-that-is-the-question for the gory details.

Windows 7 Home Premium 64 bit, Firefox 59.0.2

SOX version 2.1.3 DEV

[2018-04-19 20:00] shu8 commented on #317
@DavidPostill sorry, that's annoying! I'll try getting it fixed as soon as I get some time!

[2018-04-19 20:02] shu8 commented on #316
@polyluxus you should be able to add them yourself

![image](https://user-images.githubusercontent.com/8850830/39015320-f657d2b0-4414-11e8-9f58-0eb85189bb3c.png)

Although I realise this isn't documented anywhere 😆 so I'll add it to the dialog itself!

[2018-04-19 20:03] shu8 commented on #315
@ooker777 I'll look into it :)

[2018-04-19 20:04] shu8 commented on #314
@ooker777 I'll try looking into it as soon as I can, it might be that checking for the rep is harder than its gain but I'll give it a shot!

[2018-04-20 03:30] ooker777 commented on #314
Thanks a lot. Do you have a donation box? 😜

On Fri, Apr 20, 2018, 03:05 ᔕᖺᘎᕊ <notifications@github.com> wrote:

--

Ooker. (📱)