[2016-02-18 21:30] cullub opened #1 "CSS - make settings link change color on hover"
Currently the achievements and messages icons change background color on hover, but the SOX settings link doesn't.

![settingshover](https://cloud.githubusercontent.com/assets/7533931/13158160/4cc0ff2a-d651-11e5-9b4f-4a7f03d4ee9c.gif)

[2016-02-18 21:34] cullub commented on #1
Recommended fix:

 - Change inline `style` of `soxSettingsButton` to `background-image: none; padding: 10px 0 0 0; font-size: 14px; color: #999; height: 24px; width: 36px;` (note added height and widths)
 - Add class `yes-hover`

Tested to work in FF 44.0.2

[2016-02-18 21:46] cullub opened #2 "Upvote temporarily hidden when scrolling down"
While scrolling down the page, the `vote` div gets scrolled up below the topbar, until it is mostly hidden, before jumping down to `position: fixed`.

Example:

![bug](https://cloud.githubusercontent.com/assets/7533931/13159314/b23f98de-d656-11e5-9403-fec679e2bf3d.gif)

[2016-02-18 23:37] shu8 commented on #1
@cullub thanks! Shouldn't be a problem; I'll look into this tomorrow

cc @enki-code :)

[2016-02-18 23:37] shu8 commented on #2
Thanks for reposting this! :) I still don't have a solution though :(

Any ideas @enki-code?

[2016-02-18 23:40] cullub opened #3 "Preview Question/Answer expands but does not hide preview"
I'm on FF 44.  This is a bug for links to questions/answers in questions, answers, or comments.

Example:

![commentexpandbug](https://cloud.githubusercontent.com/assets/7533931/13161891/6a4909d8-d666-11e5-80d4-af9d3406b7ce.gif)

[2016-02-19 00:00] cullub commented on #2
I wonder if selecting the vote div using `find('div.vote')` instead of simply `find('vote')` would help....

And I don't see where you compensate for the topbar - do you?  (If you don't, you could just add 36px, the height of the topbar)

[2016-02-19 00:03] cullub opened #4 "Comments shift left when vote dial switches to floating along the side of post"
This may or may not be a separate issue, but I'll list it here anyways.

I'll use the same example, as well.  Just note the comments rather than the vote div.

![bug](https://cloud.githubusercontent.com/assets/7533931/13162329/e367ca2c-d669-11e5-8b98-4412a4cc6e2d.gif)

[2016-02-19 09:18] shu8 commented on #3
lol whoops! I think I forgot to actually hide it :/ I'll look at that today as well :) thanks

[2016-02-19 17:15] cullub opened #5 "Blue Diamond makes list in the wrong place when search bar is replaced with icon."
When you check the option to have the SO search bar replaced with an icon link to the search page, the blue diamond gets moved over to the left, but the list of new meta questions does not.

Example:

![bluedimond](https://cloud.githubusercontent.com/assets/7533931/13182809/309a8372-d6f9-11e5-8ca0-69862d88a015.gif)

[2016-02-19 17:52] shu8 commented on #1
@cullub done :) thanks again!

[2016-02-19 17:57] shu8 commented on #3
@cullub fixed :) (in dev)

[2016-02-19 17:57] #3 closed

[2016-02-19 20:33] DavidPostill opened #6 "Menu spelling mistake"
"triangluar" should be "triangular"

[2016-02-19 20:37] DavidPostill opened #7 "Authors name is added twice to comment in inbox with SOUP enabled"
![screenshot - 19_02_2016 20_35_58](https://cloud.githubusercontent.com/assets/7079224/13188295/843f2100-d748-11e5-9c5b-81f9eb4f3671.png)

[2016-02-19 21:19] cullub commented on #5
Suggested Fix:

Change this:

    <a style="width: 14px; padding: 10px 7px 0 7px;" title="Search Stack Overflow" href="/search">
      <i class="fa fa-search"></i>
    </a>

To this:

    <div style="width: 188px; float: right;">
      <a style="width: 14px; padding: 10px 7px 0 7px;" title="Search Stack Overflow" href="/search">
        <i class="fa fa-search"></i>
      </a>
    </div>

@shu8

[2016-02-19 21:23] cullub commented on #7
Can't reproduce on FF 44.0.2 Mac.

What browser are you on?

[2016-02-19 21:35] DavidPostill commented on #7
WIndows 7 64 bit, Firefox 44.0.2 64 bit

[2016-02-19 22:32] cullub commented on #7
Hmm.  Evidently a windows thing - do you have Chrome? (to test) And could you test in IE?

[2016-02-19 22:58] DavidPostill commented on #7
Hmm Chrome 48 on Windows "Add the author's name to notifications in the inbox" doesn't work at all. How do I install greasemonkey or test on IE?

[2016-02-19 23:01] DavidPostill commented on #7
Weird. Now it's not working at all on Firefox either ...

[2016-02-19 23:13] cullub commented on #7
Huh.  Still working for me.  On Chrome, you need Taperminkey instead of Greasemonkey.

Supposedly [TrixIE will work in IE](http://stackoverflow.com/questions/25059256/possible-to-run-userscript-in-ie11), however I've not tried it.  You don't have to test it there if you don't want to - I forgot about having to install extra stuff.

[2016-02-19 23:15] DavidPostill commented on #7
I did install TamperMonkey ;)

[2016-02-19 23:32] cullub commented on #4
Suggested Fix:

 - Set the CSS width for all elements with class `votecell` to `62px`
 - Stop adding `left: 45px;` to the `style` of `answercell`

[2016-02-19 23:46] DavidPostill commented on #7
I can't get SOX to work at all on IE with TrixIE WPF4.5

[2016-02-20 00:06] cullub commented on #7
Not a big deal.  Although IE is the biggest browser it terms of usage, it's generally the hardest to support, and I'm not too surprised it doesn't work.

[2016-02-20 00:07] cullub commented on #7
Is the bug still happening for you on FF windows?

[2016-02-20 09:23] DavidPostill commented on #7
"Is the bug still happening for you on FF windows?" - a different bug. I don't get the author's name at all regardless of whether ""Add the author's name to notifications in the inbox" is checked or not. Bizarre.

[2016-02-20 09:27] DavidPostill commented on #7
"Is the bug still happening for you on FF windows?" - a different bug. I don't get the author's name at all regardless of whether ""Add the author's name to notifications in the inbox" is checked or not. Bizarre. I wonder if it's clashing with another script? I have a bunch of SE scripts installed. SOUP being the main one.

[2016-02-20 14:15] cullub commented on #7
Try disabling other SE scripts, and see if you can reproduce - if it's being caused by different scripts, what we can do is probably pretty limited...

[2016-02-20 14:26] DavidPostill commented on #7
Ok. Cracked it. It only happens when SOUP is also enabled :/

[2016-02-20 16:29] enki-code commented on #5
Thanks, I'll try and get this updated today.

[2016-02-20 16:31] enki-code commented on #4
@cullub  Thanks, I'll try and look into this today.

[2016-02-20 16:36] enki-code commented on #7
Thanks for taking the time to work on this, I'll see what I can come up with and we will try to push some updates soon. @shu8  You have time to look into this today?

[2016-02-20 16:37] enki-code commented on #1
ahh... I forgot, it did that in my original script but must have been left out in the rewrite. Thanks @cullub .

[2016-02-20 16:38] enki-code commented on #2
I believe an adjustment to the top padding or margin on the body element when the topbar is fixed will fix this, I'll add it to my list of things to look into.

[2016-02-20 16:57] enki-code commented on #6
Fixed. We'll get all the updates merged into the master branch here pretty quick. Thanks for all your help.

[2016-02-20 16:58] #6 closed

[2016-02-20 16:59] DavidPostill commented on #7
No problem and no rush. As far as I'm concerned the issue is cosmetic and not a show stopper. Hi @shu8 ;)

[2016-02-20 18:51] shu8 commented on #7
I'm away today. I'll fix this tomorrow or Monday @enki. Though i have a
feeling you're getting throttled by SE api @DavidPostill. Not sure cause I
don't have a computer to test on :/
On 20 Feb 2016 16:59, "DavidPostill" <notifications@github.com> wrote:

[2016-02-20 19:54] enki-code commented on #1
@shu8  Installed most recent dev version and this is still all screwy.
@cullub What are you using to create those gifs?

[2016-02-20 20:55] enki-code commented on #1
@shu8  There is no css rule for 'sox-settings-button' did you forget to push changes? Looks like the yes-hover class needs to still be added?

![screwy](http://i.imgur.com/iSy8ZGo.png)

[2016-02-20 21:59] cullub commented on #2
Awesome.  Honestly, it's not a huge deal, but fixing it will make it feel a lot more smooth.

[2016-02-21 04:25] enki commented on #7
I'm enki.. you mean @enki-code

[2016-02-21 05:55] enki-code commented on #7
@enki  So you're the guy who stole my handle. J/K LOL. Lucky bastard. I envy you my friend.

[2016-02-21 13:15] shu8 commented on #7
@enki sorry! I was replying via email and thought it was enki.. :/

[2016-02-21 15:31] shu8 commented on #1
@enki-code and @cullub it's fixed now! It didn't work before because another commit I did overwrote and reversed the fix, as you can see at https://github.com/soscripted/sox/commits/dev/sox.css! whoops! Can you please confirm? (might need to wait a while for rawgit cache to delete)

[2016-02-21 15:33] shu8 commented on #5
@enki-code cool, I've 'assigned' this to you then :)

[2016-02-21 15:35] shu8 commented on #7
@DavidPostill and @enki-code to summarise the last few messages...:

- names appear twice if you have SOUP enabled
- names stopped appearing because of SE API's throttling

am I right?

I'm just going to look at SOUP's source and see if I can spot anything that causes it to happen.. :)

[2016-02-21 15:43] shu8 commented on #7
ok... this is due to fix `mse207526`:

[code]

deleting that stops the names from appearing twice. But I don't know why it happens or how to fix it yet :/ any ideas @enki-code?

[2016-02-21 16:45] DavidPostill commented on #7
Hi @shu8 The names appearing twice with SOUP enabled is correct. I don't know why the stop appearing but API throttling sounds likely

[2016-02-21 16:46] shu8 commented on #7
@DavidPostill yeah probably because you were trying loads of times in a short period of time I assume?

[2016-02-21 16:50] DavidPostill commented on #7
@shu8 Yes probably. @enki-code asked me to test on Chrome and IE, so I was pulling down the inbox on 3 different browsers :/

[2016-02-22 19:50] cullub commented on #1
I'm currently using the prod version, and it's not fixed yet...  Have you pushed to prod yet?

[2016-02-22 20:17] shu8 commented on #1
@cullub no.. it's still on dev. No idea when we should push to main branch. @enki-code any idea when??

[2016-02-23 00:44] enki-code commented on #1
@shu8 Computer has been down for a couple of days, onboard lan port died while restarting my machine... lovely huh?    Since this is just a userscript, as long as a fix is *complete* I am fine with it being pushed to master.

[2016-02-23 10:43] somebody1234 opened #9 "Feature requests (some from other existing scripts)"
Some feature requests... (strikethrough any that won't happen)

- [ ] [Threaded comments](http://stackapps.com/questions/2050/threaded-comments) - [repo](https://bitbucket.org/balpha/user-scripts/)
- [ ] [Click to expand code regions](http://stackapps.com/questions/2574/click-to-expand-code-regions) - [source](http://userscripts-mirror.org/scripts/review/111973)
- [ ] Always edit inline - [source]

[2016-02-23 17:04] enki-code commented on #9
Thank you for posting these.

The threaded comments one looks interesting, and I really like the idea of using Tab to indent code, I do this already without even thinking about it.

The link namer is already included SOX, it's under Misc. features.
https://github.com/soscripted/sox/wiki/Features#miscellaneous

I'll have to look into the expandable code regions and the inline editing.

[2016-02-23 17:49] shu8 commented on #9
yeah, I've always liked the threaded comments one, but I've just never felt right adding it to this...

I guess we could with appropriate credit and attribution... thoughts @enki-code?

[2016-02-23 18:44] enki-code commented on #9
@shu8 Yeah, as long as attribution is provided I don't think it would be an issue. Perhaps a comment on that thread with out intentions.

[2016-02-23 19:50] enki-code commented on #1
this issue is now resolved.

[2016-02-23 19:50] #1 closed

[2016-02-24 16:21] enki-code commented on #5
Update: Here is what the new version will look like.
![new-meta-dialog](https://cloud.githubusercontent.com/assets/12533449/13292185/92696396-dacf-11e5-97f4-1fafed26905f.jpg)

[2016-02-24 17:34] shu8 commented on #5
@enki-code looking good! :)

[2016-02-24 17:54] shu8 commented on #9
btw when I get time, I'll be adding all the feature from my [Stack Exchange Editor Extra: a userscript to add extra features to the Markdown Editor](http://stackapps.com/q/6508/26088) userscript, which are:

- Insert code with Ace Editor (alt + a)
- Find & Replace (with modifiers) (alt+ f)
- KBD-ify selected text (alt+ k)
- Auto correct (very basic)
- Tab key indents rather than moves focus
- Side

[2016-02-25 03:58] cullub commented on #5
Awesome.  This is much nicer, and more along the lines of the SE theme.

[2016-02-25 04:34] enki-code commented on #5
@cullub - Agreed. I should have changes pushed to the dev version here soon.  I think I'll end up doing the same thing for the SOX Dialog - @shu8 what do you think?

[2016-02-25 06:19] enki-code commented on #5
@cullub Updates have been pushed to the dev branch if you want to test them out, let me know if see anything that needs fixed.

Thanks again.

[2016-02-25 07:13] shu8 commented on #5
@enki-code hmm, not sure. Would it still be possible to keep it at 100% height? Otherwise I think it might be too much scrolling! :/

[2016-02-25 07:15] #5 closed

[2016-02-25 19:36] enki-code commented on #5
@shu8 In regards to the SOX Dialog? Yes, it would still be full height, just some small adjustments to the UI.

[2016-02-25 20:12] shu8 commented on #5
@enki-code then I think that would look better! :)

[2016-02-25 20:13] shu8 commented on #9
I'll be adding the features from my other userscript this weekend... :)

[2016-02-25 22:15] enki-code commented on #9
@shu8 - Over the next week or so I'll be adding the View Tracker, Post Reminder and some other small UI improvements such as large number formatting for views - eg 26125 to 26.1k and a few other small items.

[2016-02-25 22:29] DJDavid98 opened #11 "Noticed a few bugs/minor issues"
- [x] **#<i></i>1** Misspelling in the **Editing** section:

- [x] **#<i></i>2** The `Always show the 'Link from the web' box when uploading an image` option seems to be broken

- [x] **#<i></i>3** When changing a tag's favourite/ignored/neutral status using the icon in the tag info tool tip, the highlights are reset back to the defaults (same thing happens when going to a different page, which co

[2016-02-26 06:24] somebody1234 opened #12 "Add experimental branch(es) for unfinished features"
I think it would be nice to have an branch for each unfinished feature, as it would make it possible for others to help implement/port a feature.

[2016-02-26 06:59] somebody1234 commented on #2
Can't you just change the condition so it toggles position on `> 34` instead of `> 0`?

[2016-02-26 07:15] shu8 commented on #12
@somebody1234 I think that's basically the dev branch -- anyone can help.

[2016-02-26 07:16] shu8 commented on #11
I'll work on all these over the weekend. Thanks for reposting over here @DJDavid98 :)

[2016-02-26 07:24] somebody1234 commented on #12
But I mean there should be an experimental branch for unfinished/currently broken features.

[2016-02-26 17:23] enki-code commented on #12
That's not a bad idea! I would be completely okay with doing that.   @somebody1234 You work for SO, correct?

[2016-02-26 17:31] shu8 commented on #12
really!?? btw who are you on SE @somebody1234? I thought you were http://meta.stackexchange.com/users/289645/somebody... :/

[2016-02-26 17:32] shu8 commented on #12
and @somebody1234 yeah fair enough. It can be a branch where we push *our* latest versions with in-progress features. Any ideas for the branch name? `experiment`??

[2016-02-26 17:47] enki-code commented on #12
@shu8  I think he means create a branch for **each** individual feature.

[2016-02-26 18:05] shu8 commented on #12
@enki-code ahh! ok sorry. didn't see that at first. That makes eve

[2016-02-26 18:27] enki-code commented on #12
@shu8 There might be benefits to having separate branches, we should discuss this in chat.

[2016-02-26 18:37] shu8 commented on #12
@somebody1234 we've created a branch: https://github.com/soscripted/sox/tree/experimental.

We'll have separate folders for each new feature so it's nice and easy to manage :)

[2016-02-26 18:37] #12 closed

[2016-02-26 21:04] shu8 commented on #11
@DJDavid98 I've done 1,2,4 and 5 (as you can see ^^ ;), but no.3 seems slightly harder... it may be that I just leave that as-is if I can't find a way to fix it :/

[2016-02-26 21:08] DJDavid98 commented on #11
You could try creating a style tag somewhere on the page with `!important` rules preventing the style change by the site?

[2016-02-26 21:09] shu8 commented on #11
@DJDavid98 yeah I guess I could override the class. I'm currently trying to use a mutationobserver to detect the class being re-added so I can re-remove it...

[2016-02-26 21:38] shu8 commented on #11
@DJDavid98 done :) it's been pushed to dev.

[2016-02-26 21:39] #11 closed

[2016-02-26 22:44] shu8 commented on #9
sticky chat topbar done :)

[2016-02-27 04:31] enki-code commented on #4
This should be fixed now.

[2016-02-27 09:57] shu8 commented on #4
@enki-code yep fixed! :)

btw, `removeAttr('style')` is very clever! :D

[2016-02-27 09:57] #4 closed

[2016-02-27 20:43] shu8 commented on #9
the tab key now inserts tabs in the experimental enhancedEditor feature.

[2016-02-27 20:46] shu8 commented on #9
@somebody1234 my enhancedEditor feature has the beginning to a post-fixer feature -- it is currently doing the following replaces...:

[code]

If your version is also using various replaces, we could add them to this! :)

[2016-02-28 00:13] somebody1234 commented on #9
My replaces are here:

            .replace(/\b(d)ont\b/gi, "$1on't")
            .replace(/\b(t)eh\b/gi, "$1he")
            .replace(/\b(()?:ubunto|ubunut|ubunutu|ubunu|ubntu|ubutnu|uuntu|unbuntu|ubunt|ubutu)\b/gi, "$1buntu")
            .replace(/\b(a)rent\b/gi, "$1ren't")
            .replace(/\b(c)ant\b/gi, "$1an't")
            .replace(/\b(c)ouldnt\b/gi, "$1ouldn't")
            .replace(/\

[2016-02-28 13:11] shu8 commented on #9
@somebody1234 I've added those replaces to the experimental branch, and added the feature to the user.js so you can test it :)

[2016-02-28 16:17] #2 closed

[2016-02-28 16:36] enki-code commented on #7
@DavidPostill Is this still an issue for you?

[2016-02-28 17:16] DavidPostill commented on #7
@enki-code Yes, it is.

[2016-02-28 17:43] shu8 commented on #7
@enki-code it's due to [this SOUP code](https://github.com/soscripted/sox/issues/7#issuecomment-186846282). but tbh I don't really get it :/

[2016-02-29 02:23] enki-code commented on #7
@shu8 Can we add a check to see if the authors name has already been added?

[2016-02-29 17:53] shu8 commented on #7
@enki-code good point. I'll do that when I get some spare time (tomorrow/thursday) :)

[2016-02-29 18:17] enki-code commented on #7
@shu8 We should probably just do a check and see if SOUP is enabled, and then process accordingly, I doubt this will be the only feature overlap that could cause us issues. I'll fiddle with this a bit today and see what I come up with.

[2016-02-29 19:45] shu8 opened #16 "Title edit diff feature shouldn't change anything if the title isn't changed"
When seeing an edit suggestion where the title has not been edited, the script still crosses everything out and adds a new copy in green, exactly the same.

It shouldn't.

eg: http://meta.stackexchange.com/review/suggested-edits/43289

![this](https://cloud.githubusercontent.com/assets/8850830/13547215/3af9d9b6-e2c1-11e5-8084-6c74dec74c97.png)

[2016-02-29 21:04] shu8 opened #17 "Viewing imgur images in comments feature removes hyperlinked text"
It should probably just add the image to the end of the comment rather than replace the link

[2016-03-05 11:18] shu8 opened #18 "isQuestionHot feature doesn't work"
### Expected Behavior
A 'HOT' sign appears on a hot question

### Actual Behavior
It doesn't

### Steps to reproduce
Go to any hot question (via http://stackexchange.com/)

### Suggestion
It's due to the Google Feeds API shutting down. We need to use something else

[2016-03-05 11:29] #18 closed

[2016-03-05 11:29] #17 closed

[2016-03-05 11:29] #16 closed

[2016-03-05 11:45] shu8 commented on #7
@enki-code I don't get what SOUP's doing! It's adding the extra author name *before* the first one is even added! See, if I add a `<span>` around the author name, I get:

![this](https://cloud.githubusercontent.com/assets/8850830/13547357/a3440b8a-e2c7-11e5-851b-49fe427dd2a1.png)

the span is *after* the first name, which means SOUP is doing something weird :P

I don't know how to fix this... :(

[2016-03-05 16:43] enki-code commented on #7
Since all fixes are applied automatically with SOUP, we could just check is SOUP is running and if so NOT apply our fix.?

[2016-03-05 16:58] DavidPostill commented on #7
Sounds like it might work ;)

--
David Postill

On 5 March 2016 at 16:43, enki <notifications@github.com> wrote:

[2016-03-05 17:37] enki-code commented on #7
@DavidPostill  Sorry this is taking so long..

[2016-03-05 17:37] shu8 commented on #7
@enki-code I can't even read window.SOUP from the code...

[2016-03-05 17:45] DavidPostill commented on #7
@enki-code Like I said earlier in the thread "No problem and no rush. As far as I'm concerned the issue is cosmetic and not a show stopper. "

[2016-03-05 21:41] #7 closed

[2016-03-05 21:42] enki-code commented on #7
@DavidPostill This should be resolved, changes have been pushed to the dev branch and should be merged shortly.

[2016-03-06 12:14] shu8 commented on #9
`getAPISiteName()` returns `chat` on chat, so I think that adds your last bullet :)

[2016-03-06 12:16] shu8 opened #19 "Enhanced Editor Feature"
### Feature Request

Add:

- post fixer ([original](https://github.com/nathan-osman/Stack-Exchange-Post-Editor))
- better tab key ([original](https://bitbucket.org/balpha/se-tab-edting/))
- keyboard shortcuts
- ace editor
- find + replace
- kbd+list

for editing.

[2016-03-06 12:40] somebody1234 commented on #9
@shu8 I meant get 'Stack Overflow' on a SO chat channel etc.

[2016-03-06 13:00] shu8 commented on #9
@somebody1234 oh whoops! sorry. unchecked it :)

[2016-03-06 13:04] somebody1234 commented on #9
@shu8 Should be easy though, just `$('#footer-logo a').attr('title')`

[2016-03-06 16:31] enki-code opened #20 "Fixed Topbar breaks askubuntu"
### Expected Behavior

The navbar should be fixed to the top of the screen in the correct position and the ubuntu related links should be placed somewhere without blocking content.

### Actual Behavior

The navbar is pushed to the right and not aligned correctly.

The sidebar collection of links that were cloned from the top are now blocking page content when viewing on small screens.

![ask-ubunt

[2016-03-06 17:17] shu8 commented on #20
@enki-code does `$('.fixedTopbar-stickyToolbar').css('margin-left', '-545px');` in console fix the topbar being too much to the right?

[2016-03-06 17:19] enki-code commented on #20
@shu8 lets talk in chat.

[2016-03-06 17:20] shu8 opened #21 "We need a reliable way to check for whether we're on chat"
[code]

is what we currently have on repo-system

But I always get `CHAT` is not defined, and only using `window.CHAT` doesn't always work.

Any ideas?

[2016-03-06 17:46] #20 closed

[2016-03-06 17:46] shu8 commented on #20
fixed :)

[2016-03-06 17:54] #21 closed

[2016-03-06 19:01] enki-code commented on #19
Find and Replace should toggle, as of right now it just keeps adding toolbars.
![ace-editor-fr-fail](https://cloud.githubusercontent.com/assets/12533449/13556276/8f00feb2-e38a-11e5-9c73-dcf6b1546bb4.png)

Insert Code button opens an empty dialog for me.

![ace-editor-insert-fail](https://cloud.githubusercontent.com/assets/12533449/13556290/c098f75e-e38a-11e5-8f73-de69688267ba.png)

[2016-03-06 19:43] shu8 commented on #19
@enki-code ah yes, upgoat told me about the first one. weird about the second. Anything in console?

[2016-03-07 00:42] enki-code opened #22 "Advanced Editor issues"
### Expected Behavior
- Find and Replace button should toggle the toolbar.
- Insert Code button dialog should have some content.

### Actual Behavior
As of right now it just keeps adding toolbars.
![ace-editor-fr-fail](https://cloud.githubusercontent.com/assets/12533449/13556276/8f00feb2-e38a-11e5-9c73-dcf6b1546bb4.png)

The Insert Code dialog is also having issues, it is being displayed, it just

[2016-03-07 00:43] #19 closed

[2016-03-07 22:54] cullub commented on #2
Yay! Just tested, and it's fixed.

[2016-03-07 23:26] DavidPostill opened #23 "SOX has now completely stopped working"
SOX has now stopped working completely. I don't know whether it's because the changes you made to make it compatible with SOUP.

Clues:

1. Any changes made in the SOX config dialog do not stick.

2. If I reload the browser page I see a brief flash of a blue diamond in the top bar, which is then covered by the SOX cogwheels.

3. Yesterday, SOX was working. The blue diamond was then to the right of

[2016-03-08 01:36] enki-code commented on #23
@DavidPostill  Is it one specific function that isn't working correctly? Are you getting anything in the console?   We made some changes to the meta question alert function, it no longer displays the diamond on meta sites.

[2016-03-08 07:19] shu8 commented on #23
@DavidPostill You need to click `reset` and choose your options again, I made changes to the way the settings were stored and run, and forgot to add a check for the old version :/

[2016-03-08 10:10] DavidPostill commented on #23
@enki-code It looks like almost every function is not working.

Console:

`soup injecting fixes
SOUP.user.js (line 1921)
soup init complete
337631 (line 30)
SOX error: There was an error loading the feature "Appearance-fixedTopbar". Please raise an issue on GitHub, and copy the following error log.
sox.user.js (line 194)
Error details:
sox.user.js (line 195)
ReferenceError: StackExchange is not de

[2016-03-08 17:25] shu8 commented on #23
Which version is this? Can you make sure its the `master` version, and that it is version `1.0.2`?

If it is 1.0.2, it seems the helper functions are not working correctly, but that was (at least I thought it had been) fixed. So could you just replace line 21:

    // @require      https://rawgit.com/soscripted/sox/master/sox.helpers.js?v=1.0.2a`

to

    // @require      https://rawgit.com/soscri

[2016-03-08 18:02] DavidPostill commented on #23
Changed line 21 as requested. Get the following error:

![screenshot - 08_03_2016 18_01_14](https://cloud.githubusercontent.com/assets/7079224/13610923/e556ff36-e557-11e5-891e-c965b4a09a29.png)

[2016-03-08 19:04] shu8 commented on #23
ok @DavidPostill weird...

Can you try installing this version: https://gist.github.com/shu8/0a275e3e1f1aa8717b24/raw/8a6b54b97e530081f017e6f0a554c2c2ce4ca285/davidpostillDebugging.user.js which I just added a few more console logs to and linked to a different helper function file.

Make sure no other version of SOX is running, and it is only this new version.

Can you paste the console's log afte

[2016-03-08 19:04] enki-code commented on #23
@shu8 I can confirm this.  Fresh install on Chrome/Tampermonkey works just fine and a fresh install on Firefox/Greasemonkey fails.  All the errors in the console say StackExchange not defined, yet, I can access it via the console just fine.

I suspect this may be a timing issue.

[2016-03-08 19:28] shu8 commented on #23
@enki-code ok, it's probably because Greasemonkey/FF blocks access to objects defined by the webpage...

[2016-03-08 19:30] shu8 commented on #23
@enki-code are you free for chat right now? I have around half an hour

[2016-03-08 19:32] enki-code commented on #23
@shu8  Yes.

[2016-03-08 20:04] shu8 commented on #23
@DavidPostill To update you...

- we've both reproduced this on FF
- it's because FF doesn't let us access window objects
- we kind of know a fix(es)
- but we need to do other things as well for it to actually work

so, it might not be till tomorrow or even the day after till we can push a fix! :/

Sorry! We need to add 'Test on FF' to our non-existent todo list before pushing to master from now o

[2016-03-09 19:24] shu8 commented on #23
@DavidPostill and @enki-code I think I've fixed it. Please could you install this debugging version: https://gist.github.com/shu8/0a275e3e1f1aa8717b24/raw/9526b89f00d22b9023ca60dc9f76976352e5fd64/davidpostillDebugging.user.js and confirm whether it is working for you now?

[2016-03-09 19:27] shu8 opened #24 "v1.0.3"
### v1.0.3  @soscripted/admins

- [x] Resource URLs are pointing to RawGit CDN
- [x] Tested on supported browsers
- [x] Verify all features working correctly
- [x] Check console for errors
- [x] Update screenshots in the Readme
- [x] Update features list in Features Wiki (_update old descriptions_)
- [x] Update Contributing Wiki to reflect the latest structure
- [x] Update Contributing Wiki to ref

[2016-03-09 19:27] shu8 commented on #24
### V1.0.3

- [ ] Working on Google Chrome latest?
- [ ] Working on Firefox latest?
- [ ] All features working?
- [ ] No errors in console?

[2016-03-09 19:28] shu8 commented on #23
And you might be glad to know I've created a checklist issue for the future @DavidPostill: https://github.com/soscripted/sox/issues/24 ;)

[2016-03-09 19:48] enki-code commented on #23
@shu8 Confirmed working.

[2016-03-09 19:56] enki-code commented on #23
@DavidPostill The latest fix has been pushed to master, would you mind installing and confirming that this is working for you as well?  Thanks.

[2016-03-09 21:11] DavidPostill commented on #23
@shu8 @enki-code Confirmed as fixed. Thanks guys ;)

[2016-03-09 21:20] shu8 commented on #23
@DavidPostill You're welcome! :) Thanks for putting up with us and reporting this issue in the first place! :P

[2016-03-09 21:20] #23 closed

[2016-03-09 21:36] enki-code commented on #23
@DavidPostill Feel free to join us in the [chat room](https://chat.stackexchange.com/rooms/35418/sox-originally-soof) anytime.

[2016-03-12 18:25] enki-code opened #25 "Displaying linked content inline fails"
**Installed Version: 1.0.3 DEV  |  Environment: Chrome/Tampermonkey**

**Expected Behavior**

Display linked content inline when clicking the expansion button

**Actual Behavior**

It doesn't work. :-1:   location protocol defaults to http, this causes errors when viewing the site over https and the URL being requested does not exists. Perhaps switching to the API would be better.

[2016-03-12 18:29] enki-code opened #26 "Meta Question Alert function fails"
**Installed Version: 1.0.3 DEV  |  Environment: Chrome/Tampermonkey**

**Expected Behavior**

The new meta question alert diamond to display only on main sites that have a child meta site.

**Actual Behavior**

Displays on all main sites and is throwing an error on Stackapps because it does not have a meta site.

**Error Logs**

TypeError: Cannot read property 'split' of undefined(…)

[2016-03-12 18:59] shu8 commented on #25
@enki-code I can work on this if you want. I'll still use the site's URL but change the protocol accordingly. It will be easier and better than using the API

[2016-03-12 19:00] shu8 commented on #26
I have an idea on how to fix this. I'll look in the topbar and see if there's a meta associated with the site

[2016-03-12 19:20] shu8 commented on #26
fixed:

        if (SOHelper.getSiteType() != 'main' || !$('.related-site').length) return; //DO NOT RUN ON META OR CHAT OR SITES WITHOUT A META

[2016-03-12 23:27] #26 closed

[2016-03-13 11:09] shu8 commented on #22
@enki-code I've fixed the first issue, but can't repro the second one:

<img width="628" alt="screen shot 2016-03-13 at 11 09 25" src="https://cloud.githubusercontent.com/assets/8850830/13728316/129e1d96-e90c-11e5-8c95-d05661b486b9.png">

Does it still happen? Anything in console?

[2016-03-13 11:10] shu8 commented on #25
@enki-code does this still happen with the changes you did to the protocol?

(this line: `$.get(location.protocol + '//' + SOHelper.getSiteURL() + '/posts/' + id + '/body', function(d) {`)

[2016-03-13 17:12] enki-code commented on #25
@shu8 Not sure exactly what's going on, it appears to be working correctly [here](http://stackoverflow.com/a/33134704/1454538) but not [here](http://stackapps.com/a/4859/36691)

I get an error in the console when attempting to view content inline on Stackapps, possibly other sites.

[2016-03-13 17:21] enki-code commented on #22
Yeah, second one still happens.  Dialog is blank.

Console errors

[2016-03-13 17:38] shu8 commented on #25
@enki-code ah, so the http/https problem is solved. that seems to be a bug in the way I get the ID... the link you were trying to view must actually link to a comment, and so the script gets the comment ID... I'll look into that. which post did you view this on?

[2016-03-13 17:38] shu8 commented on #22
@enki-code try entering `ace` in the console after you get those error message. does it exist?

[2016-03-13 17:49] #25 closed

[2016-03-13 18:46] enki-code commented on #22
@shu8 I have an idea for a fix.  When loading a question, an ajaxComplete event fires, you could try wrapping your initialization code in that. I suspect this is a timing issue.

    $(document).ajaxComplete(function(event, request, settings) {
        var url = settings.url;
        if(url.startsWith('/posts/')){
             // try injecting your stuff here.

        }
    });

[2016-03-13 18:48] enki-code commented on #22
I use this all the time, it might help you.
[code]

[2016-03-18 10:49] DavidPostill opened #27 "SOX Broken again - NetworkError: 500 Internal Server Error - https://rawgit.com/soscripted/sox/master/sox.css?v=1.0.1a"
**Installed Version: 1.0.2  |  Environment: Firefox/GreaseMonkey**

Unable to change settings.

![screenshot - 18_03_2016 10_45_46](https://cloud.githubusercontent.com/assets/7079224/13875590/b53490ba-ecf6-11e5-834b-ba244d2e54dc.png)

**Error Logs**

`"NetworkError: 500 Internal Server Error - https://rawgit.com/soscripted/sox/master/sox.css?v=1.0.1a"
`

![screenshot - 18_03_2016 10_48_29](https:/

[2016-03-18 16:28] enki-code commented on #27
@DavidPostill  This is totally our fault..  RawGit provides two URLs, one for development purposes and one for production. We've been using the development one, and the requests are likely being throttled.

We'll get this taken care of ASAP.

Thanks.

[2016-03-18 16:44] enki-code commented on #27
@DavidPostill I've pushed some changes to the master branch, if you could, please reinstall.

I've updated all the URLs to use RawGit's CDN, this should prevent throttling in the future.

[2016-03-18 16:58] DavidPostill commented on #27
@enki-code  Reinstall errors as follows:

![screenshot - 18_03_2016 16_57_47](https://cloud.githubusercontent.com/assets/7079224/13885498/a162ba60-ed2a-11e5-98b2-29a83cf9e81a.png)

[2016-03-18 17:29] shu8 commented on #27
Just saw this... loving the error message though :P

anyway, I think @enki-code forgot to add the actual filename to the URL so it doesn't exist.

Bit busy for a few hours, but I can change them by tonight if you can't @enki-code :)

Thanks again for the bug report @DavidPostill :D

[2016-03-18 17:38] enki-code commented on #27
@shu8  Yes please, I have to leave!

[2016-03-18 22:17] shu8 commented on #27
fixed by @enki-code in the end

[2016-03-18 22:17] #27 closed

[2016-03-20 11:12] DavidPostill opened #28 "Add a label on questions which are hot-network questions has stopped working"
**Installed Version: 1.0.2  |  Environment: Windows/Firefox/GreaseMonkey**

**Expected Behavior**

"Hot question" normally appears somewhere to the top right of the question IIRC.

**Actual Behavior**

"Hot question" not appearing.

![screenshot - 20_03_2016 11_04_31](https://cloud.githubusercontent.com/assets/7079224/13904076/e0c5b326-ee8b-11e5-84e6-c37acbc2e337.png)

![screenshot - 20_03_2016 11

[2016-03-20 12:59] shu8 commented on #28
@DavidPostill The feature only works for the latest 30 hot questions because the RSS feed I use on;y gives 30, and it seems the question you're looking at is 32nd right now...

Can you try on a more recent question such as http://codegolf.stackexchange.com/questions/75805/is-this-a-valid-variable-name please?:

<img width="1197" alt="screen shot 2016-03-20 at 12 58 58" src="https://cloud.githubuse

[2016-03-20 13:07] DavidPostill commented on #28
Yes, it works on your example.

[2016-03-20 13:09] shu8 commented on #28
@DavidPostill great! :D I would make it more than 30 but IFAIK that's impossible because there's no larger RSS feed :( sorry!

[2016-03-20 13:09] #28 closed

[2016-03-20 13:10] DavidPostill commented on #28
@shu8 I just checked and now it is showing on my test question. I guess it has moved up the list.

[2016-03-20 13:12] shu8 commented on #28
@DavidPostill hmmm I see it as well now. That's really weird... I wonder how that works because you'd think the newer questions would stay hot for longer...

[2016-03-26 14:48] SeinopSys opened #29 "Favourited tags look odd on Gaming StackExchange"
**Installed Version: 1.0.2 |  Environment: Chrome/Tampermonkey**

**Expected Behaviour**

The tag is properly coloured & outlined:
![](http://i.imgur.com/bblmOth.png)

This is can be achieved using:
[code]

**Actual Behaviour**

Only the main block part of the tag is coloured and the border is dropped:
**![](http://i.imgur.com/GBZQoPG.png)**

This is done by the following CSS:
[code]

**Error Logs

[2016-03-26 16:18] enki-code commented on #29
Thank you, I'll get this sorted out today.

I've got a question for you, if you don't mind, when you were creating this issue, how easy was that predefined template to use? Just trying to find out if I need to adjust it at all.

[2016-03-26 16:21] SeinopSys commented on #29
Well, an automatic version number detection would be nice (I had to go to the Tampermonkey dashboard to find it), otherwise it's pretty straight-forward.

[2016-03-26 18:11] enki-code commented on #29
I'll see what I can do about that today, thanks for the feedback, much appreciated.

[2016-03-27 11:12] SeinopSys opened #30 ""Add bunch of features to editor" option cannot be disabled on question pages"
**Installed Version: 1.0.2  |  Environment: Chrome/Tampermonkey**

**Expected Behavior**

When I open the settings dialog **while I'm on a question's page**, there should be a checkbox in front of the "Add a bunch of features to the standard markdown editor (autocorrect, find+replace, Ace editor, and more!)" option that I can un-check and then save my settings. From what I've seen, this only seems

[2016-03-27 12:25] shu8 commented on #30
Thanks @SeinopSys. I can repro and I have a feeling it's because the checkbox's ID is the same as something (haven't checked yet) on the toolbar that the enhanced editor creates.

I'll look into it and push a fix ASAP :)

[2016-03-27 12:31] shu8 commented on #22
@enki-code I'll be looking into this again either today or tomorrow :)

[2016-03-27 20:06] enki-code commented on #29
Fixed. I'm going to create a new issue for injecting the version number when creating issues.

[2016-03-27 20:06] #29 closed

[2016-03-27 20:11] enki-code opened #31 "Auto-Inject Version number in new Issues"
**Installed Version: 1.0.3 DEV  |  Environment: Chrome/Tampermonkey**

**Expected Behavior**

When creating an issue on GitHub, SOX should inject the currently installed version number into the post.

**Actual Behavior**

The version number is being injected, but only after a page refresh. I suspect a timing issue.

**Related Code**

    var SOX_VERSION = '1.0.3 DEV';

    // auto-inject version n

[2016-03-28 15:47] shu8 commented on #31
@enki-code How about we use a `setTimeout` for a few seconds? maybe 2?

[2016-03-28 15:57] enki-code commented on #31
@shu8 Yeah, I tried with a short timeout and didn't have any luck.

[2016-03-28 15:58] shu8 commented on #31
@enki-code are you free for chat? I've figured out why it doesn't work

[2016-03-28 16:36] shu8 commented on #31
fixed

[2016-03-28 17:02] shu8 commented on #30
fixed in https://github.com/soscripted/sox/commit/01221c8a49f6d504b6f33a022dfc8b27a0d84f68

[2016-03-28 17:02] #30 closed

[2016-03-29 13:39] shu8 commented on #22
It seems the ace editor issue is a timing issue... but I can't fix it. To anyone interested, I've tried..:

- `@require`ing the Ace editor files directly from the userscript
- adding various `setTimeout`s
- using the `ajaxComplete` function enki gave

[2016-04-01 02:52] catb0t opened #32 "That's no employee!"
**Installed Version: 1.0.3DEV  |  Environment: Chrome/Tampermonkey**

Go to http://stackoverflow.com/questions/5223/length-of-a-javascript-object-that-is-associative-array. Scroll down... then some more. Note how nearly every name has a SO icon beside it, marking nearly every user as employee.

**Expected Behavior**

Mark only employees as such.

**Actual Behavior**

Marking (nearly) every usernam

[2016-04-01 03:22] enki-code commented on #32
Thanks. I'll look into this tomorrow. We're fetching this data using the api and reading the is_employee property so maybe something is up with the if statement.

[2016-04-01 13:08] catb0t commented on #32
Closing this as fixed, sweet! :D

[2016-04-01 13:08] #32 closed

[2016-04-01 17:10] enki-code commented on #32
I've actually opened a post on Meta Stack Exchange about this, the API shouldn't be reporting Jeff Atwood as an employee, he left the company 4 years ago, March 2012.

https://meta.stackexchange.com/questions/277818/api-results-employee-status

[2016-04-02 15:44] enki-code commented on #31
@shu8

The version number is being injected, but, with that code running in a loop I am unable to type or select text from within the issue body.

The looped code should stop executing after the first successful injection of the version number.

We should also change the URL from github.com to github.com/soscripted/sox/issues/new and set a bool flag after it's ran..  What do you think?

[2016-04-02 16:26] shu8 commented on #31
@enki-code

bool-flag, yes.

but if we change the match URL to that, then it will only work if you land directly onto that page (remember the issue where you needed to refresh to make it work.

[2016-04-02 16:28] shu8 commented on #31
@enki-code but it works for me... I can type and select... or do you mean somewhere else??

[2016-04-02 16:36] enki-code commented on #31
I was just coming to update my comment on the url.. :+1:   In the issue body, I cannot type or select text because every 2 seconds the text is being replaced

[2016-04-02 16:41] enki-code opened #33 "Broken SOX Dialog"
**Installed Version: 1.0.3DEV  |  Environment: Tampermonkey/Chrome**

The SOX settings dialog is showing two scrollbars and looks pretty awful.

![twobars](https://cloud.githubusercontent.com/assets/12533449/14227629/e22db27e-f8b6-11e5-90b8-9f29c1e6d12b.png)

The features div has an scroll overflow which is causing the second scroll bar and a few other CSS adjustments are needed.

[2016-04-02 16:42] shu8 commented on #31
@enki-code Do you not have the `return;`?

[code]

[2016-04-02 16:53] shu8 commented on #31
Issue seems to have been random and neither of us can reproduce. Closing again...

[2016-04-02 16:53] #31 closed

[2016-04-02 16:53] enki-code commented on #31
It was a glitch in the Matrix.

[2016-04-02 16:54] catb0t commented on #33
I noticed this and I thought it was kinda clunky but I assumed it was the cause of either another userscript I have installed, or my default zoom level, so I didn't bother opening it.

To add to your initial thoughts, the "Save changes" button doesn't appear until the outer scroll bar or both scrollbars are all the way to the bottom, which made me very confused when I wanted to save my changes aft

[2016-04-02 16:56] shu8 commented on #33
@catb0t and @enki-code this is really weird. This is what I see:

![this](https://cloud.githubusercontent.com/assets/8850830/14227737/26eae7b6-f8fc-11e5-87f6-42e17619a6f3.png)

[2016-04-02 16:58] enki-code commented on #33
@shu8 Can you push your files and I'll reinstall?  @catb0t Thanks for confirming this.

[2016-04-02 16:59] shu8 commented on #33
@enki-code the 'commit changes' button is disabled for me.. presumably because there is no change... weird!

[2016-04-02 17:01] enki-code commented on #33
@shu8 add a superfluous comment and we'll just remove it

[2016-04-02 17:01] shu8 commented on #33
@enki-code what do you mean....??

[2016-04-02 17:02] enki-code commented on #33
@shu8 just add a comment 'fdkjghdfkjhgfdkhgfdklglkdfhg' so there is a change and you can make a commit.

[2016-04-02 17:03] shu8 commented on #33
@enki-code oh I just diffed it, it's exactly the same! there's no point.

Can you go to https://rawgit.com/soscripted/sox/dev/sox.css?v=1.0.3a and copy/paste the first few CSS rules so I know it's up-to-date?

[2016-04-02 17:06] shu8 commented on #33
@catb0t to help in debugging this -- could you tell us which browser and version you're using? thanks! :)

[2016-04-02 17:10] catb0t commented on #33
@shu8 This is Chrome 49.0.2623.110 on Linux (X11) amd64.
![blargh](https://cloud.githubusercontent.com/assets/3238748/14227849/3befbc18-f8d4-11e5-96f5-a370875adc50.png)

[2016-04-02 17:12] shu8 commented on #33
@catb0t thanks! we're all on chrome it seems...

[2016-04-02 17:42] enki-code commented on #33
I pushed some changes to the css file to hopefully solve the phantom scroll bar.

There are still a few other issues to work out, the Save button should be fixed at the bottom of the dialog so it is always visible.  The version number is no longer being injected into the dialog to show users what version they're running. The category headings are still a bit too large as well.

We'll get all these

[2016-04-02 20:15] catb0t commented on #33
This is fixed for me, so it now looks like it does for @shu8 :D If I want to be pedantic, I'll say the settings box as a whole is now less tall than it was before, and there are a lot of tickboxes to scroll though.

[2016-04-02 20:30] enki-code commented on #33
@catb0t I'll increase the height.

[2016-04-02 20:32] shu8 commented on #33
@catb0t yeah it is... we'll look into making it close to the window's height -- it's just that something to do with the browser's height was causing this bug, so we'll have to use a different way...

@enki-code a small 'todo' list :):

- [ ] make dialog taller -- use `height: calc(100%-200px)`?
- [ ] re-add the `#sox-settings-dialog-version` div (it seems I accidentally deleted that :/)
- [ ] fix

[2016-04-02 21:14] enki-code commented on #33
@catb0t  @shu8  Okay, I've made some adjustments to the dialog height, the save button, ect, can you two try the latest changes and verify that everything is displaying as it should.

[2016-04-02 21:18] enki-code commented on #33
I moved the Meta Question Diamond to the right of the SOX Settings button and this is how the dialog should display now.  View Height - 100px;

![newdialog](https://cloud.githubusercontent.com/assets/12533449/14229058/bc31a270-f8dd-11e5-9f50-fa257f2efb53.png)

[2016-04-02 23:07] enki-code commented on #33
Not quite done yet, but, this is a preview of what the finished dialog will look like.

![newdialog](https://cloud.githubusercontent.com/assets/12533449/14229631/d8d0bba0-f8ec-11e5-9c80-1dc586319b43.png)

[2016-04-03 03:56] enki-code commented on #33
@catb0t @shu8 This should be fixed now.

[2016-04-03 14:41] catb0t commented on #33
Yaay, it's fixed, it's so pretty! :D

[2016-04-03 14:57] shu8 commented on #33
@enki-code I've pushed an update to make it close on click off of it :)

[2016-04-03 14:57] #33 closed

[2016-04-03 18:30] enki-code commented on #33
@catb0t @shu8 Glad you two like the changes, it was a bit of work getting it to look how I wanted but well worth it. I added spacing between each feature so things weren't so cluttered and the extra 50px wide makes things a bit easier on the eyes. I'm not a fan of the two line descriptions myself, but hey, can't win em' all.

I'll be testing this in other browsers today to confirm that is really i

[2016-04-03 19:26] shu8 commented on #33
@enki-code we can change those descriptions to be a bit shorter I think!

BTW did you know you can do multiple 'reactions' to comments? ;) ^^

[2016-04-03 19:31] shu8 commented on #33
How about...:

---

to

---

to

---

to

---

to

---

TBH I think we could probably remove the 'Add a button in the editor toolbar to insert a hyperlink to a post and add the author automatically' -- it's use is very limited and I'm not sure it even works anymore :P

what do you think about these changes and the feature removal??

[2016-04-03 20:31] catb0t commented on #33
@shu8 I definitely like all of those being terser and more expressive! I never really got the point of the 'Add a button in the editor toolbar to insert a hyperlink to a post and add the author automatically', so I won't miss it. :)

[2016-04-03 20:54] catb0t opened #34 "Feature request: colored signs on duplicate and closed questions should be more interesting"
![colorbox](https://cloud.githubusercontent.com/assets/3238748/14234832/24589664-f9bb-11e5-94c8-721a093c6301.png)

I think it would be nice for the duplicate and closed labels to show the same text as in the dupe/close banner when hovered

etc, and for the duplicate label itself to be a link to the question of which this one is a duplicate. Or would loading each question that has a label and searc

[2016-04-03 20:59] shu8 commented on #34
This is a cool idea.

I'll make it so that the close reason is there as a tooltip on the sign.

It's definitely not more work than its worth and would actually be pretty handy!!

[2016-04-03 21:02] shu8 commented on #34
I can't assign myself or add tags to this caeca use I'm on my phone, but I'll get this done tomorrow :)

[2016-04-03 21:05] shu8 commented on #33
@catb0t that's great! And yeah, I wrote that feature for a question on meta, so it was useful to that person, but I think not many people know about it and they wouldn't really need it tbh... We'll see what enki says and we'll go from there :)

[2016-04-03 23:01] enki-code commented on #33
@shu8 Those look good to me! As far as the sorting goes, looks like we're going to be doing it manually.  I'll start by alphabetizing the categories and we'll see how it looks. Also, some of the features that are in the Unsorted section could be graduated to Appearance, most of them in fact.

[2016-04-04 08:36] shu8 commented on #33
@enki-code lol, it came from a standalone userscript: http://meta.stackexchange.com/a/252095/260841 :P We can get rid of it. I'll add it to the deprecated features and remove it from the JSON.

[2016-04-04 13:19] shu8 commented on #34
@catb0t @enki-code

for duplicates, how would you feel about the orange 'duplicate' sign actually linking to the dupe??

just asking, because there's a chance you accidentally click the sign when you want to go to the quesiton...

[2016-04-04 14:07] catb0t commented on #34
@shu8 I'd enjoy it since I'm used to thinking of the label being a separate entity, and so I don't click it to go to the question itself.

Perhaps the "duplicate" sign linking to the dupe, and the close information being a tooltip on the sign, could be different options in the dropdown, so they can be enabled individually?

[2016-04-04 14:15] shu8 commented on #34
@catb0t I've done all that now^^ you can reinstall the dev userscript to see the changes.

Could you test it and give any feedback so I can fix it completely? Thanks! :D

---

I was thinking we could possibly add a control panel specifically for features, but right now, that just won't work.

@enki-code is it worth looking into for v1.0.4?? It could be pretty cool -- features could have toggle-abl

[2016-04-04 14:23] shu8 commented on #33
@enki-code do you have any local changes to the JSON? I haven't updated it yet incase I overwrite something...

[2016-04-04 14:43] catb0t commented on #34
@shu8 I just reinstalled and the tooltips don't seem to work, nor do the dupe links. They have HTML like:
[code]
which should probably be
[code]
Essentially, nothing seems to have changed, or at least I can't get it to work.

[2016-04-04 14:53] shu8 commented on #34
@catb0t whoops! Sorry!! I forgot to update the resource URLs on github.. :/

I've done it now, so reinstalling should work.

sorry again :/

[2016-04-04 15:29] catb0t commented on #34
@shu8 It works, it's damn beautiful! :D [status-completed](http://meta.stackexchange.com/questions/tagged/status-completed)!

[2016-04-04 15:29] #34 closed

[2016-04-04 15:31] shu8 commented on #34
@catb0t great!! :D If you see any bugs or extra feature requests, please do comment :)

[2016-04-04 15:47] enki-code commented on #33
@shu8 No, go ahead and push your changes.

[2016-04-04 16:05] enki-code commented on #24
@shu8 The task list progress is no longer being displayed in on the issues page for this, any ideas why? I've tried swapping tags, removing the milestone, rewriting the list.. I'm stuck.

[2016-04-04 16:06] enki-code opened #35 "Task List progress not being displayed"
- [ ] task one
- [x] task two
- [ ] task three
- [ ] task four

[2016-04-04 16:10] enki-code commented on #35
@shu8 The task list progress is no longer being displayed on the issues page for any issues, any ideas why? I've tried swapping tags, removing the milestone, rewriting the lists.. I'm stuck.  Maybe GitHub made some changes?

[2016-04-04 16:18] shu8 commented on #35
@enki-code hmmm I don't see it either. can't find anything about this on google...

[2016-04-04 16:19] enki-code commented on #33
@shu8 The SOX Dialog closes when the page is clicked but does not close when any of the other dialogs are opened.  Think you can take care of that, pleeeease? :+1:

[2016-04-04 16:20] enki-code commented on #35
@shu8 I emailed GitHub, waiting for a response now.

[2016-04-04 16:22] shu8 opened #36 "SOX Dialog Feature Search"
**Installed Version: 1.0.3DEV  |  Environment: Tampermonkey/Chrome**

How do you like this:

![this](https://cloud.githubusercontent.com/assets/8850830/14254904/afbe2ad8-fa89-11e5-8e36-150ccf1f4c32.gif)

?

Thought I should ask before I add it to the settings dialog box...

Thoughts?

[2016-04-04 16:23] shu8 commented on #33
@enki-code sure! :) will do some time today, and I'll push my JSON changes as well.

[2016-04-04 16:25] enki-code commented on #36
Yes. But, let's put it in it's own defined section, not under appearance :)
The markup is

[code]

[2016-04-04 16:37] shu8 commented on #36
@enki-code sure I'll try that now

[2016-04-04 17:04] shu8 commented on #36
implemented in v1.0.3

[2016-04-04 17:04] #36 closed

[2016-04-04 17:35] shu8 commented on #33
@enki-code I've shortened those descriptions now :)

[2016-04-05 14:49] catb0t opened #37 "Fixed-position top-bar nowhere to be found on Skeptics.SE"
**Installed Version: 1.0.3DEV  |  Environment: Tampermonkey/Chrome**

**Expected Behavior**

Topbar position on Skeptics.SE should reflect that of all other sites, rather than hiding itself.

**Actual Behavior**

**Only on Skeptics.SE**, if the `Fix topbar position` option is checked, then the top-bar will not display at all and you will need to uncheck the option from another page.

![part1](http

[2016-04-05 15:42] enki-code commented on #37
@catb0t  We've encountered this before on different sites. It's the `margin-top: -34px` rule that we use, I'll look into a different way of handling this today, something a little more cross site friendly.

Thanks for bringing this to our attention.

[2016-04-05 15:49] enki-code commented on #35
For reference:

From: Rachel Berry (GitHub Staff)

Hi Enki,

Thanks for letting us know! Our engineering team is looking into why that went missing, and I'll be in touch once I know more. Appreciate your help!

All the best,
Rachel

[2016-04-05 16:26] enki-code commented on #37
This should be fixed now in the DEV branch.

[2016-04-05 17:03] shu8 commented on #37
Can confirm it's fixed @enki-code :)

[2016-04-05 17:14] #37 closed

[2016-04-05 17:57] catb0t commented on #37
Fixed! :D

[2016-04-05 19:51] #24 closed

[2016-04-05 19:51] shu8 commented on #24
v1.0.3 has been pushed to master

[2016-04-05 20:13] shu8 opened #38 "v1.0.4"
## v1.0.4

- [ ] Update resource URLs to use RawGit CDN
- [ ] Tested on Chrome
- [ ] Tested on Firefox
- [ ] All features working
- [ ] No errors in console

[2016-04-05 22:53] catb0t opened #39 ""Linked" arrows should be arrows, not Lemmings"
**Installed Version: 1.0.3DEV  |  Environment: Tampermonkey/Chrome**

TL;DR the arrows in the Linked section of a question, borne of [here](http://meta.stackexchange.com/questions/276235), seem to all point "here" rather than reflect reality.

**Expected Behavior**

"Linked-from-here" arrows point NE, "away" from the question, while "Linked-to-here" arrows point SW, "towards" the question.

**Actu

[2016-04-05 23:09] catb0t opened #40 "Two-directional arrows for links to here that are also linked from here"
Question A links to question B. Question B links to question A. The [<s>Lemmings</s>](https://github.com/soscripted/sox/issues/39) arrows in the "Linked" section for question A will likely show that question B is *linked by here* and similarly for question B, for the reasons noted in the previous paragraph.

This is, as I've just demonstrated, rather confusing. Could SOX use some form of black mag

[2016-04-06 00:14] enki-code commented on #39
I noticed this the other day and completely forgot about it. We'll look into this and incorporating the related feature request (if possible).

[2016-04-06 00:24] catb0t commented on #39
@enki-code Just think, if you don't fix this, SOX's tagline can be [Kinda like Lemmings](http://minecraft.wikia.com/wiki/Splash_Texts)!

[2016-04-06 08:46] shu8 commented on #39
<img width="317" alt="screen shot 2016-04-06 at 09 46 14" src="https://cloud.githubusercontent.com/assets/8850830/14310911/6e1b04d0-fbdc-11e5-9a89-e6cbad0c32ec.png">

So do you not see this? @catb0t

[2016-04-06 08:48] shu8 commented on #40
@catb0t your guess is completely right... so this would require a bit of a change, but not too much.. I could $.get() the page and look for the link to the current page.

So, yeah, I should be able to do this! :) (when we get the other issue sorted)

[2016-04-06 13:22] catb0t commented on #39
@shu8 Wat.

![wat](https://cloud.githubusercontent.com/assets/3238748/14318048/1b4bf9ba-fbd9-11e5-870e-c5d7f1f25101.png)

[2016-04-06 13:57] shu8 commented on #39
@catb0t hmmm that's *very* weird.. @enki-code can you confirm you also see that?

I can't see why this is happening... are you up to date? Try installing the *master* version -- v1.0.3 has been pushed there now...

[2016-04-06 15:16] enki-code commented on #39
@shu8
**v.1.0.3 official**

![pointer](https://cloud.githubusercontent.com/assets/12533449/14321838/a61fbfa4-fbcf-11e5-9fda-cba5aa2132da.png)

[2016-04-06 15:18] shu8 commented on #39
@enki-code are you free for chat?

[2016-04-06 15:53] cullub opened #41 "Black/Green Eye (downvoted post edit notification): add tooltip and cursor"
**Installed Version: 1.0.3  |  Environment: Firefox/Greasemonkey**

**Expected Behavior**

Could you make the cursor be a pointer to show that it can be clicked?
Also, could you add a tooltip showing what it does when you click it?

**Steps to reproduce**
![greeneye](https://cloud.githubusercontent.com/assets/7533931/14323350/d2b53024-fbe5-11e5-94f0-f18afb832463.gif)

[2016-04-06 15:57] shu8 commented on #41
@cullub sure, will do asap

[2016-04-06 16:03] shu8 commented on #39
@catb0t @enki-code I've pushed a fix to DEV. please could you reinstall the dev version and confirm?

[2016-04-06 16:09] enki-code commented on #39
@shu8 confirmed

[2016-04-06 16:12] #39 closed

[2016-04-06 16:57] shu8 commented on #40
ok... this isn't going to be *as* easy as I thought it would... it'll happen but not today :(

[2016-04-06 23:28] cullub commented on #41
By the way, what is it anyways?  :)

[2016-04-06 23:37] catb0t commented on #41
@cullub it gives you a notification if that post gets edited, it's pretty cool

[2016-04-07 01:28] enki-code commented on #41
@cullub I use it for tracking edits on posts that I have downvoted. That way if I feel the post has been improved I can remove my downvote and possibly give an upvote.  It's nice, it's opt in so you only get notified on posts you wish to be notified about.

We've discussed removing that icon and placing a link inside the post menu (share, edit, flag). This will likely happen over the next few days

[2016-04-07 15:33] enki-code commented on #35
Update:

Hi Matthew,  <--- yes that's my name

Thanks for following up. We're still working on a fix, but we were able to determine that this only affects issues/PRs where there is text in the body of the comment that comes *before* the task list. So a workaround while we're still getting a fix out is to move the tasklist to the top of your issue content. I know that's not at all ideal, and we're

[2016-04-07 15:40] #35 closed

[2016-04-07 18:28] SeinopSys opened #42 "Favourite tag colors on SO are a bit hard on the eyes"
**Installed Version: 1.0.3  |  Environment: Chrome/Tampermonkey**

**Expected Behavior**

The tags should have an easily legible background & text color combination.

**Actual Behavior**

The tags are slightly hard to read due to lack of enough contrast. According to [contrast-ratio](http://leaverou.github.io/contrast-ratio/#%2339739d-on-%23c3dafa) the colors used are considered acceptable if they

[2016-04-07 18:37] shu8 commented on #42
I don't think it would be a good idea to increase the size, so do you have
any ideas on a different colour?

The font-color could be a bit darker...? Or do you think it should be a
different background-color altogether?

On Thu, Apr 7, 2016 at 7:28 PM, David Joseph Guzsik <
notifications@github.com> wrote:

[2016-04-07 18:41] SeinopSys opened #43 "Issue template automatic version number injection broken"
**Installed Version: 1.0.3  |  Environment: Chrome (49.0.2623.110)/Tampermonkey**

**Expected Behaviour**

When reporting an issue, the `1.X.X` should [change to the installed version number](https://github.com/soscripted/sox/issues/31).

**Actual Behaviour**

The value is left unchanged.

**Steps to reproduce**

 1. Try creating a [new issue](/soscripted/sox/issues/new)
 2. Notice the default gen

[2016-04-07 18:42] SeinopSys commented on #42
I think `#D7E6FB` would fit as the new background, with the border it puts enough emphasis on the tag:

[2016-04-07 18:52] SeinopSys opened #44 "Feature Request: Make SOX settings panel behave similar to other panels in the topbar"
**Installed Version: 1.0.3  |  Environment: Chrome/Tampermonkey**

**Expected Behaviour**

While having a "native" panel open and hovering over a different "native" icon, that menu is opened automatically. I think for the menu to look properly integrated this behaviour should be retained in the script.

**Actual Behaviour**

Moving the mouse over the SOX icon in the header does nothing while keepi

[2016-04-07 19:14] enki-code commented on #43
Yeah, this is actually a bit of an issue. I noticed this earlier today.

We might have to change the way we're doing this or drop it all together now that the version number is included in the dialog.   The problem is the way GitHub is loading content, we're having some timing issues.

[2016-04-07 19:15] enki-code commented on #44
Ahhh!!  You're finding everything!  Again, I noticed this earlier today, and will work on getting that sorted out.

[2016-04-07 19:18] enki-code commented on #42
There is actually a few issues with that feature that I'd like to take care of. It doesn't work with tag wildcards, like html* should catch html, html4, html5, ect.. but, it's not.

I agree, the colors could be a little better. We'll try to come up with something that'll be a little easier on the eyes.

[2016-04-07 19:20] SeinopSys commented on #43
Can't you just use some placeholder text like `Click/focus to generate template` and bind a delegated `focus` handler somewhere, so when the input is focused the template is added with no race conditions?

[2016-04-07 19:29] shu8 commented on #43
@SeinopSys That's a great idea! If the fix I have in mind doesn't work, I think we'll go with that :)

[2016-04-07 19:33] enki-code commented on #42
After a little bit of digging, it appears as though there is some CSS already in place but not being used for favorite tags.

[code]

Which produces
![tag-colors](https://cloud.githubusercontent.com/assets/12533449/14364245/d795c13a-fcbc-11e5-9b4c-a937dc8bf319.png)

We could add a border to that and have something like this.
![tag-colors-borders](https://cloud.githubusercontent.com/assets/12533449

[2016-04-07 19:36] shu8 commented on #42
@enki-code looking good! :)

[2016-04-07 19:36] SeinopSys commented on #42
Might be just me, but I think having the star half the `font-size` with `line-height` matching the `height` might look a bit better than a full-sized star.

[2016-04-07 19:46] shu8 commented on #43
@enki-code and @SeinopSys I think I've fixed it. Could you please install the DEV version and confirm?

[2016-04-07 19:49] shu8 commented on #44
@enki-code This is how SE does this:

    showOnMouseOver: function () {
            // http://meta.stackexchange.com/questions/210177/dont-require-a-click-to-switch-between-sites-inbox-and-achievements-on-the-ne
            var shouldShow = false;

            // find out if any buttons/dialogs are visible
            for (var i = 0; i < buttons.length; i++) {
                var b = buttons[i];

[2016-04-07 19:53] SeinopSys commented on #43
There's a slight network delay:
![](http://i.imgur.com/6ZXjZC2.gif)

I'd suggest adding a `Checking…` in there until the request either finishes or fails and disabling the input while that's happening, if possible.

[2016-04-07 20:31] shu8 commented on #44
@enki-code @SeinopSys I've done this now :) Please could you test it in the DEV version (just pushed it)

![this](https://cloud.githubusercontent.com/assets/8850830/14365912/0e292eee-fd08-11e5-9e97-798b673e2dfa.gif)

I've tried to test all possible transitions and it seems to work^^, but if there's a bug please tell me!

Next step: do the same to the mod diamond! :D

[2016-04-07 20:35] SeinopSys commented on #44
It is indeed working.

[2016-04-07 20:36] shu8 commented on #44
@SeinopSys great! :D

[2016-04-07 20:36] #44 closed

[2016-04-08 00:10] enki-code commented on #43
I'll be pushing a change to this here shortly that should solve the polling, timing and delay issues.

![version-inject](https://cloud.githubusercontent.com/assets/12533449/14370483/864b5b2e-fce3-11e5-91e0-f8200d2a5c44.gif)

[2016-04-08 07:58] jfcorbett opened #45 "Unchecking pre-defined edit comment options (checkboxes) doesn't remove semicolon"
**Installed Version: 1.0.3  |  Environment: Firefox/Greasemonkey**

**Expected Behavior**

When checking a second comment option, a semicolon is automatically added after comment from the first option. If you then uncheck the second option, the comment gets removed, and you would also expect the semicolon delimiter to be removed as well.

**Actual Behavior**

When unchecking the second option, the

[2016-04-08 08:41] shu8 commented on #45
@jfcorbett thanks! I can reproduce this and will work on a fix.

[2016-04-08 14:55] cullub commented on #41
Ok, cool - nice to know!

[2016-04-08 15:05] shu8 commented on #45
@jfcorbett I've fixed this in the latest DEV version. Please could you install that and confirm it is fixed for you?

[2016-04-08 16:47] shu8 commented on #41
@cullub @enki-code I've changed the eye to this:

![this](https://cloud.githubusercontent.com/assets/8850830/14391083/e6aa7076-fdb1-11e5-913a-b07e05403433.png)

looks a bit less odd now... and fixes a bug with bounty indicators :)

It's in the latest DEV 1.0.4 version.

(I might do something about the spacing there...)

[2016-04-08 16:48] #41 closed

[2016-04-08 17:32] enki-code commented on #43
@SeinopSys An update as to why this was such an issue. GitHub uses pjax for loading content, so if navigating to the new issue page from any other page none of our code was being executed. I spent some time digging, found out they were using pjax, not ajax, and wired up an event for that and everything seems to be working fine now with little to no delay.

If you're curious, this is the code that

[2016-04-08 17:40] #43 closed

[2016-04-08 18:07] catb0t opened #46 "GitHub "New Issue" box isn't editable"
The autofill feature being discussed in #43 makes the version number show up properly (yay!) but has the side effect of the text box into which I am currently typing being not editable, (boo!) meaning I have to go disable SOX before writing an issue.

**Steps to repro**: Update to 1.0.4DEV and try to make a new issue here at https://github.com/soscripted/sox/issues/new.

[2016-04-08 18:11] catb0t opened #47 "Example screenshot on README is not as cool as it could be"
**Installed Version: 1.0.4DEV  |  Environment: Chrome/Tampermonkey**

The screenshot on the README's really out of date. I'd provide one right here to be a nice person, but at least one of the developers has  Mac that takes pretty screenshots with shadowing and stuff.

**Expected Behavior**

The README should have a screenshot that shows the beautiful amazingness that is the current, searchable, l

[2016-04-08 18:19] catb0t commented on #46
It has HTML like:

[code]

Not editable:

![notedit](https://cloud.githubusercontent.com/assets/3238748/14393348/905145f0-fd94-11e5-8661-1e1b208cf24f.png)

if you remove the `disabled` at the end of that tag, it magically becomes editable!

![editable](https://cloud.githubusercontent.com/assets/3238748/14393354/9a223940-fd94-11e5-954b-d4c1bd2f77ed.png)

[2016-04-08 18:43] shu8 commented on #46
@catb0t weird! But repro'ed and looking into it.

We missed it because we were just looking at the version being added!!

Thanks, again :)

[2016-04-08 18:44] shu8 commented on #47
@catb0t lol, it is on the master branch:

![](https://cloud.githubusercontent.com/assets/12533449/14296194/c732b1b2-fb2d-11e5-9563-1e34b12eada9.png)

... but not on the DEV. will change ASAP

[2016-04-08 18:56] shu8 commented on #42
@SeinopSys Could you install the latest DEV (again, sorry!) and see whether it's any better.

![this](https://cloud.githubusercontent.com/assets/8850830/14394386/e7ecf2f8-fdc3-11e5-877b-232f6c39170a.png)

It also fixes the problem @enki-code said about wildcards.

The star might be a bit too dark on second thoughts...

[2016-04-08 18:57] shu8 commented on #46
@catb0t fixed in latest DEV :+1:

[2016-04-08 18:57] #46 closed

[2016-04-08 18:59] shu8 commented on #47
@catb0t done :+1:

[2016-04-08 18:59] #47 closed

[2016-04-08 19:03] shu8 commented on #47
@catb0t BTW none of us uses Macs for our screenshots... :P

[2016-04-08 19:05] enki-code commented on #47
I just had to google *lexicographically*.   I took that screen shot, cropped it in ms paint and opened it in pixlr to do the box blur. :)

[2016-04-08 19:14] enki-code commented on #42
@shu8  Yeah, the colors need some work.

[2016-04-08 22:39] SeinopSys commented on #42
@shu8 That star color does not fit whatsoever

[2016-04-08 23:54] enki-code commented on #42
@SeinopSys We're already changing it.

We'll be using:
★	Dark Star	`&#9733;`

[2016-04-09 08:27] shu8 commented on #42
@SeinopSys lol yeah... I'm pretty bad at anything UI-related :P

[2016-04-10 01:51] enki-code opened #48 "Favorite Question Tag Highlighting with Wildcards*"
**Installed Version: 1.0.4DEV  |  Environment: Tampermonkey/Chrome**

The favorite question tag highlighting should work with tag wildcards `*`.

Right now, it's missing a lot.

![tag-skipping](https://cloud.githubusercontent.com/assets/12533449/14407590/063bd362-fe84-11e5-9656-e9aba534c026.png)

[2016-04-10 03:54] enki-code opened #49 "Toggle Vote Counts"
@shu8

If this doesn't get implemented by SO, I think we should go ahead and add it to SOX.

https://meta.stackoverflow.com/questions/320620/can-we-toggle-off-the-score-breakdown-without-refreshing-page

See [my answer](http://meta.stackoverflow.com/a/320736/1454538) on that post.

This is how it SHOULD be:
![vote-toggle](https://cloud.githubusercontent.com/assets/12533449/14407983/35002caa-fe95-1

[2016-04-10 09:35] shu8 commented on #49
@enki-code yep, looks like a nice feature we can add :)

[2016-04-10 09:38] shu8 commented on #48
@enki-code I see this:

<img width="763" alt="screen shot 2016-04-10 at 10 36 44" src="https://cloud.githubusercontent.com/assets/8850830/14409348/244718d8-ff08-11e5-8917-480640672548.png">

When I have the asp.net-mvc* tag favourited... are you sure you have the latest DEV installed?

If you do, any errors in console? Because it seems to be working for asp.net-mvc, which means the regex is being

[2016-04-10 12:16] rjrudman opened #50 "'Get access token?' link broken"
**Installed Version: v1.0.3  |  Environment: Chrome/Tampermonkey Version 49.0.2623.110 m**

**Expected Behavior**

Link should work on all stack exchange sites, or guide the user to `meta.stackexchange.com` to get their access token

**Actual Behavior**

Clicking a link while *not* on http://meta.stackexchange.com/ throws an error.

**Error Logs**

**Steps to reproduce**

Visit http://stackoverflo

[2016-04-10 12:17] shu8 commented on #50
@rjrudman thanks for posting here! I think I have a fix ready, just testing and then I'll push :)

[2016-04-10 12:52] shu8 commented on #50
@rjrudman ok, it's fixed :)

Please could you install [1.0.4 DEV](https://github.com/soscripted/sox/blob/dev/sox.user.js) and confirm this is now working for you?

---

if you're interested...: :)

When registering an app on Stack Apps, you have to give an Oauth Domain, which has to be a single site, so I've made it check for which site you're on and compare it to the current site. If you're not o

[2016-04-10 13:28] rjrudman commented on #50
Yep - works perfectly, thanks! :)

[2016-04-10 14:56] #50 closed

[2016-04-11 12:20] jfcorbett commented on #45
It's fixed!

[2016-04-11 13:13] #45 closed

[2016-04-12 07:12] jfcorbett opened #51 "Reply-to-comment button does nothing"
**Installed Version: 1.0.4 DEV  |  Windows 7/GreaseMonkey/Firefox**

**Expected Behavior**

Clicking reply-to-comment button should open comment dialog and start comment with "@username".

**Actual Behavior**

Clicking reply-to-comment has no detectable effect.

**Error Logs**

`TypeError: $(...).parents(...).find(...).first(...).find(...).attr(...) is undefined sox.features.js:576:34
`

**Steps t

[2016-04-12 07:44] jfcorbett opened #52 "Canned comment view/edit/delete dialog opens in a weird place"
**Installed Version: 1.0.4 DEV  |  Environment: Windows 7/Firefox/GreaseMonkey**

**Expected Behavior**

Alt-O opens pre-defined comment view/edit/delete dialog .

**Actual Behavior**
Dialog opens at a semi-sensible place for some page zooms, but:

- At  larger zoom (which I usually use): Dialog opens at top of page, which is usually completely outside the visible area when page is scrolled down t

[2016-04-12 17:54] enki-code commented on #52
I'm working on rewriting this feature. It has some functional issues as well as UI issues.

[2016-04-12 18:00] shu8 commented on #51
@jfcorbett thanks! will look into it

[2016-04-13 03:21] catb0t opened #53 "Tabular reviewer stats should really get in shape"
**Installed Version: 1.0.4DEV  |  Environment: Tampermonkey/Chrome**

Tabular reviewer stats aren't very tabular.

**Expected Behavior**

Like this:

![](http://i.stack.imgur.com/exlYN.png)

**Actual Behavior**

Like this:

![stats](https://cloud.githubusercontent.com/assets/3238748/14481575/57c1d9b8-0102-11e6-90c2-d6090d48186a.png)

**Error Logs**

yay, error logs, for once.

[code]
I'm not actua

[2016-04-13 06:14] shu8 commented on #53
Think I know why... I'll push a fix ASAP

[2016-04-13 07:17] jfcorbett commented on #52
Note that this has the same target functionality as the existing AutoReviewComments script: http://stackapps.com/questions/2116/autoreviewcomments-pro-forma-comments-for-se

[2016-04-13 12:05] catb0t opened #54 ""Linked" arrows should be deterministic"
**Installed Version: 1.0.4DEV  |  Environment: Tampermonkey/Chrome**

Feature request: arrow direction shouldn't be chosen by cryptographically secure RNG

**Expected Behavior**

"Linked" arrows shouldn't imply a link in a certain direction when there is none. This isn't a side effect of #40 as it only seems to happen when there's a link in exactly one direction.

**Actual Behavior**

![magic](htt

[2016-04-13 12:21] catb0t opened #55 "Favourite tags highlight more than I bargained for"
**Installed Version: 1.0.4DEV  |  Environment: Tampermonkey/Chrome**

This is the corollary to #48: I don't have any `wildcards*` in my favourite tags, but it's still too greedy.

**Expected Behavior**

Only favourite-highlight and star tags that I've actually favourited.

**Actual Behavior**

Like this:

![greedy2](https://cloud.githubusercontent.com/assets/3238748/14492725/3cd04b4c-014f-11e6-9d7

[2016-04-13 13:11] catb0t commented on #55
Here are more examples of this going wrong. I didn't do anything special, just scrolled http://stackoverflow.com.

In this one, `[sicp]` is not a favourite tag but is strongly related to `[scheme]` and `[racket]`.

![greedy3](https://cloud.githubusercontent.com/assets/3238748/14494128/37a4a214-0157-11e6-99cd-216f1344b229.png)

Here, `[csv]`, `[pyenchant]` and `[enchant]` are not in my favourite ta

[2016-04-13 16:32] enki-code commented on #55
It's us. I will look into getting this resolved today, if I have time. Looks like we have a lot to work on.

[2016-04-13 16:33] shu8 commented on #55
@enki-code think I need a word boundary in the regex :/

btw can you check for errors for the other issue with this feature? (see the comment there)

[2016-04-13 16:34] shu8 commented on #54
that feature is in the process of being rewritten for the other feature-request. so this should be fixed with that.. bit busy atm but should be done by the weekend

[2016-04-13 16:41] enki-code commented on #55
@shu8  I would check to see if the tag has a wild card if it does, then do indexOf, if not, just compare strings and make sure they match.

[2016-04-13 16:43] shu8 commented on #55
@enki-code I think we could just add a `\b` to the regex:

           for(var i = 0; i<len; i++) {
                if(interesting[i].indexOf('*') != -1) {
                    interesting[i] = interesting[i].replace('*', '.*'); //replace wildcards with regex equivalents
                }
            }

            $('.tagged-interesting > .summary > .tags > .post-tag').filter(function(index) {

[2016-04-13 21:45] enki-code commented on #42
Okay, so... I made a few changes and had to make a judgement call.

I removed the borders.  Messing with the borders screws up the tags on a few sites.

I didn't like the star that we were using or the one that I had planned on using; the one I mentioned in my previous comment. They just didn't look **good**.

So... This is what I came up with.

![tag-highlighting](https://cloud.githubusercontent.

[2016-04-13 21:55] SeinopSys commented on #42
Looks good to me.

[2016-04-13 22:12] enki-code commented on #39
@catb0t @shu8

What do you think of using the chevrons instead of those arrows?

![linkedtofrom](https://cloud.githubusercontent.com/assets/12533449/14511102/0a6d18a2-018a-11e6-8070-ae875fdcce27.png)

And using BOTH when linking occurs in both directions?

[2016-04-13 22:59] catb0t commented on #39
@enki-code Nice, I like!

[2016-04-14 02:39] enki-code commented on #42
I've pushed a fix for this.   Still working on the rest of the function itself, trying to eliminate the timeout and get it to properly match the *favorited* tags.

[2016-04-14 02:39] #42 closed

[2016-04-14 03:53] enki-code commented on #9
I'm closing this, let's make individual feature requests for the feature's we decided to go with.

[2016-04-14 03:53] #9 closed

[2016-04-14 03:53] #49 closed

[2016-04-14 15:17] shu8 commented on #42
@enki-code looking really nice!! :D

[2016-04-14 15:25] enki-code commented on #42
@shu8 I was able to remove the timeout. :)

![fav-highlighting](https://cloud.githubusercontent.com/assets/12533449/14533578/7633c5e6-021a-11e6-99e7-3533497e288e.gif)

[2016-04-14 16:03] catb0t commented on #54
@shu8 cool! you needn't rush; sorry if you felt overwhelmed by my slew of bugs, I had been building evidence :P

[2016-04-14 16:31] catb0t opened #56 "Notifications shouldn't mangle contributors' names"
**Installed Version: 1.0.4DEV  |  Environment: Tampermonkey/Chrome**

SOX: the latest technology in C++ name-mangling

**Expected Behavior**

The names in the inbox should be the commenters' names :P

**Actual Behavior**

Names in notifications are... wrong. The **top three notifications** were all made by one user, [Alex A. ♦](http://meta.codegolf.stackexchange.com/users/20469/alex-a).

![nameman

[2016-04-14 16:34] enki-code opened #57 "Favorite tag highlighting when changing pages"
**Installed Version: 1.0.4DEV  |  Environment: Tampermonkey/Chrome**

**Expected Behavior**

When the highlight favorite tags feature is enabled the tags should be highlighted when the page loads, when new questions are loaded and when moving to different pages.

**Actual Behavior**

Favorite tags are not being highlighted when transitioning to a different page.

** Info

The questions are likely

[2016-04-14 16:44] shu8 commented on #56
@catb0t seems to be a problem with the API lookup -- `meta` is Meta SE... will fix by weekend!

[2016-04-14 16:47] shu8 commented on #57
@enki-code seems like a GET request to `http://stackoverflow.com/?page=2&pagesize=15&layout=compact&_=1460652389388` is sent, try adding an ajaxComplete() wrap around it..?

[2016-04-14 16:57] enki-code commented on #57
I tried running my ajax complete script and it wasn't coming up with anything. Will try again now.

[2016-04-14 17:03] enki-code commented on #56
@shu8 Is that feature using the API param helper?

[2016-04-14 17:05] shu8 commented on #56
@enki-code no, I'm actually working on it now. should be able to do it today.

@catb0t Which site is that notification for?

[2016-04-14 17:14] shu8 commented on #56
@catb0t can you please reinstall and check whether this is fixed? :)

[2016-04-14 17:40] shu8 commented on #57
@enki-code hmm the ajaxComplete event is fired if you put it in the *console*.

It just doesn't work when we put it in the userscript...

[2016-04-14 17:44] shu8 commented on #55
ok... so I just read this issue properly...

I can't actually repro this and see that you said it happened at a random time but i don't think a word boundary regex would actually help in this case...

It's a weird bug though! Maybe try installing the latest dev version and see if anything has (unintentionally) fixed it? ;)

[2016-04-14 17:54] enki-code commented on #57
@shu8 I've got it :)

[2016-04-14 18:08] shu8 commented on #53
@catb0t should be fixed now. please can you install the latest dev version to confirm?

[2016-04-14 18:11] shu8 opened #58 "Best way to check for complete page load?"
Is the best method we have for checking whether the page is completely loaded either:

[code]

or...

[code]

or something else?

We need to create a helper function in the form of:

    SOHelper.onPageReady(function() {
         //code to be ran when page is ready
     });

but I'm not sure which of those methods we should use..

[2016-04-14 18:19] enki-code commented on #58
StackExchange.ready seems to be working the best for me.  A combination of both is required for some things to work so I don't think we'll really be able to refactor that much.

[2016-04-14 18:21] enki-code commented on #57
@shu8 I think I may know why.

[2016-04-14 18:33] shu8 commented on #57
@enki-code lol yeah I'd checked that already :/

[2016-04-14 18:34] shu8 commented on #58
@enki-code that's annoying.. we really need an accurate usable way for everything!! I'll see if I can find anything...

[2016-04-15 00:52] catb0t commented on #58
The way it works currently seems pretty nice from *my* end, but I'm also not building the thing.

[2016-04-15 01:12] catb0t commented on #53
Yay! It's fixed :D

[2016-04-15 01:12] #53 closed

[2016-04-15 01:33] catb0t commented on #56
Fixed! :D

[2016-04-15 01:33] #56 closed

[2016-04-15 01:34] catb0t commented on #56
@shu8 it's Code Golf, not that it matters since it's fixed

[2016-04-15 15:06] catb0t commented on #55
@shu8 Yaaay, it's fiiixed! Also, I *really* love the current styling:

![sidebar](https://cloud.githubusercontent.com/assets/3238748/14565644/110bebd6-02fa-11e6-8d5f-1a95991f90f1.png)

That orange highlight on the left side is literal perfection -- you guys rock :P

[2016-04-15 15:06] #55 closed

[2016-04-15 15:17] shu8 commented on #48
@enki-code does this still happen? Anything in the console?

[2016-04-15 16:42] enki-code commented on #58
@catb0t  Feel free to submit pull requests :)

[2016-04-15 16:44] enki-code commented on #55
@catb0t I found the previous styling for favorites extremely hard for me to read.. Any text on that yellow background and I find my self squinting and reaching for a giant magnifying glass.

Glad you like the new style.

I thought about making a formal feature request on meta to ask that the favorite question styling be changed.

[2016-04-15 16:46] enki-code commented on #48
@shu8
Yeah, it's still happening, no errors in the console..  I will reinstall and check later, I'm in a rush to get out of the house today. Sorry.

[2016-04-15 16:49] shu8 commented on #48
@enki-code sure no problem :)

[2016-04-15 16:51] shu8 commented on #55
@enki-code I think you could actually make a feature request for that... I'm pretty sure I've seen posts complaining about the extreme orangeness on SO... I'll see if I can find one

[2016-04-15 19:51] catb0t commented on #55
@enki-code  I'd back it with a bounty, as I so often do. :D

[2016-04-16 01:55] enki-code commented on #55
@catb0t @shu8 Posting to Meta SE. Some support would be much appreciated :+1:

https://meta.stackexchange.com/questions/278354/favorite-tag-highlighting

[2016-04-16 01:56] enki-code commented on #42
@SeinopSys I posted a feature request on Meta SE regarding the favorited tag highlighting.
https://meta.stackexchange.com/questions/278354/favorite-tag-highlighting

[2016-04-16 11:35] shu8 commented on #51
@jfcorbett this should be fixed now. Please can you reinstall v1.0.4 DEV and confirm it is working for you? :)

[2016-04-16 14:50] jfcorbett commented on #51
Hereby confirmed!

[2016-04-16 16:33] #51 closed

[2016-04-16 18:51] shu8 commented on #54
@catb0t should be fixed now... I'm almost done with the rewrite, but this should fix this issue. can you confirm? :)

[2016-04-16 19:28] shu8 commented on #40
@catb0t I've added this now. Please can you install the latest DEV version and confirm it is working for you?

Also, any ideas on how it should look? It looks like this right now...

![this](https://cloud.githubusercontent.com/assets/8850830/14583178/bcb1f274-0411-11e6-955d-f04546360d10.png)

@enki-code ?^^

[2016-04-16 19:40] enki-code commented on #40
Yeah! That'll work!

[2016-04-16 21:14] shu8 commented on #22
ok.. this ace editor is a pain.

Thoughts on getting rid of the ace editor section entirely? @enki-code

[2016-04-16 21:33] enki-code commented on #22
@shu8 I honestly wouldn't be bothered by it.  It might be better off on its own, as a strand alone script.

[2016-04-17 02:40] catb0t commented on #54
Yesss, it's fixed! :D

[2016-04-17 02:40] #54 closed

[2016-04-17 02:41] catb0t commented on #40
This is the most beautiful thing I've ever seen. You guys need a big fat donate button...

[2016-04-17 02:41] #40 closed

[2016-04-17 02:58] enki-code commented on #40
@catb0t Just having you say things like that and using the script is enough for me. I really appreciate it.

[2016-04-17 10:08] shu8 commented on #57
@enki-code This should be fixed now. Can you install the latest dev version and confirm? :)

[2016-04-17 15:15] shu8 commented on #22
@enki-code right. getting rid of the ace editor then. Will do in a bit

[2016-04-17 15:31] shu8 commented on #22
I've removed the Ace Editor feature.

To anyone who sees this in the future, the feature is available as a separate userscript at Stack Apps:  [Stack Exchange Editor Extra: a userscript to add extra features to the Markdown Editor](http://stackapps.com/q/6508/26088)

[2016-04-17 15:31] #22 closed

[2016-04-17 18:27] enki-code commented on #58
@shu8 I'm not sure we're going to need a helper for this.

Having something like this in the user.js file would solve the problem.

[code]

Now, any features that require hooking the ajaxComplete can do so from within the feature function and not have to worry about the ready state of the document.

[2016-04-17 18:29] enki-code commented on #57
really!  moving the mutation observer to the document!! grrr!! why didn't I think of that!?

confirmed working.

nicely done!!

[2016-04-17 18:29] #57 closed

[2016-04-17 18:34] shu8 commented on #58
@enki-code ah! great idea! SOX itself can load the features after the document is ready!

[2016-04-17 18:40] enki-code commented on #48
No errors in the console.

It's still skipping some tags though.

![tag-wildcards](https://cloud.githubusercontent.com/assets/12533449/14589194/d60ba5e2-0490-11e6-88de-bb1d708ee8b4.png)

![tag-wildcards2](https://cloud.githubusercontent.com/assets/12533449/14589211/207dc966-0491-11e6-9db3-7da6c68ebc70.png)

[2016-04-17 18:42] enki-code commented on #58
@shu8 Also, I found that we don't need window.eval for helpers in Greasemonkey if you wait to call them until StackExchange.ready

I'd have to do some more checking, but, we might be able to get rid of those eval statements.

[2016-04-17 18:43] shu8 commented on #58
@enki-code in Firefox as well? I thought the problem with FF was that all the userscripts run in a sandbox so it can't access window variables...?

[2016-04-17 18:43] enki-code commented on #57
I gotta say... that looks really good :)  I really hope they adopt this feature.

[2016-04-17 18:46] enki-code commented on #58
Run this in FireFox Greasemonkey, it works.

[code]

[2016-04-17 18:46] shu8 commented on #48
@enki-code hmm.. ok thanks. I'll look into it a bit deeper ;|

[2016-04-17 19:21] shu8 commented on #58
@enki-code cool! seems like that should work... I'll test it with a modified version of the functions and see if it works properly

[2016-04-17 19:36] shu8 commented on #58
@enki-code hmm I can't get the StackExchange.ready() to fire in the userscript. I'm trying:

[code]

just before the `if(isAvailable()) {`, but nothing gets logged...

any ideas?

[2016-04-18 17:57] SeinopSys opened #59 "Eye icon doubles for posts that had been awarded a bounty"
**Installed Version: 1.0.3  |  Environment: Chrome/Tampermonkey**

**Expected Behavior**

Only one icon should appear.

**Actual Behavior**

2 icons appear instead:

**Steps to reproduce**

Visit http://stackoverflow.com/a/8923753/1344955

[2016-04-18 18:16] shu8 commented on #59
@SeinopSys The eye icon has been replaced with a link next to the flag links called 'notify on edit' in v1.0.4 DEV. so it has been fixed already (unintentionally :P)

[2016-04-18 18:16] #59 closed

[2016-04-19 20:44] enki-code opened #60 "Check List Test"
Check List Test for GH Staff

Text before the list...

- [ ] task one
- [ ] task two
- [ ] task three
- [ ] task four
- [ ] task five

[2016-04-19 20:54] enki-code commented on #60
it works!

[2016-04-19 20:54] #60 closed

[2016-04-19 22:54] enki-code opened #61 "Inline comment images"
When the *View linked images (to imgur) in comments inline* feature is enabled images should not break the text of the comment but should be displayed after the text.

[2016-04-24 19:36] fixer1234 opened #62 "No side-by-side editing button"
**Installed Version: 1.0.3  |  Firefox/Greasemonkey (Windows 7)**

**Expected Behavior**
How do you expect the feature to work?

Assume the side-by-side editing "button" is similar to that in the standalone script (text in the editing toolbar).

**Actual Behavior**
How is the feature currently behaving?

No button/link I can find anywhere to toggle side-by-side editing

**Error Logs**
SOX errors a

[2016-04-24 20:17] shu8 commented on #62
@fixer1234 could you try searching for 'side' in the search box in the settings panel and make sure `Add a button to the editor toolbar to start side-by-side editing` is checked.

Also, try pressing <kbd>ctrl</kbd> + <kbd>shift</kbd> + <kbd>j</kbd> to open the 'console'. Could you copy/paste anything you see there to help debugging this please?

thanks!! :)

[2016-04-24 22:38] fixer1234 commented on #62
The first thing I verified was that the feature was checked (also verified that the computer was plugged in :-} ).  Here's the console content:

Use of Mutation Events is deprecated. Use MutationObserver instead. options-content.js:36:0
mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Objec

[2016-04-25 20:11] shu8 commented on #62
@fixer1234 thanks a lot! it seems it is a problem with waitforkeyelements again :(

I think I have a fix and will ping you again tomorrow when I've got a bit of time to actually do it :P

Sorry for the delay! and thanks again! :)

[2016-04-29 20:47] shu8 commented on #62
@fixer1234 sorry for the extreme delay!! had a busy week :/

Please could you uninstall SOX and the original side by side userscript, and then install [this version of SOX](https://gist.github.com/shu8/0a0f2dad4ceeeb514625ba003c3b255e/raw/d71295644ca3634215a541b3e3ce6025bf9f8532/sox_debug.user.js), where I've added waitforkeyelements sightly differently.

hopefully, this will work! because I can't

[2016-04-30 00:55] catb0t commented on #62
Hi @fixer1234! From the console content, it seems like you possibly have other scripts or add-ons installed that might be interfering with SOX's, ahem, *hacky ways*. :P If you can, try disabling or uninstalling those.

[2016-04-30 08:31] shu8 commented on #62
@catb0t @fixer1234 ah this is Firefox!! sorry - I didn't notice that :/

I'll check again on FF and try to push a fix later today.

sorry for the delay, again! :)

[2016-04-30 13:49] shu8 commented on #62
@catb0t @fixer1234 hmm.. I still can't reproduce this in Firefox! Could you both try disabling any other userscripts you have, leaving the version of SOX I linked to installed?

Something must be clashing with it!! :/

[2016-04-30 14:02] shu8 commented on #61
@enki-code the images should, currently, be shown after the link if there is some text in the link, or it replaces the link if the link text is just the URL.

Do you have anywhere where this happens? Because it sounds like a bug..?

[2016-04-30 14:44] shu8 commented on #48
@enki-code dunno if this fixes your problem... but I've tweaked the script a bit. Can you reinstall and check if it's fixed for you? :)

[2016-04-30 15:56] enki-code commented on #61
If the <link> is placed in the middle of the content, the image would be placed after the link, which in turn breaks the comment.  Not a bug, just a design issue, we just need to detect if there is an image, if so, find the end of the comment, and inject the image there. :)

I'll see if I can find an example.

[2016-04-30 15:58] enki-code commented on #48
Yay!! It's a dream come true. I love it.

[2016-04-30 15:58] #48 closed

[2016-04-30 17:35] shu8 commented on #61
@enki-code ahh ok I get you. I was thinking you were saying something else! no need for an example any more :)

[2016-04-30 18:55] fixer1234 commented on #62
There are over 50 features.  Roughly half are of interest to me and many of those are "must haves" that really should be incorporated into the SE sites.  When I first loaded SOX, there were many that didn't work (too many for something that has been released to the public), so I assumed that there are a few common denominator problems, some of which might disappear when SBS was fixed, and I wouldn

[2016-04-30 19:38] enki-code commented on #62
@fixer1234 I sincerely apologize for the broken features, most of them have been migrated from an older project and we've changed a lot since then without really going through all of the features to rewrite them and verify that everything is working. That's our fault.

In the the v1.0.4 milestone I am going to go through each individual feature, refactor and optimize everything.

Some features may

[2016-04-30 19:41] #58 closed

[2016-04-30 21:30] shu8 commented on #38
@enki-code why close this...?

[2016-05-01 05:38] fixer1234 commented on #62
Finished a preliminary look at the features and summarized the results in the attached PDF.  I haven't yet experimented with disabling add-ons.  That could take some time, so let me know if you have any insights that might reduce the job.
[SOX Test.pdf](https://github.com/soscripted/sox/files/243972/SOX.Test.pdf)

[2016-05-01 09:49] shu8 commented on #62
@fixer1234 thank you very much for making that file! I'm going to go through the features and will get back to you ASAP!

sorry again for the troubles!

[2016-05-01 17:07] shu8 commented on #62
@fixer1234 Please see this edited version, with a new column with a few comments on everything that isn't working: [SOX.Test.pdf](https://github.com/soscripted/sox/files/244224/SOX.Test.pdf)

Regarding the SBS issue, the code is exactly the same for the standalone version and the SOX version, so it should work!

Please see if the comments on the file help you fix anything :)

[2016-05-02 05:52] fixer1234 commented on #62
Partial success.  Revised results (just the previous problem items):
[SOX Test Updates Only.pdf](https://github.com/soscripted/sox/files/244534/SOX.Test.Updates.Only.pdf)

My view of the example for Make title edits show seperately rather than merged in edit suggestions:
![su screenshot2](https://cloud.githubusercontent.com/assets/10065766/14947712/650e1ff2-1005-11e6-8536-664aca4ac16b.png)
My unde

[2016-05-02 15:21] shu8 commented on #62
@fixer1234 Thanks, please see this updated version:
[SOX.Test.Updates.Only.pdf](https://github.com/soscripted/sox/files/245353/SOX.Test.Updates.Only.pdf)

Please also try installing this edited version that should fix the enhanced editor issue: https://gist.github.com/shu8/8bf4a5dfbc0f12fdef42717fa80b0259/raw/22d709a2c491c2086f846c8492a859a1401e760b/fixer%2520debug

---

Now, provided everything e

[2016-05-03 19:33] fixer1234 commented on #62
@shu8, I clicked on the github link but it just displays a listing of the script.

BTW, on the make title edits show separately issue, the feature is suddenly working on its own (no change on my part).  It isn't clear whether the script gets code at runtime and that's been fixed, or this is another example of intermittent performance (how can you even debug that?).

[2016-05-03 19:45] shu8 commented on #62
@fixer1234 sorry, forgot to change the extension. [This link should work](https://gist.github.com/shu8/8bf4a5dfbc0f12fdef42717fa80b0259/raw/ff8c3d25b33ff05b2d8b3f53393d68dda6878184/fixer%2520debug.user.js).

Also, the script does have the code remotely, which sometimes downloads to update -- it's possible you had an old version locally downloaded. Installing this new version^ should delete any pre

[2016-05-03 20:16] fixer1234 commented on #62
@shu8 Installed the new link.  Cleared the console and updated settings, tried to get an access token.  This generated some console messages, all related only to SOX:

[code]

I haven't started any kind of exhaustive checking, yet, but re: edit issues: the only changes to the default edit window is Find&Replace+AutoCorrect.  No SBS, KBD, etc.

Question on access tokens: it looks like inbox notific

[2016-05-03 21:07] shu8 commented on #62
@fixer1234 thanks for all the console dumps! They really do help.

It seems the issue is the waitforkeyelements again. weird, but I've changed the version again to include it in a different way. Please (sorry for doing this so many times!) install [this SOX version](https://gist.github.com/shu8/8bf4a5dfbc0f12fdef42717fa80b0259/raw/e9e2f8331913e25a55dc5296862e42670e3d2971/fixer%2520debug.user.js) n

[2016-05-04 03:06] fixer1234 commented on #62
@shu8: Loaded the revised script and just took a quick look at the edit box and tokens.  The tokens link didn't work.  The edit box has Find/Replace and Auto Correct, and the SBS link (only additional features).  SBS doesn't work.  It provides a centered edit box followed by the preview.  Console contents:

[code]
I'll play with a new profile in the next day or so.

[2016-05-07 05:27] fixer1234 commented on #62
@shu8: BTW, this is probably what you were referring to regarding the issue with some image links in comments showing as a box with an icon.  The examples were cases where the link isn't to an actual image, with an image file extension in the link, but to an imgur page that resembles a slideshow, and the image is displayed in that.  Example: 2nd pablosan comment on [How do I create an Outlook rule

[2016-05-07 14:28] shu8 commented on #62
@fixer1234 thanks for the example -- that issue will be fixed in v1.0.4.

Also, could you please screenshot what you see when you click the SBS icon? From what I understand, it is doing *something*, just not what it should...

I think I may be on to something, so this might fix it! Thanks for your patience! :)

[2016-05-07 21:52] fixer1234 commented on #62
@shu8 A couple of interesting developments that might shed some light on something.

First, as noted in my previous comment, the kbd feature wasn't showing.  I haven't changed anything, but now it's there.  That seems to point to some external code and either it, or access to it, has changed independent of what is in the SOX script.

Interesting discover on SBS.  Here is an image of the feature ac

[2016-05-08 09:13] shu8 commented on #62
@fixer1234 aha! Thanks a lot!! I think I've got it!! :D

I'm going to try fix this, but I've got a pretty busy week ahead of me, so it might not be until next weekend when I get back to you :/

sorry!

[2016-05-12 18:11] shu8 commented on #62
@fixer1234 I've made a few changes that should fix all your issues now! :)

Please install [this version](https://github.com/soscripted/sox/raw/dev/sox.user.js).

The access token issue, however, remains. I can reproduce it on Firefox but am unable to solve it right now :(

That said, @enki-code and I have been refactoring the script heavily, and we will be changing how the access tokens work in t

[2016-05-12 19:06] fixer1234 commented on #62
@shu8: Quick test results:

SBS: works properly with Find/Replace **not** selected.  However, when Find/Replace is selected, the edit window remains in the proper position and the preview window is on the right, but the preview window drops below the edit window:

![sbs with find replace](https://cloud.githubusercontent.com/assets/10065766/15226322/36e4f486-1850-11e6-8366-868222179aca.png)

KBD/Li

[2016-05-12 19:29] shu8 commented on #62
@fixer1234 sorry about that!

Please install this [updated version](https://github.com/soscripted/sox/raw/dev/sox.user.js)

- fixed the SBS, again
- added a delay for the kbd and list buttons, so should appear now
- yay for images!
- the new UI is part of the enhanced editor feature (which I've also fixed, so they should work now)

[2016-05-12 19:55] shu8 commented on #62
@fixer1234 regarding the edit comment. could you try pressing Ctrl + Shift + Q and then clicking the Network panel, and then trying to hover over the date?

I have a feeling you're being throttled by the API; when it doesn't work, a network request should appear in the Network tab, and it should be red on the left if it didn't work. Can you screenshot it if it is red?

thanks

[2016-05-12 20:28] fixer1234 commented on #62
@shu8: Retest:

SBS: Working!

KBD/List: Looks like it's working (success on several random questions)!

Image UI: Working but needs a minor fix.  There needs to be at least a space between body text and the image link so that the link isn't interpreted as part of a word.  As a test, I just typed along and then inserted an image.  It didn't appear in the preview until I added separation.  Suggest

[2016-05-12 21:02] shu8 commented on #62
@fixer1234 thanks; will fix the image thing.

I'll look into the comment thing a bit more and get back to you

thanks

[2016-05-12 21:19] shu8 commented on #62
@fixer1234 if you come across any more posts where it doesn't work, please could you post the link here? It would help determine what the cause is :)

[2016-05-13 07:51] fixer1234 commented on #62
@shu8 a little more anecdotal feedback:

Edit comments on hover: Based on dozens of checks, whether the pop-up displays the edit comment or just the date/time, or the predominance of which one it displays on repeat hovers, does not depend on: whether the edit is to a question or answer, the recency of the edit (seconds vs. days), or whether it is a system comment vs. user comment.  Previous observ

[2016-05-13 15:10] shu8 commented on #62
@fixer1234

- edit comments: still very weird :/ if you see it happen again, please do make a note of the URL!
- title edits: sounds like a timing issue that will be fixed in the next release
- topbar: on my todo list :)
- review queue buttons: I'll try adding it to review queues

I don't think SOX should have an effect on the tab text... there's nothing in the code that touches it! I hope it was

[2016-05-16 03:18] fixer1234 commented on #62
@shu8

- I've confirmed that the problem with intermittent loss of the new post count (main page & tab), is not related to SOX.  This is something strange that started when FF V45 was upgraded to either V46 or V45ESR (happens in both, in 3 OSs); something changed that the SU site doesn't like.

- I did a test of the edit comments.  Procedure: I went down the main page looking for new post listings

[2016-05-16 13:38] catb0t opened #64 "Show HNQ tags on hover/click in sidebar and filter HNQs by question attributes"
I also hate having to open Hot Network Questions with interesting titles from the sidebar just to see their tags / what they're about.

My feature request is thus: for each question title in the HNQ sidebar (which I realise not everyone uses), display the question's tags below / beside it (or perhaps on / after hover / click). Then, when you guys implement the super awesome Star Trek holodeck cont

[2016-05-16 14:04] shu8 commented on #64
@catb0t I could get it to show tags on hover, but definitely not automatically below it because that would be way too many API requests.

Filtering.. sounds like a cool idea, although on the sidebar, there are only a few hot questions listed -- would it be useful there? this sounds like a cool idea to implement on stackexchange.com. or both! what do you think?

[2016-05-16 16:13] fixer1234 commented on #62
Documenting a strange experience in case it sheds light on anything.  I did an edit on this answer: [View menu bar &amp; bookmarks toolbar in Firefox 4 full-screen mode?](http://superuser.com/a/906137/364367).  Here is a screenshot of the edit screen:

![su edit screenshot](https://cloud.githubusercontent.com/assets/10065766/15295357/227850d6-1b5e-11e6-954a-36313ed95ea5.png)

Normally, the edit sc

[2016-05-16 16:51] shu8 commented on #62
@fixer1234 please install [this modified version of SOX](https://gist.github.com/shu8/8bf4a5dfbc0f12fdef42717fa80b0259/raw/b8c374fc8fbcb1e3c271a57e5bcf78cba1e0407c/fixer%2520debug.user.js) (making sure it replaces the current version!) and go on any question page.

It should now log quite a bit to the console -- please could you copy and paste the entire console log?

---

Also, sorry but what's w

[2016-05-17 01:56] fixer1234 commented on #62
@shu8 Will do.  Just open the page and copy the log, or attempt some of the problem operations and then copy the log?

Explanation of the screenshot:

- The edit operation normally replaces the original post.  Where the post used to be on the page, aligned with its voting controls, it gets replaced with the edit window, then the preview window.  The screenshot is of an edit of the last of three an

[2016-05-17 17:00] shu8 commented on #62
@fixer1234 sorry should have clarified.. yes ctrl+shift+j and could you copy it when you come across a post where the edit comment doesn't show up please.

and about the edit thing: it seems like you held down CTRL when clicking `edit` -- doing so opens it in a new tab and shows you the UI that you would have without having the edit privilege at 2k.

[2016-05-17 21:26] fixer1234 commented on #62
@shu8 Just as a test, I found a random post where the edit comment didn't appear.  I cleared the console, reloaded the page, then hovered on the edit history link several times.  The first two times displayed the date/time.  Third time displayed the comment.  None of the hovering added any content to the console.  Here's a screenshot:

![su screenshot temp](https://cloud.githubusercontent.com/asse

[2016-05-19 01:24] catb0t commented on #64
Hover or click sounds good to me :)

Usually, I see 10-20 HNQs on the side, so I think filtering would be useful there and on the http://stackexchange.com front page.

[2016-05-19 01:49] catb0t opened #65 "Contribution workflow"
Suppose I want to add a feature to SOX.

Here's what I'd do:

1. Fork to http://github.com/catb0t/sox
2. `git clone http://github.com/catb0t/sox`
3. `git checkout dev`
4. \<make changes to sox.features.js\>
5. `git add .`
6. `git commit -m "add new feature: ..."`
7. `git push -u origin master`
8. visit https://github.com/catb0t/sox/raw/dev/sox.user.js to be prompted for a test installation
9. clic

[2016-05-19 05:14] enki-code commented on #65
@catb0t Sorry about that, yes, it is extremely annoying and will be fixed in the next build.  Simple lack of understanding in the GM documentation :-1:.

For now, just use local urls for testing. I doubt we'll have time to handle any PR's until after v2.0 is released.

[2016-05-19 16:37] shu8 commented on #64
@catb0t great, I'll get started on a version. it might get into v2.0.0 (the next version), but if not, it'll be in dev :)

[2016-05-19 16:41] shu8 commented on #65
@catb0t also, I'm working on rewriting the contributing docs to make it simpler to follow. it will be much easier in v2.0.0 :)

[2016-05-20 05:46] fixer1234 commented on #62
@shu8 Another quick update.  The "Show comment score" previously worked but appears to not work any more (I'm guessing since this test release).

Let me know if the edit comment console screenshots are capturing what you were looking for, and whether to do more.

[2016-05-20 08:16] DavidPostill opened #66 "Topbar position is broken on http://meta.askubuntu.com."
sox 1.03, Windows 7 64 bit, Firefox 46.0.1, greasemonkey

Topbar position is broken on http://meta.askubuntu.com.

With sox enabled:

![screenshot - 20_05_2016 09_09_45](https://cloud.githubusercontent.com/assets/7079224/15421458/53bd6fa4-1e6b-11e6-8d26-2a58b3c5fd7a.png)

With sox disabled:

![screenshot - 20_05_2016 09_09_16](https://cloud.githubusercontent.com/assets/7079224/15421437/275f22ae-1e

[2016-05-20 10:10] shu8 commented on #66
@DavidPostill thanks! will fix in next version :)

[2016-05-20 10:42] shu8 commented on #62
@fixer1234 ok, so it seems the edit comment issue is a timing issue (what a surprise :P), because the request to get the comment is going through, but it's not being applied to the tooltip every time.

this has been fixed in the refactored version, and I'll ping you in a few days (hopefully!) when that version is completely finished. We're going to try our best to make sure **everything** is worki

[2016-05-20 18:49] shu8 commented on #64
@catb0t how does this look? :)

![this](https://cloud.githubusercontent.com/assets/8850830/15438392/dd88c33e-1ec3-11e6-9917-e102eb4643e7.gif)

I'm doing the filtering as well, will update when it's done :)

[2016-05-20 21:31] enki-code commented on #64
@shu8 I'd add `clear: left;` to the css to drop the tags to the next line so they so underneath the question title. :)

[2016-05-21 14:20] catb0t commented on #64
That's damn beautiful, but it would be even better if they fell to the next line like @enki-code suggested. :D

[2016-05-21 17:44] enki-code commented on #66
@DavidPostill Just to reiterate what @shu8 said, I'll be completely rewriting this feature, it'll work correctly on all sites now and will fix any padding issues.

[2016-05-21 17:56] shu8 commented on #64
@catb0t just to update you, a early version of this feature is live on the **refactor** branch.

Although it is unstable, it does work, so if you want to try it out, you can install the refactor branch .user.js file. But keep your other version installed in case it breaks! :P

[2016-05-21 18:09] enki-code commented on #64
Seriously, be careful using the refactor branch, things are changing daily and are likely to break.

[2016-05-22 04:23] enki-code commented on #66
I've completed the fix for this, it'll be available in the next release.

[2016-05-22 04:23] #66 closed

[2016-05-25 04:41] hinneLinks opened #67 "Layout Bug in Settings"
**Installed Version: 1.0.3  |  Environment: Firefox 46.0.1 / Greasmonkey 3.8**

**Expected Behavior**
Settings Usable

**Actual Behavior**
Settings not usable, some Settings (Row with Checkbox) is over the Main Site (no Background), some is behind it.
Main Icon is mixed Up with other Icons.
See Screenshot:
![se-sox-bug](https://cloud.githubusercontent.com/assets/15357388/15528186/d3203298-2241-11e

[2016-05-25 19:25] enki-code commented on #67
Looks like the CSS isn't being injected for some reason.

Would you mind installing the following version and see if that works?
https://github.com/soscripted/sox/raw/v1.0.3/sox.user.js

[2016-05-30 05:37] hinneLinks commented on #67
Installing from that link didn't work either.
But you mentioning being a CSS Problem, i checked the Network-Panel, it seems my company's proxy is blocking https://rawgit.com/soscripted/sox/dev/sox.css?v=1.0.3d , i guess that's the css thats missing?

I'll talk to my admins to get that site unblocked, hopefully it will work then.

[2016-05-30 05:37] #67 closed

[2016-06-26 07:19] AmperAndSand opened #68 "Settings layout shows up as jumbled - getting a 403 error from rawgit.com when accessing CSS"
**Installed Version: 1.0.3  |  Environment: Vivaldi 1.2.490.43 64-bit on Windows / Tampermonkey**

**Expected Behavior**
The settings UI should show up properly.

**Actual Behavior**

The settings layout is all jumbled up (some parts of the page intentionally blurred by me to hide details on the profile):
(thumbnail below links to higher-resolution, original image)
[![screencapture-soxsettingslayo

[2016-06-28 18:00] catb0t commented on #68
This is an issue related to incomplete page loads, I get it sometimes too. Does it always happen? Are you using a VPN / proxy / Tor or something? Do you have some anti-cross-domain-resource-resolvency browser extensions?

[2016-06-28 18:03] catb0t opened #69 "Warn me when I'm not logged in"
Sometimes SE randomly logs me out after I've been logged in for a day or two.

SOX presenting me with a little warning box in the corner like

would be helpful so I don't have to go through the pain of trying to submit my question / answer / comment and then being redirected to a login page and losing the thing I was writing. SOX could ping SE every 5 minutes or something to see if I am still in s

[2016-06-29 08:48] AmperAndSand commented on #68
I'm currently not able to reproduce the issue. I checked rawgit.com and it appears that my IP address is currently not CloudFlare-blocked. I disabled SOX back then when the issue kept on happening. I just tried it again. Back then, I wasn't using any VPN or proxy nor anti-cross-domain-resource-resolvency browser extensions, AFAIK.

[2016-06-29 09:16] shu8 commented on #69
Sounds good, I'll see what I can do :)

[2016-07-01 06:06] hinneLinks opened #70 "Links to job offers getting a unrelated title"
**Installed Version: 1.0.3  |  Environment: Firefox 47.0.1/Greasemonkey 3.8**

**Expected Behavior**
The rendering of links (parse cross site links) to job offers on stackoverflow.com/jobs don't change at all or shows the title of the job offer:

![so-jobs-link-title-right](https://cloud.githubusercontent.com/assets/15357388/16513142/7d4783ec-3f62-11e6-9ac2-fdab5b7a314e.png)

**Actual Behavior**
L

[2016-07-01 09:49] shu8 commented on #70
@hinneLinks thanks, reproduced and fixed. I'll ping you again when this is released (v2.0.0) which should be within the next few days :)

[2016-07-01 10:22] shu8 commented on #68
it is a problem to do with the CSS not loading properly. In the next version, we've cached the CSS so it should work then. I'll ping you again later today or tomorrow when we release v2.0.0 :)

[2016-07-02 14:31] shu8 commented on #38
V1.0.4 will not be properly released, but a tag will be made for it.

V2.0.0 is the official next version after 1.0.3.

[2016-07-02 14:31] #38 closed

[2016-07-02 18:29] shu8 commented on #70
fixed in [v2.0.0](https://github.com/soscripted/sox/raw/master/sox.user.js). Please install it for more features and loads of bug fixes! :)

[2016-07-02 18:29] #70 closed

[2016-07-02 18:30] shu8 commented on #69
added in [v2.0.0](https://github.com/soscripted/sox/raw/master/sox.user.js). Please install it for more features and loads of bug fixes! :)

[2016-07-02 18:30] #69 closed

[2016-07-02 18:30] shu8 commented on #68
should be fixed in [v2.0.0](https://github.com/soscripted/sox/raw/master/sox.user.js). Please could you install it and try? @AmperAndSand

[2016-07-02 18:30] #68 closed

[2016-07-02 18:32] shu8 commented on #62
@fixer1234 We have finally released [v2.0.0](https://github.com/soscripted/sox/raw/master/sox.user.js) just now. I'm very sorry for the long wait, but we have both had a very busy past month or two and haven't had much time to do anything on SOX.

Please could you install this new version. I hope it works well for you! :)

Thanks again for sticking with us through all this! :smile:

[2016-07-02 18:32] #62 closed

[2016-07-02 18:32] shu8 commented on #61
fixed in v2.0.0

[2016-07-02 18:32] #61 closed

[2016-07-02 18:35] shu8 commented on #64
@catb0t V2.0.0 has been officially released now. An early version of this feature is in it, where you can block sites, words or titles via the control panel.

It is by no means fully done yet, but I hope it works for now :)

BTW we haven't been very active this last month, we've both been pretty busy, but this new version should fix quite a few bugs and a few more features have been added! :)

[2016-07-02 18:35] #64 closed

[2016-07-02 18:35] enki-code commented on #52
Thanks again for raising this issue, after some discussion we decided to deprecate this feature.

Sorry if that causes any inconvenience.

[2016-07-02 18:35] #52 closed

[2016-07-02 18:37] shu8 commented on #65
@catb0t I've just published the new [Contributing Guidelines](https://github.com/soscripted/sox/wiki/Contributing). Do they clarify how to contribute a bit better now? :)

V2.0.0 has made it a bit less of a pain to add new features and I hope these notes help! :)

[2016-07-02 18:48] enki-code commented on #65
To build upon what @shu8 said:
**v2.0** solves this completely, we are now using relative URLs for all SOX files. External dependencies will still require a full path. Hope that helps.

[2016-07-02 18:48] #65 closed

[2016-07-02 19:02] fixer1234 opened #71 "Access Token not working ("not logged in" error)"
**Installed Version: 2.0.0  |  Environment: undefined**

**Expected Behavior**

**Actual Behavior**

Also, every time SU is refreshed, SOX is reloaded and a warning pops up to go to SO to get the access token.  This basically makes SOX unusable.  Had to disable it.

**Error Logs**

[code]

**Steps to reproduce**

included above

![so login error](https://cloud.githubusercontent.com/assets/10065766

[2016-07-02 19:38] fixer1234 opened #72 "Edit box features not working"
**Installed Version: 2.0.0  |  Environment: undefined**

**Expected Behavior**

**Actual Behavior**

![edit box 2](https://cloud.githubusercontent.com/assets/10065766/16542136/121910e6-406a-11e6-9154-be06899221d5.png)

Only Find&Replace/Autocorrect included

Question Edit Window:

![edit box 1](https://cloud.githubusercontent.com/assets/10065766/16542143/3f3ced72-406a-11e6-9484-ca878f1614c4.png)

[2016-07-02 19:48] fixer1234 opened #73 "Show when the post's author was last seen and whether they are registered in the comments section"
**Installed Version: 2.0.0  |  Environment: undefined**

**Expected Behavior**

New feature, looking for behavior.

**Actual Behavior**

No information relating to this is shown.

**Steps to reproduce**

Went to an older question with lots of older answers.

[2016-07-02 19:57] fixer1234 opened #74 "Fix Top Bar Position not fixed in this version"
**Installed Version: 2.0.0  |  Environment: undefined**

**Expected Behavior**

**Actual Behavior**

**Error Logs**

**Steps to reproduce**

![top bar error](https://cloud.githubusercontent.com/assets/10065766/16542212/a5727690-406d-11e6-961a-ddce57c3f946.png)

[2016-07-02 20:07] enki-code commented on #74
Likely a padding issue, I will look into this a bit more tomorrow.

Both @shu8 and I have been extremely busy and unable to work on this much.

[2016-07-02 20:11] enki-code commented on #71
@fixer1234 What browser are you using?  I'll look into this today and see what I can figure out. I was unable to repo this ATM.

[2016-07-02 20:24] fixer1234 opened #75 "Add a label on questions which are hot-network questions"
**Installed Version: 2.0.0  |  Environment: undefined**

**Expected Behavior**

New feature this version, looked for behavior

**Actual Behavior**

No obvious label or formatting on the main page or the thread.

**Error Logs**

**Steps to reproduce**

Found a hot network question for SU in the list, went to the question and also found the question on the active questions page (several pages in, it

[2016-07-02 20:26] fixer1234 opened #76 "Add a mod diamond to the topbar to alert you of new questions on the site's child-meta"
**Installed Version: 2.0.0  |  Environment: undefined**

**Expected Behavior**

Was working in previous version.

**Actual Behavior**

No diamond in the top bar with this version.

**Error Logs**

**Steps to reproduce**

Looked at the top bar.

[2016-07-02 20:42] fixer1234 commented on #71
@enki-code  same behavior in Firefox 45.2 ESR and Firefox 47.0

[2016-07-02 22:08] fixer1234 commented on #71
Additional info: thought if I disable features that rely on a token, that might stop the token nagging.  No such luck.  I disabled everything and it still nags for a token on every screen refresh.  So it isn't being driven by a specific feature that needs it.

[2016-07-02 22:12] enki-code commented on #71
Thanks for the update. I am working on this now.
As for the configuration retention, we currently use the GM_ storage which can be a bit tricky.  Each user script has it's own specific settings so when the script is reinstalled the settings get wiped.

The reason we are using the GM_ storage is that the settings are retained after cleaning the local storage and cookies.

I will look into this as w

[2016-07-03 09:36] shu8 commented on #75
You should see this:

![this](https://cloud.githubusercontent.com/assets/8850830/16544764/f31150a0-4109-11e6-80dc-ec363267c450.png)

on any of the 30 most recent hot network questions.

Try [visiting this question](http://codegolf.stackexchange.com/questions/84346/reverse-odd-sequences)

[2016-07-03 17:01] enki-code commented on #74
The topbar is fixed and is performing as it should, the reason it looks different is in the new CSS I removed the rule that explicitly set the background color to solid black.

[2016-07-03 17:03] enki-code commented on #75
I am unable to reproduce this on either Chrome or Firefox.

I'm getting the HOT label at the top right of the question as @shu8 pointed out.

[2016-07-03 17:36] enki-code commented on #72
I can confirm that this works fine on Chrome but not on Firefox.   TBH, it might be a week or so before I can really dig into all of this.  If it is too much, feel free to downgrade back to v1.0.3.

I apologize for the inconvenience.

[2016-07-03 17:56] fixer1234 commented on #72
The "developmental" v1.0.4 fixed some problems with key features not working in v1.0.3.  It looks like V1.0.4 has been removed, and I found a source code link for v1.0.3, but not an installable version.  Any chance of putting the v1.0.4 installer back temporarily?

[2016-07-03 18:09] fixer1234 commented on #75
I didn't see that on mine.  It's possible that the issue is common to what caused one of the other problems.  I had to remove v2.0.0 because the constant token nag screen made it impractical to use.  I'll re-check this feature when I load the version that patches that.

[2016-07-03 18:34] fixer1234 commented on #74
@enki-code, I had to remove v2.0.0 because the constant token nag screen made it impractical to use.  So I'm not sure if your comment means that this was working as intended in terms of positioning.

The issue is specific to going directly to a post via a link.  In that case, the page is rendered so that the linked post is at the top of the window.  The page rendering engine doesn't seem to be awa

[2016-07-04 00:46] enki-code commented on #74
Oh, I get what you're saying. I misunderstood what you said.  That's my fault, I probably forgot a padding rule or something. I'll get this fixed.

[2016-07-04 00:56] enki-code commented on #72
Unfortunately, when we release each version the dev version isn't included in the release. After moving to 2.0 the developmental branch was updated to with the new version. So, ATM I don't have access to the 1.0.4 DEV version.

I might have a copy locally or @shu8 might.

Again, sorry, this is has been a complete mess, not to make excuses but I've been extremely distracted lately, my wife is pregn

[2016-07-04 02:34] fixer1234 commented on #72
Not to worry.  The distractions will totally end after your wife delivers.  :-)

[2016-07-04 15:34] enki-code commented on #72
@fixer1234 I did some digging this morning and my local copy of SOX still had the 1.0.4 DEV branch, thankfully.

You can install it from [here](https://gist.github.com/enki-code/392a8c90cc3f5e6287a85a3d4eb54d98/raw/7c73eb59c7b1d2133a2b1d0e3ac0cf5bda60c2bd/sox.old.user.js)

I installed it on Firefox, still had a few issues but was usable for the time being.

[2016-07-04 20:52] fixer1234 commented on #72
@enki-code Thanks.  I was going through withdrawal without my SOX.  :-)

[2016-07-04 20:59] fixer1234 commented on #75
This feature wasn't included in the last v1.0.4 I had loaded, but it's listed in the preferences selection list on the one @enki-code  just provided a link to.  I checked a current question from the HNT list, and it isn't working for me on this version either.  So the problem apparently isn't associated with some other issue in v2.0.0 as I had speculated.  When you have time to get back to SOX, le

[2016-07-04 21:28] catb0t commented on #64
Oh my god it's beautiful. I can't thank you guys enough for all your work :)

[2016-07-04 21:53] enki-code commented on #64
@catb0t It's horrible on firefox :-1:  I'm a bit embarrassed honestly. I am in the process of trying to fix the access token issues right now, which is a nightmare.

I've been tearing things apart all day, working, trying to come up with a better way to do all of this.

[2016-07-04 23:39] enki-code commented on #71
Okay, so, I have some updates regarding this issue.

I think I've come up with a solution that should work for everyone.

When the script is installed and ran for the first time it'll redirect the user OR open a new tab to stackexchange.com (if not already there) and present the user with the OAuth dialog, after having been granted access we gather and store the access token (which we are currentl

[2016-07-05 03:42] fixer1234 commented on #71
@enki-code, cool!  Looking forward to the next version.  But don't go nuts with some arbitrary, self-imposed deadline.  Include yourself in your priorities.  Just saying.

BTW, was that erroneous "not logged in" message on every page related to this problem or was that something else?

[2016-07-05 04:16] enki-code commented on #71
Thank you, I appreciate that. I try to do as much as I can, when I can, this is just a hobby for me.

In regards to the erroneous  _not logged in_ message, that was something else, it is a new feature that was introduced in 2.0 and is not working correctly.

StackExchange sites have a JavaScript object exposed that we utilize, it exposes variables about the user and the site. I wrote a wrapper aro

[2016-07-14 14:51] catb0t opened #77 "Blur or transparentize the top bar's background"
https://stackapps.com/questions/6968/blur-the-topbar-s-background

This simple little thing is IMO *really* cool and I think it might be cool to have in SOX since we could possibly have adjustable values for blurriness and opaqueness.

[2016-07-14 15:33] catb0t opened #78 "Add a dropdown of search stuff when I click the "Search Q & A" button"
Perhaps when I click the "Search Q & A" there could be a box drop down from the top bar, sorta like

![searchbox](https://cloud.githubusercontent.com/assets/3238748/16845190/0cfb7f54-49b6-11e6-91e5-560524ccf6fb.png)

<sup>unfinished mockup made possible by the cool software that is [pencil](https://github.com/prikhi/pencil)</sup>
And other stuff from the advanced search tips.

SE's search is rathe

[2016-07-14 15:34] catb0t commented on #76
Which browser? The `Environment: undefined` thing is also a bug, I think

[2016-07-14 16:03] fixer1234 commented on #76
@catb0t, for me, this is on several versions of Firefox.  I reported a number of issues with v2.0.0 in separate posts and probably should have made each one more complete.

[2016-07-14 16:42] catb0t commented on #76
Reproduced on Firefox 47.

[2016-07-14 17:28] enki-code commented on #78
I like this idea!! If I were to implement it, it would be as a separate userscript. Thanks for sharing this, I'll see if I can make this happen some time soon. Still a lot going on here, I need to get all the v2.0 issues sorted out.

[2016-07-14 17:29] enki-code commented on #71
Sorry this is taking so long, I've been extremely busy at home.  I'll do my best to spend some time working on all these issues this weekend.

[2016-07-14 17:39] shu8 commented on #71
I may have some time this weekend as well, I do hope I can help get this sorted!

[2016-07-14 19:49] catb0t opened #79 "Android.SE-style vote buttons cause blurring / tearing on Chromium + Blink on Skeptics"
**Installed Version: 2.0.0  |  Environment: Tampermonkey on Vivaldi, Chromium, Google Chrome, any Blink-based rendering engine, *not Firefox***

**Expected Behavior**

On https://skeptics.stackexchange.com, rolling over vote buttons causes the same animations as on other sites and doesn't cause weird blurring and tearing.

**Actual Behavior**

Rolling over causes blurring and tearing on the left h

[2016-07-14 22:47] MarcinOrlowski opened #80 "<kbd> tags are being inserted in wrong textarea"
**Installed Version: 2.0.0  |  Environment: Tampermonkey**

`<kbd>` tags are being inserted in wrong input.

1. go to random question on stackoverflow.com
2. open question for editing and leave it opened
3. scroll down to answer textarea
4. click "kbd" on on its toolbar
5. `<kbd>` will be inserted in question edit text area instead of answer one

[2016-07-15 00:47] catb0t opened #81 "HNQ Attribute filter terms aren't persistent at all"
**Installed Version: 2.0.0  |  Environment: Tampermonkey**

**Expected Behavior**

When I set the "Filter the hot network questions by their attributes" terms, tick the box and hit "save", the terms will be in effect and be there next time I open the settings

**Actual Behavior**

Filters are not saved across refreshes.

**Error Logs**

None.

**Steps to reproduce**

Add any text to any of the box

[2016-07-21 14:10] catb0t opened #82 "PSA: Stack Overflow Documentation is now in public beta, and SOX isn't guaranteed to work there"
This is a Public Service Announcement. Stack Overflow has [introduced a huge new feature](https://blog.stackoverflow.com/2016/07/introducing-stack-overflow-documentation-beta), called [Documentation, which has entered a public beta](https://meta.stackoverflow.com/questions/328405/documentation-has-entered-public-beta).

Currently, the only thing in SOX that doesn't work in Documentation that I can

[2016-07-21 22:02] DavidPostill opened #83 "Missing topbar"
**Installed Version: 2.0.0 |  Environment: Firefox/Greasemonkey**

Topbar missing on https://skeptics.stackexchange.com/

It shows during page loading and then disappears.

If I uncheck "Fix topbar position" it works on sceptics.

[2016-08-13 14:34] shu8 commented on #71
@fixer1234 Sorry, again, for the extremely long wait; we've both had other things on our hands.

Please could you try installing [the new file in the `fix` branch](https://github.com/soscripted/sox/raw/fix/sox.user.js) and delete any other `sox.user.js` files you may have. This should hopefully work on FF now.

What should happen:

- you install the script
- go on an SE site
- if you're not on SO,

[2016-08-13 14:35] shu8 commented on #75
@fixer1234 hopefully this should also be fixed in the [user.js file in the `fix` branch](https://github.com/soscripted/sox/raw/fix/sox.user.js)

[2016-08-13 14:36] shu8 commented on #76
@fixer1234 @catb0t please could you try installing the [new user.js file in the `fix` branch](https://github.com/soscripted/sox/raw/fix/sox.user.js) and test whether it is now working for you now? thanks :)

[2016-08-13 14:37] shu8 commented on #83
@DavidPostill could you try installing [this new version](https://github.com/soscripted/sox/raw/fix/sox.user.js) and see if it is fixed for you.

Sorry this has taken *sooo* long; we've had a busy few months! :/

[2016-08-13 14:38] shu8 commented on #82
@catb0t thanks for the notice! I'll start looking into SO Docs, but things will only start to change once we get everything else fixed! :)

[2016-08-13 14:39] shu8 commented on #77
@catb0t Seems like a cool feature, I'll look into making this one of the custom settings features in SOX :)

[2016-08-13 14:43] shu8 commented on #81
@catb0t I don't know whether this was unintentionally fixed in [the new `fix` version](https://github.com/soscripted/sox/raw/fix/sox.user.js), but I can't repro it... can you try installing the new version and testing again please?

[2016-08-13 14:45] shu8 commented on #79
@catb0t thanks, it's very weird that it only happens on skeptics.

Skeptics must have *something* different because #83 also only applied to skeptics.

I'll try to see if I can find a reason :/

[2016-08-13 14:46] shu8 commented on #80
@MarcinOrlowski Thank you, I have reproduced this and will work on a fix.

I'm really sorry for the time it's taken for me to respond, I've not had much time recently.

[2016-08-13 14:48] DavidPostill commented on #83
Hmm. It shows the topbar, but I see this (which I don't understand what to do)

![screenshot - 13_08_2016 15_45_35](https://cloud.githubusercontent.com/assets/7079224/17643831/4d373e86-616d-11e6-9e9a-c30e860b5bb4.png)

[2016-08-13 14:48] shu8 commented on #78
@catb0t by button, are we talking about the search field at the top right of every page?

Sounds like a really cool idea and when I get time I might look into this a bit more :)

[2016-08-13 14:49] shu8 commented on #83
@DavidPostill that seems to still be the old version. can you try installing the new one (https://github.com/soscripted/sox/raw/fix/sox.user.js) and delete any old versions you have?

[2016-08-13 14:55] shu8 commented on #73
@fixer1234 This should also be fixed in the new version :)

[2016-08-13 14:57] shu8 commented on #83
@DavidPostill I'm so sorry, I forgot to actually sync with GH, so it was never uploaded :/

That link will *actually* be the new version now! Sorry for the confusion!! :(

[2016-08-13 15:04] DavidPostill commented on #83
Now I get this on every [SE] page. Opening SOX settings and saving does not prevent the dialog from appearing again and again and again  ...
![screenshot - 13_08_2016 16_01_52](https://cloud.githubusercontent.com/assets/7079224/17643897/7b4fcd40-616f-11e6-8c2f-0d01ca41298a.png)

[2016-08-13 15:05] shu8 commented on #83
@DavidPostill Stack Overflow should have been opened in another tab for you. If it wasn't your popup blocker probably blocked it. Try this:

- open http://stackoverflow.com in another tab
- click the cogs button
- click the green 'authorize application' button in the window that pops up
- try going to another SE site, the alert should have stopped coming now.

[2016-08-13 15:08] DavidPostill commented on #83
OK. That worked. But is not very intuitive ... and I would image that a lot of folks have popup blockers ...

[2016-08-13 15:09] DavidPostill commented on #83
"click the green 'authorize application' button in the window that pops up" should work on any site ...

[2016-08-13 15:13] shu8 commented on #83
@DavidPostill yeah we need to iron out a few UI details before pushing it to the main branch.

I *realllllly* want it to work on any site, but the thing with the API is that every application must give a specific site that the Oauth works on, so I *had* to give a specific site. We're gonna make it look a bit better and less intrusive before pushing to the main branch.

Hope everything else is work

[2016-08-13 15:14] #83 closed

[2016-08-13 15:29] DavidPostill commented on #83
Yeah, everything else is fine . Thanks. I will let you know as soon as I spot any thing else weird :)

[2016-08-13 16:44] DavidPostill opened #84 "highlighted tags no longer displaying correctly"
**Installed Version: 2.0.1  |  Environment: Firefox/greasemonkey**

"Add highlighted tags to closed/on hold/duplicate/migrated questions on question lists" the tags are not displaying correctly:

![screenshot - 13_08_2016 17_43_05](https://cloud.githubusercontent.com/assets/7079224/17644398/6a99b930-617d-11e6-8b8a-d3481edb7b38.png)

They no longer look like nice (coloured) buttons :/

[2016-08-13 18:33] fixer1234 opened #85 ""Get token" problem"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: the auto-detection system identified Chrome, but I'm using Firefox (on this system, FF ESR 45.3.0).

**Expected Behavior**

Not return an error message.

**Actual Behavior**

It opened a dialog on SO to get a token.  The dialog appeared to work.  When the process was done, it displayed the error message attached below.  The pr

[2016-08-13 19:07] fixer1234 opened #86 "Edit features missing (SBS, KBD/List, and Find&Replace/Autocorrect)"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: Environment: Firefox, not Chrome

**Expected Behavior**

The SBS, KBD/List, and Find&Replace/Autocorrect options should appear in the edit toolbar

**Actual Behavior**

In the built-in answer area, only the Find&Replace/Autocorrect option appears.  In the manually opened edit window, none of the three appears.  See attached im

[2016-08-13 19:16] fixer1234 opened #87 "Edit comment still erratic"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: Firefox, not Chrome

**Expected Behavior**

**Actual Behavior**

**Error Logs**

**Steps to reproduce**

[2016-08-13 19:27] fixer1234 opened #88 "Separate title edits still merged"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**

**Expected Behavior**

**Actual Behavior**

**Error Logs**

![sox console output](https://cloud.githubusercontent.com/assets/10065766/17646584/327657ae-619e-11e6-92a9-1b2da2a7421a.png)

**Steps to reproduce**

![sox title edit](https://cloud.githubusercontent.com/assets/10065766/17646577/d1915394-619d-11e6-9c58-3441d15f482b.png)

[2016-08-13 19:34] fixer1234 opened #89 ""Show comment score" not working"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: Firefox, not Chrome

**Expected Behavior**

This was working with V2.0.0, but it wasn't in the temp V1.4 I reloaded, and not in this version.

**Actual Behavior**

The "show comment score" link is displayed, and it is an active link (cursor changes on hover), but clicking on it doesn't do anything.

**Error Logs**

Note: I ope

[2016-08-13 19:41] fixer1234 opened #90 ""Show when post's author last seen" not working"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**

**Expected Behavior**

The cited information appearing somewhere.

**Actual Behavior**

No relevant information about authors of either questions or answers appears on the post.

**Error Logs**

**Steps to reproduce**

[2016-08-13 19:45] fixer1234 opened #91 "Add post name to "share" link no longer working"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: Firefox, not Chrome

**Expected Behavior**

This was working in previous versions.

**Actual Behavior**

The share link for both questions and answers shows only the URL.

**Error Logs**

**Steps to reproduce**

[2016-08-13 19:52] fixer1234 opened #92 "Display linked posts inline with arrow"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: Firefox not Chrome

**Expected Behavior**

Not sure if this is working as intended.  Don't remember if this previously was limited to links to the local site.  It does work for local links.

**Actual Behavior**

Links to posts or users on other SE sites don't get the arrow treatment.  If this is not part of the design behavior

[2016-08-13 20:46] fixer1234 opened #93 "Add author's name to notifications in inbox"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: environment is Firefox (V48.0 in Windows in this case), not Chrome

**Expected Behavior**

This feature used to work.

**Actual Behavior**

No author's name included now in inbox notifications.

**Error Logs**

**Steps to reproduce**

[2016-08-13 20:52] fixer1234 opened #94 "Align badges by their class on user profile pages"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: Firefox, not Chrome

**Expected Behavior**

No idea what this new feature is intended to do.

**Actual Behavior**

The feature doesn't appear to change any behavior.  There was always a selection of sorting/grouping options, one of which was class.  Everything still appears the same.

**Error Logs**

**Steps to reproduce**

[2016-08-13 20:57] fixer1234 opened #95 "Show tags for the question an answer belongs to on search pages"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: Firefox, not Chrome

**Expected Behavior**

show question tags on answers on search results.  My recollection is that this feature was working in previous versions, but I wouldn't bet the farm on that.

**Actual Behavior**

No tags on answers in any sort sequence.  The tags do appear on question posts in the results.

**Error

[2016-08-13 21:11] fixer1234 opened #96 "Fix topbar position"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: Firefox not Chrome

**Expected Behavior**

Click a comment in the user profile to open it in context.  The comment should be readable, entirely below the topbar.

**Actual Behavior**

The top several lines of the comment are hidden behind the topbar.  The topbar doesn't "reserve the space", so writing other content to the scre

[2016-08-13 21:18] shu8 commented on #85
Seen as this is still part of #71, please could you post an update there and close this please. Too many issues starts getting hard to handle :)

[2016-08-13 21:18] shu8 commented on #86
Duplicate of #72

[2016-08-13 21:18] #86 closed

[2016-08-13 21:19] shu8 commented on #90
Again, please could you just update #73 and close this.

[2016-08-13 21:20] shu8 commented on #92
This always worked on local links only.

There are no plans to make it work for external links because the use is generally small because if an external link is posted, the context is often different.

[2016-08-13 21:20] #92 closed

[2016-08-13 21:21] shu8 commented on #96
Duplicate of #74

[2016-08-13 21:21] #96 closed

[2016-08-13 21:21] shu8 commented on #90
Duplicate of #73

[2016-08-13 21:21] #90 closed

[2016-08-13 21:23] shu8 commented on #94
BTW, all features are listed on https://github.com/soscripted/sox/wiki/Features, and they usually have a link to a meta post that describes how they work/what they do.

Does what is described in [this post](http://meta.stackexchange.com/questions/254607/align-badges-by-class) not happen?

[2016-08-13 21:25] shu8 commented on #93
Are there no errors in the console? Please make sure the 'net' tab is enabled as well :)

[2016-08-13 22:20] darkred opened #97 "New navigation for StackOveflow(beta feature) - Support"
**Installed Version: 2.0.0  |  Environment: Firefox 48.0/Greasemonkey 3.8**

I've been testing the [New Navigation for StackOverflow](http://meta.stackexchange.com/questions/256814/new-navigation-for-stack-overflow-is-in-alpha-testing) (beta feature) some months now.
Does SOX (partially) support this feature?
Would it be ok if I reported any issues I notice with the new-nav?

[2016-08-13 22:58] fixer1234 commented on #93
@shu8, I was just so excited to see a new version that I jumped in and started testing stuff.  :-)  When I spotted a problem, I used the built-in reporting link.  I assumed that since this was a new version and reflects changes to a lot of stuff, that you would want reporting to start fresh.  But if you want to keep old issues in their old threads, I'll go back and move stuff.  I'll also check the

[2016-08-13 23:07] fixer1234 commented on #94
@shu8, thanks for the link.  I never would have guessed that that's what the feature referred to.  So this applies only the user's network profile page?  To answer your question, no.  The badge information is all centered in the column (assuming I'm looking in the right place).

![soxnetwork profile badges](https://cloud.githubusercontent.com/assets/10065766/17646119/2045bf62-6189-11e6-86a7-42deef

[2016-08-13 23:19] fixer1234 commented on #71
Moving the information from #85 to here by request.  It relates to the same feature, but the nature of the problem is very different.  I'll leave #85 there and you can delete either this post or #85 as you think appropriate.

**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: the auto-detection system identified Chrome, but I'm using Firefox (on this system, FF ESR 45.3.0).

*

[2016-08-13 23:27] fixer1234 commented on #73
Update for v2.0.1: This is another feature that is erratic.  On most threads, the information does not appear, but it did appear on one thread.  I'll capture error reports and add them.

[2016-08-13 23:29] fixer1234 commented on #74
Update for v2.0.1: symptom still the same.

[2016-08-13 23:30] fixer1234 commented on #75
The "Hot" did appear with v2.0.1.

[2016-08-13 23:32] fixer1234 commented on #76
The feature is working in v2.0.1.

[2016-08-13 23:32] #76 closed

[2016-08-13 23:43] fixer1234 commented on #84
@DavidPostill, I assume the image is from the main page? (my view is slightly different, votes/answers/views are aligned vertically.)   My environment is also Firefox/Greasemonkey.  On my systems, the feature still works (colored buttons), as before.  BTW, the tags in your image also don't appear in tag boxes as they do on mine.  Are you running any other scripts that affect page rendering (potent

[2016-08-14 00:44] fixer1234 commented on #93
@shu8 , Just went to record me some error messages and lo and behold, the author names are back on the notifications.  Maybe wiping the previous version and installing the new on cleared something and the inbox was waiting to be refreshed.  I'll mark this as closed.

[2016-08-14 01:10] fixer1234 opened #98 "Inbox notification when downvoted question is edited"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note: Firefox not Chrome

I believe this is tied to the token issue (reported separately), but not 100% sure.  If so, this is already known and, hopefully, would disappear when the token problem is solved.

**Expected Behavior**

**Actual Behavior**

Feature button: This was originally an eyeball icon and my recollection is that the

[2016-08-14 01:25] fixer1234 commented on #91
This problem appears to have resolved itself.  Removing the old SOX and installing the new one may have cleared something that took awhile to refresh.  The feature is now working again.

[2016-08-14 01:25] #91 closed

[2016-08-14 04:03] fixer1234 commented on #73
One suggestion to improve the feature:  The main value of this feature relates to the author of the post (are they still around to clarify the post or respond to feedback, or on a question, are they around to accept an answer?).  The feature currently reports the status of the last person to edit the post.  If that person wasn't the author, it's hard to imagine what use the information would be.

[2016-08-14 04:14] fixer1234 commented on #73
Here's a screenshot of a post with no author status and the console output:

![su no author console](https://cloud.githubusercontent.com/assets/10065766/17647154/f50b0e6c-61b3-11e6-9570-80bf5a83f0f5.png)

[2016-08-14 04:36] fixer1234 opened #99 "Potential diagnostic information?"
**Installed Version: 1.X.X  |  Environment: Chrome/Tampermonkey**
Note Firefox, not Chrome

**Expected Behavior**

Spotted something that I thought might be diagnostic of something, although I don't know which, if any, issue it might be related to.  If it isn't useful, just delete this.

**Actual Behavior**

Since installing v2.0.1, I noticed that the Community User icon is missing on the main pag

[2016-08-14 07:59] DavidPostill commented on #84
Image is from the main page. However I see the issue on other pages as well (where the votes are aligned vertically). The tag boxes I think is a side effect of this bug https://meta.stackexchange.com/questions/283314/network-wide-change-to-question-tags (at least on so and meta.so. I see normal tag boxes on other sites but still incorrect rendering of the question "status" tags.

I have a bunch of

[2016-08-14 10:08] #85 closed

[2016-08-14 10:11] shu8 commented on #71
@fixer1234 try to do all this when you are already logged in; this is a known error in the SE API: [Resurfacing bug: “could not parse proxy url” error message](http://stackapps.com/q/6166/26088).

[2016-08-14 10:22] shu8 commented on #84
@DavidPostill Seems like the CSS hasn't loaded properly. Can you try doing a hard refresh? (Ctrl+F5)

[2016-08-14 10:25] DavidPostill commented on #84
Done. No change.

[2016-08-14 10:44] shu8 commented on #84
@DavidPostill hmm, can you go to the dev tools (f12), and check the console if there is any error loading any pages? You'll need to enable the 'Net' button on the top-left.

[2016-08-14 10:50] shu8 commented on #97
@darkred It doesn't officially support it, but we would like to support it so yes, if you see any issues then please do report them! :) It would really help us prepare it for when new-nav gets released to all sites.

However, it may not be at the very top of our list right now (you can see the issues backlog :P)

[2016-08-14 10:50] #97 closed

[2016-08-14 10:52] shu8 commented on #94
No, it's supposed to be on a user's per-site profile. eg. http://meta.stackexchange.com/users/811/shog9?tab=topactivity, or http://meta.stackexchange.com/users/260841:

![](http://i.stack.imgur.com/i7F69.png)

Although it might be useful to also do it on the page you screenshotted, but that won't happen until the next few weeks or so :(

[2016-08-14 11:21] DavidPostill commented on #84
There is only one error:

![screenshot - 14_08_2016 12_20_36](https://cloud.githubusercontent.com/assets/7079224/17648781/8f47479c-6219-11e6-848b-82c3b2b3dc94.png)

Does that help?

[2016-08-14 11:22] shu8 commented on #84
@DavidPostill hmm, no :( Thanks anyway. I'll see if I can find out the cause ASAP :)

[2016-08-14 11:56] shu8 commented on #72
@fixer1234 can you try installing [this version](https://github.com/soscripted/sox/raw/fix/sox.user.js) and see if is fixed for you now?

please delete the old version *first*!

[2016-08-14 11:56] shu8 commented on #88
@fixer1234 I can't repro this, my FF and Chrome versions consistently show the separated diffs, eg. http://superuser.com/review/suggested-edits/533378. Could you try again after installing the [latest version](https://github.com/soscripted/sox/raw/fix/sox.user.js)?

[2016-08-14 11:57] shu8 commented on #98
@fixer1234 the bug is fixed in the [new version](https://github.com/soscripted/sox/raw/fix/sox.user.js), so it should start working once the access token is sorted

[2016-08-14 11:57] shu8 commented on #89
@fixer1234 Fixed in [this new version](https://github.com/soscripted/sox/raw/fix/sox.user.js). Please delete the old version before installing this one :)

[2016-08-14 11:57] shu8 commented on #95
@fixer1234 Fixed in [this new version](https://github.com/soscripted/sox/raw/fix/sox.user.js) :)

[2016-08-14 11:58] shu8 commented on #80
@MarcinOrlowski I've fixed this in v2.0.1. Please delete the old version you have and reinstall it [using this link](https://github.com/soscripted/sox/raw/fix/sox.user.js) :)

[2016-08-14 17:38] darkred opened #100 "(Suggestion) New issue template - remove the quoted title explanations (in parentheses)"
The current new issue template has an explanation below each title (in parentheses) that is in quotes `>`.
Therefore if one starts typing immediately below the quoted text (without a newline in between)
then his text will be quoted too (together with the explanation).
This IMHO makes issues hard to read (to distinguish the title from text ), as I've noticed in most of the issues.

To avoid this (a

[2016-08-14 17:40] shu8 commented on #100
@darkred nice! This new layout does seem easier on the eyes, changing it now :) thanks!

[2016-08-14 17:40] #100 closed

[2016-08-14 21:32] fixer1234 commented on #71
@shu8, it looks like you fixed the nag problem too well.  Now I can't get it to ask me again to create the token.  I assume the token was not created originally.  Is there a way to verify whether it was or wasn't (and to retrigger signup)?

[2016-08-14 21:45] fixer1234 commented on #94
OK.  It isn't quite that neat on mine.

![capture](https://cloud.githubusercontent.com/assets/10065766/17652276/2bcc0158-6246-11e6-86d9-8c8e5f4e564f.PNG)

This isn't a feature that's important to me, I was just reporting what I thought might be an issue.  I don't really care whether it gets fixed, and it could even be just a local quirk.  I'll leave it up to you whether you want to just close this

[2016-08-14 21:53] shu8 commented on #94
@fixer1234 lol, I've been a bit *too* trigger-happy closing some of these issues.

I'll keep this open for now, and investigate it a bit more when I get some time :)

[2016-08-14 22:06] fixer1234 commented on #89
You're right.  Fixed in the new version.

[2016-08-14 22:34] fixer1234 commented on #88
@shu8, installed the new version.  The example you linked to displayed correctly, but I retried the example I posted above, and that still looks the same.  The console messages went on forever, so I cleared it and then reloaded the page and got new messages, so hopefully, this captured something relevant:

![capture](https://cloud.githubusercontent.com/assets/10065766/17652575/ba0c2518-624d-11e6-8

[2016-08-14 22:40] fixer1234 commented on #99
@shu8,  I loaded the new SOX version, and the Community User icons are back.  Whatever diagnostic value this might have had seems to be overtaken by events, since the changes in the new version apparently fixed whatever common underlying problem there might have been.  Feel free to close or delete this if it isn't useful.

[2016-08-14 22:43] fixer1234 commented on #87
Retested this with the new version of v2.0.1.  This issue persists (random mix of date vs. comment on hover).

[2016-08-15 00:15] fixer1234 commented on #98
@shu8,  I'll keep this feature issue separate from the token issue, even though they're related, in case any of the feature behavior is independent of the token.

In the new version, the "notify on edit" link is back, but it isn't working correctly, possibly because of the token issue, which I'll update separately.

It looks like you use a color change to indicate status on a post.  Clicking doesn

[2016-08-15 00:36] fixer1234 commented on #71
@shu8, Tried this again with the new version and being logged into SO.  I started the session after SOX installation at SO (SU was already an open tab when Firefox was reloaded).  I reselected the SOX options from SO.  When I clicked Save Changes, it didn't trigger any token signup activity.

I left SO open and switched to the SU tab.  There, I got the notice about getting the token on SO.  I clic

[2016-08-15 00:54] fixer1234 commented on #71
@shu8, Tried this again with the new version and being logged into SO.  I started the session after SOX installation at SO (SU was already an open tab when Firefox was reloaded).  I reselected the SOX options from SO.  When I clicked Save Changes, it didn't trigger any token signup activity.

I left SO open and switched to the SU tab.  There, I got the notice about getting the token on SO.  I clic

[2016-08-15 01:32] fixer1234 commented on #72
@shu8, I rechecked this after loading the new version.  The pre-existing "Your Answer" box displays all three added features.  Opening an edit window on an existing post is missing the Find&Replace/Autocorrect buttons.

The SBS feature works.  The kbd feature works.  The bullet button just inserts a hyphen and space (it doesn't do any line breaks or positioning like the bullet list menu icon does,

[2016-08-15 18:32] #99 closed

[2016-08-15 18:42] shu8 commented on #72
@fixer1234 Find&Replace fixed in [latest version](https://github.com/soscripted/sox/raw/fix/sox.user.js).

The modifier box is for either `i`, `g`, or `m`; they're described in more detail at http://www.w3schools.com/jsref/jsref_obj_regexp.asp.

The autocorrect feature fixes any obvious, common typos. There's a list of them in the script. eg typing `teh` and clicking autocorrect should replace it

[2016-08-15 18:42] shu8 commented on #88
@fixer1234 ah, looks like you're looking at the revision history.

this feature was mainly for use in the review, because it was very confusing to understand title edits when approving/rejecting edits. does it work for you [over here](http://superuser.com/review/suggested-edits/565441)?

If so, then the feature does *work*, but I do think it makes sense to try to do this same change in the edit hi

[2016-08-15 18:42] shu8 commented on #73
hmm, I can't repro this at all anymore.

I've added a bunch of logs to this feature now, so please can you install [the new version](https://github.com/soscripted/sox/raw/fix/sox.user.js) and copy/paste (and screenshot as well if possible) the **entire console log** after refreshing a page?

[2016-08-15 18:44] shu8 commented on #71
Can you please reinstall [this new version](https://github.com/soscripted/sox/raw/fix/sox.user.js) and go to a question and check the console; you should see a `SOX Access Token: **********************` log there. does it give a token or does it say `false` or `0`?

[2016-08-15 18:53] shu8 commented on #84
@DavidPostill Can you access [this CSS link](https://rawgit.com/shu8/SE-Answers_scripts/master/dupeClosedMigratedCSS.css)? And does it show a page with this on it:?

[code]

---

Also, please could you open the console (F12), and then paste `document.styleSheets` into the console (at the bottom, next to the `>>`), and copy/paste the output of that here, or take a screenshot? It should look somethi

[2016-08-15 19:29] DavidPostill commented on #84
Yes. That link works and I see the CSS.

I don't see quit the same as you in my developer console:

![screenshot - 15_08_2016 20_26_54](https://cloud.githubusercontent.com/assets/7079224/17676525/e57ab49c-6326-11e6-925d-bdaa2b1d2d19.png)

![screenshot - 15_08_2016 20_27_45](https://cloud.githubusercontent.com/assets/7079224/17676528/ead52e18-6326-11e6-8d03-69217e4572c2.png)

[2016-08-15 21:56] fixer1234 commented on #72
@shu8, I loaded the even newer, new v2.0.1.  These features are almost there.

All three features appear in the "Your answer" box, and all three features work there.

Opening an edit on an existing post, SBS and kbd/- both appear and both work.  However, Find&Replace/Autocorrect does not appear.

[2016-08-15 21:59] fixer1234 commented on #98
I'll wait to retest this for the token fix.

[2016-08-15 22:02] fixer1234 commented on #88
@shu8, you're right.  OK, this does work in review.

[2016-08-15 22:09] fixer1234 commented on #73
@shu8, on the SOX feature menu, this item is a different color and has a hover message that there was an error loading the feature, to raise the issue here.  I assume console messages won't help if the feature wasn't loaded (or might they show why it wasn't loaded?).

[2016-08-16 00:32] fixer1234 commented on #71
@shu8, interesting.  When I loaded the new and improved new SOX, a popup window the size of the token dialog appeared momentarily, I didn't do anything to actually create a token.  I checked the console output, and it gives a long string as a token ID, so I assume that means I magically have a token?  There is no more nag popup or SO tabs being opened, so that's great.

[2016-08-16 01:22] fixer1234 commented on #88
@shu8, I spoke to soon.  The example you linked to worked.  I just opened an edit in the review queue and this example isn't:

![capture](https://cloud.githubusercontent.com/assets/10065766/17685016/53bd7078-632e-11e6-9338-044e65acdf13.PNG)

[2016-08-16 02:32] fixer1234 commented on #98
@shu8, as mentioned in a comment on #71, I apparently have a token.  It isn't clear which token issue your comment above refers to, but:

The feature button appears to work in the new and improved, new v2.0.1.  The active indicator (color change), happens on the first click and persists through page reloads, etc.

The notification doesn't work yet.  I selected the notification on edit on three que

[2016-08-16 08:57] shu8 commented on #71
@fixer1234 yeah, if you are already logged in and you have previously clicked the 'approve application' button, the popup automatically closes because it knows you've already given permission.

So now this issue should be fixed! :tada:

The inbox notification issue now seems to be separate :/

[2016-08-16 08:57] #71 closed

[2016-08-16 09:19] shu8 commented on #72
Should be fixed in [this even newer version](https://github.com/soscripted/sox/raw/fix/sox.user.js)

[2016-08-16 09:19] shu8 commented on #98
Should be fixed in [this even newer version](https://github.com/soscripted/sox/raw/fix/sox.user.js)

[2016-08-16 09:19] shu8 commented on #73
@fixer1234 I've added a few more logs, these are kind of getting there, but these new ones should give me the answer!

Sorry to ask again, but please can you reinstall [this even newer version](https://github.com/soscripted/sox/raw/fix/sox.user.js) and paste the log here again?

[2016-08-16 14:16] catb0t commented on #78
Yes, that's what I meant, sorry :D

[2016-08-20 22:56] fixer1234 commented on #73
Installed the newest, newer, new version.  The author status does not appear on several random posts I tested.  Console output:

[code]

It had previously worked on Meta, but no sign of it there either.  Also, opening a comment edit box no longer triggers the author status display.

[2016-08-20 23:02] fixer1234 commented on #72
Success.  Newest, newer, new version looks like it fixes this.  All three features appear to be working in the Your Answer box and post edit windows.

[2016-08-20 23:11] fixer1234 commented on #98
Newest, newer, new version:  I selected the Notify on Edit button on an answer post in the edit review queue.  A few minutes later, I got a notification that the post had been edited.  So that part works.  The only problem is that the edit hadn't been approved yet, so there was no edit on the post.

[2016-08-21 00:09] fixer1234 commented on #93
I installed the newest, newer, new version and the author names are missing again.  Is this something that requires some type of system refresh for them to appear?  If they do reappear, it might be something to advise users about so they don't think it's a bug.  Here's the console output:

[code]

The last 7 lines were added after I clicked on the inbox icon to view messages.

[2016-08-21 00:19] fixer1234 commented on #95
Installed newest, newer, new version.  This issue is back.  Console output:

[code]

[2016-08-21 00:36] fixer1234 commented on #75
Newest, newer, new version: Feature works for some but not all HNQ.  Examples where the label does not appear:

http://unix.stackexchange.com/questions/304694/udf-to-add-two-numbers-in-awk

http://academia.stackexchange.com/questions/75226/should-i-tell-students-that-its-my-first-time-teaching-the-course

http://networkengineering.stackexchange.com/questions/34117/does-having-a-longer-ethernet-cab

[2016-08-21 00:45] fixer1234 commented on #89
Problem back in newest, newer, new version.  Console output:

[code]

The last two lines appeared maybe half a minute after clicking Show Comment Score.

[2016-08-23 17:14] enki-code commented on #75
I've never really cared for that feature and I wouldn't be the slightest bit upset if it were to be removed.

[2016-08-23 19:51] shu8 commented on #75
@fixer1234 This feature only works for the 30 most recent HNQs; try going on the first few in this list: http://stackexchange.com/; they should all work

[2016-08-23 19:55] shu8 commented on #95
@fixer1234 No repro for me in FF or Chrome. If this still happens, please enable the 'NET' tab in the console and refresh and paste the log here, and could you take a screenshot(s) of the 'Network' tab on the top right of the console pane,

[2016-08-23 20:03] shu8 commented on #89
@fixer1234 I can't repro this either. If it still isn't working, again please could you enable the net tab and post the console log and also screenshot the network tab

[2016-08-23 20:04] shu8 commented on #93
@fixer1234 Can't see why this should happen, and I can't repro it, however I have made a slight change in  [this v2.0.1a version](https://github.com/soscripted/sox/raw/fix/sox.user.js), so please try installing this.

If it still doesn't work, please paste the console log when 'net' is enabled and also could you add screenshots of the network tab

[2016-08-23 20:08] shu8 commented on #88
@fixer1234 I still can't repro this on FF either. Does this still happen?

[2016-08-23 20:13] shu8 commented on #84
@DavidPostill sorry for the late reply, could you try pasting this in instead please?:

[code]

and tell me whether the output is 'false' or 'true'?

[2016-08-23 20:14] shu8 commented on #81
@catb0t Does this still happen? :)

[2016-08-23 20:14] #80 closed

[2016-08-23 20:16] shu8 commented on #73
@fixer1234 Can you try refreshing with the net tab enabled and paste the log here, and please screenshot the network tab in the console pane and post it here?

[2016-08-23 20:24] DavidPostill commented on #84
Output is 'true'

[2016-08-23 20:26] shu8 commented on #84
@DavidPostill could you join me [in chat](https://gitter.im/soscripted/sox?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for a few minutes if at all possible?

[2016-08-23 20:33] shu8 commented on #84
If not, that's fine; when you get some time, please could you right click on any 'onhold'/'duplicate' text, click 'inspect element', and see on the right whether you see something like this:

![this](https://cloud.githubusercontent.com/assets/8850830/17908631/2fecce0e-6979-11e6-8c3d-ebd7447b00da.png)

If not, what do you see?

[2016-08-23 20:45] fixer1234 commented on #75
@shu8 I didn't count, but it doesn't look like the HNQ list on the right side is over 30.  I did the test randomly picking from the then current list.  It's now several days later, so the specific questions I linked to, above, may no longer be on the list.

That said, some strange results that might be diagnostic.  I went to your SE link and picked 5 questions.  Every one showed the HOT label.  Th

[2016-08-23 20:53] fixer1234 commented on #95
@shu8 the console output I pasted above was captured as you describe.  I'm not understanding what you're looking for with the screenshot.  On mine, the Net tab is on the left.  But are you just looking for verification that the tab or options have been properly selected?

[2016-08-23 21:02] fixer1234 commented on #89
@shu8 Looks like I may not have understood how the console worked.  I had the Net tab selected, but none of the options under it were selected.  Here's new output with all sub-options selected:

[code]
The last half dozen lines appeared after I clicked on a Show Comment Score link.

[2016-08-23 21:07] fixer1234 commented on #95
[code]

[2016-08-23 21:16] fixer1234 commented on #88
Not sure if this was included in any changes on the "a" version, but just verified the problem on the previous newest, newer, new version.  Console output:

[code]

[2016-08-23 21:21] fixer1234 commented on #73
This is the still on the version prior to "a":

[code]

[2016-08-23 21:41] fixer1234 commented on #98
@shu8 The action on the page where the notification option is selected  seems to be working, and then all of the issues are behind the scenes in the site infrastructure.  The inbox isn't tied to any particular page, and the action is at unpredictable times.  Is there a practical way to capture logs of what's going on behind the scenes?

[2016-08-24 00:38] fixer1234 commented on #88
I just retested again on the example, above, that didn't work and another, and now it's working (v2.0.1a).  I'll close this, again.

[2016-08-24 01:00] fixer1234 commented on #87
I've been retesting issues on v2.0.1a.  Even if they aren't things that were specifically addressed, a number of issues have a random quality, so it's a consistency check if nothing else.  Console output:

[code]
All except the last three lines showed up when I refreshed the page.  Hovering on the edit history link did not generate additional output.  The last three lines showed up about a minute

[2016-08-24 01:35] fixer1234 opened #101 "Hide Community Bulletin Module"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey
Note: Firefox, not Chrome

...

###  Expected Behavior
Community Bulletin module should be missing on the right side of the main page.
...

### Actual Behavior
Sometimes it's missing, most of the time it's displayed.  Sometimes it's missing immediately upon loading the page, but gets inserted within a second or two.
...

### SOX Errors

[2016-08-24 01:43] fixer1234 commented on #93
Loaded v2.0.1a.  Authors weren't there initially, but I rechecked an hour or two later and they were there.  Maybe needed to wait for some cache to refresh?  Anyway, looks like you fixed it.

[2016-08-24 02:03] fixer1234 commented on #89
After posting the previous comment, I loaded v2.0.1a.  This may not have been something you explicitly addressed in the new version, but I just checked the comment scores, and they're now back.  Guess you replenished the magic smoke.

[2016-08-24 02:03] #89 closed

[2016-08-24 02:08] fixer1234 commented on #95
I loaded v2.0.1a after posting the comment above.  Looks like another one where whatever you did replenished the magic smoke.  The feature is working again.

[2016-08-24 02:47] fixer1234 commented on #73
After the comment above, I installed v2.0.1a.

1. The feature displays status, but it requires some comment thread.  If there are already comments on a post, the status will be there.  If there aren't already comments, status display can be triggered by opening a comment edit box.  However, if the page is refreshed without actually posting a comment, the status is missing again when the page is re

[2016-08-24 07:20] DavidPostill commented on #84
![screenshot - 24_08_2016 8_19_21](https://cloud.githubusercontent.com/assets/7079224/17921754/7cd826e6-69d3-11e6-8d2e-d4e9ed2dff99.png)

It looks different to yours ...

[2016-08-24 09:50] shu8 commented on #73
@fixer1234

1. I see why this happens, will fix in v2.0.1b
2. whenever it doesn't work, can you go on the console with net enabled, and then click on any links that have 'Bad Request' written after them that start with 'http(s)://api.stackexchange.com/*', and paste what comes up on that page?
3. yeah, this is a bug, which I'll fix ASAP

[2016-08-24 15:57] shu8 commented on #84
@DavidPostill That's really weird... Do you have any style-blocker or style-changer extension installed? Can you try running SOX with them disabled?

A final check you could do is to make sure you see this:

![this](https://cloud.githubusercontent.com/assets/8850830/17937928/bd7d648e-6a1b-11e6-9b75-43080db3ee0e.png)

If you do, then there must be some extension blocking it :confused:

[2016-08-24 16:14] DavidPostill commented on #84
Hmm. I don't see it ... times passes ... got it. It is [Privacy Badger](https://www.eff.org/privacybadger) blocking it. No idea why.

[2016-08-24 16:17] shu8 commented on #84
@DavidPostill aha! Could you change the privacy badger slider things to unblock it? I don't use it myself so not entirely sure how it works.

[2016-08-24 16:27] DavidPostill commented on #84
Yes. That works. I had Privacy Badger in set and forget mode. They must have changed something a couple of weeks ago ... :/

[2016-08-24 16:27] #84 closed

[2016-08-24 17:53] fixer1234 commented on #73
@shu8  1st linked problem thread - problem repeated : only spotted 1 Bad Request
[code]
2nd linked problem thread - problem repeated: only spotted 1 Bad Request: same link as above

The thread from which I posted the console output in the earlier comment is still failing with v2.0.1a.  Several Bad Requests.  One was the same as above.  Also:
[code]

[2016-08-24 18:04] shu8 commented on #73
@fixer1234 Thanks, I think I know the problem now :) will get back to you ASAP

[2016-08-24 18:10] enki-code commented on #101
The logs you posted look normal, although a bit bloated with unneeded data.

What site is this happening on? All of them? Looks like an ad to me, and, that might not be included in the actual Community Bulletin module.

A quick way to tell whether or not it is actually part of the Community Bulletin would be to run the following code in the console and see if it disappears.

`$('#sidebar .communit

[2016-08-24 19:03] shu8 commented on #73
@fixer1234 hopefully this should work in [v2.0.1b](https://github.com/soscripted/sox/raw/fix/sox.user.js), or at least the editor shouldn't be displayed and it should be displayed no matter if comments exist or not. can you confirm?

[2016-08-24 19:26] shu8 commented on #101
@fixer1234 I don't think that is a [community bulletin](http://meta.stackexchange.com/q/234453/260841), which looks like:

![](http://i.stack.imgur.com/z6Ucj.png) and ![](http://i.stack.imgur.com/WAOl2.png)

[2016-08-24 20:44] fixer1234 commented on #101
OK, what's being hidden by the feature is Hot Meta Posts.  Looks like that's the Community Bulletin.  So the feature is working.  Nevermind.

[2016-08-24 20:44] #101 closed

[2016-08-25 00:52] fixer1234 commented on #73
@shu8 I loaded v2.0.1b and the feature didn't work at all.  Just noticed that the feature is in color on the SOX menu, with hover text that there was an error loading the feature and to raise the issue here.

[2016-08-25 00:57] fixer1234 commented on #93
Loaded v2.0.1b and again, the authors don't appear.  It's been probably 5 hr, and unlike the previous installation, they didn't eventually show up.  I tried various things like closing and reopening FF, and refreshing the page, but no effect.  Any way to capture diagnostics?

[2016-08-25 01:19] fixer1234 commented on #95
Magic smoke is gone, again, with v2.0.1b.  No more tags on answers.
[code]
The first couple of lines appeared before I refreshed the search page after clearing the console.

[2016-08-25 02:04] fixer1234 commented on #93
Well it's about damn time!  OK, the names magically started appearing in the inbox, again, around 6 hr after installing v2.0.1b.  Will close issue again.

[2016-08-25 02:04] #93 closed

[2016-08-25 13:06] shu8 commented on #95
@fixer1234 Can you try installing [v2.0.1c](https://github.com/soscripted/sox/raw/fix/sox.user.js) and check if the errors still remain?

Also, are you free to [chat](https://gitter.im/soscripted/sox?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) for half an hour or so at any time? I'd really like to get these issues sorted, and chatting should hopefully be quicker :)

[2016-08-25 14:56] shu8 commented on #75
@fixer1234 AFAIK questions on the *sidebar* are in random order, and the ones on the homepage are in order.

The API doesn't provide HNQs, so I use an RSS feed which only gives me the 30 most recent ones.

I'll see if a new method has come, otherwise it's gonna stick like this; if you don't find it useful, please do disabled it.

[2016-08-25 14:56] #75 closed

[2016-08-26 11:51] shu8 commented on #95
@fixer1234 If you haven't already tried, please skip that version and use [v2.0.1d](https://github.com/soscripted/sox/raw/fix/sox.user.js) instead :)

[2016-08-26 11:52] shu8 commented on #75
@fixer1234 I found [a better method](http://meta.stackexchange.com/a/280365/260841), so *all* HNQs should work now in [v2.0.1d](https://github.com/soscripted/sox/raw/fix/sox.user.js)

[2016-08-26 12:36] shu8 commented on #98
@fixer1234 This feature is intended for long-wait edits. It only checks for edits every day; the code looks at the date of the last checked time, and only requests updates from the API if the current date is after the last date.

eg. if I check an SE site today, date `26`, it won't look for any edits until at least the `27`th. Does that explain, a bit, of what's happening and why you're not gettin

[2016-08-26 12:48] shu8 commented on #73
@fixer1234 Can you try this again in [v2.0.1f](https://github.com/soscripted/sox/raw/fix/sox.user.js) please?

[2016-08-26 16:56] fixer1234 commented on #95
@shu8  Jumped to v2.0.1f.  Magic smoke is replenished.  Closing this issue.  re: chat -- I'll be in and out.  When is a good time for you?

[2016-08-26 17:08] fixer1234 commented on #75
@shu8 I jumped right to v2.0.1f.  The new method is improved but still doesn't label every question showing in the site main page HNQ list on the side.  2 out of 6 random choices didn't get a label.  I suspect the list on the site pages just doesn't get updated with the same frequency as the master list, so some of the displayed questions are no longer on the list.  For this feature to be useful a

[2016-08-26 17:23] fixer1234 commented on #73
@shu8 I jumped right to v2.0.1f.  It worked on a bunch of random selections, and displayed the right person.  However, the two links I included in a previous comment that it didn't work on -- those still don't work.  Strange.  Something about specific questions that work differently.  I'll go ahead and post console output for one of them.

[code]
I didn't spot and Bad Requests.

[2016-08-26 17:42] fixer1234 commented on #98
@shu8 I jumped to v2.0.1f and will test as you suggest.  However, let me just say, "WHAT ON EARTH WERE YOU THINKING?"  :-)

There's no mechanism for being alerted to changes regardless of when they happen.  If the OP jumps right on a problem post and fixes it, we don't want to wait until the next day to find out about it.  The goal is to get the post back in circulation as fast as possible.  Why i

[2016-08-26 18:14] IStoleThePies opened #102 "Mod diamonds don't show up in beta sites"
### Installed Version: 2.0.0  Environment: Tampermonkey

...

###  Expected Behavior
A mod diamond would appear on every site
...

### Actual Behavior
Mod diamonds only appear on graduated sites, not beta sites.
...

### SOX Errors logged to the browser console (if available)

...

### Steps to reproduce

[2016-08-26 18:32] shu8 commented on #98
@fixer1234 Wow. OK. Sounds like that was a shit idea :P

Any ideas as to what I can make the date test be then? Every (half an) hour? I just don't want to be polling the API every other second uselessly, because SE has some pretty strict throttle limits that block you for days if you do stuff like that.

I'd be more than happy to change it to anything else, provided it's not too often! :) Please d

[2016-08-26 18:33] shu8 commented on #102
@IStoleThePies hmm, can't believe I missed this. will be fixed ASAP -- thanks for posting this! :)

[2016-08-26 18:35] shu8 commented on #95
@fixer1234 If you can do today, how about in half an hour? (20:00 GMT+1). Otherwise tomorrow around 16:00 till 18:00 GMT+1?

[2016-08-26 18:59] shu8 commented on #102
@IStoleThePies Fixed in [v2.0.1g](https://github.com/soscripted/sox/raw/fix/sox.user.js) :) Thanks again!!

[2016-08-26 18:59] shu8 commented on #73
@fixer1234 If it's only not working on those 2 questions, or previously tested questions, it must be some sort of cache... try resetting cache/using private mode and using [v2.0.1g](https://github.com/soscripted/sox/raw/fix/sox.user.js)

[2016-08-26 19:11] fixer1234 commented on #98
@shu8 So the plot thickens.  Too bad there isn't a way for the feature to leave a hook on the post that gets triggered when the post is edited.  The delay is something that it would probably be worth advising SOX users about so they don't think the feature isn't working.

Timing thoughts?  Real time isn't necessary, but as close to it as practical.  Most users aren't glued to the site.  They perio

[2016-08-26 19:17] IStoleThePies commented on #102
I just updated, and it still isn't showing up on beta sites.

On Friday, August 26, 2016, ᔕᖺᘎᕊ <notifications@github.com> wrote:

[2016-08-26 19:29] shu8 commented on #102
@IStoleThePies I'm so sorry, I made a last minute change before I pushed and that broke it :/

Please could you reinstall from the same link above? It should hopefully work this time! :)

[2016-08-26 19:30] shu8 commented on #98
@fixer1234 I'll see if I can find something :)

[2016-08-26 19:31] IStoleThePies commented on #102
Works now, thanks! :D

On Fri, Aug 26, 2016 at 3:29 PM, ᔕᖺᘎᕊ <notifications@github.com> wrote:

[2016-08-26 19:31] #102 closed

[2016-08-26 19:42] fixer1234 commented on #95
@shu8 Converting to GMT time is too much math for my brain.  :-)    I just found this message.  I'll be around for awhile, if you're available.

[2016-08-26 20:22] fixer1234 commented on #73
@shu8 Cleared cache, installed v2.0.1g.  The feature isn't displaying author status on any post.  I'll recheck in awhile since this is one of the features that has to get in the right mood before it works.

[2016-08-26 20:38] shu8 commented on #95
@fixer1234 now?

[2016-08-26 20:51] fixer1234 commented on #95
@shu8 v2.0.1g: magic smoke gone again.

[2016-08-27 20:31] shu8 commented on #98
@fixer1234 So, I've rewritten this feature, bearing in mind what you said.

The new version now does 2 things:

- uses the WebSockets to add notifications **live**, as they happen, as long as you are on an SE site somewhere, and
- uses the API, and checks **at least every hour** for updates

Please could you install [v2.0.1h](https://github.com/soscripted/sox/raw/fix/sox.user.js) and test this?

I

[2016-08-27 20:44] fixer1234 commented on #98
@shu8 Will do.  Just so I know what I'm looking for, what role does SOX play after the post is selected?  i.e., does the selection trigger a behind-the-scenes process that uses the SE infrastructure, so the notification will appear even on a computer without SOX active, or does SOX need to be active (and v2.0.1h?) to get the subsequent notification?

[2016-08-27 21:00] shu8 commented on #98
@fixer1234 Needs to be on the (same) computer, with SOX v2.0.1h or later. It does use the SE infrastructure, partially, but all the data the script uses is saved locally so you need to use the same script and computer :/

BTW -- I know the green font change isn't persistent over page loads, but it is saved. I'll fix that tomorrow. :)

[2016-08-28 01:45] fixer1234 commented on #98
@shu8 The difference in result (and coordination), between live and API isn't clear (other than the delay); how do they co-exist?  Does API always provide a (second) notification as long as the Notify on edit is still selected?  In what case would it provide a notification if live has already done it?

Also, if someone edits a post themselves, they already know about it.  They could be interested

[2016-08-28 14:59] shu8 commented on #98
@fixer1234 In [v2.0.1i](https://github.com/soscripted/sox/raw/fix/sox.user.js), I've made the green font change persistent over page loads.

- currently, if the live notification comes up, and you mark it as read, then in an hour, the api notification should also come back (this will be fixed soon)
- for the api notification to appear, you need to refresh the other tab after an hour.

I've just th

[2016-08-28 16:09] #81 closed

[2016-08-28 17:34] shu8 commented on #98
@fixer1234 ignore the above message, I just pushed [v1.0.2j](https://github.com/soscripted/sox/raw/fix/sox.user.js).

Now, you can get live notifications, and the API will be checked for every post, hourly, provided you're still on an SE site.

Clicking 'mark as read', currently, does not remove it from the watch list.. what are your thoughts on this issue? Should clicking it remove it from the wa

[2016-08-28 17:43] shu8 commented on #95
@fixer1234 Can you dump the console when running [v2.0.1k](https://github.com/soscripted/sox/raw/fix/sox.user.js) please?

[2016-08-28 17:47] shu8 commented on #73
@fixer1234 Can you dump the console with [v2.0.1k](https://github.com/soscripted/sox/raw/fix/sox.user.js) as well please?

[2016-08-28 19:30] IStoleThePies opened #103 "Fixed topbar prevents user from closing code snippet"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey
2.0.1G
...

###  Expected Behavior
I would be able to close a code snippet when viewing the full page
...

### Actual Behavior
The topbar covers the close button
...

### SOX Errors logged to the browser console (if available)

...

### Steps to reproduce
1. Go to any post with a code snippet (i.e. http://codegolf.stackexchange.com/a/9

[2016-08-28 19:50] shu8 commented on #103
Thanks for posting this bug! I have reproduced this and am looking into a fix. Hopefully, this will be fixed in the next DEV version. I'll keep you posted on the progress :)

[2016-08-28 20:35] fixer1234 commented on #103
Another manifestation of #74?

[2016-08-28 20:36] shu8 commented on #103
@fixer1234 no, seems different, but still to do with the fixed topbar

[2016-08-28 21:27] fixer1234 commented on #98
@shu8 I'll try to test this later.

Thoughts on the mechanics:  I'm not sure if the action is designed the way it is because of limitations, or because you want it to work that way on purpose.  What I would find most intuitive would be this:

- Select **Notify on edit**.  That would persist regardless of whether the tab remained open.  Ideally, regardless of whether the browser was open or the com

[2016-08-28 21:34] shu8 commented on #98
thanks for that

- the first bullet point is exactly what currently happens
- basically, every time a post is edited, a notification will popup on
another tab if it exists. If another tab doesn't exist, then the script
will wait for *at least an hour*, before it notifies you of the edit. so if
you open your browser again 2 hours later, it would notify you immediately.
Of course, in normal day-to-d

[2016-08-28 22:09] fixer1234 commented on #98
@shu8 OK 2nd bullet doesn't seem to work as intended, yet (as of the previous version I tested).  I'm still not following all of the logic on this piece of the action.  If a person is doing their own edit, why is there a need to notify them at all (other than to test the feature)?  If it does notify on their own edit, why the need to do it on a different tab, using different timing?  If you're abl

[2016-08-29 01:10] fixer1234 commented on #95
[code]

I tried the first bad request and got throttled:
[code]

[2016-08-30 20:28] IStoleThePies opened #104 "Blog links not working"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey
2.0.1G
...

###  Expected Behavior
When I go to the menu and hover over a site, a blog link will appear. That link will take me to the blog for the site.
...

### Actual Behavior
Two problems:
1) The blog link appears, but it pretty much only takes me to blog.stackexchange.com, instead of the specific blog for the site.

2) Mathematics

[2016-08-30 20:29] shu8 commented on #104
Hi again! Thanks for posting this bug! I remember coming across this bug a while back and completely forgot about it. I have (re-)reproduced this. Hopefully, this will be fixed by v2.0.2 at the latest. I'll keep you posted on the progress of the fix :)

[2016-08-30 20:32] IStoleThePies opened #105 "Chat links not working properly"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey
2.0.1G
...

###  Expected Behavior
When I go to the menu and hover over a site, a chat link will appear. That link will take me to the chat for the respective site.
...

### Actual Behavior
When I click on the chat button for any site, it only takes me to the chat rooms of the site I'm currently on. For example, if I am currently on Ph

[2016-08-30 20:34] shu8 commented on #105
Thanks, especially for the fix as well! ;)

The fix will be with you ASAP! :+1:

[2016-08-30 20:42] IStoleThePies opened #106 "SOX doesn't work when viewing the list of chatrooms"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey
2.0.1G
...

###  Expected Behavior
When going to chat.stackexchange.com, SOX will continue to work (mod diamonds will still appear, blog/chat/meta buttons would show up in the SE menu for each site, etc.)
...

### Actual Behavior
SOX seems to disappear on that page. Even the options button in the topbar is gone, along with all of the s

[2016-08-30 20:45] shu8 commented on #106
@IStoleThePies Hmmm I think we disabled most of SOX on chat, however I see no reason why not to enable the blog/chat/meta buttons, but maybe not the mod diamond, because it would be unsure which site to check the meta for.. I'll also look into the cogs icon going missing, which (I think) was unintentional...

[2016-08-30 20:51] IStoleThePies commented on #106
@shu8 Regarding the mod diamond, we could probably detect which site the user is on based on its url. As I mentioned before in my chat link issue, site chats can be specified by a longer link.

However, I'm not sure why simply going to chat.stackexchange.com only shows the chatrooms for the site the user was just on. Maybe if you guys figure out how that works, you can make the mod diamonds work t

[2016-08-30 20:53] shu8 commented on #106
AFAIK there's some sort of hidden parameter (something like a 'referral' thing) that tells the site which site it's coming from.

I'll see if I can somehow get that information, and if I can then I'll look into enabling the mod diamond on chat :)

[2016-08-30 20:55] IStoleThePies commented on #106
@shu8 Just wondering, do mod diamonds normally show up on that page for moderators? I've never been a moderator, so I'm not sure if it should actually be there.

[2016-08-30 20:56] shu8 commented on #106
@IStoleThePies lol not a clue either! neither me nor @enki-code have ever been mods... I doubt they see it on chat, but I see no problem in enabling it for SOX, *if it's possible*...

[2016-08-30 21:15] IStoleThePies commented on #106
@shu8  Never mind, just asked a moderator. They do see mod diamonds on the chat lists, after all.

[2016-08-31 03:28] fixer1234 commented on #73
@shu8  Tested v2.0.1k on #95, caused a throttle.  I'll wait for instructions before testing other features.

[2016-08-31 03:30] fixer1234 commented on #98
@shu8 Tested v2.0.1k on #95 and got throttled.  I'll wait for instructions before testing this feature, especially if you plan to modify it.

[2016-08-31 09:23] shu8 commented on #73
You're going to keep on getting throttled (SOX's fault, not yours). To make
it eventually work, please **disable SOX for at least 24 hours** -- sorry,
it's the only way as of now, because there's nothing currently in SOX to
say "STOP SENDING REQUESTS IF THROTTLED", which I need to add... :/

On 31 August 2016 at 04:28, fixer1234 <notifications@github.com> wrote:

[2016-08-31 14:20] enki-code commented on #73
I still don't understand how or why you're being throttled, the requests are batched. If I am reading the documentation correctly you should be able to make 10,000 requests to the API per day.

There are a few possible reasons why you're getting throttled.

...

So, we need to figure out WHAT is causing the throttling, inspect the responses for the `backoff` property and adjust accordingly.

[2016-08-31 20:36] shu8 commented on #73
@fixer1234 Can you try with [v1.0.2l](https://github.com/soscripted/sox/raw/fix/sox.user.js) now please? Hopefully you shouldn't be throttled anymore! :)

[2016-09-02 02:36] fixer1234 commented on #73
@shu8 Loaded v2.0.1L and it looks like the magic smoke has returned.  I just went directly to the posts listed earlier that didn't work.  The feature works, displays the correct person, and displays regardless of comment content.  I'll close this.

[2016-09-02 02:36] #73 closed

[2016-09-02 02:42] fixer1234 commented on #87
Retested with v2.0.1L.  Same random result.  Let me know if any additional console output would be useful, particularly if you added any additional captures.

[2016-09-02 02:46] fixer1234 commented on #95
@shu8 Loaded v2.0.1L and this feature is working again.  I'll close this.

[2016-09-02 02:46] #95 closed

[2016-09-02 05:08] fixer1234 commented on #98
@shu8 Installed v2.0.1L and then did a several hour session.  No sign of throttling, so that's good.  I'm not sure what you may have changed in the design of this feature, so not sure what I'm looking for.  Testing included tracking several edits.  One was approved 10 minutes ago, another was my edit from something over an hour ago.  Neither produced a fast notification, so it isn't clear whether

[2016-09-02 18:06] shu8 commented on #98
@fixer1234 ok, just to try of everything is working, (might be a bit of a pain...):

Firstly, please 'watch' a question, and then go to the site's homepage and stay there. Then, open a **private/incognito** window, login to SE and edit that same question. As soon as you edit it, go back to the non-private window and you should see a notification. If not, please dump the entire console here.

---

[2016-09-02 18:44] enki-code commented on #78
@catb0t So, @shu8 and I were talking and we've decided to reject this for now.

Basically, with the current state of SOX adding a feature this large would be a bit unrealistic for us right now.  However, like I said in my first comment, I do like the idea and would like to implement it as its own script.

Once we got SOX all sorted out and working how we want I will make this for you.

[2016-09-02 18:44] #78 closed

[2016-09-02 18:51] enki-code commented on #77
@catb0t We've decided to reject this for now and focus on getting things stable.

[2016-09-02 18:51] #77 closed

[2016-09-03 05:00] fixer1234 commented on #98
@shu8 First test: no immediate notification (~5 minutes).  I'll check again after 15 minutes.  Console output:

[code]

I noticed a message in the middle that there was an error loading this feature.  It says to copy an error log.  I don't know if that is the log, or there is something somewhere else you need.

After coming here to post this, additional content showed up in the console.  Most is a

[2016-09-03 17:27] shu8 commented on #98
@fixer1234 Can you try clicking 'reset' in the SOX settings dialog and then doing all this again? You'll need to re-get your access token as well. I think it's erroring out because I made a change to the structure of the saved data, and its trying to read the old version which doesn't exists anymore...

[2016-09-03 17:53] fixer1234 commented on #98
@shu8 I uninstalled the previous version, restarted Firefox, then installed v2.0.1L.  Still think reset will help?

[2016-09-03 17:55] shu8 commented on #98
It will definitely make a difference, because I don't think uninstalling
the script removes the settings that the script saved, however I don't know
whether it will fix the problem :/

On 3 Sep 2016 6:53 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-09-03 17:57] fixer1234 commented on #98
@shu8 I need to re-enter every setting, so it isn't saving much.  :-)  I'll give it a try.

[2016-09-03 18:06] fixer1234 commented on #98
@shu8 I'm not sure reset is working.  The only obvious action it triggered was to stick the word reset next to the search box at the top.  None of the selections were changed, no new action to get a token, etc.  Also tried reset followed by saving changes (no obvious effect).  The feature is still in colored text with the pop-up tool tip that there was an error loading it.

[2016-09-03 18:08] shu8 commented on #98
There should be a reset button at the bottom of the dialog as well, next to
the save button

On 3 Sep 2016 7:06 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-09-03 18:08] fixer1234 commented on #98
Yup, that's the one.

[2016-09-03 18:09] fixer1234 commented on #98
Should I post a bug report that the reset feature isn't working?  :-)

[2016-09-03 20:55] enki-code commented on #98
@shu8

Looks like there is some confusion here about how the settings are being stored.

When installing a UserScript the script manager (Tampermonkey or Greasemonkey) assigns a GUID to the script, all settings for the script are stored with this GUID in an SQLite database.  So, a fresh install of the script should not be pulling old data from previous versions.

[2016-09-07 19:25] shu8 commented on #98
@enki-code hmm, ok...

BTW @enki-code and @fixer1234 everything over here's gone busy again with school starting again, so I might not be very active for the next few weeks :(

[2016-09-09 17:45] fixer1234 commented on #103
Possibly another manifestation, which, hopefully, will be fixed by what's in progress.  In a review queue (Close and LQP), there is a pop-up window for specifying the close reason.  The top of that window has a similar Close "X", which gets tucked under the top bar and not accessible if you want to cancel action on the close vote.

[2016-09-13 08:59] somebody1234 opened #107 "Hide vote buttons on own posts"
Note: I think `visibility: hidden` is better than `display: none` for this

[2016-09-26 22:28] #82 closed

[2016-09-26 22:33] catb0t opened #108 "SO moves to jQuery 1.12.4"
[We're updating jQuery to 1.12.4 tomorrow](http://meta.stackexchange.com/q/284996/310919).

The list of deprecations in this version is [here](https://api.jquery.com/category/deprecated). I don't think SOX is heavily affected from a quick scan, but we'll see, won't we. :)

[2016-09-27 19:01] shu8 commented on #108
@catb0t thanks for the notice! I never saw that meta post, so this is really useful.

However, I'm really busy atm with school stuff, so most of SOX is at a standstill right now. I'll try to get everything moving again ASAP, but might be a few weeks :(

But SOX is still alive!! :D