[2016-09-28 16:35] catb0t commented on #108
I totally understand, don't worry about it :)

[2016-10-01 13:39] shu8 commented on #107
@somebody1234 sorry for the delay in getting back to you... it's been really busy :/

Which feature are we talking about here? Do you mean the 'gray out deleted vote buttons' feature?

[2016-10-01 13:58] shu8 commented on #104
@IStoleThePies Sorry for such a long wait, but this should be fixed now in [v2.0.1m](https://github.com/soscripted/sox/raw/fix/sox.user.js) -- the issue was that not all sites have blogs, so the script made the URL for any sites which did have a blog, but never changed the variable if they didn't, so it stuck with any non-blog sites :/

Please could you try installing it [from this link](https://g

[2016-10-01 13:58] shu8 commented on #105
@IStoleThePies Sorry for the long wait, again. I've used your fix to solve this problem.

Please could you install [v2.0.1m from this link](https://github.com/soscripted/sox/raw/fix/sox.user.js) and confirm whether it has been fixed for you now? Thanks!

[2016-10-01 14:05] IStoleThePies commented on #104
The chat links work perfectly, but the blog links are still very glitchy.
Sometimes they might just send me to my profile page on that site; other
times they may send me to completely different SE sites.

I'd also like to mention that blogs were discontinued a few years ago. The
sites that made blogs before they were discontinued can still update them,
but almost all SE sites don't have blogs, nor

[2016-10-01 14:14] IStoleThePies commented on #105
Works perfectly :)

[2016-10-01 14:20] geekyi commented on #71
Wow, this fixes everything! No more nag dialogs! Why isn't this released as 2.0.1 at least? This is a vital fix.
(Firefox 50.0b3)

[2016-10-01 16:40] shu8 commented on #71
@geekyi that was my plan last month when this was fixed, but then I got really busy with school work again :( so I couldn't work on it. I've made a few more pushes today with the intention of making this an official release before Monday.

Hope you understand that both of us don't really have much time so we work on SOX wherever we get some free time! :)

[2016-10-01 16:49] shu8 commented on #104
@IStoleThePies hmm, I was totally unaware that sites could no longer make new blogs!

TBH that kind of makes me think how useful the blog link really is, if it will only *ever* work on 20-or-odd sites, most of which haven't had new posts in quite a while.

Quick question: have you ever used the blog link? (I'm thinking of just getting rid of the blog link and keeping the chat one...)

[2016-10-01 16:54] IStoleThePies commented on #104
@shu8 To be honest, I was never active on a site that used blogs. I had only learned about them from sox. That said, out of the 24 sites that use it, only five have actually updated in this past year, and only Science Fiction & Fantasy is regularly active (one new blog post per week). I'd probably vote on removing them, since they are almost abandoned.

[2016-10-01 16:55] shu8 commented on #104
@IStoleThePies yep, looks like I'll just get rid of it -- it's easier for me :P

[2016-10-01 18:32] shu8 commented on #103
@fixer1234 fixed in [v2.0.1n](https://github.com/soscripted/sox/raw/fix/sox.user.js).

About the review queue: does it not work if you scroll up so the top of the dialog is not hidden?

[2016-10-01 18:32] #103 closed

[2016-10-01 18:33] shu8 commented on #104
Removed the blog link in [v2.0.1n](https://github.com/soscripted/sox/raw/fix/sox.user.js)

[2016-10-01 18:33] #104 closed

[2016-10-01 18:43] IStoleThePies commented on #103
@shu8 I'm sorry, what do you mean?

[2016-10-01 18:45] shu8 commented on #103
@IStoleThePies I was talking about [fixer1234's comment](https://github.com/soscripted/sox/issues/103#issuecomment-245986850) where he said that the top of the review queue dialog was also hidden, but I *think* it should be able to be closed if you scroll to the top of the page...

[2016-10-01 20:49] geekyi commented on #71
I can understand. Wow lot's of activity here! I'm pretty new to SO and to this userscript.

From a newbie perspective, the number of features is a bit overwhelming! So I've left things at the defaults (all on). Will see if I can get the time to understand and contribute 😛. Thanks again!

[2016-10-01 20:54] shu8 commented on #71
@geekyi hehe yeah... we get that a lot :P

To make it a bit easier, we have a [features wiki page here](https://github.com/soscripted/sox/wiki/Features) which lists all the features. Most of them have a link to a meta question where that feature was requested, so if you're unsure of any features, those links should explain them. Feel free to raise issues here or chat with us [on Gitter in our chat

[2016-10-01 21:06] fixer1234 commented on #103
@shu8 looks like you got a break from school and had a sudden surge of energy.  :-)  Do I understand correctly that the v2.0.1 (merge?) link is the official current release, replacing v2.0.1n?  This should keep me busy for awhile.  Thanks!

[2016-10-01 21:08] shu8 commented on #103
@fixer1234 yeah, my first free weekend! :D

Yes, the v2.0.1 merge is the most latest official release; you can install it at https://github.com/soscripted/sox/blob/master/sox.user.js.

[2016-10-01 21:40] shu8 commented on #108
Actually, now that I think about it, I don't think this will affect SOX at all, because SOX requires a version of jQuery itself in the metadata block:

    // @require      https://code.jquery.com/jquery-2.1.4.min.js

so all SOX code *should* use jQuery 2.1.4. However, I know there are inconsistencies with how userscripts run between Chrome and Firefox, so I'm going to just test the script for a w

[2016-10-01 21:42] fixer1234 commented on #74
v2.0.1 fixes this issue.  I can also confirm that it fixes the related problem with the close dialog box on the review queue (#103).

[2016-10-01 22:24] fixer1234 opened #111 "Display comment scores for pages after the first one"
### Installed Version: 2.0.1  Environment: Chrome/Tampermonkey
Don't know how/where to input feature requests, so posting here (please advise for future reference).  Also couldn't spot how to add the feature request tag.

---
###  Expected Behavior
Current feature appears to work as intended, but only for comments of the first page of comments in the profile

---
### Requested Behavior
I do a ton

[2016-10-01 22:41] geekyi commented on #107
I think this would be, when you click, the ones that show "You can't vote for your own posts!"
Right now, this includes both questions and answers posted by self

[2016-10-02 00:14] fixer1234 opened #112 "Kbd/List feature in edit toolbar not included in Undo"
### Installed Version: 2.0.1  Environment: Firefox/Greasemonkey

---
### Expected Behavior

All edits subject to Undo arrow or Ctrl-Z.

---
### Actual Behavior

Changes made by the Kbd/List feature cannot be undone using the Undo arrow or Ctrl-Z.

---
### SOX Errors logged to the browser console (if available)

Didn't bother with console output because this seems more like a design issue than a bu

[2016-10-02 00:30] fixer1234 commented on #88
The magic smoke is on a trampoline.  v2.0.1 not working again.

![capture](https://cloud.githubusercontent.com/assets/10065766/19017778/67267464-8815-11e6-8b8e-142c696b1565.PNG)

[code]

[2016-10-02 01:39] fixer1234 opened #113 "Author's last seen status (feature request)"
Author's status displays last seen as actual time, GMT.  To use the information requires mental gymnastics every time to convert this to local time.  This would be much more usable displaying either the last seen time as my local time, or the elapsed time (how long ago).

[2016-10-02 04:33] fixer1234 commented on #98
@shu8 Not clear what the status is on this one.  It got closed with a note on #110 that the bug should be fixed, but I noticed a milestone of v2.0.2.   Does that mean you don't expect this to work in this release?

I loaded v2.0.1 and tested this.  No notification on four different questions after more than 3 hours.  I think this is where things left off earlier.  Should we restart diagnostics?  W

[2016-10-02 09:10] shu8 commented on #98
it shouldn't be working in this version... still a few more bugs to iron
out :( we'll need to restart diagnostics, but I don't have nearly as much
time that I can do that in. Might have to wait a few weeks, I'm really
sorry.

This wasn't meant to be closed, so I'll reopen it.

On 2 October 2016 at 05:33, fixer1234 <notifications@github.com> wrote:

[2016-10-02 12:18] shu8 commented on #113
@fixer1234 nice idea! I'll try and get this done ASAP :)

[2016-10-02 12:19] shu8 commented on #112
@fixer1234 This might not actually be possible, because SE use their own undo method... but I'll see if I can look into their source code and use it for SOX... no promises it'll work though :/

[2016-10-02 12:21] shu8 commented on #111
@fixer1234 I think I'll implement solution 1.

Solution 4 sounds like a good idea, which could be considered in later versions. BTW, I have previously made this userscript: [Favourites Enhancer: Tag favourites and add personal notes](http://stackapps.com/q/6215/26088), which you might find useful for bookmarking posts :)

[2016-10-02 12:23] shu8 commented on #107
@geekyi that's not currently a 'feature' in SOX, I think @somebody1234 is referring to something else...?

[2016-10-02 14:58] enki-code commented on #94
@shu8 Looks like an easy fix, a min-width rule on whatever element you're element you're using to separate the badge counts. :)

[2016-10-02 17:35] fixer1234 commented on #111
@shu8 Can't figure out why my last paragraph is shouting (no bold or heading markup).  Your Favorites Enhancer sounds pretty much like what I described.  Where have you been hiding that gem, and why isn't it in SOX?  :-)  The link appears to go to the raw script.  What's the procedure for installing it?

[2016-10-02 17:51] shu8 commented on #111
@fixer1234 click the 'raw link' at the top of the gist.

[2016-10-02 19:10] shu8 commented on #94
@fixer1234 fixed in v2.0.2 DEV :)

[2016-10-02 19:10] #94 closed

[2016-10-02 19:23] fixer1234 commented on #111
@shu8  Very nice!  I really like it!  That's solution 4, already packaged with a nice bow.

[2016-10-02 20:12] shu8 commented on #111
@fixer1234 Glad you like it! :D

[2016-10-02 20:20] enki-code commented on #111
@fixer1234  @shu8 Can we close this?

[2016-10-02 20:21] shu8 commented on #111
@fixer1234 no, solution no,1 needs to be implemented for this issue.

[2016-10-02 20:30] fixer1234 commented on #111
@shu8 If you want to tackle solution 1, I won't complain.  :-)  I plan to check out what other goodies you're keeping hidden.  BTW, I've seen lots of posts over time of people looking for something like Favorites Enhancer.  That would be a great addition to SOX.

[2016-10-03 07:52] geekyi commented on #107
I think this is a feature request :p

[2016-10-03 11:51] somebody1234 commented on #107
@geekyi Yeah, whoops

[2016-10-03 15:55] enki-code commented on #107
@somebody1234 So, just to be clear, you're requesting a feature that would hide any vote buttons on your own posts, correct? :+1:

[2016-10-03 20:48] shu8 commented on #107
Ahhh... That explains the confusion :P

[2016-10-04 09:30] somebody1234 commented on #107
@enki-code yeah

[2016-10-04 22:45] enki-code commented on #107
@somebody1234 Something like this should do the trick.

[code]

However, I'm not a big fan of hiding the vote buttons, perhaps just completely disabling them would be better?

[2016-10-05 08:52] somebody1234 commented on #107
Yeah, that would be fine as well

[2016-10-05 15:38] enki-code commented on #107
Alright sounds good, I will attempt at getting this implemented here shortly. I haven't been available much lately due to medical reasons, I am waiting to have back surgery and cannot sit for very long.

[2016-10-05 16:07] fixer1234 commented on #74
Spoke too soon.  This appears to be another erratic problem.  Top Bar works properly most of the time, but not always.  When it doesn't work properly, it appears to be repeatable.  Console output:

[code]

There are a bunch of Ghostery entries, but the site is whitelisted, so there's no action.

[2016-10-05 19:50] shu8 commented on #74
I'll look into this and other issues when I get some more time again @fixer1234 :)

[2016-10-05 23:20] IStoleThePies opened #114 "Regarding blog links"
I'm not sure if this is an SOX problem, but blog links still slipped through (look near "log out"):
<img width="447" alt="screen shot 2016-10-05 at 7 19 08 pm" src="https://cloud.githubusercontent.com/assets/5375326/19135164/afaef47c-8b30-11e6-99c8-e373b216e0f4.png">

[2016-10-06 17:50] shu8 commented on #114
@IStoleThePies No, AFAIK that's SE itself which add the blog link when you're on sites with a blog. SOX isn't adding that.

[2016-10-06 18:53] #114 closed

[2016-10-06 21:38] enki-code commented on #107
The problem with the version I posted above, hiding the entire vote cell, it removes the post score and the ability to see vote counts.

Here is what I've come up with instead. It unbinds the click events for *only* the vote buttons on your own posts and changes the tooltip as well to indicate that you cannot vote for your own posts.

[code]

Should be able to implement this by the weekend.

[2016-10-06 23:16] fixer1234 commented on #72
Just encountered a case of some of the edit features not appearing in an edit conducted in a review queue with v2.0.1.  This was a case of editing an answer in the Late Answers review queue.  The kbd/list feature was present, but not sbs  or find&replace/autocorrect.   Console output:

[code]

Note that although there are a bunch of Ghostery entries, the site is whitelisted so Ghostery takes no ac

[2016-10-10 21:54] IStoleThePies commented on #114
@shu8 Huh. Now that I just figured that out, I'm thinking about the whole "removing blog links" change. I'd say if it wasn't worth the trouble of fixing them, then blog links were worth removing, but if it weren't too difficult to fix, then keeping them on certain sites would make it more like regular Stack Exchange. Your call.

[2016-10-10 22:20] IStoleThePies opened #115 "Settings button"
This is just me being a *very* picky idiot, but I saw a small difference in the HEX colors of the gears in the settings button (#A1A1A1) and that of the regular buttons (#858c93). Also, the title of the button (which shows up when hovering over it) capitalizes "settings" in "Change SOX Settings", while the other buttons only capitalize the first word.

If you guys care enough, these might be worth

[2016-10-11 20:34] shu8 commented on #105
@IStoleThePies Thanks for that! Will fix ASAP :)

[2016-10-11 20:36] shu8 commented on #114
@IStoleThePies TBH I think it's not worth the effort of maintaining this feature for the little gain...

The SE links only show up for current sites, and seeing as there are <20 (?) sites with blogs, it wouldn't be *that* useful.

I this ever pops up again in the future, I'll probably reconsider it, but till then IMHO I don't think there's any point... :/

[2016-10-11 20:38] shu8 commented on #115
@IStoleThePies nah! this is a perfectly valid annoyance!

I'll fix this ASAP. One question though: what do you mean about the capitalisation? I'm not sure I completely understand :/

---

Please keep posting issues like these! They look minor, but they really do help SOX get that bit better for everyone! :D

[2016-10-11 20:40] IStoleThePies commented on #115
@shu8 For example, the title when hovering over the inbox is "Recent inbox messages", while the title for the SOX settings button is "Change SOX Settings". For consistency with the other buttons, I'd make the word "settings" lower-case, so it'd appear as "Change SOX settings".

[2016-10-11 20:43] shu8 commented on #115
Ah I see. Yeah that makes sense :). Will fix :-)

On 11 Oct 2016 9:40 p.m., "IStoleThePies" <notifications@github.com> wrote:

inbox messages", while the title for the SOX settings button is "Change SOX
Settings". For consistency with the other buttons, I'd make the word
"settings" lower-case, so it'd appear as "Change SOX settings".

[2016-10-11 21:20] IStoleThePies commented on #106
@shu8 Also just realized, Area 51 lacks any SE features

[2016-10-11 22:03] IStoleThePies opened #116 "Broken meta links"
When viewing the list of sites under "Your Communities", I've found a few meta links that lead to dead ends, usually for different reasons.
1. Stack Apps and Area 51 lead to dead ends. This is because Stack Apps actually doesn't have a meta (but it still has a chat), while Area 51's "meta" is called Area 51 Discussions and is located at:
   http://discuss.area51.stackexchange.com/
2. If you add me

[2016-10-11 23:39] darkred opened #117 "Can the 'last seen date and registered status' entries not have a border-top property?"
### Installed Version: 2.0.1  Environment: Firefox/Greasemonkey

---
### Suggestion

The 'last seen date and registered status' entries not to have a `border-top` property
in order to be easier distinguishable that they are info for the question/answer author above
and that they not another comment.

i.e. add something like this CSS rule:
[code]

Also, to further distinguish these entries from com

[2016-10-13 21:25] IStoleThePies commented on #115
@shu8 Also, I just spoke to a few mods. The title on the moderator button should be "Moderator inbox".

[2016-10-14 18:38] shu8 commented on #115
Right. Thanks :)

On 13 Oct 2016 10:25 p.m., "IStoleThePies" <notifications@github.com> wrote:

[2016-10-16 08:06] somebody1234 opened #118 "Allow replying to own chat messages"
Should be pretty self-explanatory.

[2016-10-16 12:39] shu8 commented on #118
@somebody1234 Not really... not sure if I'm just being stupid here... please could you expand? :)

[2016-10-16 12:42] somebody1234 commented on #118
There isn't a reply button on your own messages, sometimes I reply to clarify one of my own messages or answer a question I asked in a previous message, I'd think this would be really helpful for me.

[2016-10-16 13:05] somebody1234 opened #119 "Hide certain questions"
I'd like an option (or several) to hide on hold, closed and duplicate questions, and also deleted answers/questions (it's probably faster to turn deleted question hiding on only for users above the rep threshold)

[2016-10-16 13:08] shu8 commented on #115
@IStoleThePies fixed in [v2.0.2 dev](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-10-16 13:08] #115 closed

[2016-10-16 13:09] shu8 commented on #117
@darkred fixed in [v2.0.2 dev](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

I'm not completely sure with the opacity, but I've added it and I'll give it a chance this version and I'll come back to it in v2.0.3. this is what it looks like:

![this](https://cloud.githubusercontent.com/assets/8850830/19417650/2689a11a-93aa-11e6-82df-cab4600ec6d8.png)

[2016-10-16 13:09] #117 closed

[2016-10-16 13:09] shu8 commented on #116
@IStoleThePies also fixed in [v2.0.2 dev](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-10-16 13:10] shu8 commented on #111
@fixer1234 solution 1 implemented in [v2.0.2 dev](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-10-16 13:15] darkred commented on #117
Thank you

[2016-10-16 13:16] shu8 commented on #105
@IStoleThePies also fixed in [v2.0.2 dev](https://github.com/soscripted/sox/blob/dev/sox.user.js)

[2016-10-16 13:16] #105 closed

[2016-10-16 13:19] shu8 commented on #119
I like the idea. this will be done sometime between v2.0.2 and v2.0.4 (there's a bit of a backlog atm 😞)

[2016-10-16 13:20] shu8 commented on #118
hmm I'd have to look into how replies work, but sounds doable.

I'd expect a timeframe between v2.0.2 and v2.0.5 atm...

[2016-10-16 13:26] IStoleThePies commented on #115
@shu8 The settings button is now a bright silver until I hover over it.

[2016-10-16 13:35] shu8 commented on #115
@IStoleThePies could you post a screenshot if possible?

[2016-10-16 13:37] IStoleThePies commented on #115
@shu8 Yeah, here.
<img width="1440" alt="screen shot 2016-10-16 at 9 36 20 am" src="https://cloud.githubusercontent.com/assets/5375326/19417812/14a6e168-9384-11e6-9638-65f25a85119c.png">

Once I hover over the button, it becomes the correct color.

[2016-10-16 13:38] shu8 commented on #115
Hmmm weird... Thanks for that. I'll look into it a bit more in a while :)

On 16 Oct 2016 2:37 p.m., "IStoleThePies" <notifications@github.com> wrote:

[2016-10-16 13:40] IStoleThePies commented on #115
@shu8 After messing around a bit, what I found to work was to remove any color you put on the button, and just add style="color: #a1a1a1;" to the SOX button element.

[2016-10-16 15:50] IStoleThePies commented on #116
@shu8 Is it worth it to remove the meta and chat links entirely from sites that don't use them? Right now they just kinda do nothing.

[2016-10-16 16:14] shu8 commented on #116
@IStoleThePies I'm not sure... there's always at least 1 link that works for every site (eg. chat for stackapps/meta.SE) so getting rid of one and not the other might make it look weird....?

[2016-10-16 16:16] shu8 commented on #115
@IStoleThePies not 100% sure why that happens for you, but can you try reinstalling [with this link](https://github.com/soscripted/sox/raw/dev/sox.user.js) and see if it's fixed for you? :)

[2016-10-16 16:17] IStoleThePies commented on #116
@shu8 I don't think that's necessarily true, and even if it were, it'd resemble the regular site more, since unnecessary links are omitted at the top. If anything it'd probably prevent confusion. Your call though.

[2016-10-16 16:21] IStoleThePies commented on #115
@shu8 Yep, seems fixed. :)

[2016-10-16 16:26] shu8 commented on #116
@IStoleThePies ok... sounds fair enough...

something like this...?

![this](https://cloud.githubusercontent.com/assets/8850830/19418913/ab8cc8c2-93c5-11e6-9ac0-7a6fb611c2e5.png)
![this2](https://cloud.githubusercontent.com/assets/8850830/19418914/ab8eb04c-93c5-11e6-8369-9311d97306ae.png)

[2016-10-16 16:28] IStoleThePies commented on #116
@shu8 Yeah, if you make a version I can test it and tell you my opinion.

[2016-10-16 16:28] shu8 commented on #116
@IStoleThePies [here you go](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-10-16 16:31] IStoleThePies commented on #116
@shu8 Looks pretty good imo. However, the only meta site that should have a chat is Meta Stack Exchange. Also, Area 51 Discussions still shows meta and chat links.

[2016-10-16 16:34] shu8 commented on #116
@IStoleThePies fixed the meta-chat thing [here](https://github.com/soscripted/sox/raw/dev/sox.user.js).

I've taken Area51's 'meta' to be the discuss zone, which is why both of them appear...

[2016-10-16 16:47] shu8 commented on #113
@fixer1234 This should, hopefully, be working in [v2.0.2 dev](https://github.com/soscripted/sox/raw/dev/sox.user.js) now... please can you check and see if it's working locally?

[2016-10-16 17:42] shu8 commented on #98
@fixer1234 just to update you on this... I've got the live part completely working (AFAIK) now, but the whole API-checking part is still broken. I'm trying to get this fixed ASAP, hopefully within the next 2 or so weeks! :)

sorry to keep you waiting!! 😞

[2016-10-16 19:59] shu8 commented on #108
@catb0t so I went through (I think) all of the features today, and they all seemed to be working as they should, so I think the jQuery update didn't affect SOX in any way! :)

Thanks again for informing us about the change!

[2016-10-16 19:59] #108 closed

[2016-10-16 20:00] shu8 commented on #88
@fixer1234 any luck in the latest v2.0.2dev version? I tweaked it a tiny bit...

[2016-10-16 22:16] IStoleThePies commented on #116
@shu8 Chat links still show up for all the meta sites, including Area 51 Discussions (which also shows a meta link). :/

[2016-10-16 22:30] IStoleThePies opened #120 "SOX doesn't work on Area 51/Dialogs need to be positioned relatively"
I mentioned this before, but it probably deserves its own post. All the features drop dead on Area 51. SOX _does_ work on Area 51 Discussions, though.

PS: If you get SOX to work, make sure the meta button checks for new posts at discuss.area51.stackexchange.com instead of meta.area51.stackexchange.com.

[2016-10-16 23:07] fixer1234 commented on #111
@shu8 I loaded v2.0.2dev and just started testing.  I thought this wasn't working, but it turns out it is just a little buggy.  Page 1 loads with the comment score buttons displayed.  The subsequent pages don't.  However, hitting the reload button next to the URL box in the browser displays all of the comment score buttons on the page.  This needs to be repeated on each page.  And once this has be

[2016-10-16 23:17] fixer1234 commented on #113
Loaded v2.0.2Dev.  Now the status isn't displayed at all.  I'll grab some console output.

[code]
Ignore all of the Ghostery entries.  The site is whitelisted, so Ghostery doesn't do anything.

[2016-10-16 23:30] fixer1234 commented on #88
v2.0.2Dev: Opened one within the review queue and it displayed properly.  I retested the link in the previous comment and that still didn't work.  However, I just noticed that that one is actually in the revision history.  You earlier said that the feature isn't currently designed to work there.  So it looks like this feature is working as intended.  I'll close it.

[2016-10-17 00:45] fixer1234 commented on #88
Spoke too soon.  Just opened an edit in review and got this:

![su title edit](https://cloud.githubusercontent.com/assets/10065766/19422331/ca370560-93e0-11e6-904a-39884c778c8d.png)

[code]

However, when I reloaded the page to capture the console output, the edit appeared correctly.  So it looks like another case where page reloads are needed for the feature to work (see also the comment scores).

[2016-10-17 08:01] fixer1234 commented on #72
Update for v2.0.2Dev: In a non-review environment, Find&Replace|AutoCorrect is finicky.

- Opening an edit window on a question or answer, that feature can take several seconds to appear.  But eventually, all of the features appear.

- Opening a page to a question thread, the Your Answer box shows all of the features.  However, if a question or answer is edited, upon closing the edit and exiting b

[2016-10-17 19:57] shu8 commented on #111
@fixer1234 hmm that's not how it's supposed to be working -- it *should* show the 'show comment score' button on all pages, even without refreshing.

Reopening this so I can look at it a bit more (next weekend!)

[2016-10-17 19:59] shu8 commented on #113
@fixer1234 this might sound silly... but are you completely sure it's not there? the new version has added a bit of transparency on it so it might not be completely obvious...

just because I can't see anything in the dump that would cause it to not appear at all 😕

[2016-10-17 19:59] shu8 commented on #88
thanks, I'll see if I can find anything... :/

[2016-10-17 20:01] shu8 commented on #120
Thanks. I forgot about that comment you'd left about this!

I'll look into this on the weekend, and see if it wouldn't be too hard to make it work with area51.

the problem with area51 is that everything's different behind-the-scenes, including the HTML markup, so it could be that I need to add extra html selectors.

I'll get back to you ASAP to tell you whether it would be too much effort to impl

[2016-10-17 20:02] shu8 commented on #116
hmmm thanks, I'll look into this on the weekend :)

[2016-10-17 22:30] fixer1234 commented on #113
@shu8 I looked again, even squinted and tilted my head (that works for puppies).  There isn't even a gap where transparent text might be positioned.

[2016-10-18 06:22] fixer1234 commented on #113
@shu8 Another strange one.  Now this is showing up, and the improved time is there.  I'll close this.

[2016-10-18 06:22] #113 closed

[2016-10-18 06:24] shu8 commented on #113
Lol weird... Please do reopen it if it doesn't work because it really
should!

And thanks for checking back to see if it was there before! :)

On 18 Oct 2016 7:22 a.m., "fixer1234" <notifications@github.com> wrote:

[2016-10-20 17:03] fixer1234 opened #121 "SOX hangs Firefox"
### Installed Version: 2.0.1  Environment: Firefox ESR 45.4.0/Greasemonkey

Also 2.0.2DEV
---
### Expected Behavior
---
### Actual Behavior

SOX hangs Firefox for several minutes, repeatedly and continuously.  A window pops up asking whether to stop the script, which takes several minutes to work.  Even checking the "don't ask again" box doesn't stop it from hanging again a second after the script

[2016-10-20 19:12] shu8 commented on #121
@fixer1234 that's really weird. I can't reproduce this at all, and there hasn't really been any change that should cause it to hang in the last few weeks.

If you don't want to disable the reminderfox add on, then you could try using a fresh profile again..?

[2016-10-20 21:02] fixer1234 commented on #121
@shu8 I've disabled ReminderFox as a test.  The problem was intermittent, though, so it will take awhile to know if that's the problem.  I'll leave it disabled for awhile.  If the hanging doesn't recur, I'll re-enable ReminderFox to see if it repeats.  If that appears to be the problem, is there a practical way to figure out what the conflict is to see if there's a potential fix?

[2016-10-21 03:11] catb0t commented on #121
Stack Overflow does the same thing for me in Chrome, but not in Vivaldi, which is very similar to Chrome. The page slows to a crawl after a few seconds or more, soon there are no more paints and renders, and within another few seconds my computer is brought to its knees and I have to kill Chrome. Nothing shows up in the logs, either.

Unchecked accidental recursion, perhaps? But that should cause

[2016-10-21 07:11] shu8 commented on #121
@catb0t thanks for that. This must mean it's a problem with SOX :(. I've got holidays coming up, so I'm going to look into this problem a bit more.

If either of you spot a pattern or common thing that happens, please do update me! :)

[2016-10-22 01:49] fixer1234 commented on #121
@shu8 I just ran into this with v2.0.1G on another computer.  Firefox response time slowed way down (several second delay on a number of actions that are normally instantaneous).  The action was just posting comments on a few posts, not even using SOX features, although SOX probably gets triggered by the action.  Then SOX hung with a Firefox script dialog box (continue, cancel, debug).  However, c

[2016-10-22 11:50] MarcinOrlowski opened #122 "Show when author was seen in "xxx ago" form"
I'd be very useful to extend "Show when the post's author was last seen and whether they are registered in the comments section" feature to show the when author was seen in form "xxxx ago" instead of "raw" datestamp.  i.e. instead of

    	last seen: Sat, 20 Oct 2016 11:38:50 GMT | type: registered

it could be either

	last seen: 2 days ago (Sat, 20 Oct 2016 11:38:50 GMT) | type: registered

or j

[2016-10-22 17:49] shu8 commented on #122
@MarcinOrlowski this was my plan after doing #113, just didn't get round to it.

thanks for making a 'formal' request, and I'll try getting this done ASAP :)

[2016-10-23 02:14] IStoleThePies opened #123 "Percentages don't show next to retracted flags"
When I have "Show flagging percentages for each type in the Flag Summary" enabled, every type of flag shows a percentage except for retracted votes:
<img width="315" alt="screen shot 2016-10-22 at 10 11 39 pm" src="https://cloud.githubusercontent.com/assets/5375326/19623731/c81ff070-98a4-11e6-8ebd-c057c2240dde.png">
As you can see, retracted votes are still considered into the percentages, but the

[2016-10-23 23:36] fixer1234 commented on #121
@shu8 I ran for several days with ReminderFox disabled.  The problem just recurred, so it wasn't that.  It happened several times.  Each time, it was comment activity that seemed to trigger it.  Initially, trying to expand hidden comments led to very long response time (many seconds).  Writing and saving a comment triggered the hanging problem twice (with immediate re-hanging after cancelling the

[2016-10-24 15:25] enki-code commented on #123
I've never seen a retracted flag or even knew that was possible, thus, no percentages available.

Should be a fairly easy fix, however, you might have to help with the testing.

I have back surgery in 7 days, I will do my best to get to it before then.

[2016-10-25 20:15] shu8 commented on #121
@fixer1234 @catb0t urgh, sorry, but I'm really having trouble reproducing this 😞.

I've enabled all the features and posted a few comments, but it's not crashing. Do you both by any chance have any other (of the same) userscripts that affect the SE sites installed?

If not, I know you're both saying it's random, but is there even a slight pattern at all!? :/

Sorry about this.. I really want to ge

[2016-10-25 20:22] shu8 opened #124 "Author's last seen time section disappears when you post a new comment"
### Installed Version: 2.0.1  Environment: Chrome/Tampermonkey

---
###  Expected Behavior

When you post a new comment/load more comments, the last seen time of the post author should remain intact

---
### Actual Behavior

When you post a new comment/load more comments underneath a post, the author's last seen time section is removed, and if your comments is the first one on the post, then that

[2016-10-26 08:37] fixer1234 commented on #121
@shu8  @catb0t I'm going to be experimenting and tracking.  I'll report when I have something.  In the meantime, here's some info that might be helpful in looking for common denominators.

**Browser and add-ons:**

I do most of my work on two platforms:
Linux desktop: Firefox ESR 45.4.0
Windows laptop: Firefox 49.0.2
The symptoms have appeared on both.  Here are all of the add-ons:

**User Scripts

[2016-10-26 13:52] shu8 commented on #121
@fixer1234 thank you sooooooooo much!! I hope this will help me find the cause! :)

[2016-10-29 04:04] fixer1234 opened #125 "Token not being created"
### Installed Version:2.0.1  Environment: Firefox 48.0/Greasemonkey

---
### Expected Behavior

Token was previously working.  Loading SOX on another installation would open an authorizing window momentarily and create or recognize the token.

---
### Actual Behavior

I have Windows 7 multi-booted on my main system, which I use on rare occasions.  I was there and decided to load SOX (v2.0.1) on Fi

[2016-10-29 11:30] shu8 commented on #125
@fixer1234 hmm I can't reproduce this either :(

Can you try doing the same (clicking cogs to get token) when you're logged out and then if that doesn't work log back in and try again please?

Also, can you open the console before you click the cogs icon (when you are on stackoverflow.com), and paste the contents of the SO console if it doesn't work?

[2016-10-29 21:24] shu8 commented on #116
@IStoleThePies Fixed [in the latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-10-29 21:25] shu8 commented on #124
Fixed in [latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-10-29 21:25] #124 closed

[2016-10-29 21:25] shu8 commented on #122
@MarcinOrlowski I've added this feature in the [latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-10-29 21:25] #122 closed

[2016-10-29 21:25] shu8 commented on #111
@fixer1234 fixed (again :P) in [the latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-10-29 21:25] #111 closed

[2016-10-29 22:15] shu8 commented on #72
@fixer1234 All of these issues should be fixed in [the latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js). Please could you install it and check whether it all works?

I haven't tested reviews yet, because there aren't any suggested edits on my active sites :P but I'll test that ASAP.

I'm leaving this open this time, until it's definitely fixed! :)

[2016-10-30 06:10] somebody1234 opened #126 "Chat expects StackExchange object"
### Installed Version: 2.0.1 Environment: Chrome/Tampermonkey

---
###  Expected Behavior
No errors in chat

---
### Actual Behavior
Errors in chat D:
Appears to originate from [this](https://github.com/soscripted/sox/blob/master/sox.common.js#L6) line

---
### SOX Errors logged to the browser console (if available)
[code]

---
### Steps to reproduce
Use Chrome and SOX v2.0.1
Open Stack Exchange c

[2016-10-30 08:01] fixer1234 commented on #123
@IStoleThePies I also wasn't aware that flag retraction was possible.  Do you have any idea how to accomplish that?

[2016-10-30 11:43] shu8 commented on #126
Thanks for this @somebody1234! :)  SOX is basically completely broken in chat at the moment, but I'm going to try and get this fixed ASAP! :)

[2016-10-30 13:11] shu8 commented on #106
@IStoleThePies fixed in the [latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js) :) still broken in main chat though (#126)

[2016-10-30 13:11] #106 closed

[2016-10-30 13:52] shu8 commented on #126
@somebody1234 fixed in latest dev version :)

[2016-10-30 13:52] #126 closed

[2016-10-30 14:34] shu8 commented on #107
@somebody1234 I've added this feature [in the latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js) :) (it's the last one in the Appearance section)

[2016-10-30 14:34] #107 closed

[2016-10-30 15:16] IStoleThePies commented on #123
@fixer1234 Retracted flags appear if you flag an answer, and then try to unflag it. You can undo every type of flag except comment flags.

[2016-10-30 18:58] shu8 commented on #121
@fixer1234 @catb0t does this still occur in the latest dev version? I didn't reproduce it, but I changed a line in the latest version that may or may not have been a problem I hadn't noticed before... :/

[2016-10-30 19:06] shu8 commented on #120
@IStoleThePies ok... I had a look at Area51, and it seems the way the StackExchange object (which we pretty much need to run SOX atm) exists is completely different (it doesn't exist, for starters)...

So, seeing as this *does* work on Area51 discussions, I'm not going to spend too much time fixing it for Area51 itself **right now**.

I'll leave this open to remind me sometime later, but I don't t

[2016-10-30 19:30] IStoleThePies commented on #116
@shu8 Almost perfect. Just reporting a few things that seem off:

1. Meta Stack Overflow still shows a chat button, even though there is no chat associated with the meta site.
2. All the other meta sites correctly have no chat or meta button. However, for meta sites that I have rep on, the rep will still disappear when I hover over the site. In vanilla SE they remain. Should we keep them?

[2016-10-30 19:40] fixer1234 commented on #121
@shu8 Loading and testing the new version is on my list for today or tomorrow.  The problem is strangely intermittent, so it may take awhile to know.

[2016-10-30 20:07] shu8 commented on #116
@IStoleThePies [Fixed both of them](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-10-30 20:42] shu8 commented on #118
@somebody1234 done in [latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-10-30 20:42] #118 closed

[2016-10-30 21:21] fixer1234 commented on #125
Trying when not logged in generated a message that you need to be logged in (at which point, I opened and cleared the console).  Trying to log in with SOX active interfered with the login.  The login window would display with the username and password pre-filled, as usual.  Normally, that window waits for user action.  With SOX active, the pre-filled window appeared briefly, then disappeared witho

[2016-10-30 22:05] shu8 commented on #88
@fixer1234 hmmm when it *doesn't* work, can you remember if it's always after you click 'next' in review? I think that *might* be the problem here... because it always works when I directly go on a link, but maybe if as you're going through a review it doesn't work...?

Does that sound like what could have been happening to you?

[2016-10-30 22:07] shu8 commented on #125
@fixer1234 try going to http://superuser.com/users/apps/current and clicking 'Applications' on the left, and removing SOX by clicking 'remove' underneath it. You'll then need to reset SOX on your computer(s) to re-get your access token.

[2016-10-30 22:12] fixer1234 commented on #111
@shu8 Confirmed.  Looks like it's working.

[2016-10-30 22:14] shu8 commented on #87
@fixer1234 I just pushed another update to v.2.0.2 dev.

Please could you [install it from this link](https://github.com/soscripted/sox/raw/dev/sox.user.js) and paste the console log here again? I've added a few more logs which should help determine where this is going wrong!

Please do reinstall it even if you've updated the dev version already, because I only just pushed this change

[2016-10-30 22:20] shu8 commented on #123
@IStoleThePies @enki-code This should be fixed in the [latest DEV version](https://github.com/soscripted/sox/raw/dev/sox.user.js).

I just added `RETRACTED: 'retracted'` to the:

[code]

which should have fixed it, unless I overlooked something... so please confirm it works @IStoleThePies

[2016-10-30 22:20] #123 closed

[2016-10-30 22:22] IStoleThePies commented on #123
@shu8 Works perfectly! 👍

[2016-10-30 22:28] fixer1234 commented on #87
@shu8 I installed the DEV version a few minutes ago from a previous link, apparently to the same location.  Any way to tell if what I loaded is this one?  (letters on the DEV versions would help, including in reporting results.)

[2016-10-30 22:30] shu8 commented on #87
@fixer1234 yeah it's the same location, but every time you reinstall, the script pulls all the files again (you'll see that all dev links I post are always the same). It's just that the actual process of reinstalling gets the new files from github.

I'll bear the lettering in mind from now on, in the next dev versions so you know for sure :) But, when in doubt, just reinstall :P

[2016-10-30 22:36] fixer1234 commented on #87
@shu8 Firefox has a "check for updates" button, which said everything is up-to-date.  Should I trust it, or just reinstall?

[2016-10-30 22:37] shu8 commented on #87
@fixer1234 I'd just reinstall it. dev files don't generally get picked up my the check for updates button

[2016-10-30 22:51] fixer1234 commented on #88
@shu8 Using what may be the previous DEV version.  I went into the Edit Review history and picked three recent questions that contained a title edit.  Going directly to the page displayed the title edits as intended.  I'll look for examples in the queue that I get to with "Next" and see what happens.

[2016-10-30 22:59] fixer1234 commented on #72
@shu8 Latest DEV version.  Haven't yet had occasion to test in the review queues, but in normal use, the feature looks like it's behaving well.  I'll report back on the review queues.

[2016-10-30 23:11] fixer1234 commented on #87
@shu8 OK, latest version loaded.  I picked a random thread from the main page that had modifications.  There were two answers with edits.  I hovered on the links a total of about a dozen times between the two.  The only thing that showed in all cases was the date/time (even though I see from your logs that the actual comments were captured).  The last three lines of console output appeared after I

[2016-10-30 23:29] shu8 commented on #87
Ok... Looking at that log, you can see the two lines (for each post) saying
"Tooltip is now..." and then the edit comment. That means that the tooltip
is correctly being added and the content is correct.

There's something else that's reconverting the tooltip back to the
original, and it's probably not SOX in this case because neither me nor
enki have managed to reproduce this and it doesn't *seem

[2016-10-30 23:42] fixer1234 commented on #125
Tried with v2.0.1.  It produced an acceptance dialog prior to the Authorizing dialog, but then still didn't work.  Then I loaded v2.0.2DEV and repeated the process.  This time it passed the Authorization dialog, but then displayed all of the option selections in the same dialog window, but poorly formed (right justified, poorly spaced, not really usable).  Assuming the token had been created, I ju

[2016-10-31 00:31] fixer1234 commented on #87
@shu8 I created a new profile with nothing in it but Greasemonkey and the latest SOX DEV (and the default plug-ins, which are all set to "ask to activate" except the Cisco Codec).  I picked a random thread from the main page and hovered on the edit links.  All I got in half a dozen tries was the date/time.  So there should be nothing here interfering with SOX.

Where does that date/time even come

[2016-10-31 01:08] enki-code commented on #123
I apologize, I should've got this done.  I haven't been able to spend much time at the computer lately.

Thanks @shu8 for getting this done.

[2016-10-31 06:42] somebody1234 commented on #120
I have no idea how much just including `//cdn.sstatic.net/Js/stub.en.js` would help, but it would definitely add the `StackExchange` object (probably with a lot of errors) :P

[2016-10-31 07:58] fixer1234 commented on #72
@shu8 Finally got an edit in a review queue.  That one is still the same.  Only the Kbd/List feature shows. SBS and Find&Replace/Autocorrect are missing in the review queue.

[2016-10-31 12:08] shu8 commented on #72
@fixer1234 turns out the enhancedEditor feature was entirely disabled on review.

I've fixed both of these issues now (I think). Please can you [reinstall the dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js) and test?

[2016-10-31 12:18] shu8 commented on #87
@fixer1234 ARGH! I think I got it! Where are you actually hovering!???

This feature changes the tooltip for the ***text*** (ie. `edited`)!!

![this](https://cloud.githubusercontent.com/assets/8850830/19853893/f14f14ba-9f63-11e6-89a8-b690a261f519.png)

If you hover over the date, then you'll get a tooltip similar to `2015-10-20 11:31:06Z`, which I have a feeling (I hope) is what you're seeing!!

[2016-10-31 12:46] shu8 commented on #125
@fixer1234 I've added a few more logs to the console in [the latest dev version b](https://github.com/soscripted/sox/raw/dev/sox.user.js). Can you try getting the token again and pasting the log here please.

[2016-10-31 13:07] shu8 commented on #88
@fixer1234 I think I might have fixed this in the latest dev version b, but please do keep a look out for suggested edits in the review queue! :)

[2016-10-31 15:33] shu8 opened #129 "Describe features in more detail on hover in dialog"
We should add an 'i'nformation button next to each feature in the dialog which pops up some help about it when you hover over the feature.

The help that is shown should have a field in the JSON called something like 'extended_description'.

[2016-10-31 15:34] shu8 commented on #129
If anyone has any thoughts on this feature, please comment here! :)

[2016-10-31 15:36] shu8 opened #130 "DEBUG flag in settings dialog to enable/disable console logs"
SOX currently has loads of console logs/infos.

We should make a DEBUG flag which enables/disables all the `sox.log` or `sox.loginfo`'s in the script

[2016-10-31 16:29] fixer1234 commented on #87
@shu8 You're sh*tting me.  There is a link for the edit history, and clicking anywhere on the link opens the history.  I didn't know it is even possible to address a portion of the link and treat it differently.  The natural tendency is to hover near the middle of the link, which puts you over the date portion.  Hovering over a random portion of the link puts you over the date portion 3/4 of the t

[2016-10-31 16:29] #87 closed

[2016-10-31 16:33] shu8 commented on #87
@fixer1234 LOL, at least it's sorted now though!

I could make the entire link show that tooltip, but I've seen that many people like having the exact date the question was modified available as a tooltip. I've tried to get 'the best of both worlds' here, by letting people have the exact date and the edit reason both available.

BTW: the date/time tooltip (eg `2015-10-20 11:31:06Z`) already exists

[2016-10-31 17:40] fixer1234 commented on #88
@shu8 The token is messed up in this version.  Clicking the cog in SO doesn't trigger the get token action, so there's an endless triggering of prompts and SO tabs on every page.

[2016-10-31 17:45] fixer1234 commented on #72
@shu8 Posted this on a different thread, but this dev version doesn't trigger the token.

[2016-10-31 18:00] fixer1234 commented on #125
@shu8 I'll wait for the next version to test this because whatever changed in this version made the tokens stop working on all the other platforms where there previously was not a problem.

[2016-10-31 18:00] shu8 commented on #125
@fixer1234 sorry, my bad. I just pushed a fix to dev: https://github.com/soscripted/sox/raw/dev/sox.user.js. It's labelled as b but reinstalling will fix it! :)

[2016-10-31 18:01] shu8 commented on #88
@fixer1234 just pushed a fix to dev...

[2016-10-31 18:26] shu8 commented on #98
@fixer1234 OK... this *should* be fixed in [the latest dev version e](https://github.com/soscripted/sox/raw/dev/sox.user.js).

Here's how it *should* work:

- You watch a post by clicking 'notify on edit' underneath it
- Now, if you are on any SE site, and someone edits a watched post, a WebSocket message is received and you should **instantly** get a notification that it's been edited; the notifi

[2016-10-31 18:29] fixer1234 opened #131 "Whack-a-mole settings in SOX setup"
### Installed Version: 2.0.2DevC  Environment: Firefox/Greasemonkey

---
###  Expected Behavior
Hover or click on "i" for additional information

---
### Actual Behavior
Hovering anywhere on a setting inserts information.  This makes trying to click on selection boxes a Whack-a-mole game.  Clicking on a selection inserts one or more lines of information, relocating the next item.  Moving to the ne

[2016-10-31 18:34] shu8 commented on #131
Fair enough. I'll make it so it only appears when you hover over the i sign

On 31 Oct 2016 6:29 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-10-31 18:54] fixer1234 commented on #98
@shu8 Great news.  I'm worn out from installing several successive versions, but I'll load the new one when I get a second wind.  :-)

Question: it isn't clear why there are two notifications, and what happens to the live one.  If you can trigger an immediate notification, why not just make that the notification, and leave it there for whenever the user sees it?

What happens to the live notificat

[2016-10-31 18:59] shu8 commented on #98
All notifications, no matter which type, remain in the inbox until they are
manually deleted.

There are 2 notifications because the live notification only works in
certain cases (when the edit happens when you are on a site) but the 15
minute one works even when a page isn't open.

Also, it checks every 15 minutes.

On 31 Oct 2016 6:54 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-10-31 19:12] fixer1234 commented on #98
@shu8 Interesting.  So if an edit happens while the user isn't logged into an SE site, they find one notification.  If they're logged into a site when the edit happens, they get two?  A future feature might be to have any live notification suppress a second, non-live one.  Just an idea for another day.  Thanks.  I'll get on this and test later today.

[2016-10-31 20:58] shu8 commented on #131
@fixer1234 done in [latest dev version f](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-10-31 20:58] #131 closed

[2016-10-31 21:11] fixer1234 commented on #72
@shu8 Finally had an edit review with a title edit (but just one, so I still haven't tested "next").  It had only an addition, and looked like this:

![su title edit](https://cloud.githubusercontent.com/assets/10065766/19871779/c74acc12-9f8c-11e6-96e0-6bcade224593.png)

I wasn't sure if all edits are supposed to show "before" and "after", or this is how it should appear.

[2016-10-31 21:16] shu8 commented on #72
@fixer1234 yeah, it **shouldn't** look like that. All edits should show it separately. But at least we know the problem now! I'll see if I can get it fixed :) (BTW: wrong issue!)

[2016-10-31 21:20] shu8 commented on #88
The problem basically seems to be that the Mutation Observer (the thing that checks for when to run the feature) is currently checking for an element that only appears on *completed* reviews! So I just need to find a suggested edit in a queue and inspect element on it and find an element that will always exist! I'll get this fixed as soon as I see a suggested edit anywhere!!! :)

[2016-10-31 21:42] fixer1234 commented on #74
@shu8 Wasn't sure if this was an issue affected by any of the recent changes.  With 2.0.2 DevE, clicking on a comment link is still an issue.

![su fix top bar1](https://cloud.githubusercontent.com/assets/10065766/19872632/2920c974-9f91-11e6-9ff9-236a1b768cc5.png)

On this one, the comment is totally hidden.  If this wasn't on the list for these latest rounds, nevermind.

[2016-10-31 21:43] shu8 commented on #74
@fixer1234 yeah, still a known bug. It's annoying because it's only Firefox that it breaks in 😠

this might take a while... :/

[2016-10-31 21:45] fixer1234 commented on #72
Oh, yeah.  Posted on the wrong issue.  It's a problem finding good help these days.  :-)

[2016-10-31 23:48] fixer1234 commented on #72
@shu8 Finally had occasion to edit in a review queue and all the features were there.  BTW, the long lag on displaying Find&Replace/Autocorrect is also gone.  Looks like all of the edit features are working well, and working everywhere.

[2016-10-31 23:48] #72 closed

[2016-11-01 00:57] fixer1234 commented on #98
@shu8 Initial tests:

- Live notification is successfully triggered, but action needs a little tweaking.

- Notification doesn't get posted to inbox until any site page is refreshed (not necessarily an issue, at least for me, because of frequent page refreshes).

- The notification has a delete button in place of the date/time.  Personally, I would view the notifications the same as any other, and

[2016-11-01 03:47] fixer1234 commented on #72
@shu8 I won't reopen this one, but I came across a situation you could put on the back burner to look at someday.  If someone has proposed an edit that has not yet been approved, the post will indicate a pending edit.  From the post, users with sufficient rep can can click on the Edit button to review the proposed edit in place.  An option there is to improve the edit, which opens a small window f

[2016-11-01 05:20] fixer1234 commented on #125
@shu8 OK, this is 2.0.2DevF.  It gets to the Authorization window, but it claims I'm not logged in, despite showing me logged in (and no token).

![capture](https://cloud.githubusercontent.com/assets/10065766/19880165/2b7bf320-9fd1-11e6-8f99-581ca07deb1f.JPG)

[code]

[2016-11-01 12:21] shu8 commented on #98
I think the easiest way to fix bullets 3, 4, 5, 6 and 8 would be to separate the inbox with this feature, and make a new dialog box solely for this feature's notifications, similar to the mod-diamond (new meta questions) feature and the SOX's own cogs dialog.

How does that sound? And also, do you have any ideas on what the button image could be for the dialog? (ie. instead of cogs/mod diamond)

-

[2016-11-01 16:55] fixer1234 commented on #98
@shu8 Clever solution.  Icon?  What jumps to mind would be one of these (no particular order):

![su pencil](https://cloud.githubusercontent.com/assets/10065766/19898322/fdb48734-a031-11e6-8c75-92b5f7257169.png)
![su edit](https://cloud.githubusercontent.com/assets/10065766/19898335/0cab7996-a032-11e6-9228-28692a820a2d.png)
![su bell](https://cloud.githubusercontent.com/assets/10065766/19898365/23

[2016-11-01 16:57] shu8 commented on #98
hmm I quite like the `edit` one... I think I'll go with that one :) I'll
hopefully get this done in the next few days

On 1 November 2016 at 16:56, fixer1234 <notifications@github.com> wrote:

[2016-11-01 18:55] fixer1234 commented on #121
@shu8 A Clue.  As noted earlier, the problem seems to be triggered by comment activity.  Today, responses on comment actions slowed to a crawl (e.g., fraction of a minute delay expanding comments with the "show more comments" button).  After a few times, Firefox hung with the stop script dialog.  This is the first time it recurred in days.

I started deselecting every SOX feature related to commen

[2016-11-01 19:06] fixer1234 opened #132 "Display images in comments stopped displaying images in comments"
### Installed Version: 2.0.2DevE  Environment: Firefox/Greasemonkey

---
###  Expected Behavior
This feature was previously working.

---
### Actual Behavior
Just noticed that the feature stopped working, but it may have started in a previous version (not a lot of comments include images).

---
### SOX Errors logged to the browser console (if available)

---
### Steps to reproduce
Here's a sample

[2016-11-01 19:06] shu8 commented on #121
Hmmm thanks for that experiment! I'll look into that feature to see
possible flaws :)

On 1 Nov 2016 6:55 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-11-01 19:17] shu8 commented on #132
@fixer1234 hmm the feature seems to work, it's just that it doesn't detect images in new comments/comments loaded when you click 'show more comments', which is a bug nonetheless.

I'll try getting this fixed quickly :)

[2016-11-01 22:18] shu8 commented on #121
@fixer1234 I've changed something that I think was 'illegal JS' before within the last seen author info feature, and also reduced the work of the mutation observer on 2 other comment-related features. Hopefully the [latest dev version g](https://github.com/soscripted/sox/raw/dev/sox.user.js) should be more stable... 😄

Please do keep me updated on the state of this one! :)

[2016-11-01 22:18] shu8 commented on #98
@fixer1234 this is done in the [latest dev version g](https://github.com/soscripted/sox/raw/dev/sox.user.js).

It now has its **own** dialog solely for notifications from this feature.

As you'll see, the notification itself is pretty empty right now. Any ideas on what extra useful information can be added?

---

Regarding bullet 2: that shouldn't happen. No refreshes should be needed, so please t

[2016-11-01 22:18] shu8 commented on #132
@fixer1234 fixed in [latest dev version g](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-11-01 22:19] shu8 commented on #88
@fixer1234 this *might* have been fixed in this version; I guessed an element that should exist in pending suggested edits, so please keep looking out for title edits [in latest dev version g](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-11-01 22:21] shu8 commented on #125
@fixer1234 could you try again in [dev version g](https://github.com/soscripted/sox/raw/dev/sox.user.js) please?

I can see from the console dump you've posted that everything works up until the call the `SE.authenticate`, after which the logging stops, so I've added a few more between the place it reaches and the end, so hopefully this will tell me exactly where it's going wrong :)

[2016-11-02 01:52] fixer1234 commented on #88
@shu8 Installed Dev G.  Just came across a single proposed edit in the Edit Review queue and it had a title edit.  On my system, only the modified word was colored in-place, so it looks like the guess didn't fix it.  If you want to compare output on your own system, it's: http://superuser.com/review/suggested-edits/589717

![su edit title](https://cloud.githubusercontent.com/assets/10065766/199139

[2016-11-02 03:23] fixer1234 commented on #125
@shu8   Version G console output.  Started at SO before clicking cogs.

[code]

[2016-11-02 05:01] fixer1234 opened #133 "Find&Replace/Autocorrect added repetitively to Your Answer edit window"
### Installed Version: 2.0.2 Dev G  Environment: Firefox/Greasemonkey

---
###  Expected Behavior
Previously working.

---
### Actual Behavior
Question and answer posts appear normal (haven't checked the review queue).  However, every time a Q or A post edit window is opened, the Find&Replace/Autocorrect buttons are added again to the Your Answer edit window:

After editing the Question:

![su edi

[2016-11-02 05:07] fixer1234 opened #134 "Author last seen not displaying"
### Installed Version: 2.0.2G Environment: Firefox/Greasemonkey

---
###  Expected Behavior
Previously working, but identified as potentially the problem behind Firefox hanging.

---
### Actual Behavior
Author status no longer appears.

---
### SOX Errors logged to the browser console (if available)

[code]

---
### Steps to reproduce

[2016-11-02 05:38] fixer1234 commented on #98
@shu8 Just a preliminary check.  I watched a question, edited it, and later found the notification in the new box.  So the basic functionality is working.

I'm not sure when it showed up or whether page refresh triggered it showing up because I'm colorblind; if the icons is glowing red, I'd never know.  Bright blue, like you use for the Mod diamond would be more visible.

I'll do some testing and

[2016-11-02 05:46] fixer1234 commented on #131
@shu8 Nice.  No more need for Dramamine.  Works good.  :-)

[2016-11-02 08:35] fixer1234 commented on #132
@shu8 Looks like it may still be a situation that if the comment is initially hidden and then comments are expanded, the image link isn't displayed.  But I did verify that if the comment is visible when the page is opened, the image is displayed.

The example I included in the issue is among a bunch of excess comments that are initially hidden.  If I click on "Show all comments" after opening the

[2016-11-02 22:53] IStoleThePies opened #135 "Animated meta and chat buttons"
I wrote a little something to try and make the meta and chat buttons fancier:

       metaChatBlogStackExchangeButton: function() {
            // Description: For adding buttons next to sites under the StackExchange button that lead to that site's meta and chat
            // NOTE: this feature used to have a 'blog' button as well, but it wasn't very useful so was removed

            var link, c

[2016-11-03 00:17] IStoleThePies commented on #116
@shu8 I realized something else. English SO is the only site that should link to chat.stackoverflow.com. Every other language for Stack Overflow should use the "https://chat.stackexchange.com/?tab=site&host=tps://(site url)" format. Right now, all the other languages link to chat.stackoverflow.com instead of their actual chat links in the menu.

[2016-11-03 00:21] IStoleThePies opened #136 "SOX doesn't work on regular Stack Exchange"
SOX drops dead on https://stackexchange.com/, so it won't work when viewing network profiles, checking the front page, checking the full inbox, etc.

It does work on https://meta.stackexchange.com/, though.

[2016-11-03 00:38] IStoleThePies opened #137 "Searching for options is pretty buggy in dev g"
If you try searching for an option, you'll probably encounter something like this:
<img width="552" alt="screen shot 2016-11-02 at 8 36 47 pm" src="https://cloud.githubusercontent.com/assets/5375326/19952496/33e8e42a-a13c-11e6-9d9e-79ecbce03754.png">

[2016-11-03 12:39] shu8 commented on #137
@IStoleThePies lol I noticed this yesterday and hoped I would push a fix before anyone noticed... :P

[2016-11-03 12:41] shu8 commented on #116
@IStoleThePies urgh... that's annoying :(

I'll have to look into this a bit more

[2016-11-03 12:43] shu8 commented on #135
@IStoleThePies I like the effect! I'll get this added in the next dev version :)

[2016-11-03 13:47] shu8 commented on #136
@IStoleThePies Seems to be another Area51-like problem: the StackExchange object :/

I'll see what I can do... :)

[2016-11-03 14:08] shu8 commented on #116
fixed in [latest dev h](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-03 14:08] #116 closed

[2016-11-03 14:09] shu8 commented on #133
Fixed in [latest dev h](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-03 14:09] #133 closed

[2016-11-03 14:09] shu8 commented on #137
Fixed in [latest dev h](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-03 14:09] #137 closed

[2016-11-03 14:10] shu8 commented on #135
I've added this in [latest dev h](https://github.com/soscripted/sox/raw/dev/sox.user.js), keeping the opacity changes.

But if they aren't needed then we could remove them :)

[2016-11-03 14:10] #135 closed

[2016-11-03 14:11] shu8 commented on #129
Done in v2.0.2devG

[2016-11-03 14:11] #129 closed

[2016-11-03 15:41] fixer1234 commented on #132
@shu8 There's no reopen button on this thread, so I'll just post an update to clarify the previous post.

Going directly to the question in the thread listed earlier, the comment with the picture is hidden and you can click on Show N more comments to display the comment.  If the route to the thread is clicking on the comment link, the comment is visible when the page is rendered.  Refreshing the p

[2016-11-03 15:55] fixer1234 commented on #121
Intermittent issues are hard to know whether they're fixed.  It would previously go up to many days without a problem and then resurface.  I've been using dev G for a little over a day with no hanging so far.  Maybe let it run for a total of a week, and close if no recurrence (can reopen after that if it rears its ugly head again)?

[2016-11-03 15:56] shu8 commented on #121
Fine with me :)

On 3 Nov 2016 3:55 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-11-03 16:12] shu8 commented on #136
Fixed in [latest dev version i](https://github.com/soscripted/sox/raw/dev/sox.user.js).

I'm pretty sure more bugs are going to arise on SE.com now, so please tell me if something dodgy happens... :)

[2016-11-03 16:12] #136 closed

[2016-11-03 16:21] shu8 commented on #120
@IStoleThePies I was wrong; the StackExchange object *does* exists, it's just really empty, and the stuff SOX wants doesn't exist. I've added a check to the dependency that broke the script and it works, in [latest dev i](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

**but**, I've had to disable quite a few features because they rely on certain StackExchange objects... if you see a fe

[2016-11-03 17:42] IStoleThePies commented on #120
@shu8 Well the meta button is evidently absent :(

Also, just as an idea, maybe you can add the rep to Area 51 in the menu? Right now Area 51 Discussions shows the Area 51 rep, but not Area 51 itself. It's not an SOX problem but it shouldn't be too hard to fix.

[2016-11-03 17:46] IStoleThePies commented on #136
@shu8 Yeah, I found a bug when opening the SOX settings

<img width="1027" alt="screen shot 2016-11-03 at 1 42 53 pm" src="https://cloud.githubusercontent.com/assets/5375326/19977910/9a090b1a-a1cb-11e6-9fc4-e82653ca6664.png">

[2016-11-03 17:47] shu8 commented on #136
@IStoleThePies lol, just noticed that as well; fixing as we 'speak' :P

[2016-11-03 17:48] shu8 commented on #120
@IStoleThePies what could the meta button show in area51?

also, is area51 discussions rep the same as area51 rep? (I don't know much about area51 :/)

[2016-11-03 17:49] IStoleThePies commented on #120
@shu8 Oh, I meant the diamond stopped working on every site :P

And yeah, Area 51 Discussions rep is the same as Area 51 rep.

[2016-11-03 17:52] shu8 commented on #120
@IStoleThePies wait what...? you don't see the diamond at all?

And I'll see what I can do about area51... :)

[2016-11-03 17:53] shu8 commented on #136
@IStoleThePies fixed :)

[2016-11-03 17:53] IStoleThePies commented on #120
@shu8 Yep

<img width="842" alt="screen shot 2016-11-03 at 1 53 36 pm" src="https://cloud.githubusercontent.com/assets/5375326/19978323/f22d6ace-a1cc-11e6-88b6-44336702e20c.png">

[2016-11-03 17:54] shu8 commented on #120
@IStoleThePies do you see anything in the console? (FN)+F12

[2016-11-03 17:59] IStoleThePies commented on #120
@shu8 All I'm getting is:

<img width="1440" alt="screen shot 2016-11-03 at 1 55 36 pm copy 2" src="https://cloud.githubusercontent.com/assets/5375326/19978521/a524b9de-a1cd-11e6-852f-6bc8713b8475.png">

[2016-11-03 18:01] shu8 commented on #120
@IStoleThePies hmm that's weird. can you try going on another site you're registered on (that's not a meta) and see if you see it there? because I can see it... so I don't see why you shouldn't! :/

[2016-11-03 18:04] shu8 commented on #120
@IStoleThePies oh wait, never mind, it's broken for me as well :(

Fixing.

[2016-11-03 18:15] IStoleThePies commented on #120
@shu8 Yeah, seems like tons of features are broken :/

[2016-11-03 18:19] shu8 commented on #120
@IStoleThePies yeah, told you enabling it on SE.com and Area51 would break it :P

It's an easy fix.. I'm just trying to do what I tried to do before which broke it in a different way atm. It'll be ready in max 15 mins I hope :)

[2016-11-03 18:19] IStoleThePies commented on #120
@shu8 Also, now that "notify on edit" works in Area 51, it is kind of squeezed together with the flag button:

<img width="777" alt="screen shot 2016-11-03 at 2 17 08 pm copy" src="https://cloud.githubusercontent.com/assets/5375326/19979362/92a83364-a1d0-11e6-86a1-3134cb87f4aa.png">

You should probably have the span tag that usually separates these buttons.

[2016-11-03 18:29] shu8 commented on #120
@IStoleThePies done! can you [reinstall please](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-11-03 18:32] IStoleThePies commented on #135
@shu8 I actually wanted to have the buttons fade into the rep score, kind of like when you hover over other SE sites on a profile:

![untitled-1](https://cloud.githubusercontent.com/assets/5375326/19979816/2d56ad36-a1d2-11e6-930e-d03865aa6407.gif)

This works very differently and doesn't append anything, but I was trying to replicate the effect overall. But since the buttons and rep score have rel

[2016-11-03 18:35] IStoleThePies commented on #120
@shu8 Could you also take a look at that picture I sent?

[2016-11-03 18:36] shu8 commented on #120
@IStoleThePies yeah, that feature doesn't actually work on Area51, so it should be disabled.

I'm working on a 'disable on area51 and se.com' flag right now... but that feature (and quite a few others) won't work on area51/se.com :(

[2016-11-03 18:40] shu8 commented on #135
hmm I'll see if I can manage to make that effect :)

[2016-11-03 18:41] IStoleThePies commented on #120
@shu8 It doesn't? Are you sure it doesn't just track changes to proposals?

By the way, the notify button is a bit too far to the right on Area 51 Discussions:

<img width="357" alt="screen shot 2016-11-03 at 2 38 50 pm" src="https://cloud.githubusercontent.com/assets/5375326/19980242/aab04b06-a1d3-11e6-8737-8c7b366963e4.png">

[2016-11-03 18:45] shu8 commented on #120
@IStoleThePies nah, it can't work -- I haven't said to do that in the code!! (because it's not actually possible -- area51 doesn't have an API, and scraping the page is a bit too much effort IMO).

I'm not sure it even works on area51 discussions, but I'll have to check that -- I need to get that feature completely working first! #98

---

Also, please reinstall [to dev version l](https://github.c

[2016-11-03 18:48] IStoleThePies commented on #116
@shu8 Just nitpicking, but maybe you should make the "meta" button for Area 51 say "discuss", since that's what it says on the topbar for Area 51 and that's the prefix the site uses.

[2016-11-03 18:51] shu8 commented on #116
@IStoleThePies [done](https://github.com/soscripted/sox/raw/dev/sox.user.js) in dev m

[2016-11-03 18:55] IStoleThePies commented on #116
@shu8 Uh, now the chat link is gone for sites that lack metas, like Meta Stack Exchange and Stack Apps.

[2016-11-03 18:57] IStoleThePies opened #138 "Edited Posts menu doesn't shift when the mod diamond is enabled"
Here's the "Edited Posts" menu when the mod diamond is disabled:

<img width="737" alt="screen shot 2016-11-03 at 2 51 08 pm" src="https://cloud.githubusercontent.com/assets/5375326/19980769/b217b6ac-a1d5-11e6-81d6-a0fccd68a7c5.png">

And here's it with the mod diamond enabled:

<img width="737" alt="screen shot 2016-11-03 at 2 51 08 pm copy" src="https://cloud.githubusercontent.com/assets/5375326

[2016-11-03 18:58] shu8 commented on #116
@IStoleThePies urgh.. bit of a logic error.

fixed again in [dev n](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-11-03 19:00] shu8 commented on #138
repro'ed. not going to be as easy a fix as I would have liked, but should be doable :)

[2016-11-03 19:03] IStoleThePies opened #139 "Edited posts menu opens whenever you view a list of chatrooms"
When I go to any lists of chatrooms (chat.stackexchange.com, chat.stackoverflow.com, etc.), the edited posts menu opens up for some reason.

[2016-11-03 19:04] shu8 commented on #135
@IStoleThePies SE use this:

[code]

with this HTML:

[code]

so we *should* be able to tweak that a bit to get the same effect.

[2016-11-03 19:07] IStoleThePies commented on #135
@shu8 You'd probably need to give the meta and chat buttons absolute positions, which I didn't have the energy to go through.

[2016-11-03 21:57] fixer1234 opened #140 "SBS locks out the editing box"
### Installed Version: 2.0.2 Dev G  Environment: Firefox/Greasemonkey
This also occurred in some prior versions, I think in the prior generation.

---
###  Expected Behavior
This not happening.

---
### Actual Behavior
When editing in SBS mode (today it was a new question; I don't recall the nature of prior posts when this happened), the edit box becomes inaccessible after clicking on another Fire

[2016-11-03 22:38] shu8 commented on #140
@fixer1234 thanks for the report; I'll keep my eye out for it :) If you notice it again, please could you take a screenshot and the console (although I have a feeling it won't be that helpful... 😞)?

[2016-11-03 23:57] IStoleThePies commented on #118
@shu8 Small issue, the reply button has a grey bar around the icon:

<img width="975" alt="screen shot 2016-11-03 at 7 55 50 pm" src="https://cloud.githubusercontent.com/assets/5375326/19989854/bc566da0-a1ff-11e6-92b5-e17b55b64e95.png">

[2016-11-04 00:17] fixer1234 commented on #140
@shu8 Discovered the trigger and updated the issue.

[2016-11-05 13:18] shu8 commented on #118
@somebody1234 thanks! I'll get that fixed

[2016-11-05 13:37] somebody1234 commented on #118
@shu8 That wasn't me

[2016-11-05 13:46] shu8 commented on #132
@fixer1234  I can't reproduce some of the issues you're having... here's what happens for me:

- Going direct to http://superuser.com/questions/290814/purpose-of-a-mystery-key-on-an-ibm-pc-3270-keyboard#comment1638898_290814 **doesn't** work
- Going to http://superuser.com/questions/290814/purpose-of-a-mystery-key-on-an-ibm-pc-3270-keyboard and click show more comments **does** work

---

I think

[2016-11-05 13:49] shu8 commented on #118
@somebody1234 whoops! sorry! I meant @IStoleThePies :/

either way, this is fixed in [dev version o now](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-11-05 13:50] shu8 commented on #139
@IStoleThePies fixed in [dev o](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-05 13:50] #139 closed

[2016-11-05 13:50] shu8 commented on #138
@IStoleThePies fixed in [dev o](https://github.com/soscripted/sox/raw/dev/sox.user.js)... it was as easy as I thought it originally would be :P

[2016-11-05 13:50] #138 closed

[2016-11-05 13:58] somebody1234 commented on #119
@shu8 Never mind, I don't have enough rep to see deleted questions on any site and didn't realize they didn't show on normal question pages (but an option to hide deleted answers posted by others would probably be helpful)

[2016-11-05 14:57] shu8 commented on #119
@somebody1234 done in [dev p](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

You can find the settings in the dialog itself. It's the last one in the Unsorted section -- just click the `>` next to the feature name. Make sure you click the small `save` underneath the checkboxes when you change the specific options -- I'm going to make the entire settings section look prettier...  soon..

[2016-11-05 14:57] #119 closed

[2016-11-05 17:08] fixer1234 commented on #132
@shu8 The issue doesn't refer to adding the comment or URL, as described below the line.  It's strictly about viewing the existing comment.  Right now, my system behaves like you describe in your "does" and "doesn't" bullets.  When I did the test in the previous comment, the "does" case did not behave like that.  I had to refresh the page while the comment was hidden, then click on show more comme

[2016-11-05 17:29] fixer1234 commented on #134
@shu8 As mentioned on the other thread, this issue has magically disappeared after 4 days of acting up.  I still have the same version of SOX, and I haven't made any changes to features selected or Firefox add-ons in at least the last couple of days.  I know this feature was not working last night.  I also leave the computer on around the clock, with Firefox open (SU sites were open since the prob

[2016-11-05 17:45] IStoleThePies commented on #118
@shu8 Just noting, when you hover over other posts a small white box surrounding the options covers the timestamp:

<img width="124" alt="screen shot 2016-11-05 at 1 38 45 pm" src="https://cloud.githubusercontent.com/assets/5375326/20032295/ee262046-a35d-11e6-9c94-9c644495bb98.png">

However when you hover over your own:

<img width="95" alt="screen shot 2016-11-05 at 1 38 01 pm" src="https://clou

[2016-11-05 17:46] fixer1234 commented on #88
@shu8 Another case of an apparent moving target.  My previous comment was with ver G, which I'm still using.  I'm virtually sure that this issue was still behaving the same way yesterday.  I just clicked on the example link from the last comment and it now displays correctly.

I'll close this issue, but I think some SE programmers are messing with you.

[2016-11-05 17:55] shu8 commented on #88
@fixer1234 yeah, I thought the problem was only if you were going on to a next review item in the review queue...?

[2016-11-05 17:59] fixer1234 commented on #88
@shu8 No, I was getting it on ones not accessed via Next.  But I haven't tested that case.  If I come across one in the review queue, I'll try to remember to check.

[2016-11-05 21:52] shu8 commented on #140
@fixer1234 I can't seem to reproduce this on FF or Chrome.

Can you repeatedly repro it by starting a question, going to a different tab, and coming back? Or does it only happen sometimes?

[2016-11-05 22:25] fixer1234 commented on #98
@shu8 Very minor bug discovered with this feature.  The new message box is open when opening the SU chat room selection page (http://chat.stackexchange.com/?tab=site&host=superuser.com).  It covers parts of 4 chat rooms, so it has to be closed to use the page.  So far, that's the only page I've seen the symptom on.

![su chatrooms](https://cloud.githubusercontent.com/assets/10065766/20033980/36ce7

[2016-11-05 22:29] shu8 commented on #98
That's been fixed in the latest version (I think it's P now). You can
install it using any links I've ever given in these issues :) (I'm not on
my computer atm so can't give you the link!)

On 5 Nov 2016 10:25 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-11-05 22:33] fixer1234 commented on #140
@shu8 As mentioned in the updated issue post, the tabbing may have been coincidental.  A lot of issues seem to be changing behavior.  But when the tag suggestions are not displayed, the tabbing no longer seems to trigger it.  As far as I can determine, it is the system's display of tag suggestions that triggers the locking.

[2016-11-05 23:02] fixer1234 commented on #134
@shu8 Just loaded Dev P and the issue is back.

[2016-11-05 23:11] fixer1234 commented on #140
@shu8 I just loaded Dev P and figured I'd verify this.  The tag suggestions are definitely what triggers it.  In addition to testing just the tag suggestions, I experimented with the tabbing.  I added a keyword and the editor did not immediately add the tag suggestions.  However, when I tabbed away and then clicked back, the tag suggestions were generated, which locked the edit box.  So that could

[2016-11-05 23:14] fixer1234 commented on #139
@shu8 Didn't realize this had already be reported.  I can confirm that it is fixed in Dev P.

[2016-11-05 23:26] fixer1234 commented on #134
The plot thickens.  It depends on the thread.

Author last seen appears on this thread: http://superuser.com/questions/540557/explicitly-allowed-ports-equivalent-chromium-on-linux

But not this thread: http://superuser.com/questions/794744/tp-link-powerline-adapters-randomly-disconnect .  This is a protected question and the author status doesn't appear on any post on the thread.

I'll look for ot

[2016-11-06 01:57] fixer1234 opened #141 "SBS layout broken with Find & Replace enabled"
### Installed Version: 2.0.2 Dev P  Environment: Firefox/Greasemonkey

---
###  Expected Behavior
Previously working correctly

---
### Actual Behavior
The "rendered" view (right side) is offset below the edit box when using SBS in the review queue (and only there).  This is an edit in the Close Votes Review queue:

![su sbs](https://cloud.githubusercontent.com/assets/10065766/20034806/eaef40a8-a3

[2016-11-06 02:20] fixer1234 commented on #141
I spoke to soon about the SBS issue occurring only in the review queue.  It looks like a general problem with the edit menu add-ons everywhere, it just manifests differently in the review queue.  I couldn't go back and revise the title.  When I checked other locations for the problem  earlier, I just looked quickly to see if SBS looked normal, and that was before discovering the Find&Replace conne

[2016-11-07 14:46] IStoleThePies commented on #120
@shu8 The notify on edit button still appears on Area 51 proposals :/

[2016-11-07 17:28] DavidPostill opened #142 "Corrupted top bar on French Language Beta"
SOX 2.0.2 DEV  Greasemonkey
Windows 7 Home Premium 64 bit, Firefox 49.0.2

Social media icons appearing on top of SOX config icon on https://french.stackexchange.com/

![screenshot - 07_11_2016 17_25_17](https://cloud.githubusercontent.com/assets/7079224/20068031/30aef408-a50f-11e6-84e5-93e97b964295.png)

Note:

- I've not seen this on any other SE site (and due to flagging spam with MetaSmoke and

[2016-11-07 18:02] shu8 commented on #142
@DavidPostill hmm I can't reproduce that. Looks like the CSS hasn't fully loaded...?

Could you try hard-refreshing/trying in a new profile and see if that fixes it please? :)

[2016-11-07 18:03] shu8 commented on #120
@IStoleThePies hmm I'll look into it, but school's started again 😞, so it might not be till the weekend now

[2016-11-07 18:09] DavidPostill commented on #142
Hmm. It goes away if I disable SOUP 1.44.4

[2016-11-07 19:14] shu8 commented on #142
hmm, there must be a SOUP patch for French/a specific of the site that
French has.

I'll look into it, but it's going to have to be the weekend now :( I'm busy
all week! Sorry!

On 7 November 2016 at 18:09, DavidPostill <notifications@github.com> wrote:

[2016-11-07 20:23] DavidPostill commented on #142
No problem. It's only cosmetic ;)

--
David Postill

On 7 November 2016 at 19:14, ᔕᖺᘎᕊ <notifications@github.com> wrote:

[2016-11-08 00:18] fixer1234 commented on #88
@shu8 OK, just came across an edit review with a title edit, a single review post (no next).  This is Dev P and the feature isn't working.  The posts is: http://superuser.com/review/suggested-edits/591825, and it looks like this:

![su title edit](https://cloud.githubusercontent.com/assets/10065766/20081637/e77fdb02-a51e-11e6-9839-8c755099e6dd.png)

[2016-11-08 04:35] IStoleThePies commented on #118
@shu8 Also, could you disable notifications on self-replies? I see a desktop notification pop up every time I reply to myself.

[2016-11-08 06:29] fixer1234 commented on #121
@shu8 This hasn'y recurred in awhile.  I'll close it and if it shows up again, it can be reopened.

[2016-11-08 06:29] #121 closed

[2016-11-09 00:02] fixer1234 opened #143 "Show comment score added twice on subsequent pages"
### Installed Version: 2.0.2 Dev P Environment: Firefox/Greasemonkey

---
###  Expected Behavior
Previously working properly.

---
### Actual Behavior
The Show comment score prompt is added properly to the first page of comments.  On subsequent pages, the prompt appears twice in succession on each comment:

![su 2x comment](https://cloud.githubusercontent.com/assets/10065766/20122298/bca0c9fc-a5e4

[2016-11-13 14:33] shu8 commented on #118
@IStoleThePies Could you post that a new issue please?

It's would actually be a new feature, which we'd need to look into how to do! :)

[2016-11-13 14:39] shu8 commented on #142
@DavidPostill weird... I can't reproduce this with SOUP enabled either :/

Does it still happen? If it does, please can you right click on the cogs, click 'inspect element' and screenshot and upload whatever pops up?

[2016-11-13 14:53] shu8 commented on #141
@fixer1234 just to clarify then... the problem is that when find&replace is active, SBS gets all screwed up? (which I *can* repro, working on a fix now).

Is there another issue?

[2016-11-13 15:19] IStoleThePies commented on #118
@shu8 Both of those bugs I mentioned or just the second?

[2016-11-13 15:20] shu8 commented on #118
Just the notification one. I've fixed the other one locally.. just need to
push it in a bit

On 13 Nov 2016 3:19 p.m., "IStoleThePies" <notifications@github.com> wrote:

[2016-11-13 15:23] IStoleThePies opened #144 "Disable notifications on self-replies"
Every time I reply to myself in the chat, a notification pops up.

[2016-11-13 18:15] shu8 commented on #143
@fixer1234 fixed in latest [dev version q](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-13 18:15] #143 closed

[2016-11-13 18:15] shu8 commented on #142
@DavidPostill fixed in latest [dev version q](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-11-13 18:15] #142 closed

[2016-11-13 18:17] shu8 commented on #141
@fixer1234 the SBS/find&replace issue is fixed in latest [dev version q](https://github.com/soscripted/sox/raw/dev/sox.user.js). Please do comment if there's another issue here.

[2016-11-13 18:17] #141 closed

[2016-11-13 18:21] shu8 commented on #140
@fixer1234 How do you get the tag suggestions to come up? I've tried entering various words such as `windows` and `monitor`, etc... with no luck :(

[2016-11-13 18:54] shu8 commented on #140
@fixer1234 actually not too hard a fix! :D

fixed in [dev r](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-13 18:54] #140 closed

[2016-11-13 18:54] shu8 commented on #132
@fixer1234 My original [2 bullet points](https://github.com/soscripted/sox/issues/132#issuecomment-258612599) should now work in [dev r](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-13 18:54] #132 closed

[2016-11-13 18:57] shu8 commented on #112
I've looked around, and I honestly don't even know where to start on this one, so I'm going to add the help-wanted tag, and hope for the best! :)

[2016-11-13 19:01] shu8 commented on #134
@fixer1234 please install [dev r](https://github.com/soscripted/sox/raw/dev/sox.user.js) and post the console output here. I've added a few logs that should help me see where the problem is.

[2016-11-13 20:15] fixer1234 commented on #134
@shu8 Here's console output from the 2nd non-working thread from the previous comment:

[code]

It looks like it captured some related stuff.

[2016-11-13 20:23] fixer1234 commented on #132
@shu8 Loaded Dev R and tested the links in those two bullets.  Confirm that they both work, so it looks like you got it.

[2016-11-13 20:31] DavidPostill commented on #142
Thanks. Confirmed as fixed :)

[2016-11-13 20:37] fixer1234 commented on #140
@shu8 It was a pain in the butt trying to trick the UI into displaying tag suggestions (apparently, it's smarter than just looking for key words).  But I finally got it to display and it looks like you fixed it.  Confirming another one.

[2016-11-13 20:44] fixer1234 commented on #141
@shu8 Just did a quick random test and didn't see evidence of the problem.

[2016-11-13 20:46] fixer1234 commented on #143
@shu8 Looks like you fixed it.

[2016-11-13 20:54] shu8 commented on #134
@fixer1234 sorry, I broke that feature when adding the logging. Please could you dump the log from [dev s](https://github.com/soscripted/sox/raw/dev/sox.user.js)? :)

[2016-11-13 21:30] fixer1234 commented on #134
@shu8 Dev S, same post:

[code]

[2016-11-15 06:48] IStoleThePies opened #145 "Topbar bugs in Stack Exchange Data Explorer"
If you go to data.stackexchange.com and wait a few seconds, you'll notice there are multiple logos in the top bar. A closer inspection revealed this:

<img width="1440" alt="screen shot 2016-11-15 at 1 47 26 am" src="https://cloud.githubusercontent.com/assets/5375326/20295841/7f1379f4-aad5-11e6-9e4b-3336f5c54f6c.png">

The second logo and the space between the two logos replace the SOX buttons, li

[2016-11-15 20:45] IStoleThePies opened #146 "Fixed topbar feature messes with sites with designs at the top"
If you go to worldbuilding.stackexchange.com, you'll probably see the the image on the bottom of the page overlapping the image on the top of the page.

<img width="1440" alt="screen shot 2016-11-15 at 1 39 59 am" src="https://cloud.githubusercontent.com/assets/5375326/20323392/7d962a70-ab4a-11e6-8fdf-fa9997948ac7.png">

This happens on any page, including meta pages. Disabling SOX entirely fixes

[2016-11-15 20:56] shu8 commented on #146
I'm beginning to hate the fixed topbar feature... 😢

I'll look at this on the weekend, because I don't think I'll have any time this week :(

[2016-11-15 21:00] shu8 commented on #145
@IStoleThePies hmm I can't repro what you're saying, but instead I just see no cogs at all (which is still a bug)

Did SOX not auto-add your environment and enabled features?? If they didn't, could you try creating a new one and pasting the details into this issue (rather than creating a new one)?

[2016-11-15 21:02] IStoleThePies commented on #145
@shu8 Yeah, here:

### Installed Version: 2.0.2DEVp  Environment: Tampermonkey

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-answerTagsSearch","Appearance-betterCSS","Appearance-dragBounty","Appearance-fixedTopbar","Appearance-grayOutVotes","Appearance-hideHireMe","Appearance-metaChatBlogStackExchangeButton","Appearance-metaNewQuestionAlert","Appearance-spo

[2016-11-15 21:03] shu8 commented on #145
thanks! That should help me find the problem :) I'll be looking at this as
well on the weekend.

On 15 November 2016 at 21:02, IStoleThePies <notifications@github.com>
wrote:

[2016-11-19 18:52] shu8 commented on #146
@IStoleThePies Fixed in [latest dev t](https://github.com/soscripted/sox/raw/dev/sox.user.js)

But, this will almost definitely have broken it on another site, because I got rid of a CSS rule which I can't remember why it was there, so if you notice being weird on any other site, please comment back here! :)

[2016-11-19 18:53] shu8 commented on #134
@fixer1234 Can you try in [dev t](https://github.com/soscripted/sox/raw/dev/sox.user.js) please?

the post you've been trying on seems to have a deleted post, which I don't think the API gives information for, but I might be wrong, because we are passing in an access token... so please could you tell me whether you see info on the deleted post (if on any post at all!) :)

[2016-11-19 19:05] IStoleThePies commented on #146
@shu8 Also strangely, the logo and upper parts of the Worldbuilding site seem to jump up after SOX loads.

[2016-11-19 19:06] shu8 commented on #146
Yeah I just noticed that after I pushed it. I'll try fix it by the next
version

On 19 Nov 2016 7:05 p.m., "IStoleThePies" <notifications@github.com> wrote:

[2016-11-19 19:10] fixer1234 commented on #134
@shu8 I'll plan on loading Dev T maybe later today.  re: deleted posts -- it looks like both of the previously listed threads that didn't work contain deleted posts.  I picked a random thread from the main page, which happened to also contain a deleted post.  On that one, author status was displayed on all posts, including the deleted one.  The behavior seems to be thread-based; either all of the

[2016-11-19 19:40] fixer1234 commented on #134
@shu8 Loaded Dev T and the behavior is improved but not totally fixed, and it is no longer all or nothing.  I retried the two previous threads that didn't work.  On one, author status was displayed on all non-deleted posts, but none of the deleted ones.  On the other, status was displayed on the question but none of the answers.  I refreshed the page, and one of the (non-deleted) answers then also

[2016-11-19 20:16] IStoleThePies opened #147 "Replying to comments"
If I go into the comment section and hit reply, it brings up the name of the user in the comment. However, if I remove that name (or make any modifications to my comment, for that matter), the reply buttons will no longer work. I can't even reply to other comments.

![untitled-1](https://cloud.githubusercontent.com/assets/5375326/20458140/1d0ea8da-ae6a-11e6-8dbf-42485c249058.gif)

Also, clicking t

[2016-11-19 20:43] shu8 commented on #146
@IStoleThePies Seems like a complicated issue, and I'm *really* bad with CSS -- @enki-code's the expert in that :P So I think we'll need to wait for him to be back to get this one fixed :(

Sorry!

[2016-11-19 20:48] IStoleThePies commented on #146
@shu8 Yeah, just realized it happens with lots of sites. In beta sites it cuts off the blue part of the header.

[2016-11-19 20:57] shu8 commented on #147
@IStoleThePies bug fixed and feature added in [latest dev u](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-11-19 20:57] #147 closed

[2016-11-19 20:59] shu8 commented on #134
@fixer1234 thanks for that. can you try again in [dev u](https://github.com/soscripted/sox/raw/dev/sox.user.js) please? :)

I think the issue may have been with the API request happening too late, so I think it should be better, if not fixed totally now :/

[2016-11-19 21:03] IStoleThePies commented on #147
@shu8 The feature request wasn't entirely put in. :/

I can't click multiple reply buttons, which means I have to completely erase the user if I want to change who I'm replying to. The gif of the chat should help if what I'm saying isn't clear.

[2016-11-19 21:23] shu8 commented on #146
@IStoleThePies @enki-code had a look at it and worked out a fix. Done in [dev v](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-19 21:23] #146 closed

[2016-11-19 21:45] IStoleThePies opened #148 "Other reply button bugs"
### Installed Version: 2.0.2DEVv  Environment: Tampermonkey

---

**Main issue**: Clicking "show x more comments" seems to make the reply buttons vanish on posts with enough comments (also happens if you try to add a comment, since this shows all of them). For example, see [here](http://astronomy.stackexchange.com/a/12856/9301).

Other strange issue(?): If you go to this [answer](http://astronomy.

[2016-11-19 22:24] shu8 commented on #147
@IStoleThePies whoops! Sorry, I've added what you've actually said now in [dev w](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-19 22:25] shu8 commented on #148
@IStoleThePies I've fixed the main issue about the reply buttons disappearing in [dev w](https://github.com/soscripted/sox/raw/dev/sox.user.js).

However, I can't reproduce your scrollbar issue, but, I've added a CSS change that should stop it from appearing nonetheless. Can you check to see if you still see the scrollbar?

[2016-11-19 22:25] #148 closed

[2016-11-19 22:27] fixer1234 commented on #134
@shu8 Exactly the same behavior as reported for Dev T.  Did you add any new logging for the console so more output would be useful?

[2016-11-19 22:28] shu8 commented on #134
@fixer1234 yes please, I just need to check where it failed :/

[2016-11-19 22:47] fixer1234 commented on #134
@shu8 Looks like what is loaded is Dev V.

[code]

[2016-11-19 23:12] shu8 commented on #134
@fixer1234 thanks. I've just pushed [dev x](https://github.com/soscripted/sox/raw/dev/sox.user.js).

I'm sorry to keep asking you to reinstall it, but please could you install dev x and post the log again? I'm having trouble seeing why it doesn't work. I've added a bunch of more logs which I hope will help me see if it works.

Could you also try going on questions **without** deleted posts *or* us

[2016-11-19 23:13] shu8 commented on #145
@IStoleThePies This should be fixed in [dev x](https://github.com/soscripted/sox/raw/dev/sox.user.js). Although I've treated this site just like I did with A51 -- most features are disabled, and you probably won't see much of SOX working on it...

Please can you confirm whether it is actually fixed? :)

[2016-11-19 23:13] #145 closed

[2016-11-20 00:49] IStoleThePies commented on #145
@shu8 Now I get this:

<img width="1440" alt="screen shot 2016-11-19 at 7 49 30 pm" src="https://cloud.githubusercontent.com/assets/5375326/20459498/551ba86e-ae91-11e6-8b24-4f4869ac8bc4.png">

[2016-11-20 01:11] IStoleThePies commented on #148
@shu8 Yep, it's gone :)

[2016-11-20 01:11] IStoleThePies commented on #147
@shu8 Works now 👍

[2016-11-20 03:05] fixer1234 commented on #134
@shu8 Dev X.  Just to clarify, the feature does work on some posts and not others.  I'll retest on a few.  The inclusion of deleted posts is not a determining factor in anything.  The previous version worked on some threads on every post, deleted or not, on some threads on some of the component posts, some deleted and some not.

Console out put from the same question as above.  This time, (it adde

[2016-11-20 03:16] fixer1234 commented on #134
Just noticed that the two answers missing author status in the example above have unregistered authors.  Strange that in the previous version, the first unregistered author was picked up.  Actually, the posts aren't displayed in the same order every time, so it's possible that the answer author who was previously picked up was always the registered user.  Let me explore this.

[2016-11-20 03:19] fixer1234 commented on #134
Ransom recent question: http://superuser.com/questions/401243/mac-osx-cannot-color-broken-symlinks.  The author status shows on every post, but on the accepted answer, the author is listed as unregistered, which is incorrect.

[2016-11-20 03:51] enki-code commented on #145
@IStoleThePies I believe it was originally, we just need to add it back into the excludes of the userscript itself. Easy fix. :+1:

[2016-11-20 08:10] IStoleThePies commented on #144
@shu8 Also, I can't reply to my own posts if I'm hovering over my timestamp. On other posts, I can.

[2016-11-20 15:09] shu8 commented on #134
@fixer1234 'unregistered' means the user hasn't actually signed up to the site; they just posted an answer as a guest. it says next to their username on their profile page if they are unregistered.

If by 'no profile link' you mean they're deleted, then yeah -- there's **no way** to find out any information about them because they don't exist anymore.

It does seem as though the feature is fixed,

[2016-11-20 15:09] #134 closed

[2016-11-20 15:45] shu8 commented on #145
@IStoleThePies @enki-code disabled on data.SE in [dev y](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-11-20 15:45] shu8 commented on #144
@IStoleThePies fixed the timestamp bug in [dev y](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-11-20 15:50] shu8 commented on #125
@fixer1234 has this fixed itself :P in [dev y](https://github.com/soscripted/sox/raw/dev/sox.user.js)? or does it still happen? :)

[2016-11-20 15:53] shu8 commented on #144
@IStoleThePies also, looking into this, I don't think it's actually possible for SOX to disable the notification, because we can only make new ones rather than stopping ones from being created... :/

I'll leave this open for a while and look into it, but I don't *think* we'll be able to add this feature :(

[2016-11-20 16:00] shu8 commented on #98
@fixer1234 I didn't think about the colour being a problem.. sorry! do you have any thoughts on what I could use instead of colour? because I realise that different people can't see different colours...

regarding the extra info, I'll add the:

- editor
- edit comment
- Q/A
- edit time

but I don't get what you mean about the indicator (your last bullet point)..?

---

I think adding separate noti

[2016-11-20 17:53] shu8 commented on #98
@fixer1234 I've added those into [dev z](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

Can you see how it works for you? :)

[2016-11-20 21:03] fixer1234 commented on #98
@shu8 I'll load dev z today and test.  re: bullet points and questions --

- status indicator referred to whether the Notify on edit selection is still active on the post (way to see that in the message window without needing to go back to the post).  As an aside, that's another case where the color change isn't very visible if you're color blind, mainly because the font used as the button is thin

[2016-11-20 23:43] IStoleThePies commented on #144
@shu8 Uh, now when I hover over a time stamp, the flag/star/reply panel keeps flickering:

<img width="979" alt="screen shot 2016-11-20 at 6 41 57 pm" src="https://cloud.githubusercontent.com/assets/5375326/20467232/21ab85a6-af51-11e6-965d-962adf1e79b5.png">

[2016-11-21 03:30] IStoleThePies commented on #120
@shu8 Also, now the background image on Area 51's header is disappearing. 😕

[2016-11-21 05:28] fixer1234 commented on #125
@shu8 Loaded dev z.  The behavior is still more or less similar.  Opening or refreshing any SU-related page pops up the message about getting a token on SO.  However, it opens SO as a new current tab, so the pop-up is only visible when you return to the previous tab.  At SO, clicking the cogs opens the Authorizing Application window.  However, rather than getting the token and closing quickly as o

[2016-11-21 06:23] fixer1234 opened #149 "Author last seen: reporting editor rather than OP"
### Installed Version: 2.0.2 Dev Z Environment: Firefox/Greasemonkey

---
###  Expected Behavior
This was previously working, although we may never have encountered this special case, so can't be sure.

---
### Actual Behavior
Noticed that on this answer: [How do I get Windows 7 to NOT use the recycling Bin on a removable drive?](http://superuser.com/a/103601/364367), the author status reports the

[2016-11-21 07:56] shu8 commented on #149
Thanks. I know why this is happening but I'll only be able to fix it on the
weekend now :(

On 21 Nov 2016 6:23 a.m., "fixer1234" <notifications@github.com> wrote:

[2016-11-21 07:57] shu8 commented on #120
Right. I'll fix it on the weekend :)

On 21 Nov 2016 3:30 a.m., "IStoleThePies" <notifications@github.com> wrote:

[2016-11-21 07:57] shu8 commented on #144
Weird.. I'll look into it on the weekend :)

On 20 Nov 2016 11:43 p.m., "IStoleThePies" <notifications@github.com> wrote:

[2016-11-21 13:48] calebkleveter opened #150 "Mod Election UI breaks with the sticky header."
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey

TamperMonkey: 4.1.10
SOX: 1.0.3
Google Chrome: 54.0.2840.98 (64-bit)
OS X 10.11.6

---
###  Expected Behavior

I should be able to see the '1st choice' label above the Mod candidate that I have for my first choice.

---
### Actual Behavior

Sticky header hides the label:

[![enter image description here][1]][1]

---
### SOX Errors log

[2016-11-21 19:51] shu8 commented on #150
Thanks for the bug report! I'm sorry but I don't have time to actually push a fix until the weekend :(

I'll get it fixed ASAP!
Note to self: Adding `.module#vote-picks { margin-top: 35px}` fixes it -- just need to find time to edit the files and push them!

[2016-11-24 06:55] fixer1234 commented on #98
@shu8 Quick question.  You mentioned that this version includes some form of Q vs A identifier in the message box.  For all notifications, I'm seeing a cool icon, thread title, editor, edit date/time, and a delete button, but no obvious Q vs. A identifier.  Am I missing something or is this a bug?  example:

![sox edited posts](https://cloud.githubusercontent.com/assets/10065766/20589169/c3afdc14-

[2016-11-25 22:02] IStoleThePies commented on #148
@shu8 Still appears on some comments:

<img width="657" alt="screen shot 2016-11-25 at 10 58 48 pm" src="https://cloud.githubusercontent.com/assets/5375326/20635853/38133c56-b363-11e6-8034-1ea888d0c076.png">

Confirmed again it's caused by SOX 😕

[2016-11-26 03:32] IStoleThePies opened #151 "Notify on edit acts a bit weird on the tour"
### Installed Version: 2.0.2DEVy  Environment: Tampermonkey

---

On a site [tour](https://astronomy.stackexchange.com/tour), the "notify on edit" button actually appears in the "Improve posts by editing or commenting" section. Oddly, clicking it won't allow you to unclick it, and it doesn't actually notify you about updates (see [here](https://astronomy.stackexchange.com/questions/18039/is-the-su

[2016-11-26 14:27] shu8 commented on #151
@IStoleThePies fixed in [dev aa](https://github.com/soscripted/sox/raw/dev/sox.user.js) -- it won't show up on the tour anymore.

[2016-11-26 14:27] #151 closed

[2016-11-26 14:28] shu8 commented on #98
@fixer1234 sorry, my bad - I forgot to actually add the q/a! fixed in [dev aa](https://github.com/soscripted/sox/raw/dev/sox.user.js)

I'll start adding your suggestions in starting from the next version :)

[2016-11-26 14:28] shu8 commented on #149
@fixer1234 fixed in [dev aa](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-11-26 14:28] #149 closed

[2016-11-26 14:28] shu8 commented on #150
@calebkleveter fixed in [dev aa](https://github.com/soscripted/sox/raw/dev/sox.user.js). I realise the election is over now, so sorry for not getting it fixed sooner! :/

[2016-11-26 14:28] #150 closed

[2016-11-26 14:28] shu8 commented on #120
@IStoleThePies header issue fixed in [dev aa](https://github.com/soscripted/sox/raw/dev/sox.user.js).

I don't think it's worth the effort atm to fix the dialog issue, because it's isolated to A51 only and isn't too annoying IMHO...

[2016-11-26 14:28] shu8 commented on #144
@IStoleThePies I can't seem to reproduce this... Could you upload a gif if possible? :)

[2016-11-26 14:50] shu8 commented on #130
done in v2.0.2 dev ab

[2016-11-26 14:50] #130 closed

[2016-11-27 09:49] IStoleThePies commented on #120
@shu8 Now it seems the header was pushed down, making the moon a lot bigger:

<img width="1440" alt="screen shot 2016-11-27 at 10 47 09 am" src="https://cloud.githubusercontent.com/assets/5375326/20647231/1538403c-b48f-11e6-8d3e-da17a23733d7.png">

Compare without SOX:

<img width="1440" alt="screen shot 2016-11-27 at 10 46 57 am" src="https://cloud.githubusercontent.com/assets/5375326/20647232/1c

[2016-11-27 12:19] shu8 commented on #120
@IStoleThePies hmm I'm not sure how I missed that! Should be fixed in [dev ac](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-11-28 22:11] IStoleThePies commented on #120
@shu8 Regarding the dialog thing, it seems to be happening on other sites too:

<img width="1008" alt="screen shot 2016-11-28 at 5 10 16 pm" src="https://cloud.githubusercontent.com/assets/5375326/20688162/b1b58eac-b58d-11e6-8499-fb13f8b662fe.png">

Your call if it's worth it though.

[2016-11-29 02:33] IStoleThePies commented on #144
@shu8 Seems to be working now (sort of). By the way, I rewrote the reply button function to fix a lot of bugs:

    replyToOwnChatMessages: function() {
            //I use $(document).on instead of .each, since using .each wouldn't apply to messages loaded via "Load more messages" and "Load to my last message"

            $(document).on('mouseenter', '.mine .message', function() {

[2016-11-29 03:08] IStoleThePies opened #152 "Header problems"
### Installed Version: 2.0.2DEVac  Environment: Tampermonkey

---

The header seems to disappear on Ask Patents, Aviation, Biology, Chemistry (the equations at the top of the header disappear), Cryptography, Drupal Answers (the subtle light rays in the header disappear), ExpressionEngine, Information Security, Magento, Mi Yodeya, Movies and TV, Music Practice & Theory, Network Engineering, Persona

[2016-12-05 23:02] fixer1234 opened #153 "SOX not recognizing (or interfering with?) login status recognition on SO"
### Installed Version: 2.0.2 Dev AB  Environment: Firefox/Greasemonkey

Possibly related to #125

---
###  Expected Behavior
SE sites recognize when logged into the site.

---
### Actual Behavior
On SO, I get ads with a windowed message that I'm not logged in while the top bar displays my logged-in status.  Clicking on the windowed prompt to log in takes me to a page that says I'm already logged i

[2016-12-05 23:21] TuggyNE opened #154 "Tabular suggester stats are out of whack on tag wiki suggestions"
### Installed Version: 2.0.1l  Environment: Pale Moon 26.5.0 x64 Win 10

---
###  Expected Behavior
Table on http://stackoverflow.com/review/suggested-edits/14505413 should show 517 | 34 | N/A.

---
### Actual Behavior
Table on http://stackoverflow.com/review/suggested-edits/14505413 shows 5/1.

---
### SOX Errors logged to the browser console (if available)

---
### Steps to reproduce
Go to a tag

[2016-12-07 08:02] shu8 commented on #154
Thanks for the bug report.

I've reproduced it and I'll try getting it fixed over the weekend :)

[2016-12-07 08:03] shu8 commented on #153
Thanks, reproduced.

I'll get this fixed as soon as possible. It'll probably be the weekend now :)

[2016-12-07 08:04] shu8 commented on #144
Thanks. It looks really good! I've added this in my local version and it'll be there in my next push on the weekend :)

I'll ping you when it's been released in dev

[2016-12-07 18:15] enki-code commented on #120
The dialog positioning needs to be dynamic, we've been using hard coded positions via CSS but I've drafted up something that will position it relative to it's parent in the topbar.

[2016-12-07 18:17] enki-code commented on #152
The topbar is disappearing?  If so, the problem is that StackExchange doesn't use a consistent design and trying to code for each possible proving to be quite troublesome.

[2016-12-07 23:03] IStoleThePies commented on #152
@enki-code By header, I meant the area behind the site logo.

[2016-12-08 08:31] shu8 commented on #152
The issue is basically that we can't apply a single CSS rule to every site because SE's made each site design subtly different.

We don't think we'll be able to find a way to globally apply the fixed topbar whilst still keeping the design perfect on all sites without manually testing each site and then adding an exception in the code for each site.

We'll try looking into certain sites when we get

[2016-12-08 16:30] calebkleveter opened #155 "Helpful flag percentage bar in addition to percentage break-down"
A while back, @enki-code posted a [question](http://meta.stackoverflow.com/questions/310881/overall-percentage-of-helpful-flags) on MSO about adding a helpful flag percentage bar to the flags page.

I liked the idea so much that I took the script and added it to tamper monkey.

I think it might be a good idea to add it to SOX.

[2016-12-08 18:13] enki-code commented on #155
@calebkleveter Thanks for the interest! I was unsure how many people really liked the progress bar so I ended up writing the current version we have in SOX. However, we can gladly add this in.  I am currently recovering from back surgery and my wife just gave birth to our son so my hands are a little full at this time but I will do my best to get this implemented ASAP.

[2016-12-10 17:42] shu8 commented on #153
@fixer1234 this *should* be fixed in [dev ad](https://github.com/soscripted/sox/raw/dev/sox.user.js). Please could you check and confirm? :)

[2016-12-10 17:42] #153 closed

[2016-12-10 17:43] shu8 commented on #154
@TuggyNE fixed in [dev ad](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

It turns out it was actually broken on *all* edits -- the regex for the bottom part only took into account single digit numbers, so it basically only worked on numbers less than 10! :/

Thanks for reporting it, and please could you check whether it is actually fixed for you? :)

[2016-12-10 17:43] #154 closed

[2016-12-10 17:47] shu8 commented on #144
@IStoleThePies I've pushed it now :) You can see it [in dev ad](https://github.com/soscripted/sox/raw/dev/sox.user.js).

BTW, I just realised we've been talking about this on the wrong issue! :( Would it be possible for you to copy-paste [your comment](https://github.com/soscripted/sox/issues/144#issuecomment-263459197) as a new comment on #118? -- because I want to be able to link to the comment

[2016-12-10 17:51] IStoleThePies commented on #118
@shu8 Seems to be working now (sort of). By the way, I rewrote the reply button function to fix a lot of bugs:

    replyToOwnChatMessages: function() {
            //I use $(document).on instead of .each, since using .each wouldn't apply to messages loaded via "Load more messages" and "Load to my last message"

            $(document).on('mouseenter', '.mine .message', function() {

[2016-12-10 17:53] shu8 commented on #118
@IStoleThePies Thanks! :D I've cleaned up the other issue and changed the URL in the comment in the code locally, which will be there in dev ae :)

[2016-12-10 17:54] IStoleThePies commented on #118
@shu8 Sounds good!

By the way, should we include a reply link on the message dialog boxes (when you click on the arrow at the left of the message)? That would let people reply to themselves from a permalink.

[2016-12-10 17:57] shu8 commented on #118
@IStoleThePies It's definitely doable, but I doubt I'll have any time this weekend :(

I'll look into it next week, but please feel free to submit a pull request if you want to! :)

[2016-12-10 17:58] IStoleThePies commented on #118
@shu8 I'm busy this weekend too. I'll see what I can do :/

[2016-12-10 18:14] shu8 commented on #118
Lol no problem! :)

[2016-12-10 18:33] fixer1234 commented on #153
@shu8 Confirmed, looks like you fixed it.

[2016-12-10 18:49] fixer1234 commented on #125
@shu8 The fix for #153 fixed this one also.  The problem's gone in Dev AD.  Congrats!

[2016-12-10 18:49] #125 closed

[2016-12-10 18:50] shu8 commented on #125
Completely unintentional :P

But glad it's fixed! :)

On 10 Dec 2016 6:49 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-12-12 20:57] shu8 commented on #152
@IStoleThePies ok, so I just had a bit of time and went through your list.

I've applied the 'patch' we made for Software Recs and Raspberry Pi to:

- aviation
- biology
- chemistry
- crypto
- drupal
- expressionengine
- security
- magento
- judaism
- movies
- music
- networkengineering
- money
- dsp
- skeptics
- travel

which fixes most of the bug on those sites. You can get it in [dev ae](https:

[2016-12-12 20:57] #152 closed

[2016-12-12 20:59] shu8 commented on #88
I've added the help wanted tag to this, because I can't find the solution to it :(

To anyone who might be able to help:

The issue is (I think...) that the mutationobserver isn't looking at the right element to detect new reviews after clicking next/skip. We need to experiment with different element IDs/classes to see one that changes every time.

[2016-12-12 21:04] shu8 commented on #144
@IStoleThePies I looked into this a bit more and I'm pretty certain that this just isn't possible as a userscript now -- it would require intercepting the notifications which isn't really possible AFAIK, so we're just going to have to close this issue :(

Sorry! But I'll keep this in my mind to see if I come across anything in the next few months that could help with this issue! :)

[2016-12-12 21:04] #144 closed

[2016-12-13 00:05] IStoleThePies commented on #152
@shu8 @enki-code I think I might have come up with a solution:

    fixedTopbar: function() {
            // Description: For making the topbar fixed (always stay at top of screen)
            //When you're logged out on Area 51, some annoying notification screws up the topbar. Can't figure out how to fix it, so I just disabled it when you're logged out.
            if (sox.location.on('askubuntu.

[2016-12-13 22:15] darkred opened #156 "Move the quickAuthorInfo details to the right of the comments section"
### Installed Version: 2.0.2 DEV ae,  Environment: Firefox/Greasemonkey

### Suggestion

Because the 'last seen date and registered status' entries (e.g. `last seen: 2 days ago | type: registered`)
refers to the relevant question/answer poster,
I'd suggest them to be aligned to the right, i.e. `text-align: right `
in order not to be confused with being another comment.

Mockup:
![2016-12-14_001205

[2016-12-14 19:18] shu8 commented on #156
@darkred thanks! I like the idea and will have it done in the next dev version :)

I'll ping you when it's ready

[2016-12-14 19:20] shu8 commented on #152
@IStoleThePies thanks for that! :)

I'll try your code on the weekend and test it :)

It's annoying how simple the solution might be now :P

[2016-12-15 07:18] IStoleThePies opened #157 "Draggable bounty box creates problems"
### Installed Version: 2.0.2DEVae  Environment: Tampermonkey

---

When you open the bounty box, you see this:

<img width="480" alt="screen shot 2016-12-14 at 5 55 10 pm copy" src="https://cloud.githubusercontent.com/assets/5375326/21204769/e0c72192-c226-11e6-9b1c-45ae8cb8d07c.png">

However, when you drag it, you'll have multiple problems. First, the word "question" is moved to the next line:

<

[2016-12-15 22:29] IStoleThePies commented on #152
@shu8 I've fixed a few bugs, including the Area 51 one and another one where the body would lose its padding if you closed or dragged a bounty/flag/etc. popup:

        fixedTopbar: function() {
            // Description: For making the topbar fixed (always stay at top of screen)

            //For some reason, chats don't need any modification to the body
            if (sox.site.type == 'chat')

[2016-12-16 21:25] shu8 commented on #157
@IStoleThePies [fixed in dev af](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-12-16 21:25] #157 closed

[2016-12-16 21:25] shu8 commented on #156
@darkred done in dev af](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-12-16 21:25] #156 closed

[2016-12-16 21:25] shu8 commented on #152
@IStoleThePies It seems to be pretty perfect! :D

Thank you sooooooo much for fixing it -- it's a much more clever way of going around the entire problem compared to what we could come up with!

[Added your code in dev af](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-12-16 22:59] darkred opened #158 "Browser hang after updating to 2.0.2 dev af (I get 'Warning, unresponsive script: sox.common.js:136 ')"
### Installed Version: 2.0.2 dev af,  Environment: Firefox 50.1.0 x64/Greasemonkey 3.9 in win10

After updating the script from 2.0.2 dev ae to 2.0.2 dev af
whatever StackOverflow page I may try to open
I constantly get high CPU usage in Firefox (browser "Not responding") to the point that I get this message:
![2016-12-17_005226](https://cloud.githubusercontent.com/assets/723651/21281135/2e974f14-

[2016-12-16 23:01] darkred commented on #156
Thank you!

PS. I just filed #158  about dev af.

[2016-12-17 04:49] IStoleThePies opened #159 "SOX buttons act weirdly when logged out on Area 51"
### Installed Version: 2.0.2DEVaf  Environment: Tampermonkey

---

When logged out on Area 51, clicking the SOX settings button or the "notify on edit" button causes the popup to be shifted:

<img width="1440" alt="screen shot 2016-12-16 at 11 46 35 pm" src="https://cloud.githubusercontent.com/assets/5375326/21284475/19fc0a4e-c3ea-11e6-9614-b3836eb9e5bd.png">

<img width="1440" alt="screen shot 20

[2016-12-17 11:52] shu8 commented on #158
@darkred sorry, that was me being stupid...

should be fixed in [dev ag](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-12-17 11:54] shu8 commented on #159
@IStoleThePies The notify on edit button slipped through to A51 *again*, so I've got rid of that on A51 in [dev ag](https://github.com/soscripted/sox/raw/dev/sox.user.js). So that should get rid of all the A51 issues.

I can reproduce the other bug about the dialog not closing and I'll get that fixed ASAP

[2016-12-17 13:04] shu8 commented on #159
@IStoleThePies Fixed the dialog not closing bug [in dev ah](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-17 13:04] #159 closed

[2016-12-17 16:41] darkred commented on #158
I updated to [dev ag](https://github.com/soscripted/sox/blob/66b4eaaa9e83c4972f8e39084ca7ea3e9fdb2b78/sox.user.js) as well as the latest, dev ah,
but the hang still exits.

I get the Unresponsive script warning for sox common.js,
at either line 137, 138 or 145.

[2016-12-17 17:04] IStoleThePies commented on #159
@shu8 The Area 51 bug still seems to happen :/

[2016-12-17 17:38] shu8 commented on #159
@IStoleThePies Do you mean the dialog positioning one? If so, that's going to be fixed in enki's code that calculates positions relative to the parent's soon.

[2016-12-17 18:09] shu8 commented on #158
@darkred you're right!

I'm really sorry, I'm sure the hangs will have been really annoying. It's definitely (I'm 99% sure :/) fixed in [dev ai](https://github.com/soscripted/sox/raw/dev/sox.user.js) now.

It was a side effect to #152's solution and I messed up on the mutationobserver. Weirdly it only hangs on FF and not Chrome (which is also why I didn't realise this before I released it to dev!)

[2016-12-17 20:50] darkred commented on #158
Unfortunately it still hangs in dev ai.

[2016-12-17 22:23] shu8 commented on #158
@darkred urghh!!!

I don't have too much time atm so I've pushed a quick-fix [in dev aj](https://github.com/soscripted/sox/raw/dev/sox.user.js) that fixes it for now.

It makes the script actually usable again but kind-of breaks the fixed topbar feature for now -- you may need to disable that feature temporarily

[2016-12-18 17:31] shu8 commented on #158
@darkred all of the issues surrounding this should be fixed in [dev ak](https://github.com/soscripted/sox/raw/dev/sox.user.js) now :)

Please could you confirm this is the case? :) (you can re-enable fixed topbar now!)

[2016-12-18 17:31] #158 closed

[2016-12-18 17:41] darkred commented on #158
Yes, it's fixed now. Thank you

[2016-12-18 17:42] shu8 commented on #158
*takes a big sigh of relief :P*

On 18 Dec 2016 5:41 p.m., "darkred" <notifications@github.com> wrote:

[2016-12-19 00:12] IStoleThePies commented on #120
@shu8 @enki-code Is it really necessary to make the dialogues relatively positioned? Couldn't you instead just set their absolute left positions to `$('#soxSettingsButton').position().left` and `$('#downvotedPostsEditAlertButton').position().left` for `#soxSettingsButton` and `#downvotedPostsEditAlertButton`, respectively?

[2016-12-19 00:46] IStoleThePies commented on #112
What exactly is the problem here?

[2016-12-19 00:47] DavidPostill opened #160 "sox breaks the winter bash hats page."
See https://meta.stackexchange.com/questions/288278/winter-bash-login-bug for the details ...

[2016-12-19 02:20] fixer1234 commented on #112
@IStoleThePies This is a feature request for the SOX editor feature that inserts <kbd> markdown and bullets (the "Add KBD and list buttons to editor toolbar" feature).  The action of these buttons can't be undone using the undo arrow in the toolbar or ctrl-Z.

[2016-12-19 02:24] IStoleThePies commented on #79
@shu8 This works, but please don't ask me why:

    betterCSS: function() {
            // Description: For adding the better CSS for the voting buttons and favourite button

            $('.vote-down-off, .vote-down-on, .vote-up-off, .vote-up-on, .star-off, .star-on').addClass('sox-better-css');
            $('head').append('<link rel="stylesheet" href="https://rawgit.com/shu8/SE-Answers_scripts/

[2016-12-19 05:37] IStoleThePies commented on #152
@shu8 Small bug — the modified code now sets the body's padding to 3134 on Area 51 (if you're logged out), instead of doing 31 + 34 = 65px. The result is a huge spacing on the site. :)

[2016-12-19 06:35] IStoleThePies opened #161 "Add "sign up" description to "notify on edit" button"
If you are logged out on all SE sites and click the inbox or rep topbar buttons, you'll get these messages:

<img width="439" alt="screen shot 2016-12-19 at 1 31 44 am" src="https://cloud.githubusercontent.com/assets/5375326/21303256/1cf61ba2-c58b-11e6-98b4-49bb7c5da513.png">

<img width="523" alt="screen shot 2016-12-19 at 1 30 42 am" src="https://cloud.githubusercontent.com/assets/5375326/213032

[2016-12-19 06:56] IStoleThePies opened #162 "Highlighting should be disabled on topbar buttons"
### Installed Version: 2.0.2DEVak  Environment: Tampermonkey
---

When you double click on the SOX topbar buttons, you can highlight some of the elements:

![untitled-1](https://cloud.githubusercontent.com/assets/5375326/21303673/f6721d02-c58d-11e6-814b-3e9abff0f3fa.gif)

whereas double clicking on the regular SE buttons (including the site menu and winter bash) won't highlight anything. On that n

[2016-12-19 07:46] fixer1234 opened #163 "SBS feature locks edit window on Stack Apps site"
### Installed Version: 2.0.2 Dev AD  Environment: Firefox/Greasemonkey

---
###  Expected Behavior

SBS works normally on all other sites where I've used it.

---
### Actual Behavior

Went to the SOX page on Stack Apps to grab the link to the image.  Clicked the edit button on the question and everything worked normally.  Clicked SBS so I could spot where the image was located in the text.  When I

[2016-12-19 08:46] IStoleThePies commented on #34
@shu8 Could you add the colored signs to questions when viewing them from a user's profile?

[2016-12-19 10:08] shu8 commented on #160
Confirmed. Working on it now. Sorry it made you go to meta for it!

On 19 Dec 2016 12:47 a.m., "DavidPostill" <notifications@github.com> wrote:

[2016-12-19 11:17] shu8 commented on #160
@DavidPostill Can you check whether this is fixed for you in [dev al](https://github.com/soscripted/sox/raw/dev/sox.user.js)? :)

[2016-12-19 11:17] shu8 commented on #162
@IStoleThePies fixed in [dev al](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-19 11:17] #162 closed

[2016-12-19 11:17] shu8 commented on #79
@IStoleThePies 😮 I love you. :P

Done in [dev al](https://github.com/soscripted/sox/raw/dev/sox.user.js)

cc/ @catb0t It's fixed! :D

[2016-12-19 11:17] #79 closed

[2016-12-19 11:17] shu8 commented on #120
@IStoleThePies you're right! thanks, again! :)

done in [dev al](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-19 11:17] #120 closed

[2016-12-19 11:32] DavidPostill commented on #160
Confirmed as fixed :)

[2016-12-19 11:47] #160 closed

[2016-12-19 11:49] shu8 commented on #161
@IStoleThePies I'm not sure about this one actually

It is possible for you to receive an edit notification even if you're logged out -- the script just uses the API and has a `sitename` so it doesn't need logging in...

[2016-12-19 11:50] shu8 commented on #152
@IStoleThePies sorry, I got rid of those mutationobservers because something was causing it to crash in FF. I've re-added it now, so it should be fixed [in dev am](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

You might need to delete Area51 cookies if the banner doesn't show anymore! :)

[2016-12-19 12:13] shu8 commented on #163
@fixer1234 should be fixed in [dev n](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-19 12:13] #163 closed

[2016-12-19 12:27] shu8 commented on #34
@IStoleThePies sure, I'll look into it :)

[2016-12-19 12:38] IStoleThePies commented on #162
@shu8 Still seems to do it on the meta button.

[2016-12-19 12:45] shu8 commented on #162
@IStoleThePies sorry, forgot about that one!

done in [dev ao](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-19 20:07] shu8 commented on #34
@IStoleThePies done in [dev aq](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-19 20:08] #161 closed

[2016-12-19 20:33] shu8 commented on #98
@fixer1234 How's it looking now in [dev ar](https://github.com/soscripted/sox/raw/dev/sox.user.js)? :)

I've...:

- changed the red topbar icon to blue
- change the topbar icon to get bolder when it is showing a new message has popped up
- added an 'eye' to the notification to show whether watching is still active
- made sure the 'Q'/'A' is shown
- fixed the links -- they were actually often wrong

[2016-12-19 21:29] shu8 commented on #155
@calebkleveter As @enki-code's a bit busy, I've gone ahead and added the version from his meta post to the script.

It is available in [dev as](https://github.com/soscripted/sox/raw/dev/sox.user.js), and is treated as a **separate feature** (for now at least), so you'll need to enable the new `Show the total percentage of helpful flags as a coloured bar on the Flag Summary Page` feature under `Fla

[2016-12-19 21:29] #155 closed

[2016-12-19 22:44] LoganDark opened #164 "Authorizing application"
### Screenshots
![Dialog](https://puu.sh/sV8H5/255e00f05a.png)
![Authorizing application](https://puu.sh/sV8UW/a86ce518c2.png)

---
###  Expected Behavior
Application gets authorized.

---
### Actual Behavior
Authorizing application. Forever.

---
### SOX Errors logged to the browser console (if available)
[code]

---
### Steps to reproduce
Click the gear icon on Stack Overflow and let it try to a

[2016-12-20 00:14] IStoleThePies commented on #74
Closest thing I got to a solution:

    fixedTopbar: function() {
            // Description: For making the topbar fixed (always stay at top of screen)
            // Written by @IStoleThePies (https://github.com/soscripted/sox/issues/152#issuecomment-267463392) to fix lots of bugs and compatability issues
            // Modified by shu8

            //Add class to page for topbar, calculated for

[2016-12-20 02:14] fixer1234 commented on #98
@shu8  Good stuff.  I'll load it and check it out.

Interesting info on the edit comments.  A few thoughts:

- Many (most?) users predominantly use a single site.  For example, 99+% of my SE time is on SU; I venture to other sites for specific, unusual needs.  So a current site limitation might not be a limitation at all for many users.

- For users who do frequent a number of different sites, sit

[2016-12-20 04:37] fixer1234 opened #165 ""Disable vote buttons on your own posts" disables accepting own answer"
### Installed Version: 2.0.2 Dev AD  Environment: Firefox/Greasemonkey

---
###  Expected Behavior
Disabling vote buttons should not include the acceptance checkmark

---
### Actual Behavior
Tried to accept a self-answer on SU Meta and found that this feature had also disabled the acceptance checkmark.  Not much opportunity to see if it's limited to that site.

---
### SOX Errors logged to the bro

[2016-12-20 05:37] fixer1234 commented on #164
I recommended SOX in an answer on SU, and the OP of the question described this same problem (on Firefox/Greasemonkey).  It sounds the same as issue #125 (the final behavior before I reported it fixed, in my case, by the solution to issue #153).  But apparently, that wasn't a universal solution.

[2016-12-20 11:27] shu8 commented on #164
Thanks, I've reproduced this. It is a really irritating bug that keeps on popping up, so looks like I'm going to have to take an entirely different approach to this now :(

However, I've done as @fixer1234 suggested and have removed the whole access token setup part from the script until I have fixed it. Please could you reinstall [dev at](https://github.com/soscripted/sox/raw/dev/sox.user.js), to

[2016-12-20 11:32] shu8 commented on #98
@fixer1234 never mind, I think I've got a nice workaround... I'll update you after I've tried it :)

[2016-12-20 14:23] shu8 commented on #165
@fixer1234 fixed in [dev au](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-20 14:23] #165 closed

[2016-12-20 17:28] byronwall commented on #164
I am getting a similar error this morning, but it gives a better error message than before.

![image](https://cloud.githubusercontent.com/assets/495404/21360898/0ba7bc9c-c69f-11e6-8cd5-88c1496ab5e7.png)

And the URL that I ended on: https://stackexchange.com/oauth/login_success?assisted=7138&protocol=http&proxy=http://stackoverflow.com/blank#

[2016-12-20 17:44] shu8 commented on #164
@LoganDark @fixer1234 @byronwall Thanks for being patient with me! 😄

I've completely reworked the access token logic. Please could you install [dev av](https://github.com/soscripted/sox/raw/dev/sox.user.js) and a window should popup that will let you authorize the application and the token should be saved automatically.

BTW @byronwall you got that message this time because I've been changing a f

[2016-12-20 18:00] byronwall commented on #164
The new process completed successfully for me.  I no longer get the prompt to update the key with every refresh.

Thanks for knocking this out.

[2016-12-20 18:01] shu8 commented on #164
@byronwall 🎉 I'm glad it works for you now! 😃

It was admittedly a bit of a mess before, so hopefully this time round it'll work forever... :)

[2016-12-20 18:01] #164 closed

[2016-12-20 18:12] shu8 commented on #74
@IStoleThePies unfortunately it doesn't seem to fix this problem :/

What is the $(':target') selector supposed to reference? I don't think it applies that CSS to anything atm. And I've fixed that auto-default issue in [dev aw](https://github.com/soscripted/sox/raw/dev/sox.user.js)..

[2016-12-20 18:45] IStoleThePies commented on #74
@shu8 It applies to the targeted element in the hash (the stuff in the url after the hashtag). Basically, if you take the url of a page and add "#" and an element's id, it will take you to the element with that id. For example, going to the url `https://github.com/soscripted/sox/issues/74#partial-timeline-marker` will take you to the element with the id "#partial-timeline-marker".

This is predict

[2016-12-20 18:49] shu8 commented on #74
Ahh that makes sense. I appreciate you taking the time to try and fix this!
Thanks!

I'll see if messing around with the margin of the answers works. We could
try pushing the answers down if there is a comment hash thing detected in
the URL...

On 20 Dec 2016 6:45 p.m., "IStoleThePies" <notifications@github.com> wrote:

[2016-12-20 18:52] shu8 opened #166 "Which features do YOU use?"
@enki-code and I are trying to find out which features people find the most useful, but more importantly, **which features do you not like?**

Are there any features in SOX that you think...:

- are not useful at all?
- could be better?
- don't work as they should?

Or do you have any ideas for new features?

Also, we have [a Gitter chat room](https://gitter.im/soscripted/sox?utm_source=badge&utm_

[2016-12-20 18:52] IStoleThePies commented on #74
@shu8 I'd suggest Googling "fixed header anchor" and checking out the first few links (like [this one](https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header)). StackOverflow has a lot of different suggestions (none of which I've figured out how to apply).

[2016-12-20 20:17] toscho opened #167 "Impossible to obtain auth token"
### Installed Version: V2.0.1 Environment: Vivaldi(Chrome)/Tampermonkey

---
###  Expected Behavior

Not sure

---
### Actual Behavior

When I click on the cog icon on Stack Overflow, a new tab opens with the address

    https://stackexchange.com/oauth/login_success?assisted=7138&protocol=http&proxy=http://stackoverflow.com/blank#access_token=uZheW708dp1slS80U9MJPw))&state=5

The page content is:

[2016-12-20 20:27] calebkleveter commented on #167
I can re-produce this on my machine also. I get it every time using the dev version.

[2016-12-20 20:31] shu8 commented on #167
@toscho @calebkleveter This was just fixed a few hours ago [in the latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js) (#164). Please can you make sure you are using at least `dev aw`? Once installed, when you go to any SE site, a window should be opened (no alert this time!) to ask you to authorize the application, and finally an alert should say 'access token was saved, yo

[2016-12-20 20:39] shu8 commented on #98
@fixer1234 Turns out I was completely wrong! There *is* [a revisions API method](https://api.stackexchange.com/docs/revisions-by-ids)! I have no idea how I ever missed that!

But the good news is; I've added the revision comment to the notification now, from [dev ax](https://github.com/soscripted/sox/raw/dev/sox.user.js) onwards! 😃

Just hover over the question title in the notification and the to

[2016-12-20 20:58] toscho commented on #167
Yes, it works fine with the dev version. :)

Thank you!

[2016-12-20 21:05] #167 closed

[2016-12-20 21:28] LoganDark commented on #164
@shu8 It works, thanks!

[2016-12-20 22:46] c-stauffer opened #168 "error description: unexpected domain on proxy url"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey

---
###  Expected Behavior

---
### Actual Behavior

---
### SOX Errors logged to the browser console (if available)

---
### Steps to reproduce

[2016-12-20 22:48] shu8 commented on #168
I only just fixed this a few hours ago [in the latest dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js) (#164). Please can you make sure you are using at least `dev aw` (just install using this link)? Once installed, when you go to any SE site, a window should be opened (no alert this time!) to ask you to authorize the application, and finally an alert should say 'access token wa

[2016-12-20 22:54] c-stauffer commented on #168
That worked, I had installed stable when encountering the error. Thanks for the quick reply!

[2016-12-20 22:54] #168 closed

[2016-12-20 22:54] shu8 commented on #168
No problem :)

On 20 Dec 2016 10:54 p.m., "Chris Stauffer" <notifications@github.com>
wrote:

[2016-12-20 23:37] shu8 opened #169 "v2.0.2 merge checklist"
### v2.0.2  @soscripted/admins

- [x] Tested on Chrome
- [x] Tested on Firefox
- [x] Confirm access token can be made and saved automatically
- [x] Verify all features working correctly
- [x] Check console for errors
- [x] Update features list in Features Wiki (_update old descriptions_)
- [x] Update Contributing Wiki to reflect the latest structure
- [x] Update Contributing Wiki to reflect new he

[2016-12-21 00:18] shu8 commented on #74
@fixer1234 @IStoleThePies I've got this fixed in [dev ay](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :D

---

If you're curious...:

            function adjust() {
                setTimeout(function() {
                    sox.debug('fixedtopbar adjust function running');
                    var id = window.location.hash.match(/^#comment(\d+)_/)[1];
                    sox.debug('fi

[2016-12-21 00:18] #74 closed

[2016-12-21 02:06] IStoleThePies commented on #74
@shu8 Hmm...it doesn't seem to work on the answers, and it shifts around on comments when MathJax fully loads (I originally wrong a line to try and fix that). :/

[2016-12-21 06:34] fixer1234 commented on #163
@shu8  Confirmed.

[2016-12-21 06:46] fixer1234 commented on #74
@shu8 Just tried this with a couple of comments and a couple of answers.  All worked correctly for me.  Interesting, though, that the spacing is different.  After loading the page, SOX fine-tunes the positioning, sometimes with several little scrolls.  Answers end up tight against the topbar (completely visible but no blank space).  Comments end up with a cushion of several blank lines above them.

[2016-12-21 12:38] shu8 commented on #74
@IStoleThePies hmm, could you post a link to an answer that doesn't work? I can't reproduce that :/

Also, the MathJax section shouldn't be needed (I think) because now I'm just checking for whether the top of the comment is in view...

[2016-12-21 12:51] IStoleThePies commented on #74
@shu8 Here's an [example](https://astronomy.stackexchange.com/questions/13259/formulae-for-gravitatitional-equilibrium/18584#18584).

[2016-12-21 12:53] shu8 commented on #74
@IStoleThePies ah -- I thought you meant the problem was it doesn't shift for comments on answers! OK, reproduced, I'm working on a fix now :)

[2016-12-21 13:07] shu8 commented on #74
@IStoleThePies should be fixed [in dev az](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-21 13:17] IStoleThePies commented on #74
@shu8 Almost perfect, but it seems to jump on comments like [this](https://astronomy.stackexchange.com/questions/19253/how-can-gravity-lead-to-the-big-crunch-scenario/19261?noredirect=1#comment31256_19261). :/

[2016-12-21 13:19] tdwright-itg opened #170 "Error authenticating against SO"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey

---
###  Expected Behavior

SOX should be authorised by SO

---
### Actual Behavior

The authentication pop-up appears every time I try to access the SOX settings menu. The first time it appeared, I was prompted to authorise SOX, which I did. Then (and every time since) I got the following error:

---
### SOX Errors logged to the brow

[2016-12-21 13:38] shu8 commented on #170
I only just fixed this yesterday [in the dev version](https://github.com/soscripted/sox/raw/dev/sox.user.js) (#164). Please can you make sure you are using at least `dev aw` (just install using this link)? Once installed, when you go to any SE site, a window should be opened (no alert this time!) to ask you to authorize the application, and finally an alert should say 'access token was saved, you

[2016-12-21 13:44] tdwright-itg commented on #170
Thanks for the speedy response. That works like a charm. Great script by the way!

[2016-12-21 13:44] #170 closed

[2016-12-21 13:45] shu8 commented on #170
Thanks! I'm glad it's working for you now! :)

On 21 Dec 2016 1:44 p.m., "tdwright-itg" <notifications@github.com> wrote:

[2016-12-21 16:52] #169 closed

[2016-12-21 16:52] shu8 commented on #169
V2.0.2 has been pushed to master.

[2016-12-22 00:38] IStoleThePies commented on #88
@shu8 I'll try and check it out once a suggested edit pops up. On a side note I noticed that "Make title edits show seperately rather than merged in edit suggestions" misspells "separately".

[2016-12-22 00:41] IStoleThePies opened #171 "SOX settings search bar requires you to delete everything"
### Installed Version: 2.0.2DEVaz  Environment: Tampermonkey

If I make a typo when searching for features, the options won't reappear if I simply delete the last character. I have to completely delete everything in the search bar and retype what I was looking for.

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-answerTagsSearch","Appearance-dragBounty",

[2016-12-22 00:53] IStoleThePies opened #172 "Have arrows show up on the linked posts page"
### Installed Version: 2.0.2DEVaz  Environment: Tampermonkey

Right now, arrows only show up for linked posts on the sidebar. On questions like [this](https://stackoverflow.com/questions/156503/how-do-you-assert-that-a-certain-exception-is-thrown-in-junit-4-tests?rq=1), there is a "see more linked questions…" link under the "Linked" section, which will list all the linked questions. Perhaps you co

[2016-12-22 01:25] IStoleThePies commented on #134
@shu8 Doesn't seem to work on some sites, like [here](https://stackapps.com/questions/7127/sentinel-monitoring-new-answers-to-old-questions) or [here](http://es.stackoverflow.com/questions/40453/como-obtener-el-nombre-del-key-en-un-json). :/

[2016-12-22 07:09] fixer1234 commented on #74
@shu8 I spoke to soon.  This works most of the time, but I've run into a few cases where it doesn't.  Sometimes, clicking on a comment in the inbox opens the thread, but the comment is positioned covered by the top bar.  It isn't consistent.  Clicking on the same comment in the inbox will open another time with the comment below the topbar.  This may be hard to capture console output for unless I

[2016-12-22 07:28] fixer1234 opened #173 "New feature request: Review queue page indicator for Meta site reviews"
### Installed Version: 1.X.X  Environment: Chrome/Tampermonkey

### Current Behaviour
All of the review queues for the site, itself, show a count of posts in each queue available for review.  The Meta site has a link at the bottom for its review queues, but no indication of whether there is anything to review.  It's fairly rare for there to be anything in the Meta site review queues, so clicking o

[2016-12-22 08:42] fixer1234 commented on #98
@shu8 Haven't done exhaustive testing yet, but this is shaping up to be a very complete and polished mini-app.  Most of the features work great.  A few minor glitches:

- The topbar icon doesn't reflect anything.  To me, all of the SE and SOX icons look grey on a black topbar in their "inactive" state.  The moderator diamond turns visibly blue if there are new Meta questions.  This message box ico

[2016-12-22 09:42] fixer1234 opened #174 "Edit comment sometimes not working"
### Installed Version: 2.0.3 Dev A  Environment: Firefox/Greasemonkeymonkey
This feature was working earlier.  First noticed in one of the last 2.0.2 Dev versions (maybe ~AZ; I skipped some of the last flurry, so the relevant change could have been earlier)
Different issue from #87

### Current Behaviour
Hovering over the right side of the edit history link, shows the date/time as expected.  Hover

[2016-12-22 10:22] fixer1234 commented on #166
@shu8 I generally post any issues and improvement suggestions.  The "not useful at all" really depends on the user.  Some features only work on selected sites.  If you don't use those sites, those features won't be useful.  Some are focused on things like bounties.  Those will be useful for people who focus on bounties, and irrelevant to those who don't.  Features about appearance preferences will

[2016-12-22 11:21] shu8 commented on #174
@fixer1234 for your second link where it didn't work originally -- did you hover over it directly after editing it yourself?

Because this feature, right now, only runs on page load, so anything that happens after the page has loaded won't be detected.

I'm open to looking into changing that though, but it'd help if I was sure this is actually the problem so I don't end up fixing something complet

[2016-12-22 11:53] shu8 commented on #134
@IStoleThePies fixed [in dev 2.0.3 ab](https://github.com/soscripted/sox/raw/dev/sox.user.js) -- it was a problem with not being able to get the api parameter for those few sites :/

[2016-12-22 11:53] shu8 commented on #171
@IStoleThePies fixed [in dev 2.0.3 b](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-22 11:53] #171 closed

[2016-12-22 11:54] shu8 commented on #173
@fixer1234 added in [dev 2.0.3 b](https://github.com/soscripted/sox/raw/dev/sox.user.js) :) It's the last one in the Unsorted section.

[2016-12-22 11:54] #173 closed

[2016-12-22 12:44] Gloin1313 opened #175 "Installation needs access token"
### Installed Version: 2.0.3DEVb  Environment: Safari/Tampermonkey

### Current Behaviour

I am trying to use SOX, following these instructions, I clicked 'install' (development version) and the gears appear at the top of the page, but every time I open a page on SO, I get this message:
![screen shot 2016-12-22 at 12 25 29](https://cloud.githubusercontent.com/assets/22625968/21425983/4af51e34-c844

[2016-12-22 12:48] shu8 commented on #175
I haven't tested this script on safari (I wasn't even aware that you could
get tampermonkey on safari) so I can't say for certain, but do you have a
pop-up blocker enabled?

Try disabling it which should let the window open. Once that window opens,
you'll get an alert that the access token has been saved and it is safe to
close the window

If that doesn't work, please comment back and I'll see if

[2016-12-22 12:54] Gloin1313 commented on #175
Thank you!
Safari has a default pop-up blocker which I turned off using [this tutorial](http://www.bestbuy.com/site/tech-tips/disable-popup-blocker/pcmcat748301880694.c?id=pcmcat748301880694).
All works fine now!

[2016-12-22 12:54] #175 closed

[2016-12-22 12:57] shu8 commented on #175
Great! I'm glad it's working for you now! And thanks for showing me you can
get tampermonkey for safari! :)

On 22 Dec 2016 12:54 p.m., "Gloin1313" <notifications@github.com> wrote:

[2016-12-22 13:02] Gloin1313 commented on #175
It is available for Chrome, Microsoft Edge, Safari, Opera Next, and Firefox in case you are interested. Ninjakit appeared to be the recommend user script manager for safari according to the SOX [installation guide](http://stackapps.com/questions/6091/stack-overflow-extras-sox), but following the link to the GitHub page, then the safari install button on the GitHub page did nothing. Just a page of

[2016-12-22 13:05] shu8 commented on #175
Oh wow! I never knew it was available for so many browsers! I will change
the installation guide in a bit because I love tampermonkey and it's always
reliable! :)

On 22 Dec 2016 1:02 p.m., "Gloin1313" <notifications@github.com> wrote:

[2016-12-22 13:36] shu8 commented on #172
@IStoleThePies The thing is, that this feature ATM just scrapes each page on the linked section to see whether they link to the current page -- if I do this for more than about 10 or so, then SE's going to throttle you because 'you' (the script actually) are sending too many requests too quickly.

---

However I just thought that I *could* instead use the API and then it would all be done in one r

[2016-12-22 13:37] shu8 commented on #166
@fixer1234 thanks! I like that idea and I'll start making a form now and post it ASAP :)

[2016-12-22 13:48] IStoleThePies commented on #171
@shu8 Almost perfect, but doesn't seem to work on [Area 51 Discussions](http://discuss.area51.stackexchange.com/questions/26104/douplication-of-another-board).

[2016-12-22 14:16] IStoleThePies opened #176 "Add numerical notifier for "notify on edit""
### Installed Version: 2.0.3DEVb  Environment: Tampermonkey

Currently, updates to your "notify on edit" button will look like this:

<img width="560" alt="screen shot 2016-12-22 at 9 14 59 am" src="https://cloud.githubusercontent.com/assets/5375326/21428292/3fae39ce-c827-11e6-91f9-7980ecbdf766.png">

Perhaps instead, you could add a number showing how many updates there are, just like in the inbo

[2016-12-22 15:28] Franck-Dernoncourt opened #177 "Clicking on 'share' link copies the `[post-name](url)` to the clipboard"
In the spirit of the "Unsorted-shareLinksMarkdown" feature (Change 'share' link to format of `[post-name](url))`, that would be great to have an option that would cause clicking on 'share' link to copy the `[post-name](url)` to the clipboard (my JavaScript knowledge is fuzzy, but that seems feasible: [How do I copy to the clipboard in JavaScript?](http://stackoverflow.com/a/30810322/395857))

[2016-12-22 15:32] Franck-Dernoncourt opened #178 "The feature "Unsorted-shareLinksMarkdown" doesn't work on this page"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

The feature "Unsorted-shareLinksMarkdown" doesn't seem to work on this page for neither the question nor the answers: http://stackoverflow.com/q/400212/395857

---

### Steps to reproduce

go to http://stackoverflow.com/q/400212/395857 and click on `share`

![image](https://cloud.githubusercontent.com/assets/15331/2143

[2016-12-22 15:42] shu8 commented on #178
@Franck-Dernoncourt I can't reproduce this -- is it still happening? if it is, please could you enable debugging (at the bottom of the dialog) and press F12 and copy-paste the console log here? :)

[2016-12-22 15:52] shu8 commented on #88
@IStoleThePies thanks! I hope you find a solution! :P

Nice catch! I've fixed the typo locally

[2016-12-22 15:56] fixer1234 commented on #174
@shu8 I'm pretty sure I returned to both sample pages for the test, so it wasn't immediately after the edit, but I can't bet the farm on it.  I just went to the "bad" link and it's working properly now.  Since there's a possibility that I'm wrong, why don't you delay spending time on this one.  I'll keep my eye out for it and try to verify and report back.

[2016-12-22 16:03] Franck-Dernoncourt commented on #178
sure:
[code]

(thanks for the awesome extension by the way!)

[2016-12-22 16:23] shu8 commented on #172
@IStoleThePies I remember now, as I start to do it -- if I use the API, it's takes a lot more requests to get each answer's id of a question and then get their body afterwards.

I think it's better to scrape the page because it's quicker (and easier :P) and seems to actually make less requests :/

[2016-12-22 16:26] shu8 commented on #177
@Franck-Dernoncourt done in [dev c](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-12-22 16:26] #177 closed

[2016-12-22 16:26] shu8 commented on #178
@Franck-Dernoncourt Thanks, can you try again and see if it works in [dev c](https://github.com/soscripted/sox/raw/dev/sox.user.js)? :)

[2016-12-22 16:29] Franck-Dernoncourt commented on #178
it works, thanks!

[2016-12-22 16:30] #178 closed

[2016-12-22 17:30] shu8 commented on #171
@IStoleThePies yeah the API doesn't work on area51, so I don't think I'll be able to get that to work :(

[2016-12-22 17:34] shu8 commented on #98
@fixer1234 thanks! I'll look into the first 3 bullet points

- about your 4th one: as soon as you unwatch a post, the script won't check for edits on it at all again. (it checks every 15 minutes btw). so you were right in saying `if Notify on edit is not enabled at scan time, there will be no message`.

- about your 5th one: it's not *supposed* to work on tag wikis yet -- I'll try and disable the

[2016-12-22 17:54] fixer1234 commented on #176
@IStoleThePies I noticed on a couple of your posts you include that Features Enabled list.  How do you generate that?

@shu8 I see the bold, blue message box icon in the screenshot above.  Just FYI, that doesn't appear on mine.  I have 2.0.3 Dev A loaded, so don't know if that changed in Dev B or the issue is specific to my configuration.

[2016-12-22 18:15] shu8 commented on #176
@fixer1234 the features enabled list should come be added automatically, but it seems like it's another FF-only issue *sigh* :P I'm working on a fix

it's weird you don't see the blue bold icon... It should be there since around 2.0.2devaz...

[2016-12-22 18:27] shu8 commented on #176
@fixer1234 I've fixed the auto-populate issue in [dev d](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

I need to look a bit more into your icon issue though

[2016-12-22 18:41] fixer1234 opened #179 "Author last seen no longer showing up [the status info, not the author :-) ]"
### Installed Version: 2.0.3 Dev A  Environment: Firefox/Greasemonkey

### Current Behaviour
Just noticed that the Author last seen info is no longer appearing.  If memory serves, in one of the last 2.0.2 Devs (may ~AX), which was the previous installed version, that info position moved from what used to be left or center aligned (forget which), to the right side (but still at the top of the comme

[2016-12-22 19:11] shu8 commented on #179
I've just realised something: SE doesn't allow you to have multiple access tokens for one application! :(

Which stupidly means that you won't be able to use multiple browsers or systems :(

I have a feeling that's the problem you're having. I know this will be a pain to reconfigure, but please could you reset sox and get another access token?

If that fixes it, what I'll do is make a way for you

[2016-12-22 19:55] Franck-Dernoncourt commented on #112
Do you think it could be possible to disable SE's own undo method (so that the browser's default undo method is used)? If so, that could be an interesting feature, as SE's undo method can be annoying.

[2016-12-23 03:24] wgrundlingh opened #180 "Fixed top-bar overlaps with scrolling review queue options"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

When reviewing content, one can scroll down to view an entire post. The review queue options follow the scrolling, always staying at the top. However, with the fixed top-bar active, the top-bar and the review queue options overlap:

![](https://i.stack.imgur.com/neJb3.gif)

---

### SOX Errors logged to the browser con

[2016-12-23 03:38] fixer1234 commented on #179
@shu8 Removed SOX, reset profile, loaded Dev E.  Author last seen is back.  I haven't tested how any other platforms have been affected, but it's now working on the one that was previously a problem.

[2016-12-23 03:40] fixer1234 commented on #173
@shu8 Nice.

[2016-12-23 03:44] fixer1234 commented on #176
@shu8 Confirmed.  Auto-populate works.

[2016-12-23 03:53] fixer1234 commented on #174
@shu8 I'm now on Dev E and testing various features.  I retested this issue on a bunch of random posts and they all worked properly.  I guess it's possible that I hadn't refreshed that bad example, and the previous instances might have been the same situation (never made a note of the conditions, only remembered encountering them).  Since this can't be reproduced anymore, I'll close it.  We can al

[2016-12-23 03:53] #174 closed

[2016-12-23 05:19] wgrundlingh opened #181 "Closure blocks overlap with post title or are misaligned"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

Reasons for closure is posted as part of a search: red = Closed; orange = Duplicate; blue = Migrated

The closed box overlaps with the question title in some instances on [TeX - LaTeX](http://tex.stackexchange.com):

![image](https://cloud.githubusercontent.com/assets/1776164/21447599/d85d985e-c88b-11e6-8bae-e3fe8e7018

[2016-12-23 05:27] wgrundlingh opened #182 "Extra CSS voting/favourite button animation works beyond Android.SE"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

Option under Voting mentions "Add extra CSS for voting signs and favourite button" is "currently only on Android SE". However, this seems to work on other sites on the network as well. Here's a view on [Meta.SE](http://meta.stackexchange.com):

![tex-se](https://cloud.githubusercontent.com/assets/1776164/21447698/4ad6c

[2016-12-23 06:33] wgrundlingh opened #183 "Improved listing of answers are misaligned horizontally"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

The improved listing of answers are horizontally misaligned; the arrows are left-of-centre compared to "Score: X":

![image](https://cloud.githubusercontent.com/assets/1776164/21448328/51a7c0ea-c896-11e6-885e-5204c0b245b4.png)

Additionally, a 0-score (or perhaps unvoted) answer seems to have an extra coloured vote "bu

[2016-12-23 07:08] fixer1234 opened #184 "Notification when downvoted question edited: gone"
### Installed Version: 2.0.3 DEV e  Environment: Firefox/Greasemonkey

### Current Behaviour
The feature is selected in the SOX menu, and the topbar icon appears on the review queue page and post review pages, and my user profile page.  However, the topbar icon does not appear on individual post pages or main page, and no posts have the  Notify on edit button.

---

### SOX Errors logged to the br

[2016-12-23 13:20] shu8 commented on #182
@wgrundlingh By `currently only on Android SE`, I meant that this feature is currently only implemented by SE on the Android site.

However, I can see how that could be confusing now... do you have any ideas on how I could concisely rephrase that? :)

[2016-12-23 13:52] shu8 commented on #181
@wgrundlingh Do you happen to have SOUP installed? I can reproduce this when I enable SOUP, so I'll see if I can come up with a fix :)

[2016-12-23 16:16] wgrundlingh commented on #181
@shu8 I do have SOUP installed, yes.

[2016-12-23 16:32] wgrundlingh commented on #182
@shu8 I think one can remove the reference `currently only on Android SE` from the main list so it just reads (suggestion; note the change):

    Add extra CSS for animation actions on voting and favourite buttons

The expandable information bullet can reference the fact that it's currently only available on Android.SE. Something like

    Pulse effect when hovering over the upvote/downvote/favour

[2016-12-23 16:43] shu8 commented on #180
@wgrundlingh thanks for the bug report! fixed in [dev f](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-12-23 16:43] #180 closed

[2016-12-23 16:43] shu8 commented on #182
@wgrundlingh thanks! changed in [dev f](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-12-23 16:43] #182 closed

[2016-12-23 16:43] shu8 commented on #181
@wgrundlingh @wgrundlingh fixed in [dev f](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

thanks for the bug report! :) We've had a few conflicts with SOUP, and I'm really keen on keeping the 2 scripts compatible with each other, because they complement each other so well, so please do tell me if you see anything similar! :)

[2016-12-23 16:43] #181 closed

[2016-12-23 16:46] shu8 commented on #179
@fixer1234 thanks, I'm pretty sure it will have been that issue :(

I'm going to make a little input box in the dialog that can be expanded so you can paste your access token across configurations :) I'll ping you when it's ready

[2016-12-23 16:46] #179 closed

[2016-12-23 17:06] shu8 commented on #184
@fixer1234 sorry, an error slipped through :/

fixed [in dev g](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-23 17:06] #184 closed

[2016-12-23 17:09] shu8 commented on #183
@wgrundlingh thanks again! fixed in [dev h](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-23 17:09] #183 closed

[2016-12-23 20:22] KazWolfe opened #185 "Feature Request: Make the AskUbuntu Topbar like every other site"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

Currently, the AskUbuntu Topbar looks very dissimilar to the topbar on all other sites:

![](http://image.prntscr.com/image/1aa0adfd9d784b5aaf67d1cbeb77bb07.png)

Compare this to something like Arqade's topbar:

![](http://image.prntscr.com/image/877a10668f9f47918804a30990733c72.png)

### Expected Behavior

The AskUbun

[2016-12-23 20:52] shu8 commented on #176
@IStoleThePies I've added a first version of this in [dev i](https://github.com/soscripted/sox/raw/dev/sox.user.js):

![this](https://cloud.githubusercontent.com/assets/8850830/21462236/8a978ed8-c951-11e6-89f6-a1e0596a0a74.png)

As you can see, it's fairly bad-looking right now, and I'm going to change that and I'm completely open to suggestions on how the indicator could look. I couldn't manage t

[2016-12-23 20:54] #176 closed

[2016-12-23 21:14] shu8 commented on #185
@KazWolfe I've done this in [dev j](https://github.com/soscripted/sox/raw/dev/sox.user.js), but it's an **optional setting** to enable on ask ubuntu, which you'll need to enable by:

- clicking the `>` arrow next to the fixed topbar setting in the dialog,
- checking the checkbox, and
- clicking the save button **underneath the checkbox** (not the main big one!)

---

It's optional because it gets

[2016-12-23 21:14] #185 closed

[2016-12-23 21:28] shu8 commented on #112
@Franck-Dernoncourt that's an interesting idea, but I've had a look [at their code](https://cdn-dev.sstatic.net/Js/wmd.en.js), and if it *is* possible, I have no idea how to :(

I don't think it'll be possible to do that unfortunately 😞

[2016-12-24 03:19] fixer1234 opened #186 "Editor enhancements (Kbd/List and SBS) gone"
### Installed Version: 2.0.3 DEV j  Environment: Firefox/Greasemonkey

### Current Behaviour
The Kbd/List and SBS buttons have disappeared.  Checked on SU and Meta posts, Your Answer box, and Ask Question.  Unaffected by page refresh.

---

### SOX Errors logged to the browser console -- F12 (if available)
Since this applies to all edit windows, including Your Answer, I just loaded a random thread

[2016-12-24 05:58] fixer1234 commented on #176
@shu8 It appeared but the behavior is buggy (part of a collection of buggy behavior on issue #98).  It will be easier to include this there.

[2016-12-24 07:37] fixer1234 commented on #98
@shu8 Now using Dev J and running into some buggy behavior with a number of aspects of this feature.

First some misc. observations:

- When an edit is saved locally, or an external edit has occurred and you click the warning that there was an edit, click to refresh the page, the Notify on edit button disappears (regardless of whether active).  Refreshing the page restores it.  A direct tag edit (

[2016-12-24 07:54] wgrundlingh opened #187 "quickAuthorInfo CSS applies to first comment if it fails finding author info"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

The first visible comment on a post (question or answer; highlighted below) has a lighter colour, matching that of the `share edit close flag notify on edit` buttons:

![image](https://cloud.githubusercontent.com/assets/1776164/21465916/cefa400c-c96a-11e6-9cec-faacaff4f1fa.png)

---

### SOX Errors logged to the browse

[2016-12-24 08:23] fixer1234 commented on #98
@shu8 I'll add to the saga:

- After completing the above post, I deselected Notify on edit on all of the open tabs and deleted the messages in the box.  There was one edited post still actively watched where I had accidentally closed the tab earlier, so I couldn't find it to deselect it.

- I enabled Notify on edit on several new edits.  Roughly 2 minutes after one of those edits, the (1) icon po

[2016-12-24 16:26] shu8 commented on #186
@fixer1234 should be fixed in [dev k](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-24 16:28] shu8 commented on #187
@wgrundlingh that actually seems to be that the quickAuthorInfo feature isn't fully working.

Please could you enable debugging (from the settings dialog) and paste the console log here? :)

[2016-12-24 17:25] wgrundlingh commented on #187
@shu8 I've added the error log. Hope this is what you're looking for. And yes, the quickAuthorInfo CSS isn't loading.

[2016-12-24 17:28] Franck-Dernoncourt commented on #186
Thanks,  the fix worked for me.

[2016-12-24 17:52] Franck-Dernoncourt opened #188 "Clicking on 'share' link messes up the link"
### Installed Version: 2.0.3DEVk  Environment: Tampermonkey

### Current Behaviour

Clicking on 'share' link messes up the link. E.g. if I go on http://stats.stackexchange.com/q/252525/12359 and click on `share`, I will get `[Does anyone know what the intuition of H-volume is?]([Does anyone know what the intuition of H-volume is?](http://stats.stackexchange.com/q/252525/12359))`

---

### SOX Erro

[2016-12-24 18:16] Franck-Dernoncourt opened #189 "Trimming before applying kbd"
### Installed Version: 2.0.3DEVk  Environment: Tampermonkey

### Current Behaviour

If I select `A ` (A followed by a whitespace) in the text editor, then click on `kbd`, I get `<kbd>A </kbd>`. It would be nice to trim before adding the kbd tag, e.g. getting `<kbd>A</kbd> ` instead.  The main motivation is that double-clicking on a word often selects  the following whitespace:

![image](https://cl

[2016-12-24 18:38] shu8 commented on #189
@Franck-Dernoncourt done in [dev l](https://github.com/soscripted/sox/raw/dev/sox.user.js)! :)

[2016-12-24 18:38] #189 closed

[2016-12-24 18:38] shu8 commented on #188
@Franck-Dernoncourt thanks for catching that!

fixed in [dev l](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-24 18:38] #188 closed

[2016-12-24 18:41] Franck-Dernoncourt commented on #189
It works, thanks! :+1:

[2016-12-24 18:42] Franck-Dernoncourt commented on #188
thanks, I confirm the issue is fixed

[2016-12-24 18:59] fixer1234 opened #190 ""Get token" repeat quirk"
### Installed Version: 2.0.3 DEV k  Environment: Firefox/Greasemonkey

### Current Behaviour
(This started with Dev J, I think): I often have at least three SU tabs open concurrently--the main page, the review queues, and my profile page so I can jump to bookmarked threads.  After installing the new SOX, I refresh whichever SU page I land on (that's determined by the last page I was on before inst

[2016-12-24 19:10] fixer1234 commented on #186
@shu8 The fix didn't work for me, those features are still gone.  Reopen?  Need new console output?

[2016-12-24 19:17] Franck-Dernoncourt commented on #186
hmm I see Ask Question works but not Your Answer box. Sorry I should have checked both (I was just asking question this morning :))

[2016-12-24 19:26] fixer1234 commented on #186
I hadn't rechecked Ask Question before posting, but that one also still doesn't work on my system.

[2016-12-24 19:57] Franck-Dernoncourt commented on #186
Interesting. I use V2.0.3DEVL

[2016-12-24 20:08] shu8 commented on #186
It'll probably be a Firefox thing again :P

I'll check it out as soon as possible :)

On 24 Dec 2016 7:57 p.m., "Franck Dernoncourt" <notifications@github.com>
wrote:

[2016-12-25 03:54] fixer1234 commented on #88
@shu8 I'm now running Dev K and have seen a bunch of title edits in the review queue.  So far, I think all of them are displaying correctly.  I'll keep my eye out for this, but through the prior dev version on which I saw title edits, they were still not displayed correctly.  Could be something else you fixed solved this problem.  At least a hopeful sign.

[2016-12-25 16:29] jcollum commented on #186
Confirmed on 2.0.2. The SBS Editor button was there a couple of days ago. Now it's gone.

[2016-12-25 20:23] fixer1234 commented on #179
@shu8 It's back (must be a Terminator problem).  Using Dev K.  No author status info.

[2016-12-25 20:51] fixer1234 opened #191 "Comment scores missing"
### Installed Version: 2.0.3 DEV k  Environment: Firefox/Greasemonkey

### Current Behaviour
Another feature has suddenly disappeared (must have a common denominator).  The comment score are missing on the profile page.

---

### SOX Errors logged to the browser console -- F12 (if available)
Likely the same cause as other features that also suddenly went missing when something unrelated got change

[2016-12-25 20:56] IStoleThePies opened #192 "Fixed topbar no longer works"
### Installed Version: 2.0.3DEVl  Environment: Tampermonkey

The fixed topbar no longer seems to work in this version.

---

### Features Enabled

    ["Appearance-addAuthorNameToInboxNotifications","Appearance-answerTagsSearch","Appearance-dragBounty","Appearance-fixedTopbar","Appearance-metaChatBlogStackExchangeButton","Appearance-metaNewQuestionAlert","Appearance-spoilerTip","Appearance-standOu

[2016-12-26 06:13] fixer1234 opened #193 "Edit window corruption"
### Installed Version: 2.0.3 DEV k  Environment: Firefox/Greasemonkey

### Current Behaviour
This has happened two or three times and isn't reproducible on command, so console output catching it in the act may be difficult.  I'll go to edit a post.  With SBS disappeared (issue #186, it's possible this is related and could disappear when the other is fixed), I drag the bottom border of the edit win

[2016-12-26 06:22] fixer1234 commented on #192
I thought you were referring to the text positioning issue relative to the topbar, so I tested it on my own system.  It looks like you're referring to the topbar, itself.  This looks like another feature that has mysteriously disappeared.  The topbar is no longer fixed at the top (it scrolls out of view).  Jumping to a post or comment via a link, the topbar isn't visible at all.

[2016-12-26 17:55] fixer1234 opened #194 "SOX hanging Firefox"
### Installed Version: 2.0.3 DEV k  Environment: Firefox/Greasemonkey

### Current Behaviour
Starting with either this dev release or the one before, SOX is causing Firefox to become unresponsive after extended use.  Response slows down to, for example, 5-10 seconds delay in typing being displayed.  After a short period of that, Firefox hangs and eventually displays the warning about a bad script.

[2016-12-26 18:12] shu8 commented on #191
@fixer1234 looks like an access token issue -- it says 'key is not valid for passed access token' -- is this the machine you last got an access token for?

I'm sorry I have to keep asking you to do this, but you'll need to reset SOX again to get a new access token :(

---

BTW, I am thinking of having an option where you can 'backup' your settings so when you reset you can paste them back in -- I'

[2016-12-26 18:22] shu8 commented on #186
@fixer1234 @jcollum @Franck-Dernoncourt Please could you try again in [dev m](https://github.com/soscripted/sox/raw/dev/sox.user.js)? :)

[2016-12-26 18:22] shu8 commented on #193
@fixer1234 I can't actually reproduce this, but could you try in [dev m](https://github.com/soscripted/sox/raw/dev/sox.user.js) and see if it still happens?

[2016-12-26 18:23] shu8 commented on #192
@IStoleThePies @fixer1234 me being stupid again... fixed in [dev m](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-26 18:23] #192 closed

[2016-12-26 18:24] jcollum commented on #186
Looks good to me.

[2016-12-26 18:25] Franck-Dernoncourt commented on #186
doesn't work for me in the "your answer" edit box. (Google Chrome)

![image](https://cloud.githubusercontent.com/assets/15331/21485279/cf4a80fc-cb6e-11e6-8126-7bc590f0058b.png)

[2016-12-26 18:27] jcollum commented on #186
I'm seeing it in both.

[2016-12-26 18:28] Franck-Dernoncourt commented on #186
are you on chrome?

[2016-12-26 18:50] fixer1234 commented on #190
@shu8 Just loaded dev M and it didn't do this, so maybe whatever triggered the problem was fixed.  I'll close it.

[2016-12-26 19:14] fixer1234 commented on #191
@shu8 This is on the machine that I reset and got a new token.  It's possible that I also used SOX on another machine that was still using the old token.  Could that be the problem?  If so, how do I use SOX on multiple machines?  Is the token tied to the machine or the SE account?

It looks like you were right about the cause.  I installed dev M, reset the account, got a new token, and now comment

[2016-12-26 19:24] fixer1234 commented on #193
@shu8 This was very intermittent.  It happened two or three times over a number of days.  I've loaded dev M and I'll keep my eye on it.

[2016-12-26 19:31] fixer1234 commented on #186
Dev M loaded, Firefox/Greasemonkey.  No Kbd/List or SBS on Q/A edit, Your Answer, or Ask Question.  Also missing on Improve Edit in Edit review queue.

[2016-12-26 19:36] fixer1234 commented on #192
@shu8 Dev M, confirm: works on threads, Q/A post links, comment links, and inbox links.

[2016-12-26 19:46] shu8 commented on #191
@fixer1234 so this what I was saying about the textfield that I'm going to add that will allow you to paste in an access token so you can use it on multiple computers/browsers.

It should be ready soon...

thanks for the suggestion, but I don't think that'll work because if you either delete and reinstall or reset sox then all settings are erased, and we can't have any say over keeping any of them

[2016-12-26 20:02] shu8 commented on #186
@fixer1234 you're right. it's FF, again 😞

working on a fix

[2016-12-26 20:05] fixer1234 commented on #179
@shu8 Loaded Dev M and the information is showing up again on regular posts.  It doesn't show up in review queues, though (not sure that was ever part of the feature).  If it's not designed to work there, think about adding it.

How you respond to a post in the review queue can be different if it's an older post and the author was a "fly-by" who has never returned (no sense leaving a lengthy comme

[2016-12-26 20:19] shu8 commented on #186
@fixer1234 @Franck-Dernoncourt @jcollum ok.... should 🤞  be fixed on Chrome and FF in [dev n](https://github.com/soscripted/sox/raw/dev/sox.user.js) now...

please can you confirm?

[2016-12-26 20:21] Franck-Dernoncourt commented on #186
thanks, it works with me (Google Chrome), both when asking a question or
answering a question.

On 26 December 2016 at 15:19, ᔕᖺᘎᕊ <notifications@github.com> wrote:

[2016-12-26 20:40] shu8 commented on #187
@wgrundlingh thanks, but it seems you might have the 'network' option disabled in your console -- please could you enable the network option and post the log again? Sorry for the late reply!

[2016-12-26 20:42] shu8 commented on #98
I just noticed something from one of your console dumps in another issue: the live feature doesn't work for meta posts right now. That might be the cause for some, but not all, of these issues?

[2016-12-26 20:53] fixer1234 commented on #191
@shu8 "Backup" is the operative word.  Store a backup of the settings somewhere outside of SOX (like a cookie?).  But if that isn't possible, something like you propose to manually save the settings to, say, your own text file, and a way to paste them back would still work.  It would still need to advise the user about new features not included in the saved settings.

re: tokens--I do have multipl

[2016-12-26 20:55] shu8 commented on #191
you can open SOX on multiple computers, just make sure you don't allow that
popup to open that gets another access token.

I'm working on the paste-in thing now, should be ready by at the latest
wednesday, depending on whether I run into any problems...

On 26 December 2016 at 20:53, fixer1234 <notifications@github.com> wrote:

[2016-12-26 20:56] fixer1234 commented on #98
@shu8 That might also be a problem, but none of what I tested involved Meta posts.

[2016-12-26 21:02] fixer1234 commented on #190
@shu8 The quirk returned in dev N.

[2016-12-26 21:11] fixer1234 commented on #186
@shu8 Dev N loaded, Firefox/Greasemonkey.  The buttons are back for me on Q/A post edits, Ask Question, Your Answer, and review queue edits.

If I'm reading the history right, I think everybody who reported the issue has said it's now working, so I'll close it.

[2016-12-26 21:12] wgrundlingh commented on #187
I'm unfamiliar with working under the console. How do I do that?

[2016-12-26 21:14] shu8 commented on #187
@wgrundlingh no problem, here's what to do:

![this](https://cloud.githubusercontent.com/assets/8850830/21486656/35331fc8-cbb0-11e6-9ebd-b98d6c9ecc66.png)

(just follow the steps and make sure everything looks the same :)

[2016-12-26 21:16] shu8 commented on #190
@fixer1234 is the problem the fact that it asks you to get the token again?

if so, it seems like it's because you didn't refresh the 2nd page, so TM/GM doesn't know the token was already saved on the previous tab before refreshing (AFAIK, TM/GM retrieve saved values on page load)...

If not, please could you clarify it a bit? :)

[2016-12-26 21:29] shu8 commented on #191
@fixer1234 turns out it was pretty simple :P

you can now paste in an access token in [dev o](https://github.com/soscripted/sox/raw/dev/sox.user.js).

Here's what I suggest you do:

- on your main computer/browser, reset SOX (last time hopefully)!
- let the popup show and let it save the access token
- don't close the popup: copy and paste the access token somewhere/email it to yourself
- on all o

[2016-12-26 21:33] shu8 commented on #194
@fixer1234 i can't reproduce this, but i have a feeling it could have been related to some dodgy mutation observers I'd had... or some failing API calls.

please install [dev o](https://github.com/soscripted/sox/raw/dev/sox.user.js) and keep your eye out for it happening again :)

[2016-12-26 22:22] fixer1234 commented on #190
@shu8 I typically have several SE tabs open, so when SOX is installed, the cogs icon appears on several tabs.  I go to one of the SE tabs (random), and refresh the page.  That triggers the get-token routine, after which I close the token page (used to be an SO page).  I believe I end up back on the SE page from which I launched the get-token action.

My recollection is that the SOX menu is already

[2016-12-26 22:32] fixer1234 commented on #191
@shu8 Are you planning to wait until SOX is perfect before implementing a way to save the settings?  That sure would be handy now.  Just sayin'.

[2016-12-26 22:59] shu8 commented on #191
Lol it's a work in progress.. need to work out a few problems ;(

On 26 Dec 2016 10:32 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-12-26 23:00] shu8 commented on #190
Oh ok I think I understand now.
I think I know which line might be causing it. I'll push a fix tomorrow
when I get a bit more time :)

On 26 Dec 2016 10:22 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-12-27 00:56] wgrundlingh commented on #187
I have exactly that:

![image](https://cloud.githubusercontent.com/assets/1776164/21487904/43cd0bc6-cb8c-11e6-9d21-1e343384a192.png)

[2016-12-27 04:30] IStoleThePies commented on #192
@shu8 Checking "enable on Ask Ubuntu" doesn't seem to do anything. In fact, it seems to uncheck itself every time I leave the page I'm currently on.

[2016-12-27 05:47] fixer1234 commented on #194
@shu8 There is no Dev O.  The installer still shows Dev N.

[2016-12-27 08:09] fixer1234 commented on #192
@shu8 Using Dev N.  Went to this link from a comment in my comment history:  http://superuser.com/questions/1159733/automatically-sorting-a-column-on-a-new-excel-spreadsheet-every-day#comment1670671_1159733.  The top of the comment was hidden behind the topbar.  Refreshing the page didn't change that.  I Enabled debugging in the SOX menu and it displayed properly.  Disabling debugging put it back

[2016-12-27 08:19] fixer1234 commented on #191
@shu8 Comment score was previously working automatically on comment history pages after the first.  At one point prior to polishing that feature, pages after the first required a page refresh to display the buttons.  I'm running Dev N and found that the requirement to refresh pages after the first is again haunting SOX.  So whatever you did before to fix it, do that again.

[2016-12-27 15:07] shu8 commented on #187
@wgrundlingh oh, I'm sorry! I didn't see the very last line of your console that you posted last time, which shows the error!

It looks like the problem is that your access token is no longer valid -- did you request a new access token on a different browser/computer? You can get a new token by going to this link: https://stackexchange.com/oauth/dialog?client_id=7138&redirect_uri=http://soscripted

[2016-12-27 15:14] shu8 commented on #194
@fixer1234 sorry, I don't know what happened there :/

That link should now show dev o

[2016-12-27 15:14] shu8 commented on #192
@IStoleThePies yeah I saw that happening -- it should be fixed in [dev o](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-27 15:32] shu8 commented on #191
@fixer1234 fixed in [dev p](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-27 15:32] shu8 commented on #192
@fixer1234 can't repro, but can you try [dev p](https://github.com/soscripted/sox/raw/dev/sox.user.js)?

[2016-12-27 15:33] shu8 commented on #190
@fixer1234 does it happen in [dev p](https://github.com/soscripted/sox/raw/dev/sox.user.js)?

[2016-12-27 15:35] wgrundlingh commented on #187
Indeed, a new token fixed the issue and I can now see the quickAuthorInfo again (and the colour has been restored).

I didn't request a new access token on a different browser. The only other device I use for browsing SE is the iPhone app.

[2016-12-27 15:36] shu8 commented on #187
Glad to know it's fixed.

I've added a little check in Dev P that'll warn you if it happens again.
Not sure why it happened this time though...

On 27 Dec 2016 3:35 p.m., "wgrundlingh" <notifications@github.com> wrote:

[2016-12-27 15:37] #187 closed

[2016-12-27 15:39] wgrundlingh opened #195 "Move quickAuthorInfo closer to flair"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

The quickAuthorInfo is quite far from the post flair, perhaps as a result of the insertion of "start a bounty" and "show X more comments":

![image](https://cloud.githubusercontent.com/assets/1776164/21502801/59258022-cc07-11e6-9121-b62b526daec9.png)

Is it possible to move the quickAuthorInfo closer to the flair? It m

[2016-12-27 15:45] wgrundlingh opened #196 "copyCommentsLink is not needed when only 1 comment is hidden"
### Installed Version: 2.0.2  Environment: Tampermonkey

### Current Behaviour

Could there be a condition on the number of comments and whether to copy the comments link; not copying it if there's only a single comment?

![image](https://cloud.githubusercontent.com/assets/1776164/21502664/4fd0dcd4-cc06-11e6-9f42-73e49e40d9c3.png)

Here is a post that showed this on Meta.TeX.SE:
  [The duck giveaw

[2016-12-27 19:46] IStoleThePies commented on #192
@shu8 Still doesn't seem to work :/

[2016-12-27 20:07] fixer1234 commented on #186
@shu8 Loaded Dev P.  All of the editor additions (kbd/list, SBS,  Find&Replace/Auto-correct) are missing in all edit locations (Q/A post, Ask Question, Your Answer, review queue).

[2016-12-27 20:49] fixer1234 commented on #191
@shu8 The issue of requiring a page refresh for pages after the first still exists in Dev P.

[2016-12-27 20:53] fixer1234 commented on #192
@shu8 I just tested Dev P.  The problem link reported above seems to work.  Random links to posts, comments from the comment history, and inbox comments seem to work.

[2016-12-27 21:14] shu8 commented on #191
@fixer1234 hehe funny story... I kinda removed the call (see [the revision](https://github.com/soscripted/sox/commit/818ae9ef7d7bc69ec349fa52fb68bde582b2a035#diff-7060b232c66b79b305b21dd6bc7a51a4L142)) to call the function after all mutationobservers :/

Sorry, fixed in [dev q](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-27 21:15] shu8 commented on #186
@fixer1234 sorry, same reason as https://github.com/soscripted/sox/issues/191#issuecomment-269383592

fixed in [dev q](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-27 21:15] #186 closed

[2016-12-27 21:24] fixer1234 commented on #190
@shu8 Didn't experience it with Dev P.

[2016-12-27 21:24] #190 closed

[2016-12-27 21:26] shu8 commented on #195
@wgrundlingh sure, I could make it look something like this:

![this](https://cloud.githubusercontent.com/assets/8850830/21508696/0a51bbb8-cc7b-11e6-888a-3aece640514d.png)

but then if I add the 'type: registered' text, it'll get too much. I could instead put an icon that shows whether they are registered or not, but can't think of *which* icon... do you have any ideas on what symbol could represe

[2016-12-27 21:38] fixer1234 commented on #186
@shu8 OK.  There returned in Dev Q.

[2016-12-27 21:38] shu8 commented on #196
@wgrundlingh done in [dev r](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

[2016-12-27 21:38] #196 closed

[2016-12-27 21:41] fixer1234 commented on #191
@shu8 Confirmed.  Full functionality back in Dev Q.

[2016-12-27 22:05] fixer1234 commented on #191
@shu8 Question on the tokens.  Each time SOX is reinstalled, it creates a new token.  It isn't clear what's really required.

- Under what circumstances does SOX need to be removed from the user profile before getting a new token?

- Installing SOX automatically runs the get-token sequence.  How does using the new key icon relate to that?  (suppresses getting a new key?  Puts the old key back afte

[2016-12-27 22:11] shu8 commented on #191
SOX shouldn't need to be removed at all really. When a new (either dev or official) version comes out, all you need to do is reinstall **without** uninstalling the previous version. GM/TM will let you 'update' the script keeping all settings intact.

The new key icon allows you to paste in an access token so you can use the same access token on multiple machines

Clicking it will allow you to past

[2016-12-27 22:37] wgrundlingh commented on #195
I think the icon display should be subtle, perhaps with a tooltip if people are interested in more information. The following icons were taken from [FontAwesome](http://fontawesome.io/icons/) (search for "user"):

[Registered user](http://fontawesome.io/icon/user/):

![image](https://cloud.githubusercontent.com/assets/1776164/21509578/35e93d5a-cc3f-11e6-975f-356f35b43cc5.png)

[Unregistered user](

[2016-12-27 22:40] shu8 commented on #195
Thanks. I think I'll change the last seen text to be the clock icon and
then add in the user icons you've shown from font awesome (which is ideal
because sox already uses that!). I'll try and make sure the wrapping
doesn't mess it up, especially on those ones like in your screenshot where
there are loads of badges!

On 27 Dec 2016 10:37 p.m., "wgrundlingh" <notifications@github.com> wrote:

[2016-12-27 22:58] fixer1234 commented on #193
@shu8 I'm on Dev Q and the problem is still occurring.

[2016-12-27 23:39] fixer1234 commented on #191
@shu8 Thanks.  If I had known about the ability to simply update, hours would been saved.  You might want to mention that on the home page.  :-)

Follow-up:

- A couple of times, you had me remove SOX from the profile.  Was that just to ensure a clean installation when you thought the issue might have been token-related?

- I've had SOX on multiple machines pretty much since I started using it.  I

[2016-12-28 03:03] IStoleThePies commented on #166
Here's a list of features I don't have enabled, either for personal aesthetic reasons or because I don't like the idea:

- Color answerer's comments (I personally think the highlighted username looks fine as it is)
- Add display name before gravatar in topbar (I just don't see any point to this feature)
- Add Scroll To Top button (I understand the purpose and it may be useful to some people, but i

[2016-12-28 04:04] fixer1234 commented on #166
@IStoleThePies descriptions for ones in the "don't understand what they do" category:

-  Display reviewer stats: [Unnecessary “and”s in reviewer stats](http://meta.stackexchange.com/a/277474/269940)  For some reason, I can never find where to display this.

- Improve answer visibility by listing top answers: no canned description on the wiki page.  I tried it once and found it counter-productive

[2016-12-28 07:16] IStoleThePies commented on #192
@shu8 Replying to my own chat messages doesn't seem to work either :/

[2016-12-28 07:56] IStoleThePies opened #197 "Closing the Area 51 logged-out notification doesn't shift the rest of the page up"
### Installed Version: 2.0.3DEVr  Environment: Tampermonkey

If you have a fixed topbar and go onto Area 51 while logged out, then close the notification at the top, the rest of the page won't shift up (whereas it used to in earlier versions of SOX).

<img width="1440" alt="screen shot 2016-12-28 at 2 56 49 am" src="https://cloud.githubusercontent.com/assets/5375326/21517006/5453aac2-cca9-11e6-96a

[2016-12-28 13:47] fixer1234 commented on #194
@shu8 Now on Dev Q.  It hasn't gotten to the point of freezing and generating the bad script dialog, but still getting the ridiculous response times in Firefox.

As clarification, I normally have a plethora of tabs open (don't get to use that word much, thought I'd throw it in).  It typically includes at least three SE tabs, with SOX running.  Firefox responsiveness goes in the toilet on all tabs,

[2016-12-28 17:40] shu8 commented on #197
@IStoleThePies fixed in [dev s](https://github.com/soscripted/sox/raw/dev/sox.user.js)

not sure why it only started happening now though... it shouldn't have ever worked 😆

[2016-12-28 17:40] #197 closed

[2016-12-28 17:40] shu8 commented on #195
@wgrundlingh done in [dev s](https://github.com/soscripted/sox/raw/dev/sox.user.js) :)

![this](https://cloud.githubusercontent.com/assets/8850830/21527644/870a5af8-cd24-11e6-8ab5-3d85ec6fa6b9.png)

[2016-12-28 17:40] #195 closed

[2016-12-28 17:48] shu8 commented on #166
thanks @IStoleThePies and @fixer1234, I'll look into those features :)

@fixer1234:

- for your first bullet, you can find this on a suggested edit such as [this one](http://meta.stackexchange.com/review/suggested-edits/48421) and clicking `more` just under the reviewer info:

![this](https://cloud.githubusercontent.com/assets/8850830/21527748/326ea0e8-cd25-11e6-8496-24e848c68bc8.png)

- about the

[2016-12-28 17:49] shu8 commented on #194
@fixer1234 ok... I'm going to have to use FF for a day or two to repro this it seems...

[2016-12-28 17:58] shu8 commented on #192
@IStoleThePies with the ubuntu checkbox... are you clicking the small save button underneath the checkbox or the main big one? it needs to be the small one!

![this](https://cloud.githubusercontent.com/assets/8850830/21527894/648e366e-cd26-11e6-9e56-2fa5b8021b64.png)

I realise that it looks reallllllly bad, and I'm completely open to any UI ideas! :) (I'll probably make that button bigger anyway

[2016-12-28 18:01] shu8 commented on #88
@fixer1234 hmmm it looks like the change I made to the MutationObserver helper that broke all those features you've reported actually fixed this one! 😃

I'm going to close this, and hope for it never to be reopened again 😝

cc/ @IStoleThePies it's working!!!

[2016-12-28 18:01] #88 closed

[2016-12-28 18:46] IStoleThePies commented on #197
@shu8 Now the notification seems to disappear right after it loads 😕

[2016-12-28 18:53] IStoleThePies commented on #166
@shu8 I think something as simple as [this](https://stackapps.com/questions/3535/stack-exchange-favorite-users?rq=1) would work. What do you think?

[2016-12-28 19:36] shu8 commented on #166
@fixer1234 hmm yeah I could make a thick red left border, but you said it was easy to miss, so what about just moving it to the left of the title?

![this](https://cloud.githubusercontent.com/assets/8850830/21529918/d5ed12b8-cd34-11e6-9d5d-47ffd5fb1a62.png)

I could adjust the height and stuff to make it fit in a bit more...?

[2016-12-28 19:38] shu8 commented on #197
@IStoleThePies sorry, how about now in [dev u](https://github.com/soscripted/sox/raw/dev/sox.user.js)?

[2016-12-28 19:52] IStoleThePies commented on #166
@shu8 Hmm...I think that would work, but perhaps you could have a flame symbol instead of the word "HOT"? Kind of like this:

<img width="1440" alt="screen shot 2016-12-28 at 1 51 46 pm copy" src="https://cloud.githubusercontent.com/assets/5375326/21530211/1bbef5fe-cd0d-11e6-8399-f8d762778385.png">

This is a pretty crude image, but what do you think of the idea?

[2016-12-28 19:52] shu8 commented on #166
I like it! I'll get that done! :)

On 28 Dec 2016 7:52 p.m., "IStoleThePies" <notifications@github.com> wrote:

[2016-12-28 19:53] IStoleThePies commented on #197
@shu8 Works now :)

[2016-12-28 19:57] IStoleThePies commented on #192
@shu8 Didn't realize you had to click that save button. 😆

It works now, but #74 doesn't seem to be fixed on either AskUbuntu or Area 51. 😕

[2016-12-28 20:14] fixer1234 commented on #194
@shu8 The problem seems to be related to comments (although I don't know if it's exclusively that).  Editing comments is poorly responsive.  Saving a comment takes almost a minute and immediately causes the non-responding script message (now repeating--cancelling the script takes roughly a minute for the message to close, then immediately pops up a new warning).  I've restarted FF, but that no lon

[2016-12-28 20:21] fixer1234 commented on #166
I was just about to post that the vertical bar idea sucks, but I see the flames icon idea.  Brilliant!

[2016-12-28 20:29] shu8 commented on #166
@fixer1234 @IStoleThePies can you guys see this: 🔥 ?

[2016-12-28 20:32] shu8 commented on #194
@fixer1234 ok, thanks for that, I'll try messing around with comments :)

[2016-12-28 20:32] IStoleThePies commented on #166
@shu8 I see this:

<img width="686" alt="screen shot 2016-12-28 at 3 32 22 pm" src="https://cloud.githubusercontent.com/assets/5375326/21531023/deb46b7a-cd12-11e6-8a0e-647fac763320.png">

[2016-12-28 20:48] shu8 commented on #166
@fixer1234 @IStoleThePies ok... I've just pushed [dev v](https://github.com/soscripted/sox/raw/dev/sox.user.js) with the 🔥 icon.

Can you see what it looks like when it's next to a title, eg http://stackoverflow.com/questions/41364383/ atm and tell me if it looks bad? :)

[2016-12-28 21:00] fixer1234 commented on #166
@shu8 I can see it in the browser but not in the email I got about the post.  I would have no idea that it represented a fire.  On github, it looks like this, only what I guess are sparks are too small to see, so it's a yellow animal footprint.

![sox icon](https://cloud.githubusercontent.com/assets/10065766/21531281/af242204-cd14-11e6-9955-547faa1a6692.png)

Your "I see this" snap reminds me of a

[2016-12-28 21:08] fixer1234 commented on #179
@shu8 Just noticed the clock icon you added to the author status info.  Nice touch.

[2016-12-28 21:11] shu8 commented on #179
All thanks to @IStoleThePies :)

On 28 Dec 2016 9:08 p.m., "fixer1234" <notifications@github.com> wrote:

[2016-12-29 06:19] fixer1234 opened #198 "Display reviewer stats in table form"
### Installed Version: 2.0.3 DEV l  Environment: Firefox/Greasemonkey
Same behavior  with Dev Q.  Dev Q has a current token.  Dev L is on a machine that has an old, different token.

### Current Behaviour
The feature does not affect the appearance of reviewer stats (in "sentence" form rather than table form regardless of setting).

![image](https://cloud.githubusercontent.com/assets/10065766/21537

[2016-12-29 06:32] fixer1234 commented on #166
BTW, I had no issue with the original "HOT", or sticking that to the left of the title if the concern is that it isn't noticeable off to the right.

[2016-12-29 06:45] IStoleThePies commented on #166
@fixer1234 Seemed to work for me. 😕

[2016-12-29 18:03] shu8 commented on #198
@fixer1234 argh! another one slipped through 😠

fixed in [dev w](https://github.com/soscripted/sox/raw/dev/sox.user.js)

[2016-12-29 18:03] #198 closed

[2016-12-29 21:10] fixer1234 commented on #179
@shu8 Author least seen feature missing in Dev W.

[2016-12-29 21:38] fixer1234 commented on #198
@shu8 Confirmed.  Working in W.

[2016-12-29 21:53] shu8 commented on #179
if you see the words `bad request` anywhere in your console, it's your
token :/

On 29 December 2016 at 21:10, fixer1234 <notifications@github.com> wrote:

[2016-12-29 22:29] wgrundlingh commented on #187
I seem to be losing my key very regularly. Do you know of anything that might clear this key so frequently? Perhaps include a "Get new key" icon?

http://fontawesome.io/icon/key/

[2016-12-29 22:32] shu8 commented on #187
Yeah that seems to be happening to @fixer1234 as well. I need to look into
it

Until then, if you click the little key icon at the bottom of the dialog
and then press CANCEL, a link will be added to the console which you can
click to get a new key. Not ideal, but it should work for now! :/

On 29 Dec 2016 10:29 p.m., "wgrundlingh" <notifications@github.com> wrote:

[2016-12-29 23:38] fixer1234 commented on #187
@shu8 Any way for SOX to self-check for a valid token (periodically, or triggered by a failure of a feature that requires it, or have features that need it check before executing, or a user option, like a button in the menu, to check)?  It could then raise a message telling the user to get a new token (or self-trigger getting a new token) if needed.

[2016-12-30 01:59] IStoleThePies commented on #181
@shu8 Just a suggestion, but perhaps you should change `$('.question-summary .answer-hyperlink, .question-summary .question-hyperlink, .question-summary .result-link a').css('display', 'inline-block');` to `$('.question-summary .answer-hyperlink, .question-summary .question-hyperlink, .question-summary .result-link a').css('display', 'inline');`, since inline-block causes the text to shift for bou

[2016-12-30 03:20] fixer1234 commented on #179
@shu8 I just got a new token just in case.  That solved the problem.  Can you list somewhere the features that rely on a token?  If any of those act up, we can just try a new token to see if that fixes it.

[2016-12-30 04:49] IStoleThePies commented on #166
@shu8 Uh, so I came back here and the fire image I see is different yet again:

<img width="654" alt="screen shot 2016-12-29 at 11 48 32 pm" src="https://cloud.githubusercontent.com/assets/5375326/21559814/62e40d56-ce21-11e6-9ede-ac9ea653cbae.png">

Though, this actually looks really good on the question, in my opinion:

<img width="746" alt="screen shot 2016-12-29 at 11 49 28 pm" src="https://clo